{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div id="content sortable-grid ui-sortable">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-collapsed="true">
            <header role="heading" class="ui-sortable-handle">
                <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
                <h2>Filtro</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="form-group form-group-sm">
                        <label for="txtCodigoConductor" class="col-sm-1 control-label">Cliente:</label>
                        <div class="col-sm-11">
                            <div class="row">
                                <div class="col-lg-2">
                                    <div class="input-group">
                                        {{ form_widget(form.codigoClienteFk) }}
                                    </div>
                                </div>
                                <div class="col-lg-10">
                                    <div class="input-group">
                                        <input id="form_txtNombreCorto" class="form-control" readonly>
                                        <span class="input-group-btn">
                                            <a class="btn btn-default btn-sm"
                                               href="javascript:abrirVentana3('{{ path('transporte_bus_cliente',
                                                   { 'campoCodigo': 'form_codigoClienteFk', 'campoNombre': 'form_txtNombreCorto' }) }}', 'buscarCliente', 600, 900)">Buscar</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-1 control-label">Guia:</label>
                        <div class="col-sm-5">
                            {{ form_widget(form.guiaNumero) }}
                        </div>
                        <label class="col-sm-1 control-label">Tipo:</label>
                        <div class="col-sm-5">
                            {{ form_widget(form.codigoNovedadTipoFK) }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-1 control-label">Fecha Desde:</label>
                        <div class="col-sm-5">
                            {{ form_widget(form.fechaReporteDesde) }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-1 control-label">Fecha Hasta:</label>
                        <div class="col-sm-5">
                            {{ form_widget(form.fechaReporteHasta, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <div class="col-sm-offset-2 col-sm-10">
                        {{ form_widget(form.btnFiltro, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover tabla-datos">
        <thead>
        <tr>
            <th>ID</th>
            <th>CLIENTE</th>
            <th>TIPO</th>
            <th>GUIA</th>
            <th>DESCRIPCIÓN</th>
            <th>SOLUCIÓN</th>
            <th TITLE="FECHA REPORTE">F. REPORTE</th>
            <th TITLE="FECHA ATENCIÓN">F. ATENCIÓN</th>
            <th TITLE="FECHA SOLUCION">F. SOLUCIÓN</th>
            <th></th>
            <th class="text-center" title="seleccionar todos"><input type="checkbox" name="ChkSeleccionarTodos" onclick="ChequearTodosTabla(this, 'ChkSeleccionar[]')"> </th>
        </tr>
        </thead>
        <tbody>
        {% for arNovedad in arNovedades %}
            <tr>
                <td>{{ arNovedad.codigoNovedadPk }}</td>
                <td>{{ arNovedad.nombreCorto }}</td>
                <td>{{ arNovedad.nombre }}</td>
                <td>{{ arNovedad.numero }}</td>
                <td>{{ arNovedad.descripcion }}</td>
                <td>{{ arNovedad.solucion }}</td>
                <td>{{ arNovedad.fechaReporte | date('Y-m-d') }}</td>
                <td>{{ arNovedad.fechaAtencion | date('Y-m-d') }}</td>
                <td>{{ arNovedad.fechaSolucion | date('Y-m-d') }}</td>
                <td style="text-align: center;">
                    <a href="{{ path('transporte_movimiento_transporte_novedad_detalle',{'id' : arNovedad.codigoNovedadPk}) }}">
                        <i class="fa fa-share-square-o" style="font-size: large;color: black;">
                        </i>
                    </a>
                </td>
                <td class="text-center">
                    <input type="checkbox" name="ChkSeleccionar[]" value="{{  arNovedad.codigoNovedadPk }}"/>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="btn-group" style="float: left">
        <div class="btn btn-default btn-sm">
            <span class="badge">{{ arNovedades.getTotalItemCount }}</span>
        </div>
    </div>
    <div class="btn-group btn-xs" style="float: left;margin-top: -18px;">
        {{ knp_pagination_render(arNovedades) }}
    </div>
    <div class="btn-group btn-xs" style="float: left; width: 60px">
        {{ form_widget(form.limiteRegistros) }}
    </div>
    <div class="btn-group" style="float: right; margin-right: 5px !important;">
        {{ form_widget(form.btnEliminar, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}
    </div>
    <div class="btn-group" style="float: right; margin-right: 5px !important;">
        {{ form_widget(form.btnExcel, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
    </div>
    <div class="btn-group" style="float: right; margin-right: 5px !important;">
        <a class="btn btn-default btn-sm"
           href="">Nuevo</a>
    </div>
    <br><br><br>
    {{ form_end(form) }}
{% endblock %}