{% extends 'base.html.twig' %}
{% block content %}
    <br>
    {{ form_start(form) }}
    {{ notificar()|raw }}
    <div class="panel panel-default">
        <div class="panel-heading">Cambio de contraseña</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <br>
                <label class="col-sm-2 control-label">Nueva clave:</label>
                <div class="col-sm-3">
                    {{ form_widget(form.txtNuevaClave, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <label class="col-sm-3 control-label">Confirmar clave:</label>
                <div class="col-sm-3">
                    {{ form_widget(form.txtConfirmacionClave, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
        </div>
    </div>
    <div style="float: right;">
        {{ form_widget(form.btnActualizar) }}
    </div>
    {{ form_end(form) }}
{% endblock %}