{% extends 'base_general.html.twig' %}
{% block content %}

    {{ form_start(form) }}
    <div>
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>USERNAME</th>
                <th>OPERACION</th>
                <th>NOMBRE</th>
                <th>IDENTIFICACION</th>
                <th>CARGO</th>
                <th>EMAIL</th>
                <th>TELEFONO</th>
                <th>EXT.</th>
                <th>ACTIVO</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for arUsuario in arUsuarios %}
                <tr>
                    {{ validarTipo(arUsuario.username) }}
                    {{ validarTipo(arUsuario.codigoOperacionFk) }}
                    {{ validarTipo(arUsuario.nombreCorto) }}
                    {{ validarTipo(arUsuario.numeroIdentificacion)}}
                    {{ validarTipo(arUsuario.cargo) }}
                    {{ validarTipo(arUsuario.email) }}
                    {{ validarTipo(arUsuario.telefono) }}
                    {{ validarTipo(arUsuario.extension) }}
                    {{ validarTipo(arUsuario.isActive) }}
                    <td style="text-align: center;">
                        <a href="{{ path('gen_seguridad_usuario_nuevo', {'hash' : encriptar( arUsuario.username)}) }}">
                            <i class="fa fa-edit" style="font-size: large; color:black">
                            </i>
                        </a>
                    </td>
                    <td style="text-align: center;">
                        <a style="font-size: 16px" title="Cambiar contraseña"
                           href="javascript:abrirVentana3('{{ path('gen_seguridad_usuario_nuevo_clave',{'hash' : encriptar(arUsuario.username)}) }}','cambiarContrasena',600,900)">
                            <i class="fa fa-key" style="font-size: smaller;color: black;">
                            </i>
                        </a>
                    </td>
                    <td style="text-align: center;">
                        <a  title="Asignar permisos"
                           href="{{ path('general_seguridad_usuario_modelo_lista',{'hash' : encriptar(arUsuario.username)}) }}">
                            <i class="fa fa-share-square-o" style="font-size: large;color: black;">
                            </i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="btn-toolbar">
        <div style="float: right;" class="btn-group">
            <a class="btn btn-sm btn-default" href="{{ path('gen_seguridad_usuario_nuevo',{'hash' : 0}) }}">Nuevo</a>
        </div>
        <div style="float: right;" class="btn-group">
            {{ form_widget(form.btnExcel) }}
        </div>
        <div style="float: right;" class="btn-group">
            {{ form_widget(form.btnExcelPermiso) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

