{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate':'novalidate'} }) }}
    {{ form_errors(form) }}
    {{ notificar()|raw }}
    <div class="panel panel-default">
        <div class="panel-heading">Información general</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Nombre de usuario:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.txtUser, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.txtUser)}}
                </div>
                <label class="col-sm-2 control-label">Email:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.txtEmail, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.txtEmail)}}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Nombres:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.txtNombreCorto, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <label class="col-sm-2 control-label">Identificacion:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.txtIdentificacion, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Telefono:</label>
                <div class="col-sm-2">
                    {{ form_widget(form.txtTelefono, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="col-sm-1">
                    {{ form_widget(form.txtExtension, { 'attr': {'class': 'form-control','placeholder':'Ext.'} }) }}
                </div>
                <label class="col-sm-3 control-label">Cargo:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.txtCargo, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Operacion:</label>
                <div class="col-sm-2">
                    {{ form_widget(form.operacionRel, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="col-sm-1">
                    {{ form_widget(form.txtExtension, { 'attr': {'class': 'form-control','placeholder':'Ext.'} }) }}
                </div>
                <div class="col-sm-1">
                </div>
                <label class="col-sm-2 control-label">Rol:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.cboRol, {'attr':{'class':'form-control'}}) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Activo:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.boolActivo) }}
                </div>
                <label class="col-sm-2 control-label">Clave escritorio:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.txtClaveEscritorio, { 'attr': {'class': 'form-control','placeholder':'Clave escritorio'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Retringir movimientos:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.restringirMovimientos) }}
                </div>
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-4">

                </div>
            </div>
            <hr>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Contraseña:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.txtNuevaClave) }}
                </div>
                <label class="col-sm-2 control-label">Confirmar contraseña:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.txtConfirmacionClave) }}
                </div>
            </div>
        </div>
    </div>
    <div style="float: right;">
        {{ form_widget(form.btnGuardar) }}
    </div>
    <div>
        <a class="btn btn-sm btn-default" href="{{ path('general_seguridad_usuario_lista') }}">Cancelar</a>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}

