{% extends 'base_general.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    {{ notificar()|raw }}
    <div class="row">
        <div class="col-lg-12">
            <h3 class='page-header'>
                General seguridad
                <small style="font-size: 20px">Usuario: nuevo</small>
            </h3>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Información general</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Nombre de usuario:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.txtUser, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <label class="col-sm-2 control-label">Email:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.txtEmail, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Nombres:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.txtNombreCorto, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <label class="col-sm-2 control-label">Identificacion:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.txtIdentificacion, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Telefono:</label>
                <div class="col-sm-2">
                    {{ form_widget(form.txtTelefono, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="col-sm-1">
                    {{ form_widget(form.txtExtension, { 'attr': {'class': 'form-control','placeholder':'Ext.'} }) }}
                </div>
                <label class="col-sm-3 control-label">Cargo:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.txtCargo, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Activo:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.boolActivo) }}
                </div>
            </div>
            <hr>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Contraseña:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.txtNuevaClave) }}
                </div>
                <label class="col-sm-2 control-label">Confirmar contraseña:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.txtConfirmacionClave) }}
                </div>
            </div>
        </div>
    </div>
    <div style="float: right;">
        {{ form_widget(form.btnGuardar) }}
    </div>
    <div>
        {{ form_widget(form.btnGuardar) }}
    </div>
    <div>
        <a class="btn btn-sm btn-default" href="{{ path('gen_seguridad_usuario_lista') }}">Cancelar</a>
    </div>
    {{ form_end(form) }}
{% endblock %}

