{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-default btn-sm"
               href="{{ path('recursohumano_movimiento_financiero_provision_provision') }}">Volver</a> &nbsp;&nbsp;
        </div>
        <div class="btn-group">
            {% include 'estructura/botonera.html.twig' %}
        </div>
    </div>
    <div style="float:right">
        {% if arProvision.estadoAutorizado == true %}<span class="label label-default">Autorizado</span>{% endif %}
        {% if arProvision.estadoAprobado == true %}<span class="label label-success">Aprobado</span>{% endif %}
        {% if arProvision.estadoAnulado == true %}<span class="label label-danger">Anulado</span>{% endif %}
    </div>
    <br/><br/>
    <table width="100%" class="table table-condensed table-bordered tabla-informacion">
        <tbody>
        <tr>
            <td class="titulo">ID:</td>
            <td class="td-in-well">{{ arProvision.codigoProvisionPk }}</td>
            <td class="titulo">AÑO:</td>
            <td class="td-in-well">{{ arProvision.anio }}</td>
            <td class="titulo">MES:</td>
            <td class="numero">{{ arProvision.mes }}</td>
        </tr>
    </table>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#detalle" data-toggle="tab">Detalle</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="detalle">
            <div id="detalle" style="width: 100%"><br>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover tabla-datos">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>NUMERO</th>
                            <th>IDENTIFICACION</th>
                            <th>EMPLEADO</th>
                            <th>CONTRATO</th>
                            <th>DESDE</th>
                            <th>HASTA</th>
                            <th>IBP</th>
                            <th>IBC</th>
                            <th>CESANTIAS</th>
                            <th>INTERES</th>
                            <th>PRIMA</th>
                            <th>VACACION</th>
                            <th>INDEMNIZACION</th>
                            <th>PENSION</th>
                            <th>SALUD</th>
                            <th>RIESGOS</th>
                            <th>CAJA</th>
                            <th>SENA</th>
                            <th>ICBF</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for arProvisionDetalle in arProvisionDetalles %}
                            <tr>
                                <td>{{ arProvisionDetalle.codigoProvisionPk }} </td>
                                <td>{{ arProvisionDetalle.numero }} </td>
                                <td>{{ arProvisionDetalle.empleadoRel.numeroIdentificacion}} </td>
                                <td>{{ arProvisionDetalle.empleadoRel.nombreCorto}} </td>
                                <td>{{ arProvisionDetalle.codigoContratoFk }} </td>
                                <td>{{ arProvisionDetalle.fechaDesde |date("Y-m-d") }} </td>
                                <td>{{ arProvisionDetalle.fechaHasta |date("Y-m-d") }} </td>
                                <td>{{ arProvisionDetalle.vrIngresoBasePrestacion }} </td>
                                <td>{{ arProvisionDetalle.vrIngresoBaseCotizacion }} </td>
                                <td>{{ arProvisionDetalle.vrCesantias }} </td>
                                <td>{{ arProvisionDetalle.vrInteresesCesantias }} </td>
                                <td>{{ arProvisionDetalle.vrPrimas }} </td>
                                <td>{{ arProvisionDetalle.vrVacaciones }} </td>
                                <td>{{ arProvisionDetalle.vrIndemnizacion }} </td>
                                <td>{{ arProvisionDetalle.vrPension }} </td>
                                <td>{{ arProvisionDetalle.vrSalud }} </td>
                                <td>{{ arProvisionDetalle.vrRiesgos }} </td>
                                <td>{{ arProvisionDetalle.vrCaja }} </td>
                                <td>{{ arProvisionDetalle.vrSena }} </td>
                                <td>{{ arProvisionDetalle.vrIcbf }} </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
