{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form) }}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-sm btn-default"
               href="{{ path('recursohumano_movimiento_recurso_estudio_lista') }}">Volver</a>
        </div>
        <div class="btn-group">
            {% include 'estructura/botonera.html.twig' %}
        </div>
    </div>
    <br/><br/>
    <table width="100%" class="table table-condensed table-bordered tabla-datos">
        <tr>
            <td class="titulo">CODIGO:</td>
            <td class="td-in-well">{{ arRegistro.codigoEstudioPk }}</td>
            <td class="titulo">FECHA:</td>
            <td class="td-in-well">{{ arRegistro.fecha | date('Y-m-d') }}</td>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
        </tr>
        <tr>
            <td class="titulo">EMPLEADO:</td>
            <td class="td-in-well">{{ arRegistro.empleadoRel.nombreCorto }}</td>
            <td class="titulo">IDENTIFICACION:</td>
            <td class="td-in-well">{{ arRegistro.empleadoRel.numeroIdentificacion }}</td>
            <td class="titulo">GRUPO:</td>
            <td class="td-in-well">{{ arRegistro.empleadoRel.grupoRel.nombre | default ('') }}</td>
        </tr>
        <tr>
            <td class="titulo">COMENTARIOS:</td>
            <td class="td-in-well" colspan="5">{{ arRegistro.comentarios }}</td>
        </tr>
    </table>
    {{ form_rest(form) }}
    {{ form_end(form) }}
    <br>
    <br>
{% endblock %}