{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    {{ notificar()|raw }}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-default btn-sm"
               href="{{ path('turno_movimiento_comercial_pedido_lista') }}">Volver</a>
        </div>
        <div class="btn-group">
            {% include 'estructura/botonera.html.twig' %}
        </div>
    </div>
    <div style="float:right">
        {% if arPedido.estadoAutorizado == true %}<span class="label label-default">Autorizado</span>{% endif %}
        {% if arPedido.estadoAprobado == true %}<span class="label label-success">Aprobado</span>{% endif %}
        {% if arPedido.estadoAnulado == true %}<span class="label label-danger">Anulado</span>{% endif %}
    </div>
    <br/><br/>
    {% include 'turno/movimiento/comercial/pedido/informacion.html.twig' %}
    <ul class="nav nav-tabs">
        <li class="active"><a href="#detalles" data-toggle="tab">Detalles</a></li>
    </ul>


    <div class="tab-content">
        <div class="tab-pane active" id="detalles">
            <div id="detalles" style="width: 100%"><br>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-condensed tabla-datos">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th title="Concepto">CONCEPTO</th>
                            <th title="Modalidad">MOD</th>
                            <th title="Fecha desde">DES</th>
                            <th title="Fecha hasta">HAS</th>
                            <th>CANT</th>
                            <th>L</th>
                            <th>M</th>
                            <th>X</th>
                            <th>J</th>
                            <th>V</th>
                            <th>S</th>
                            <th>D</th>
                            <th>F</th>
                            <th title="Horas totales">H</th>
                            <th title="Horas diurnas">HD</th>
                            <th title="Horas nocturnas">HN</th>
                            <th title="Salario base">BASE</th>
                            <th title="Precio minimo">P.MINIMO</th>
                            <th title="Precio ajustado">P.AJUSTADO</th>
                            <th title="Porcentaje iva">%IVA</th>
                            <th title="Iva">IVA</th>
                            <th>SUBTOTAL</th>
                            <td></td>
                            <th><input type="checkbox" name="ChkSeleccionarTodos"
                                       OnClick="ChequearTodosTabla(this, 'ChkSeleccionar[]');"/></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for arPedidoDetalle in arPedidoDetalles %}
                            <td> {{ arPedidoDetalle.codigoPedidoDetallePk }} <input type="hidden" name="arrCodigo[]"
                                                                                    value="{{ arPedidoDetalle.codigoPedidoDetallePk }}">
                            </td>
                            <td>{{ arPedidoDetalle.conceptoNombre }}</td>
                            <td>{{ arPedidoDetalle.modalidadNombre }}</td>
                            <td>{{ arPedidoDetalle.fechaDesde | date('Y-m-d') }}</td>
                            <td>{{ arPedidoDetalle.fechaHasta | date('Y-m-d') }}</td>
                            <td>{{ arPedidoDetalle.cantidad }}</td>
                            <td>{{ arPedidoDetalle.lunes ? 'S':'N' }}</td>
                            <td>{{ arPedidoDetalle.martes ? 'S':'N' }}</td>
                            <td>{{ arPedidoDetalle.miercoles ? 'S':'N' }}</td>
                            <td>{{ arPedidoDetalle.jueves  ? 'S':'N' }}</td>
                            <td>{{ arPedidoDetalle.viernes ? 'S':'N' }}</td>
                            <td>{{ arPedidoDetalle.sabado  ? 'S':'N' }}</td>
                            <td>{{ arPedidoDetalle.domingo ? 'S':'N' }}</td>
                            <td>{{ arPedidoDetalle.festivo ? 'S':'N' }}</td>
                            <td>{{ arPedidoDetalle.horasProgramadas }}</td>
                            <td>{{ arPedidoDetalle.horasDiurnasProgramadas }}</td>
                            <td>{{ arPedidoDetalle.horasNocturnasProgramadas }}</td>
                            <td></td>
                            <td class="numero">{{ arPedidoDetalle.vrSalarioBase }}</td>
                            <td class="numero">{{ arPedidoDetalle.vrPrecioMinimo }}</td>
                            <td style="text-align: center;"><input type="number"
                                                                   name="arrPrecioAjustado[{{ arPedidoDetalle.codigoPedidoDetallePk }}]"
                                                                   value="{{ arPedidoDetalle.vrPrecioAjustado }}"
                                                                   style="text-align: right; width:60px"
                                                                   size="10"></td>
                            <td style="text-align: center;"><input type="number"
                                                                   name="arrPorcentajeIva[{{ arPedidoDetalle.codigoPedidoDetallePk }}]"
                                                                   value="{{ arPedidoDetalle.porcentajeIva }}"
                                                                   style="text-align: right; width:60px"
                                                                   size="10"></td>
                            <td class="numero">{{ arPedidoDetalle.vrIva }}</td>
                            <td class="numero">{{ arPedidoDetalle.vrSubtotal }}</td>
                            <td><input type="checkbox" name="ChkSeleccionar[]"
                                       value="{{ arPedidoDetalle.codigoPedidoDetallePk }}"/></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="btn-toolbar" style="float: right">
                    <div class="btn-group">
                        {% if arPedido.estadoAutorizado == true %}
                            <input type="button" class="btn btn-default btn-sm" href="#" disabled="disabled"
                                   value="Nuevo"/>
                        {% else %}
                            <a class="btn btn-default btn-sm"
                               href="javascript:abrirVentana3('{{ path('turno_movimiento_comercial_pedido_detalle_nuevo', {'codigoPedido':arPedido.codigoPedidoPk,'id': 0  }) }}', 'PedidoAdicionarDetalle', 600, 900)">Nuevo</a>
                        {% endif %}
                    </div>
                    <div class="btn-group">
                        {{ form_widget(form.btnActualizar) }}
                    </div>
                    <div class="btn-group">
                        {{ form_widget(form.btnEliminar) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
