{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    {{ notificar()|raw }}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-default btn-sm"
               href="{{ path('turno_movimiento_venta_factura_lista') }}">Volver</a>
        </div>
        <div class="btn-group">
            {% include 'estructura/botonera.html.twig' %}
        </div>
    </div>
    <div style="float:right">
        {% if arFactura.estadoAutorizado == true %}<span class="label label-default">Autorizado</span>{% endif %}
        {% if arFactura.estadoAprobado == true %}<span class="label label-success">Aprobado</span>{% endif %}
        {% if arFactura.estadoAnulado == true %}<span class="label label-danger">Anulado</span>{% endif %}
    </div>
    <br/><br/>
    {% include 'turno/movimiento/venta/factura/informacion.html.twig' %}
    <ul class="nav nav-tabs">
        <li class="active"><a href="#detalles" data-toggle="tab">Detalles</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="detalles">
            <div id="detalles" style="width: 100%">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-condensed tabla-datos">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>ITEM</th>
                            <th>CANT</th>
                            <th>PRECIO</th>
                            <th>SUBTOTAL</th>
                            <th>IVA</th>
                            <th>IVA</th>
                            <th>RET</th>
                            <th>TOTAL</th>
                            <th><input type="checkbox" name="ChkSeleccionarTodos"
                                       OnClick="ChequearTodosTabla(this, 'ChkSeleccionar[]');"/></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for arFacturaDetalle in arFacturaDetalles %}
                            <td> {{ arFacturaDetalle.codigoFacturaDetallePk }} <input type="hidden" name="arrCodigo[]"
                                                                                      value="{{ arFacturaDetalle.codigoFacturaDetallePk }}">
                            <td>{{ arFacturaDetalle.item }}</td>
                            {% if arFactura.estadoAutorizado %}
                                <td style="text-align: right;">{{ arFacturaDetalle.cantidad }}</td>
                                <td style="text-align: right;">{{ arFacturaDetalle.vrPrecio | number_format(0,'.',',') }}</td>
                            {% else %}
                                <td style="text-align: center;"><input type="number"
                                                                       name="arrCantidad[{{ arFacturaDetalle.codigoFacturaDetallePk }}]"
                                                                       value="{{ arFacturaDetalle.cantidad }}"
                                                                       style="text-align: right; width:60px"
                                                                       size="10"></td>
                                <td style="text-align: center;"><input type="number"
                                                                       name="arrValor[{{ arFacturaDetalle.codigoFacturaDetallePk }}]"
                                                                       value="{{ arFacturaDetalle.vrPrecio }}"
                                                                       style="text-align: right; width:90px"
                                                                       size="10"></td>
                            {% endif %}
                            <td class="numero">{{ arFacturaDetalle.vrSubtotal | number_format(0,'.',',') }}</td>
                            {% if arFactura.estadoAutorizado %}
                                <td>{{ arFacturaDetalle.codigoImpuestoIvaFk }}</td>
                                <td style="text-align: right;">{{ arFacturaDetalle.vrIva | number_format(0,'.',',') }}</td>
                                <td>{{ arFacturaDetalle.codigoImpuestoRetencionFk }}</td>
                            {% else %}
                                <td style="text-align: center">
                                    <select name="cboImpuestoIva[{{ arFacturaDetalle.codigoFacturaDetallePk }}]">
                                        {% for arImpuestoIva in arImpuestosIva %}
                                            <option value="{{ arImpuestoIva.codigoImpuestoPk }}" {% if arFacturaDetalle.codigoImpuestoIvaFk == arImpuestoIva.codigoImpuestoPk %} selected {% endif %}>{{ arImpuestoIva.codigoImpuestoPk }}</option>
                                        {% endfor %}
                                    </select></td>
                                <td style="text-align: right;">{{ arFacturaDetalle.vrIva | number_format(0,'.',',') }}</td>
                                <td style="text-align: center">
                                    <select name="cboImpuestoRetencion[{{ arFacturaDetalle.codigoFacturaDetallePk }}]">
                                        {% for arImpuestoRetencion in arImpuestosRetencion %}
                                            <option value="{{ arImpuestoRetencion.codigoImpuestoPk }}" {% if arFacturaDetalle.codigoImpuestoRetencionFk == arImpuestoRetencion.codigoImpuestoPk %} selected {% endif %}>{{ arImpuestoRetencion.codigoImpuestoPk }}</option>
                                        {% endfor %}
                                    </select></td>
                            {% endif %}
                            <td class="numero">{{ arFacturaDetalle.vrTotal  | number_format(0,'.',',') }}</td>
                            <td style="text-align: center;"><input type="checkbox" style="text-align: right;"
                                                                   name="ChkSeleccionar[]"
                                                                   value="{{ arFacturaDetalle.codigoFacturaDetallePk }}"/>
                            </td>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="btn-toolbar" style="float: right">
                    <div class="btn-group">
                        {% if arFactura.estadoAutorizado == true %}
                            <input type="button" class="btn btn-default btn-sm" href="#" disabled="disabled"
                                   value="Nuevo"/>
                        {% else %}
                            <a class="btn btn-default btn-sm"
                               href="javascript:abrirVentana3('{{ path('turno_movimiento_venta_factura_detalle_nuevo', {'id':arFactura.codigoFacturaPk  }) }}', 'FacturaAdicionarDetalle', 600, 900)">Nuevo</a>
                        {% endif %}
                    </div>
                    <div class="btn-group">
                        {{ form_widget(form.btnActualizar) }}
                    </div>
                    <div class="btn-group">
                        {{ form_widget(form.btnEliminar) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
