{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form,{'attr': {'class' :'form-horizontal'}}) }}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            {{ form_widget(form.btnAutorizar) }}
            <a class="btn btn-default btn-sm" href="{{ path('recursohumano_movimiento_dotacion_dotacion_lista') }}">Volver</a>&nbsp;&nbsp;
        </div>
    </div>
    <br/><br/>
    <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-editbutton="false" data-widget-fullscreenbutton="true">
        <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>Información de la dotación</h2>
        </header>
        <div>
            <div class="widget-body no-padding">
                <table width="100%" class="table table-condensed table-bordered">
                    <tr>
                        <td class="titulo">CODIGO:</td>
                        <td class="td-in-well">{{ arDotacion.codigoDotacionPk }}</td>
                        <td class="titulo">EMPLEADO</td>
                        <td class="td-in-well" style="text-transform: uppercase;">
                            {{ arDotacion.empleadoRel.nombreCorto }}
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo">FECHA:</td>
                        <td class="td-in-well">{{ arDotacion.fecha | date('Y-m-d') }}</td>
                        <td class="titulo">FECHA EMTREGA:</td>
                        <td class="td-in-well">{{ arDotacion.fechaEntrega | date('Y-m-d') }}</td>
                    </tr>
                    <tr>
                        <td class="titulo">FECHA:</td>
                        <td class="td-in-well">{{ arDotacion.estadoCerrado ?"SI":"NO" }}</td>
                        <td class="titulo">FECHA EMTREGA:</td>
                        <td class="td-in-well">{{ arDotacion.estadoAutorizado ?"SI":"NO" }}</td>
                    </tr>
                    <tr>
                        <td class="titulo">AFECTA INVENTARIO:</td>
                        <td class="td-in-well">{{ arDotacion.afectaInventario ?"SI":"NO" }}</td>
                        <td class="titulo">USUARIO:</td>
                        <td class="td-in-well">{{ arDotacion.codigoUsuario}}</td>
                    </tr>
                    <tr>
                        <td class="titulo">TIPO DOTACIÓN:</td>
                        <td class="td-in-well">{{ arDotacion.tipoDotacion}}</td>
                        <td class="titulo">COMPENTARIOS</td>
                        <td class="td-in-well" style="text-transform: uppercase;">
                            {{ arDotacion.comentarios }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <br/><br/>
    <table width="100%" class="table table-condensed table-bordered">
        <thead>
            <tr>
                <th>CÓDIGO</th>
                <th>NOMBRE</th>
                <th>CANTIDAD</th>
                <th>DEVUELTA</th>
                <th>ENLACE</th>
            </tr>
        </thead>
        <tbody>
        {% for detalle in arDotacionDetalle%}
            <tr>
               <td>{{ detalle.codigoDotacionDetallePk }}</td>
               <td>{{ detalle.dotacionElementoRel.nombre }}</td>
                <td>{{ detalle.cantidadAsignada }}</td>
                <td>{{ detalle.cantidadDevuelta }}</td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="btn-group pull-right">
            <a href="javascript:abrirVentana3('{{ path('recursohumano_movimiento_dotacion_elemento_nuevo', { 'id': 0 }) }}', 'elementosDotacion', 600, 900)"
               class="btn btn-default btn-sm">Agregar inventario elemento</a>
            <a href="javascript:abrirVentana3('{{ path('recursohumano_movimiento_dotacion_detalle_nuevo', { 'id': 0,  'codigoDotacion':arDotacion.codigoDotacionPk }) }}')"
                class="btn btn-primary btn-sm">nuevo</a>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
