{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div id="content sortable-grid ui-sortable">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-collapsed="true">
            <header>
                <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
                <h2>Filtro</h2>
            </header>
            <div>
                <div class="widget-body">
                    {% include 'estructura/buscarEmpleadoRecursohumano.html.twig' %}
                    <div class="form-group form-group-sm">
                        <label for="form_TxtCodigo" class="control-label col-sm-1">Codigo:</label>
                        <div class="col-sm-3">
                            {{ form_widget(form.codigoDotacionPk , { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <label for="form_numeroIdentificacion" class="control-label col-sm-1">Identificación:</label>
                        <div class="col-sm-3">
                            {{ form_widget(form.codigoInternoReferencia, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <label for="form_numeroIdentificacion" class="control-label col-sm-1">Autorizado:</label>
                        <div class="col-sm-3">
                            {{ form_widget(form.estadoAutorizado, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="form_TxtCodigo" class="col-sm-1 control-label">Desde:</label>
                        <div class="col-sm-3">
                            {{ form_widget(form.fechaDesde, { 'attr': {'class': 'form-control'} }) }}

                        </div>
                        <label for="form_numeroIdentificacion" class="control-label col-sm-offset-4 col-sm-1">Cerrado:</label>
                        <div class="col-sm-3">
                            {{ form_widget(form.estadoCerrado, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="form_TxtCodigo" class="col-sm-1 control-label">Hasta:</label>
                        <div class="col-sm-3">
                            {{ form_widget(form.fechaHasta, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <label for="form_numeroIdentificacion" class="control-label col-sm-offset-4 col-sm-1">Salida inventario:</label>
                        <div class="col-sm-3">
                            {{ form_widget(form.estadoSalidaInventario, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <div class="col-sm-offset-2 col-sm-10">
                            {{ form_widget(form.btnFiltrar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover tabla-datos tabla-informacion">
        <thead>
        <tr>
            <th title="Codigo del empleado">ID</th>
            <th title="fecha">FECHA</th>
            <th title="Numero de identificacion del empleado">IDENTIFICACION</th>
            <th title="Autorizado">AUT</th>
            <th title="Cerrado">CRR</th>
            <th title="Salida inventario">SAL INV</th>
            <th></th>
            <th></th>
            <th class="text-center" title="seleccionar todos"><input type="checkbox" name="ChkSeleccionarTodos" onclick="ChequearTodosTabla(this, 'ChkSeleccionar[]')"> </th>
        </tr>
        </thead>
    <tbody>
    {% for arDotacion in arDotaciones %}
        <tr>
            <td>{{ arDotacion.codigoDotacionPk  }}</td>
            <td>{{ arDotacion.fecha | date('Y-m-d') }}</td>
            <td>{{ arDotacion.codigoInternoReferencia  }}</td>
            <td>{{ arDotacion.estadoAutorizado ? "SI":"NO" }}</td>
            <td>{{ arDotacion.estadoCerrado ? "SI":"NO"}}</td>
            <td>{{ arDotacion.estadoSalidaInventario ? "SI":"NO"}}</td>
            {% if arDotacion.estadoAutorizado  %}
                <td></td>
            {% else %}
                <td class="text-center">
                    <a href="{{ path('recursohumano_movimiento_dotacion_dotacion_nuevo',{'id':  arDotacion.codigoDotacionPk }) }}"><i
                                class="fa fa-edit" style="color: black;font-size: large;"></i></a>
                </td>
            {% endif %}
            <td class="text-center">
                <a href="{{ path('recursohumano_movimiento_dotacion_dotacion_detalle',{'id' :  arDotacion.codigoDotacionPk }) }}">
                    <i class="fa fa-share-square-o" style="font-size: large;color: black;">
                    </i>
                </a>
            </td>
            <td class="text-center">
                <input type="checkbox" name="ChkSeleccionar[]" value="{{  arDotacion.codigoDotacionPk  }}" />
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    <div class="btn-group" style="float: left">
        <div class="btn btn-default btn-sm">Registros
            <span class="badge">{{ arDotaciones.getTotalItemCount }}
            </span>
        </div>
    </div>
    <div class="btn-group btn-xs" style="float: left;margin-top: -18px;">
        {{ knp_pagination_render(arDotaciones) }}
    </div>
    <div class="btn-group btn-xs" style="float: left; width: 60px">
        {{ form_widget(form.limiteRegistros) }}
    </div>
    <div class="btn-group" style="float: right; margin-right: 5px !important;">
        {{ form_widget(form.btnEliminar, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}
    </div>
    <div class="btn-group" style="float: right; margin-right: 5px !important;">
        {{ form_widget(form.btnExcel, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
    </div>
    <div class="btn-group" style="float: right; margin-right: 5px !important;">
        <a class="btn btn-default btn-sm"
           href="{{ path('recursohumano_movimiento_dotacion_dotacion_nuevo', {'id': 0}) }}">Nuevo</a>
    </div>
    {{ form_end(form) }}
    <br /><br /><br />
{% endblock %}