{% extends 'base.html.twig' %}
{% block content %}
    {{ notificar()|raw }}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-default btn-sm" href="{{ path('inventario_administracion_inventario_documento_lista') }}">Volver</a>
        </div>
    </div>
    <br/><br/>
    <table width="100%" class="table table-condensed table-bordered tabla-datos">
        <tr>
            <td class="titulo">CODIGO:</td>
            <td class="td-in-well">{{ arDocumento.codigoDocumentoPk }}</td>
            <td class="titulo">NOMBRE:</td>
            <td class="td-in-well">{{ arDocumento.nombre }}</td>
            <td class="titulo">DOCUMENTO TIPO:</td>
            <td class="td-in-well">{{ arDocumento.codigoDocumentoTipoFk }}</td>
        </tr>
        <tr>
            <td class="titulo">ABREVIATURA:</td>
            <td class="td-in-well">{{ arDocumento.abreviatura }}</td>
            <td class="titulo">CONSECUTIVO:</td>
            <td class="td-in-well">{{ arDocumento.consecutivo }}</td>
            <td class="titulo">OPERACION INVENTARIO:</td>
            <td class="td-in-well">{{ arDocumento.operacionInventario }}</td>
        </tr>
        <tr>
            <td class="titulo">OPERACION COMERCIAL:</td>
            <td class="td-in-well">{{ arDocumento.operacionComercial }}</td>
            <td class="titulo">GENERA CARTERA:</td>
            <td class="td-in-well">{{ arDocumento.generaCartera? 'SI':'NO' }}</td>
            <td class="titulo">GENERA COSTO PROMEDIO:</td>
            <td class="td-in-well">{{ arDocumento.generaCostoPromedio? 'SI':'NO' }}</td>
        </tr>
        <tr>
            <td class="titulo">COMPROBANTE:</td>
            <td class="td-in-well">{{ arDocumento.codigoComprobanteFk }}</td>
            <td class="titulo">CUENTA PROVEEDOR</td>
            <td class="td-in-well">{{ arDocumento.codigoCuentaProveedorFk }}</td>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
        </tr>
    </table>
    <div class="tab-content">
        <div class="tab-pane active" id="detalles">
            <div id="detalles" style="width: 100%"><br>
            </div>
        </div>
    </div>
    {#{{ form_end(form) }}#}
{% endblock %}
