{% extends 'base_inventario.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
    {{ form_errors(form) }}
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>ABREVIATURA</th>
            <th>NOMBRE</th>
            <th>CONSECUTIVO</th>
            <th title="OPERACION COMERCIAL">OP COMERCIAL</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for arDocumento in arDocumentos %}
            <tr>
                <td>{{ arDocumento.codigoDocumentoPk }}</td>
                <td>{{ arDocumento.abreviatura }}</td>
                <td>{{ arDocumento.nombre }}</td>
                <td>{{ arDocumento.consecutivo }}</td>
                <td>{{ arDocumento.operacionComercial }}</td>
                <td style="text-align: center;">
                    <a href="{{ path('inventario_administracion_inventario_documento_nuevo',{'id' : arDocumento.codigoDocumentoPk}) }}">
                        <i title="Editar el registro" class="fa fa-edit" style="font-size: large;color: black;">
                        </i>
                    </a>
                </td>
                <td style="text-align: center;">
                    <a href="{{ path('inventario_administracion_inventario_documento_detalle',{'id' : arDocumento.codigoDocumentoPk }) }}">
                        <i class="fa fa-share-square-o" style="font-size: large;color: black;">

                        </i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="btn-group" style="float: left">
        <div class="btn-group" style="float: left">
            <div class="btn btn-default btn-sm">Registros <span class="badge">{{ arDocumentos.getTotalItemCount }}</span>
            </div>
        </div>
    </div>
    <div class="btn-group btn-xs" style="float: left;margin-left: 0px;padding-top: 0px;">
        {{ knp_pagination_render(arDocumentos) }}
    </div>

    <div class="btn-toolbar" style="float: right">
        <div class="btn-group">
            {{ form_widget(form.btnExcel, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
        </div>
        <div class="btn-group">
            <a class="btn btn-default btn-sm"
               href="{{ path('inventario_administracion_inventario_documento_nuevo', {'id': 0}) }}">Nuevo</a>
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}

