{% extends 'base_inventario.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="panel panel-default">
        <div class="panel-heading">Información general</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="form_codigoDocumentoPk" class="col-sm-2 control-label">Codigo documento pk:</label>
                <div class="col-sm-3">
                    {{ form_widget(form.codigoDocumentoPk,{'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.codigoDocumentoPk) }}
                </div>
                <label for="form_nombre" class="col-sm-2 control-label">Nombre:</label>
                <div class="col-sm-3">
                    {{ form_widget(form.nombre,{'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.nombre)}}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_documentoTipoRel" class="col-sm-2 control-label">Documento tipo:</label>
                <div class="col-sm-3">
                    {{ form_widget(form.documentoTipoRel,{'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.documentoTipoRel) }}
                </div>
                <label for="form_abreviatura" class="col-sm-2 control-label">Abreviatura:</label>
                <div class="col-sm-3">
                    {{ form_widget(form.abreviatura,{'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.abreviatura)}}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_operacionComercial" class="col-sm-2 control-label">Operacion comercial:</label>
                <div class="col-sm-3">
                    {{ form_widget(form.operacionInventario,{'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.operacionInventario) }}
                </div>
                <label for="form_consecutivo" class="col-sm-2 control-label">Consecutivo</label>
                <div class="col-sm-3">
                    {{ form_widget(form.consecutivo) }}
                    {{ form_errors(form.consecutivo) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_generaCostoPromedio" class="col-sm-2 control-label"></label>
                <div class="col-sm-3">
                    {{ form_widget(form.generaCostoPromedio) }}
                    {{ form_errors(form.generaCostoPromedio) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_adicionar" class="col-sm-2 control-label"></label>
                <div class="col-sm-3">
                    {{ form_widget(form.adicionar) }}
                    {{ form_errors(form.adicionar) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_adicionarOrden" class="col-sm-2 control-label"></label>
                <div class="col-sm-3">
                    {{ form_widget(form.adicionarOrden) }}
                    {{ form_errors(form.adicionarOrden) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_adicionarPedido" class="col-sm-2 control-label"></label>
                <div class="col-sm-3">
                    {{ form_widget(form.adicionarPedido) }}
                    {{ form_errors(form.adicionarPedido) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_adicionarRemision" class="col-sm-2 control-label"></label>
                <div class="col-sm-3">
                    {{ form_widget(form.adicionarRemision) }}
                    {{ form_errors(form.adicionarRemision) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_adicionarImportacion" class="col-sm-2 control-label"></label>
                <div class="col-sm-3">
                    {{ form_widget(form.adicionarImportacion) }}
                    {{ form_errors(form.adicionarImportacion) }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default btn-sm" href="{{ path('inventario_administracion_inventario_documento_lista')}}">Cancelar</a>
        {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}
