{% extends 'base.html.twig' %}
{% block content %}
    <a title="Volver"
       href="{{ path('general_seguridad_usuario_lista') }}" class="btn btn-sm btn-default">
        Volver
    </a>
    <br>
    <br>
    <table width="100%" class="table table-condensed table-bordered tabla-informacion">
        <tr>
            <td class="col-md-3">CODIGO OPERACION:</td>
            <td class="col-md-3 ">{{ arUsuario.codigoOperacionFk }}</td>
            <td class="col-md-3"></td>
            <td class="col-md-3"></td>
        </tr>
        <tr>
            <td class="col-md-3">NOMBRE:</td>
            <td class="col-md-3">
                {{ arUsuario.nombreCorto }}
            </td>
            <td class="col-md-3">IDENTIFICACION:</td>
            <td class="col-md-3">
                {{ arUsuario.numeroIdentificacion }}
            </td>

        </tr>
        <tr>
            <td class="col-md-3">USUARIO:</td>
            <td class="col-md-3">{{ arUsuario.username }}</td>
            <td class="col-md-3">ROL:</td>
            <td class="col-md-3">
                {% if arUsuario.roles.0 =="ROLE_ADMIN" %}
                    {{ "administrador" }}
                {% else %}
                    {{ "Usuario" }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class="col-md-3">TELEFONO:</td>
            <td class="col-md-3">
                {{ arUsuario.telefono }}
            </td>
            <td class="col-md-3">EXT:</td>
            <td class="col-md-3">{{ arUsuario.extension }}</td>
        </tr>
        <tr>
            <td class="col-md-3">CORREO:</td>
            <td class="col-md-3">
                {{ arUsuario.email }}
            </td>

            <td class="col-md-3">CARGO:</td>
            <td class="col-md-3">{{ arUsuario.cargo }}</td>
        </tr>
        <tr>
            <td class="col-md-3">GRUPO:</td>
            <td class="col-md-3">{{ arUsuario.grupoRel.nombre | default('') }}</td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#modelos">Modelos</a></li>
        <li><a data-toggle="tab" href="#procesos">Procesos</a></li>
        <li><a data-toggle="tab" href="#segmentos">Segmentos</a></li>
    </ul>
    <div class="tab-content">
        <div id="modelos" class="tab-pane fade in active">
            <br>
            {{ form_start(form, {'attr':{'class':'form_horizontal'}}) }}
            <table class="table table-striped table-bordered table-hover tabla-datos">
                <thead>
                <tr>
                    <th rowspan="2">TIPO</th>
                    <th rowspan="2">MODELO</th>
                    <th colspan="6">PERMISOS</th>
                    <th rowspan="2"></th>
                    <th rowspan="2" style="text-align: center;">
                        <input type="checkbox" name="chkSeleccionarTodosPermisos" id="chkSeleccionarTodosPermisos"
                               onclick="ChequearTodosTabla(this, 'ChkSeleccionarPermiso[]')"/>
                    </th>
                </tr>
                <tr>
                    <th>LISTA</th>
                    <th>NUEVO</th>
                    <th>DETALLE</th>
                    <th>AUTORIZAR</th>
                    <th>APROBAR</th>
                    <th>ANULAR</th>
                </tr>
                </thead>
                <tbody>
                {% for arSeguridadUsuarioModelo in arSeguridadUsuarioModelo %}
                    <tr>
                        <td>
                            {#{{ arSeguridadUsuarioModelo.tipo }}#}
                        </td>
                        <td>
                            {{ arSeguridadUsuarioModelo.modelo }}
                        </td>
                        <td class="text-center">
                            {{ arSeguridadUsuarioModelo.lista ? "SI":"NO" }}
                        </td>
                        <td class="text-center">
                            {{ arSeguridadUsuarioModelo.detalle ? "SI":"NO" }}
                        </td>
                        <td class="text-center">
                            {{ arSeguridadUsuarioModelo.nuevo ? "SI":"NO" }}
                        </td>
                        <td class="text-center">
                            {{ arSeguridadUsuarioModelo.autorizar ? "SI":"NO" }}
                        </td>
                        <td class="text-center">
                            {{ arSeguridadUsuarioModelo.aprobar ? "SI":"NO" }}
                        </td>
                        <td class="text-center">
                            {{ arSeguridadUsuarioModelo.anular ? "SI":"NO" }}
                        </td>
                        <td style="text-align: center;">
                            <a title="Cambiar permisos"
                               href="javascript:abrirVentana3('{{ path('general_seguridad_usuario_modelo_editar',{'hash' : hash,'codigoSeguridadUsuarioModelo':arSeguridadUsuarioModelo.codigoSeguridad}) }}','editarPermisos',600,900)">
                                <i class="fa fa-edit" style="font-size: large;color: black;">
                                </i>
                            </a>
                        </td>
                        <td style="text-align: center;">
                            <input type="checkbox" name="ChkSeleccionarPermiso[]"
                                   value="{{ arSeguridadUsuarioModelo.codigoSeguridad }}"/>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="modal-footer">
                <a class="btn btn-sm btn-default"
                   href="javascript:abrirVentana3('{{ path('general_seguridad_usuario_modelo_nuevo',{'hash' : hash}) }}','editarPermisos',600,900)">Nuevo</a>
                {#<a class="btn btn-sm btn-danger" href="{{ path('general_seguridad_usuario_modelo_eliminar') }}">Eliminar</a>#}
                {{ form_widget(form.btnEliminar,{'attr':{'class':'btn btn-sm btn-danger'}}) }}
            </div>
        </div>
        <div id="procesos" class="tab-pane fade">
            {{ include('general/seguridad/seguridad_usuario_proceso/lista.html.twig') }}
        </div>
        <div id="segmentos" class="tab-pane fade">
            <br>
            {{ form_start(form, {'attr':{'class':'form_horizontal'}}) }}
            <table class="table table-striped table-bordered table-hover tabla-datos">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>SEGMENTO</th>
                    <th><input type="checkbox" name="chkSeleccionarTodosSegmentos" id="chkSeleccionarTodosSegmentos"
                               onclick="ChequearTodosTabla(this, 'ChkSeleccionarSegmentos[]')"/></th>
                </tr>
                </thead>
                <tbody>
                {% for arSeguridadUsuarioSegmento in arSeguridadUsuarioSegmento %}
                    <tr>
                        <td>{{ arSeguridadUsuarioSegmento.codigoSeguridadUsuarioSegmentoPk }}</td>
                        <td>{{ arSeguridadUsuarioSegmento.segmento }}</td>
                        <td style="text-align: center;"><input type="checkbox" name="ChkSeleccionarSegmentos[]"
                                                               value="{{ arSeguridadUsuarioSegmento.codigoSeguridadUsuarioSegmentoPk }}"/>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="modal-footer">
                <a class="btn btn-sm btn-default"
                   href="javascript:abrirVentana3('{{ path('general_seguridad_usuario_segmento_nuevo',{'hash' : hash}) }}','Segmento',600,900)">Nuevo</a>
                {{ form_widget(formSegmento.btnEliminarSegmento,{'attr':{'class':'btn btn-sm btn-danger'}}) }}
            </div>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
