{% extends 'base_transporte.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="panel panel-default">
        <div class="panel-heading">Filtros</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="txtCodigoConductor" class="col-sm-1 control-label">Cliente:</label>
                <div class="col-sm-11">
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="input-group">
                                {{ form_widget(form.txtCodigoCliente) }}
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="input-group">
                                {{ form_widget(form.txtNombreCorto) }}
                                <span class="input-group-btn">
                                        <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('transporte_bus_cliente', { 'campoCodigo': 'form_txtCodigoCliente', 'campoNombre': 'form_txtNombreCorto' }) }}', 'buscarCliente', 600, 900)">Buscar</a>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            {{ form_widget(form.btnFiltrar) }}
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>TIPO</th>
            <th>CLIENTE</th>
            <th>FECHA</th>
            <th>COMENTARIOS</th>
            <th>AUT</th>
            <th>APR</th>
            <th>ANU</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for arCumplido in arCumplidos %}
            <tr>
                <td>{{ arCumplido.codigoCumplidoPk }}</td>
                <td>{{ arCumplido.tipoCumplido }}</td>
                <td>{{ arCumplido.nombreCorto }}</td>
                <td>{{ arCumplido.fecha | date('Y-m-d') }}</td>
                <td>{{ arCumplido.comentario }}</td>
                <td class="estado">{{ arCumplido.estadoAutorizado?'SI':'NO' }}</td>
                <td class="estado">{{ arCumplido.estadoAprobado?'SI':'NO' }}</td>
                <td class="estado">{{ arCumplido.estadoAnulado?'SI':'NO' }}</td>
                <td style="text-align: center;">
                    <a href="{{ path('transporte_movimiento_transporte_cumplido_nuevo',{'id' : arCumplido.codigoCumplidoPk}) }}">
                        <i title="Editar el registro" class="fa fa-edit" style="font-size: large;color: black;">
                        </i>
                    </a>
                </td>
                <td style="text-align: center"><a href="{{ path('transporte_movimiento_transporte_cumplido_detalle', { 'id': arCumplido.codigoCumplidoPk }) }}"><img src="{{ asset('../public/img/bootstrap/glyphicons_152_new_window.png') }}"></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="btn-group" style="float: left">
        <div class="btn-group" style="float: left">
            <div class="btn btn-default btn-sm">Registros <span class="badge">{{ arCumplidos.getTotalItemCount }}</span></div>
        </div>
    </div>
    <div class="btn-group btn-xs" style="float: left;margin-left: 0px;padding-top: 0px;">
        {{ knp_pagination_render(arCumplidos) }}
    </div>

    <div class="btn-toolbar" style="float: right">
        <div class="btn-group">
            {{ form_widget(form.btnExcel, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
        </div>
        <div class="btn-group" style="float: right;">
            {{ form_widget(form.btnEliminar) }}
        </div>
        <div class="btn-group">
            <a class="btn btn-default btn-sm" href="{{ path('transporte_movimiento_transporte_cumplido_nuevo', {'id': 0}) }}">Nuevo</a>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

