{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    {{ form_errors(form) }}
    <div class="panel panel-default">
        <div class="panel-heading">Informacion general</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="txtNit" class="col-sm-2 control-label">Cliente:</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="input-group">
                                {{ form_widget(form.codigoClienteFk, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="input-group">
                                <input id="txtNombreCorto"  name="txtNombreCorto"  type="text" class="form-control" value="{{ arGuia.clienteRel.nombreCorto |default('') }}" readOnly="ReadOnly" />
                                <span class="input-group-btn">
                                        <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('transporte_bus_cliente', { 'campoCodigo': 'App_guia_codigoClienteFk', 'campoNombre': 'txtNombreCorto' }) }}', 'buscarCliente', 600, 900)">Buscar</a>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Documento:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.documentoCliente, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.documentoCliente) }}
                </div>
                <label for="form_recogidaTipoRel" class="col-sm-2 control-label">Flete:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.vrFlete, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.vrFlete) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Ciudad origen:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.ciudadOrigenRel, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.ciudadOrigenRel) }}
                </div>
                <label for="form_recogidaTipoRel" class="col-sm-2 control-label">Declara:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.vrDeclara, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.vrDeclara) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Ciudad destino:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.ciudadDestinoRel, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.ciudadDestinoRel) }}
                </div>
                <label class="col-sm-2 control-label">Manejo:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.vrManejo, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.vrManejo) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Operacion(Ing):</label>
                <div class="col-sm-4">
                    {{ form_widget(form.operacionIngresoRel, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.operacionIngresoRel) }}
                </div>
                <label class="col-sm-2 control-label">Cobro:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.vrCobroEntrega, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.vrCobroEntrega) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Operacion(Car):</label>
                <div class="col-sm-4">
                    {{ form_widget(form.operacionCargoRel, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.operacionCargoRel) }}
                </div>
                <label class="col-sm-2 control-label">Unidades:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.unidades, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.unidades) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Fecha ingreso:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.fechaIngreso, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.fechaIngreso) }}
                </div>
                <label class="col-sm-2 control-label">Peso:</label>
                <div class="col-sm-1">
                    {{ form_widget(form.pesoReal, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.pesoReal) }}
                </div>
                <label class="col-sm-2 control-label">Vol:</label>
                <div class="col-sm-1">
                    {{ form_widget(form.pesoVolumen, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.pesoVolumen) }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default btn-sm" href="{{ path('transporte_utilidad_transporte_correccion_guia_lista') }}">Cancelar</a>
        {{ form_widget(form.guardar) }}
    </div>
    {{ form_end(form) }}

{% endblock %}