{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    {{ form_errors(form) }}
    <div class="panel panel-default">
        <div class="panel-heading">Informacion general</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="txtNit" class="col-sm-2 control-label">Cliente:</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="input-group">
                                {{ form_widget(form.codigoClienteFk, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="input-group">
                                <input id="txtNombreCorto"  name="txtNombreCorto"  type="text" class="form-control" value="{{ arGuia.clienteRel.nombreCorto |default('') }}" readOnly="ReadOnly" />
                                <span class="input-group-btn">
                                        <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('transporte_bus_cliente', { 'campoCodigo': 'App_guia_codigoClienteFk', 'campoNombre': 'txtNombreCorto' }) }}', 'buscarCliente', 600, 900)">Buscar</a>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Documento:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.documentoCliente, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.documentoCliente) }}
                </div>
                <label class="col-sm-2 control-label">Fecha ingreso:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.fechaIngreso, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.fechaIngreso) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Ciudad origen:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.ciudadOrigenRel, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.ciudadOrigenRel) }}
                </div>
                <label class="col-sm-2 control-label">Ciudad destino:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.ciudadDestinoRel, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.ciudadDestinoRel) }}
                </div>

            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Operacion(Ing):</label>
                <div class="col-sm-4">
                    {{ form_widget(form.operacionIngresoRel, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.operacionIngresoRel) }}
                </div>
                <label class="col-sm-2 control-label">Operacion(Car):</label>
                <div class="col-sm-4">
                    {{ form_widget(form.operacionCargoRel, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.operacionCargoRel) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Ruta:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.rutaRel, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.rutaRel) }}
                </div>
                <label class="col-sm-2 control-label">Zona:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.zonaRel, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.zonaRel) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Producto:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.productoRel, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.productoRel) }}
                </div>
                <label class="col-sm-2 control-label">Liquidación</label>
                <div class="col-sm-4">
                    {{ form_widget(form.tipoLiquidacion) }}
                    {{ form_errors(form.tipoLiquidacion) }}

                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Servicio</label>
                <div class="col-sm-4">
                    {{ form_widget(form.servicioRel) }}
                </div>
                <label class="col-sm-2 control-label">Tipo:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.guiaTipoRel) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-4">
                    {{ form_widget(form.estadoEntregado) }}
                    {{ form_widget(form.estadoSoporte) }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default btn-sm" href="{{ path('transporte_utilidad_transporte_correccion_guia_lista') }}">Cancelar</a>
        {{ form_widget(form.guardar) }}
    </div>
    {{ form_end(form) }}

{% endblock %}