{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
    {{ form_errors(form) }}
    <div class="panel panel-default">
        <div class="panel-heading">Filtros</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="form_TxtCodigo" class="col-sm-2 control-label">Desde:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.fechaDesde) }}
                </div>
                <label for="form_estadoAutorizado" class="col-sm-2 control-label"></label>
                <div class="col-sm-4">

                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_TxtCodigo" class="col-sm-2 control-label">Hasta:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.fechaHasta) }}
                </div>
                <label for="form_estadoAutorizado" class="col-sm-2 control-label"></label>
                <div class="col-sm-4">
                </div>
            </div>
            <div class="form-group form-group-sm">
                <div class="col-sm-offset-2 col-sm-10">
                    {{ form_widget(form.btnFiltrar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                </div>
            </div>
        </div>
    </div>

    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>TIPO</th>
            <th>NUMERO</th>
            <th>FECHA</th>
            <th>PLACA</th>
            <th>CONDUCTOR</th>
            <th>DESTINO</th>
            <th>RUTA</th>
            <th>GUIAS</th>
            <th>UNIDADES</th>
            <th>PESO</th>
            <th>MANEJO</th>
            <th>FLETE</th>
            <th>TOTAL</th>
            <th>PAGO</th>
            <th>%UT</th>
        </tr>
        </thead>
        <tbody>
        {% set douCantidades = 0  %}
        {% set douUnidades = 0  %}
        {% set douPesoReal = 0  %}
        {% set douManejo = 0  %}
        {% set douFlete = 0  %}
        {% set douTotalIngreso = 0  %}
        {% set douFletePago = 0  %}
        {% for arDespacho in arDespachos %}
            <tr>
                <td>{{ arDespacho.codigoDespachoPk }}</td>
                <td>{{ arDespacho.despachoTipo }}</td>
                <td>{{ arDespacho.numero }}</td>
                <td>{{ arDespacho.fechaSalida | date('Y-m-d') }}</td>
                <td>{{ arDespacho.codigoVehiculoFk }}</td>
                <td>{{ arDespacho.conductorNombre }}</td>
                <td>{{ arDespacho.ciudadDestino }}</td>
                <td>{{ arDespacho.ruta }}</td>
                <td class="numero">{{ arDespacho.cantidad | number_format(0, '.', ',') }}</td>
                <td class="numero">{{ arDespacho.unidades | number_format(0, '.', ',') }}</td>
                <td class="numero">{{ arDespacho.pesoReal | number_format(0, '.', ',') }}</td>
                <td class="numero">{{ arDespacho.vrManejo | number_format(0, '.', ',') }}</td>
                <td class="numero">{{ arDespacho.vrFlete | number_format(0, '.', ',') }}</td>
                <td class="numero">{{ arDespacho.vrTotalIngreso | number_format(0, '.', ',') }}</td>
                <td class="numero">{{ arDespacho.vrFletePago | number_format(0, '.', ',') }}</td>
                <td class="numero">{{ arDespacho.porcentajeRentabilidad | number_format(0, '.', ',') }}</td>
                {% set douCantidades = douCantidades + arDespacho.cantidad %}
                {% set douUnidades = douUnidades + arDespacho.unidades %}
                {% set douPesoReal = douPesoReal + arDespacho.pesoReal %}
                {% set douManejo = douManejo + arDespacho.vrManejo %}
                {% set douFlete = douFlete + arDespacho.vrFlete %}
                {% set douTotalIngreso = douTotalIngreso + arDespacho.vrTotalIngreso %}
                {% set douFletePago = douFletePago + arDespacho.vrFletePago %}
            </tr>
        {% endfor %}
        <td colspan="8"></td>
        <td style="text-align: right">{{ douCantidades }}</td>
        <td style="text-align: right">{{ douUnidades }}</td>
        <td style="text-align: right">{{ douPesoReal }}</td>
        <td style="text-align: right">{{ douManejo | number_format(0, '.', ',') }}</td>
        <td style="text-align: right">{{ douFlete | number_format(0, '.', ',') }}</td>
        <td style="text-align: right">{{ douTotalIngreso | number_format(0, '.', ',') }}</td>
        <td style="text-align: right">{{ douFletePago | number_format(0, '.', ',') }}</td>
        <td></td>
    </table>
    <div class="btn-toolbar" style="float: right">
        <div class="btn-group">
            {{ form_widget(form.btnPdf, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
        </div>
        <div class="btn-group" style="float: right">
            {{ form_widget(form.btnExcel, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}

