{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">Información general</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="form_seleccionTipo" class="col-sm-2 control-label">Tipo:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.seleccionTipoRel, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.seleccionTipoRel) }}
                </div>
                <label for="form_solicitudRel" class="col-sm-2 control-label">Solicitud:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.solicitudRel, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.solicitudRel) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_cargoRel" class="col-sm-2 control-label">Cargo:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.cargoRel, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.cargoRel) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_identificacionTipo" class="col-sm-2 control-label">Tipo identificación:</label>
                <div class="col-sm-4">
                     {{ form_widget(form.identificacionRel, { 'attr': {'class': 'form-control'} }) }}
                     {{ form_errors(form.identificacionRel) }}
                </div>
                <label for="form_numeroIdentificacion" class="col-sm-2 control-label">Identificación:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.numeroIdentificacion, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.numeroIdentificacion) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_fechaExpedicion" class="col-sm-2 control-label">Fecha expedición:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.fechaExpedicion)  }}
                    {{ form_errors(form.fechaExpedicion) }}
                </div>
                <label for="form_ciudadExpedicionRel" class="col-sm-2 control-label">Ciudad expedición:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.ciudadExpedicionRel, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.ciudadExpedicionRel) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_fechaNacimiento" class="col-sm-2 control-label">Fecha nacimiento:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.fechaNacimiento)  }}
                    {{ form_errors(form.fechaNacimiento) }}
                </div>
                <label for="form_ciudadNacimientoRel" class="col-sm-2 control-label">Ciudad nacimiento:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.ciudadNacimientoRel, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.ciudadNacimientoRel) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_nombre1" class="col-sm-2 control-label">Primer nombre:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.nombre1)  }}
                    {{ form_errors(form.nombre1) }}
                </div>
                <label for="form_nombre2" class="col-sm-2 control-label">Segundo nombre:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.nombre2, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.nombre2) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_apellido1" class="col-sm-2 control-label">Primer apellido:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.apellido1)  }}
                    {{ form_errors(form.apellido1) }}
                </div>
                <label for="form_apellido2" class="col-sm-2 control-label">Segundo apellido:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.apellido2, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.apellido2) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_sexoRel" class="col-sm-2 control-label">Sexo:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.sexoRel)  }}
                    {{ form_errors(form.sexoRel) }}
                </div>
                <label for="form_estadoCivilRel" class="col-sm-2 control-label">Estado civil:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.estadoCivilRel, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.estadoCivilRel) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_rhRel" class="col-sm-2 control-label">Rh:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.rhRel)  }}
                    {{ form_errors(form.rhRel) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_direccion" class="col-sm-2 control-label">Direccion:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.direccion)  }}
                    {{ form_errors(form.direccion) }}
                </div>
                <label for="form_bariio" class="col-sm-2 control-label">Barrio:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.barrio, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.barrio) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_ciudadRel" class="col-sm-2 control-label">Ciudad:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.ciudadRel)  }}
                    {{ form_errors(form.ciudadRel) }}
                </div>
                <label for="form_correo" class="col-sm-2 control-label">Correo:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.correo, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.correo) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_telefono" class="col-sm-2 control-label">Telefono:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.telefono)  }}
                    {{ form_errors(form.telefono) }}
                </div>
                <label for="form_celular" class="col-sm-2 control-label">Celular:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.celular, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.celular) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Comentario:</label>
                <div class="col-sm-10">
                    {{ form_widget(form.comentarios, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                    {{ form_errors(form.comentarios) }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default btn-sm" href="{{ path('administracion_lista',{'modulo':'recursoHumano','entidad':'solicitud'}) }}">Cancelar</a>
        {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
