{% extends 'base_sin_menu.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">Información general</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="identificacionRel" class="col-sm-2 control-label">Tipo:</label>
                <div class="col-sm-10">
                    {{ form_widget(form.seleccionReferenciaTipoRel, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.seleccionReferenciaTipoRel) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_nombreCorto" class="col-sm-2 control-label">Nombre:</label>
                <div class="col-sm-10">
                    {{ form_widget(form.nombreCorto, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <div class="{% if form.telefono.vars.errors|length > 0 %}has-error{% endif %}">
                    <label for="form_telefono" class="col-sm-2 control-label">Telefono:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.telefono, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.telefono) }}
                    </div>
                </div>
                <label for="form_celular" class="col-sm-2 control-label">Celular:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.celular, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_ciudadRel" class="col-sm-2 control-label">Ciudad:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.ciudadRel) }}
                </div>
                <label for="form_direccion" class="col-sm-2 control-label">Direccion:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.direccion, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                    {{ form_errors(form.telefono) }}

                </div>
            </div>
            <div class="form-group">
                <label for="form_comentarios" class="col-sm-2 control-label">Comentarios:</label>
                <div class="col-sm-10">
                    {{ form_widget(form.comentarios, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                    {{ form_errors(form.comentarios) }}
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Informacion adicional referencia laboral</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="form_ciudadRel" class="col-sm-2 control-label">Empresa:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.empresa, { 'attr': {'class': 'form-control','autofocus':'autofocus'} }) }}
                </div>
                <label for="form_direccion" class="col-sm-2 control-label">Suministró la informacion:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.suministraInformacion, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_ciudadRel" class="col-sm-2 control-label">Cargo:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.cargo, { 'attr': {'class': 'form-control','autofocus':'autofocus'} }) }}
                </div>
                <label for="form_direccion" class="col-sm-2 control-label">Tiempo laborado:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.tiempoLaborado, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_ciudadRel" class="col-sm-2 control-label">Motivo retiro:</label>
                <div class="col-sm-10">
                    {{ form_widget(form.motivoRetiro, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        {{ form_widget(form.btnGuardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
