<!DOCTYPE html>
<html lang="en-us" id="extr-page">
<head>
    <meta charset="utf-8">
    <title> Cromo - Licencia</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('plugins/fontawesome/css/all.min.css') }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/smartadmin-production.min.css') }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/smartadmin-skins.min.css') }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/smartadmin-rtl.min.css') }}">
    <link rel="shortcut icon" href="{{ asset('img/favicon/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ asset('img/favicon/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

    <link rel="apple-touch-icon" href="{{ asset('img/splash/sptouch-icon-iphone.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('img/splash/touch-icon-ipad.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('img/splash/touch-icon-iphone-retina.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('img/splash/touch-icon-iphone-retina.png') }}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-startup-image" href="{{ asset('img/splash/ipad-landscape.png') }}" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image" href="{{ asset('img/splash/ipad-portrait.png') }}" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="{{ asset('img/splash/iphone.png') }}" media="screen and (max-device-width: 320px)">
    <style>
        .bootstrapWizard li:before{
            border-top: 1px solid #55606E;

        }
    </style>
</head>

<body >

<header id="header">

    <div id="logo-group">
        <span id="logo"> <img src="{{ asset('img/logo.png') }}" alt="Cromo Login"> </span>
    </div>
    {#<div>#}
    {##}
    {#</div>#}
    <span id="extr-page-header-space"><span class="hidden-mobile hidden-xs">Iniciar sesion</span> <a   style="font-size: 23px;" href="{{ path('login') }}"> <li class="fas fa-door-closed"></li> </a> </span>
</header>
<div id="content" class="container col-lg-offset-2 col-lg-8">


    <div class="panel panel-default">
        <div class="panel-heading">Activar licencia</div>
        <div class="panel-body">
            <section id="widget-grid" class="">

                <!-- row -->
                <div class="row">

                    <!-- NEW WIDGET START -->
                    <article class="col-sm-12 col-md-12 col-lg-12" style="margin-left: auto;margin-right: auto;float: none !important;">

                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-deletebutton="false">
                            <!-- widget options:
                            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                            data-widget-colorbutton="false"
                            data-widget-editbutton="false"
                            data-widget-togglebutton="false"
                            data-widget-deletebutton="false"
                            data-widget-fullscreenbutton="false"
                            data-widget-custombutton="false"
                            data-widget-collapsed="true"
                            data-widget-sortable="false"

                            -->


                            <!-- widget div-->
                            <div>

                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->

                                </div>
                                <!-- end widget edit box -->

                                <!-- widget content -->
                                <div class="widget-body">

                                    <div class="row">
                                        <form id="wizard-1" novalidate="novalidate">
                                            <div id="bootstrap-wizard-1" class="col-sm-12">
                                                <div class="form-bootstrapWizard">
                                                    <ul class="bootstrapWizard form-wizard">
                                                        <li class="active" data-target="#step1">
                                                            <a style="pointer-events: none" href="#tab1"  data-toggle="tab"> <span style="border: 0px solid #55606E;" class="step">1</span> <span class="title">Informacion</span> </a>
                                                        </li>
                                                        <li data-target="#step2">
                                                            <a style="pointer-events: none" href="#tab2"  data-toggle="tab"> <span style="border: 0px solid #55606E;" class="step">2</span> <span class="title">Licencia</span> </a>
                                                        </li>
                                                        <li data-target="#step3">
                                                            <a style="pointer-events: none" href="#tab3" data-toggle="tab"> <span style="border: 0px solid #55606E;" class="step">3</span> <span class="title">Detalles</span> </a>
                                                        </li>
                                                        <li data-target="#step4">
                                                            <a style="pointer-events: none" href="#tab4" data-toggle="tab"> <span style="border: 0px solid #55606E;" class="step">4</span> <span class="title">Confirmacion</span> </a>
                                                        </li>
                                                    </ul>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="tab1">
                                                        <br>
                                                        <h3><strong>Paso 1 </strong> - Informacion</h3>

                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                    <span>
                                                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                                                    </span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="tab-pane" id="tab2">
                                                        <br>
                                                        <h3><strong>Paso 2</strong> - Clave licencia</h3>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="alert alert-info fade in">
                                                                    <button class="close" data-dismiss="alert">
                                                                        ×
                                                                    </button>
                                                                    <i class="fa-fw fa fa-info"></i>
                                                                    <strong>Ayuda!</strong> Por favor ingresa el codigo de licencia del producto que adquirió.
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon"><i class="fas fa-key fa-lg fa-fw"></i></span>
                                                                        <input class="form-control input-lg" onkeyup="inputLicencia()" onkeydown="inputLicencia()"  placeholder="" type="text" name="key" id="key">

                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>
                                                    <div class="tab-pane" id="tab3">
                                                        <br>
                                                        <h3><strong>Paso 3</strong> - Detalles licencia</h3>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <span>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane" id="tab4">
                                                        <br>
                                                        <h3><strong>Paso 4</strong> - Confirmación</h3>
                                                        <br>
                                                        <div style="margin-bottom: 20px" class="text-center text-success"><i style="font-size: 100px" class="fa fa-check-circle fa-lg"></i> </div>
                                                        <h4  class="text-center">Click en activar para finalizar</h4>
                                                        <br>
                                                        <br>
                                                    </div>

                                                    <div class="form-actions">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <ul class="pager wizard no-margin">
                                                                    <!--<li class="previous first disabled">
                                                                    <a href="javascript:void(0);" class="btn btn-lg btn-default"> First </a>
                                                                    </li>-->
                                                                    <li class="previous disabled">
                                                                        <a href="javascript:void(0);" class="btn btn-lg btn-default"> Atras </a>
                                                                    </li>
                                                                    <!--<li class="next last">
                                                                    <a href="javascript:void(0);" class="btn btn-lg btn-primary"> Last </a>
                                                                    </li>-->
                                                                    <div class="finish">
                                                                        <li class="next">
                                                                            <a  href="javascript:void(0);" class="btn btn-lg txt-color-darken"> Siguiente </a>
                                                                        </li>
                                                                    </div>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                                <!-- end widget content -->

                            </div>
                            <!-- end widget div -->

                        </div>
                        <!-- end widget -->

                    </article>
                    <!-- WIDGET END -->



                </div>

                <!-- end row -->

            </section>
        </div>
    </div>
    <!-- widget grid -->

    <!-- end widget grid -->

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    if (!window.jQuery) {
        document.write("<script src='{{ asset('js/libs/jquery-3.2.1.min.js') }}'><\/script>");
    }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script>
    if (!window.jQuery.ui) {
        document.write("<script src='{{ asset('js/libs/jquery-ui.min.js') }}'><\/script>");
    }
</script>
<script src="{{ asset('js/plugin/jquery-validate/jquery.validate.min.js') }}"></script>
<script src="{{ asset('js/plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js') }}"></script>
<script src="{{ asset('js/plugin/fuelux/wizard/wizard.min.js') }}"></script>
<script src="{{ asset('js/app.config.js') }}"></script>
<script src="{{ asset('js/fontawesome.min.js') }}"></script>
<script src="{{ asset('js/demo.min.js') }}"></script>
<script src="{{ asset('js/bootstrap/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/app.min.js') }}"></script>
<script>

    // DO NOT REMOVE : GLOBAL FUNCTIONS!
    var datosLicencia=[];
    $(document).ready(function() {

        pageSetUp();



        //Bootstrap Wizard Validations

        var $validator = $("#wizard-1").validate({

            rules: {
                key: {
                    required: true
                }
            },

            messages: {
                key: "Por favor ingresa la clave del producto"
            },

            highlight: function (element) {

                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                // console.log(error);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });


        $('#bootstrap-wizard-1').bootstrapWizard({
            'tabClass': 'form-wizard',
            'onNext': function (tab, navigation, index) {
                var $valid = $("#wizard-1").valid();
                if(index-1===1 && $valid){

                    if(!JSON.parse(activar().responseText).estado){
                        $("#key").closest('.form-group').removeClass('has-success').addClass('has-error');
                        if ($("#key").parent('.input-group').length) {

                            // if(!document.getElementById("error2")){

                                $(`<span id="error2" class="help-block">Por favor ingresa una clave de producto valida</span>`).insertAfter($("#key").parent());
                            // }
                            // else{
                            //     $("#error2").css("color","block");
                            // }
                        } else {
                            $(`<span id="error2" class="help-block">Por favor ingresa una clave de producto valida</span>`).insertAfter($("#key"));
                        }
                        return false;
                    }
                    else{
                        $('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(index - 1).addClass(
                            'complete');
                        $('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(index - 1).find('.step')
                            .html('<i class="fa fa-check"></i>');
                    }

                }
                else{

                    if (!$valid) {
                        $validator.focusInvalid();
                        return false;
                    } else {

                        // alert("aqui");

                        $('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(index - 1).addClass(
                            'complete');
                        $('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(index - 1).find('.step')
                            .html('<i class="fa fa-check"></i>');

                    }

                    if(index-1===2){
                        $('.finish').html(`<li style="float:right"><a  onclick="activarLicenciaLocal()"  class="btn btn-lg txt-color-darken"> Activar </a></li>`)
                    }
                }

            }
        });


        // fuelux wizard
        var wizard = $('.wizard').wizard();

        wizard.on('finished', function (e, data) {
            //$("#fuelux-wizard").submit();
            //console.log("submitted!");
            $.smallBox({
                title: "Congratulations! Your form was submitted",
                content: "<i class='fa fa-clock-o'></i> <i>1 seconds ago...</i>",
                color: "#5F895F",
                iconSmall: "fa fa-check bounce animated",
                timeout: 4000
            });

        });


    })



    function activar() {
        var servidor="{{servidor}}";
        {#var api={{ api|json_encode|raw}};#}
        var clave = $('#key').val();
        return  $.ajax({
            headers: {
                // 'X-CSRF-TOKEN': token,
                'Content-type': 'application/json',
            },
            async:false,
            url: `${servidor}${"/api/licencia/activar"}`,
            type: "POST",
            dataType: "json",
            data: JSON.stringify({datos:{clave:clave}}),
            success: function (respuestas) {
                // console.log(respuestas);
                if(respuestas.estado){
                    datosLicencia=respuestas.datos;
                }
                // JSON.parse(respuestas);
                return respuestas;
            },
            error: function (error) {
                // console.log(error);
                return error;
            }
        });


    }

    function inputLicencia() {
        if ($("#key").val().length <= 0) {
            $("#error2").remove();
        }
        else{
            $("#error2").remove();
        }
    }

    function activarLicenciaLocal(){
        // console.log(datosLicencia);
        $.ajax({

            url: "{{path('activar_licencia_local')}}",
            type: "POST",
            dataType: "json",
            data: {datos:datosLicencia},
            success: function (respuestas) {
                console.log("aqui");
                window.location="{{ path('login') }}";
                return respuestas;
            },
            error: function (error) {
                // console.log(error);
                return error;
            }
        });
    }


</script>
</body>
</html>