{% extends 'base_inventario.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">Filtros</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label class="col-sm-1 control-label">Numero:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.numero, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <label class="col-sm-2 control-label">Aprobado:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.estadoAprobado, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-1 control-label">Tipo:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.solicitudTipoRel, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-4">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            {{ form_widget(form.btnFiltrar) }}
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>NUMERO</th>
                <th>TIPO</th>
                <th>FECHA</th>
                <th>AUTORIZADO</th>
                <th>APROBADO</th>
                <th>ANULADO</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for arSolicitud in arSolicitudes %}
                <tr>
                    <td>{{ arSolicitud.codigoSolicitudPk }}</td>
                    <td>{{ arSolicitud.numero }}</td>
                    <td>{{ arSolicitud.nombreTipo }}</td>
                    <td>{{ arSolicitud.fecha |date('Y-m-d') }}</td>
                    {{ validarTipo(arSolicitud.estadoAutorizado) }}
                    {{ validarTipo(arSolicitud.estadoAprobado) }}
                    {{ validarTipo(arSolicitud.estadoAnulado) }}
                    <td style="text-align: center;">
                        {% if not arSolicitud.estadoAutorizado %}
                        <a href="{{ path('inventario_movimiento_inventario_solicitud_nuevo',{'id' : arSolicitud.codigoSolicitudPk}) }}">
                            <i title="Editar el registro" class="fa fa-edit" style="font-size: large;color: black;">
                            </i>
                        </a>
                        {% endif %}
                    </td>
                    <td style="text-align: center;">
                        <a href="{{ path('inventario_movimiento_inventario_solicitud_detalle',{'id' : arSolicitud.codigoSolicitudPk}) }}">
                            <i class="fa fa-share-square-o" style="font-size: large;color: black;">
                            </i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="btn-toolbar">
            <div class="btn-group" style="float: right;">
                <a class="btn btn-sm btn-default" href="{{ path('inventario_movimiento_inventario_solicitud_nuevo',{'id' : 0}) }}">Nuevo</a>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
