{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div id="content sortable-grid ui-sortable">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-collapsed="true">
            <header>
                <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
                <h2>Filtro</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label">codigo:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.codigo) }}
                        </div>
                        <label class="col-sm-2  control-label">Nombre:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.nombre) }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <div class="col-sm-offset-2 col-sm-10">
                            {{ form_widget(form.btnFiltrar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover tabla-datos tabla-informacion">
        <thead>
        <tr>
            <th>codigo</th>
            <th>nombre</th>
            <th>licencia</th>
            <th>incapcidad</th>
            <th>ingreso</th>
            <th>retiro</th>
            <th></th>
            <th></th>
            <th class="text-center" title="seleccionar todos"><input type="checkbox" name="ChkSeleccionarTodos" onclick="ChequearTodosTabla(this, 'ChkSeleccionar[]')"> </th>
        </tr>
        </thead>
        <tbody>
        {% for arRegistro in arRegistros  %}
            <tr>
                <td>{{ arRegistro.codigoNovedadTipoPk  }}</td>
                <td>{{ arRegistro.nombre }}</td>
                <td>{{ arRegistro.estadoLicencia?"SI":"NO" }}</td>
                <td>{{ arRegistro.estadoIncapacidad?"SI":"NO" }}</td>
                <td>{{ arRegistro.estadoIngreso?"SI" :"NO"}}</td>
                <td>{{ arRegistro.estadoRetiro?"SI" :"NO"}}</td>
                <td class="text-center">
                    <a href="{{ path('turno_administracion_novedad_novedadTipo_nuevo',{'id': arRegistro.codigoNovedadTipoPk }) }}"><i
                                class="fa fa-edit" style="color: black;font-size: large;"></i></a>
                </td>
                <td class="text-center">
                    <a href="{{ path('turno_administracion_novedad_novedadTipo_detalle',{'id' : arRegistro.codigoNovedadTipoPk }) }}">
                        <i class="fa fa-share-square-o" style="font-size: large;color: black;">
                        </i>
                    </a>
                </td>
                <td class="text-center">
                    <input type="checkbox" name="ChkSeleccionar[]" value="{{ arRegistro.codigoNovedadTipoPk  }}" />
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="btn-group" style="float: left">
        <div class="btn btn-default btn-sm">Registros
            <span class="badge">{{ arRegistros.getTotalItemCount }} </span>
        </div>
    </div>
    <div class="btn-group btn-xs" style="float: left;margin-top: -18px;">
        {{ knp_pagination_render(arRegistros ) }}
    </div>
    <div class="btn-group btn-xs" style="float: left; width: 60px">
        {{ form_widget(form.limiteRegistros) }}
    </div>
    <div class="btn-group" style="float: right; margin-right: 5px !important;">
        {{ form_widget(form.btnEliminar, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}
    </div>
    <div class="btn-group" style="float: right; margin-right: 5px !important;">
        {{ form_widget(form.btnExcel, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
    </div>
    <div class="btn-group" style="float: right; margin-right: 5px !important;">
        <a class="btn btn-default btn-sm"
           href="{{ path('turno_administracion_novedad_novedadTipo_nuevo', {'id': 0}) }}">Nuevo</a>
    </div>
    {{ form_end(form) }}
    <br /><br /><br />
{% endblock %}