{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a  class="btn btn-default btn-sm" href="{{ path('transporte_movimiento_comercial_factura_lista') }}">Volver</a>
        </div>
        <div class="btn-group">
            {{ form_widget(form.btnAutorizar, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
            {{ form_widget(form.btnDesautorizar, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
            {{ form_widget(form.btnAprobar, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
            {{ form_widget(form.btnImprimir, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
            {{ form_widget(form.btnAnular,  { 'attr': {'class': 'btn btn-default btn-sm', 'onclick': 'return confirm("Esta seguro de anular el registro?")'} }) }}
        </div>
    </div>
    <div style="float:right">
        {% if arFactura.estadoAutorizado == true %}<span class="label label-default">Autorizado</span>{% endif %}
        {% if arFactura.estadoAprobado == true %}<span class="label label-success">Aprobado</span>{% endif %}
        {% if arFactura.estadoAnulado == true %}<span class="label label-danger">Anulado</span>{% endif %}
    </div>
    <br /><br />
    {% include 'transporte/movimiento/comercial/factura/informacion.html.twig' %}
    <ul class="nav nav-tabs">
        <li class="active"><a href="#guias" data-toggle="tab">Guias</a></li>
        <li><a href="#planillas" data-toggle="tab">Planillas</a></li>
        <li><a href="#conceptos" data-toggle="tab">Conceptos</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="guias">
            <div id="detalles" style="width: 100%"><br>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover tabla-datos">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>PLANILLA</th>
                            <th>GUIA</th>
                            <th>OI</th>
                            <th>OC</th>
                            <th>NUMERO</th>
                            <th>DESTINO</th>
                            <th>DOCUMENTO</th>
                            <th>UND</th>
                            <th>PES</th>
                            <th>VOL</th>
                            <th>DECLARADO</th>
                            <th>FLETE</th>
                            <th>MANEJO</th>
                            <th><input type="checkbox" name="ChkSeleccionar" OnClick="ChequearTodosTabla(this, 'ChkSeleccionar[]');"/></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for arFacturaDetalle in arFacturaDetalles %}
                            <tr>
                                <td><input type="hidden" name="arrCodigo[]" value="{{ arFacturaDetalle.codigoFacturaDetallePk }}">{{ arFacturaDetalle.codigoFacturaDetallePk }}</td>
                                <td>{{ arFacturaDetalle.codigoFacturaPlanillaFk }}</td>
                                <td>{{ arFacturaDetalle.codigoGuiaFk }}</td>
                                <td>{{ arFacturaDetalle.codigoOperacionIngresoFk }}</td>
                                <td>{{ arFacturaDetalle.codigoOperacionCargoFk }}</td>
                                <td>{{ arFacturaDetalle.numero }}</td>
                                <td>{{ arFacturaDetalle.ciudadDestino }}</td>
                                {% if arFactura.estadoAutorizado == 0 %}
                                    <td style="text-align: left;"><input type="text" style="text-align: left;width:100px;" name="arrDocumentoCliente[{{ arFacturaDetalle.codigoFacturaDetallePk }}]" value="{{ arFacturaDetalle.documentoCliente }}"></td>
                                {% else %}
                                    <td>{{ arFacturaDetalle.documentoCliente }}</td>
                                {% endif %}

                                <td style="text-align: right">{{ arFacturaDetalle.unidades | number_format(0, '.', ',')}}</td>
                                <td style="text-align: right">{{ arFacturaDetalle.pesoReal | number_format(0, '.', ',')}}</td>
                                <td style="text-align: right">{{ arFacturaDetalle.pesoVolumen | number_format(0, '.', ',')}}</td>
                                {% if arFactura.estadoAutorizado == 0 %}
                                    <td style="text-align: right;"><input type="text" style="text-align: right;width:80px;" name="arrDeclara[{{ arFacturaDetalle.codigoFacturaDetallePk }}]" value="{{ arFacturaDetalle.vrDeclara }}"></td>
                                    <td style="text-align: right;"><input type="text" style="text-align: right;width:80px;" name="arrFlete[{{ arFacturaDetalle.codigoFacturaDetallePk }}]" value="{{ arFacturaDetalle.vrFlete }}"></td>
                                    <td style="text-align: right;"><input type="text" style="text-align: right;width:80px;" name="arrManejo[{{ arFacturaDetalle.codigoFacturaDetallePk }}]" value="{{ arFacturaDetalle.vrManejo }}"></td>
                                {% else %}
                                    <td style="text-align: right">{{ arFacturaDetalle.vrDeclara | number_format(0, '.', ',')}}</td>
                                    <td style="text-align: right">{{ arFacturaDetalle.vrFlete | number_format(0, '.', ',')}}</td>
                                    <td style="text-align: right">{{ arFacturaDetalle.vrManejo | number_format(0, '.', ',')}}</td>
                                {% endif %}

                                <td style="text-align: center;"><input type="checkbox" name="ChkSeleccionar[]" value="{{ arFacturaDetalle.codigoFacturaDetallePk }}" /></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="separador-1"></div>
                <div class="btn-toolbar" style="float: right">
                    <div class="btn-group">
                        {{ form_widget(form.btnExcel, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                    </div>
                    {% if arFactura.estadoAutorizado == 0 %}
                        {% if arFactura.codigoFacturaClaseFk == 'FA' %}
                            <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('transporte_movimiento_comercial_factura_detalle_adicionar_guia_archivo', {'codigoFactura': arFactura.codigoFacturaPk, 'codigoFacturaPlanilla': 0 }) }}', 'FacturaAdicionarGuia', 600, 900)">Nuevo (archivo)</a>
                            <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('transporte_movimiento_comercial_factura_detalle_adicionar_guia_cumplido', {'codigoFactura': arFactura.codigoFacturaPk, 'codigoFacturaPlanilla': 0 }) }}', 'FacturaAdicionarGuia', 600, 900)">Nuevo (cumplido)</a>
                            <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('transporte_movimiento_comercial_factura_detalle_adicionar_guia', {'codigoFactura': arFactura.codigoFacturaPk }) }}', 'FacturaAdicionarGuia', 600, 900)">Nuevo</a>
                        {% endif %}
                        {% if arFactura.codigoFacturaClaseFk == 'NC' %}
                            <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('transporte_movimiento_comercial_factura_detalle_adicionar_nc_guia', {'codigoFactura': arFactura.codigoFacturaPk }) }}', 'FacturaAdicionarGuia', 600, 900)">Nuevo</a>
                        {% endif %}
                    {% endif %}
                    <div class="btn-group">
                        {{ form_widget(form.btnActualizar, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
                    </div>
                    <div class="btn-group">
                        {{ form_widget(form.btnRetirarGuia, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="planillas">
            <div id="planillas" style="width: 100%"><br>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover tabla-datos">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>NUMERO</th>
                            <th>CANT</th>
                            <th>FLETE</th>
                            <th>MANEJO</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for arFacturaPlanilla in arFacturaPlanillas %}
                            <tr>
                                <td>{{ arFacturaPlanilla.codigoFacturaPlanillaPk }}</td>
                                <td>{{ arFacturaPlanilla.numero }}</td>
                                <td class="numero">{{ arFacturaPlanilla.guias | number_format(0, '.', ',') }}</td>
                                <td class="numero">{{ arFacturaPlanilla.vrFlete | number_format(0, '.', ',') }}</td>
                                <td class="numero">{{ arFacturaPlanilla.vrManejo | number_format(0, '.', ',') }}</td>
                                <td style="text-align: center;">
                                    {% if arFactura.estadoAutorizado == 0 %}
                                        <a href="javascript:abrirVentana3('{{ path('transporte_movimiento_comercial_factura_detalle_adicionar_guia_archivo',{ 'codigoFactura': arFactura.codigoFacturaPk, 'codigoFacturaPlanilla': arFacturaPlanilla.codigoFacturaPlanillaPk }) }}', 'FacturaAdicionarPlanillaCumplido', 600, 900)" class="btn btn-default btn-xs">Nuevo (archivo)</a>
                                    {% endif %}
                                </td>
                                <td style="text-align: center;">
                                    {% if arFactura.estadoAutorizado == 0 %}
                                        <a href="javascript:abrirVentana3('{{ path('transporte_movimiento_comercial_factura_detalle_adicionar_guia_cumplido',{ 'codigoFactura': arFactura.codigoFacturaPk, 'codigoFacturaPlanilla': arFacturaPlanilla.codigoFacturaPlanillaPk }) }}', 'FacturaAdicionarPlanillaCumplido', 600, 900)" class="btn btn-default btn-xs">Nuevo (cumplido)</a>
                                    {% endif %}
                                </td>

                                <td style="text-align: center;">
                                    {% if arFactura.estadoAutorizado == 0 %}
                                        <a href="javascript:abrirVentana3('{{ path('transporte_movimiento_comercial_factura_detalle_adicionar_planilla_guia',{ 'codigoFactura': arFactura.codigoFacturaPk, 'codigoFacturaPlanilla': arFacturaPlanilla.codigoFacturaPlanillaPk }) }}', 'FacturaAdicionarPlanillaGuia', 600, 900)" class="btn btn-default btn-xs">Nuevo (guia)</a>
                                    {% endif %}
                                </td>
                                <td style="text-align: center;">
                                    {% if arFactura.estadoAutorizado == 0 %}
                                        <a href="javascript:abrirVentana3('{{ path('transporte_movimiento_comercial_factura_detalle_adicionar_planilla',{ 'codigoFactura': arFactura.codigoFacturaPk, 'id': arFacturaPlanilla.codigoFacturaPlanillaPk }) }}', 'FacturaAdicionarPlanilla', 600, 900)">
                                            <i title="Editar el registro" class="fa fa-edit" style="font-size: large;color: black;"></i></a>
                                    {% endif %}
                                </td>
                                <td><input type="checkbox" name="ChkSeleccionarPlanilla[]" value="{{ arFacturaPlanilla.codigoFacturaPlanillaPk }}" /></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="separador-1"></div>
                <div class="btn-toolbar" style="float: right">
                    {% if arFactura.estadoAutorizado == 0 %}
                        <div class="btn-group">
                            <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('transporte_movimiento_comercial_factura_detalle_adicionar_planilla', {'codigoFactura': arFactura.codigoFacturaPk, 'id': 0 }) }}', 'FacturaAdicionarPlanilla', 600, 900)">Nuevo</a>
                        </div>
                    {% endif %}

                    <div class="btn-group">
                    {{ form_widget(form.btnRetirarPlanilla, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="conceptos">
            <div id="conceptos" style="width: 100%"><br>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover tabla-datos">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>CONCEPTO</th>
                            <th>CANTIDAD</th>
                            <th>VALOR</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for arFacturaDetalleConcepto in arFacturaDetallesConceptos %}
                            <tr>
                                <td>{{ arFacturaDetalleConcepto.codigoFacturaDetalleConceptoPk }}</td>
                                <td>{{ arFacturaDetalleConcepto.concepto }}</td>
                                <td>{{ arFacturaDetalleConcepto.cantidad }}</td>
                                <td class="numero">{{ arFacturaDetalleConcepto.vrPrecio | number_format }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="separador-1"></div>
                <div class="btn-toolbar" style="float: right">
                    <div class="btn-group">
                        {% if arFactura.estadoAutorizado == 0 %}
                            <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('transporte_movimiento_comercial_factura_detalle_adicionar_concepto', {'codigoFactura': arFactura.codigoFacturaPk, 'codigoFacturaDetalleConcepto' : 0 }) }}', 'FacturaAdicionarGuia', 600, 900)">Nuevo</a>
                        {% endif %}
                    </div>

                    <div class="btn-group">
                        {{ form_widget(form.btnRetirarGuia, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}
                    </div>

                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
    {% if arFactura.estadoAutorizado == 0 and arFactura.codigoFacturaClaseFk == 'FA'%}
        <br /><br />
        <input type="text" id="txtGuiaCodigo"><button id="btnAdicionar">Adicionar guia</button>
        <br/><br/>
        <input type="text" id="txtGuiaDocumento"><button id="btnAdicionarDocumento">Adicionar documento</button>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var codigoFactura = '{{ arFactura.codigoFacturaPk }}';
        $(function() {
            var button = $("#btnAdicionar");
            var buttonDocumento = $("#btnAdicionarDocumento");
            var txtGuiaCodigo = $("#txtGuiaCodigo");
            var txtGuiaDocumento = $("#txtGuiaDocumento");
            button.click(function() {
                agregarGuia(txtGuiaCodigo.val(), codigoFactura);
            });
            buttonDocumento.click(function() {
                agregarDocumento(txtGuiaDocumento.val(), codigoFactura);
            });
            txtGuiaCodigo.keydown(function (event) {
                if(event.keyCode === 13) {
                    agregarGuia(txtGuiaCodigo.val(), codigoFactura);
                }
            });
            txtGuiaDocumento.keydown(function (event) {
                if(event.keyCode === 13) {
                    agregarDocumento(txtGuiaDocumento.val(), codigoFactura);
                }
            });
        });

        var agregarGuia = function(codigoGuia, codigoFactura) {
            endpoint = "{{ env('SERVER_API') }}/transporte/api/guia/factura/adicionar/" + codigoFactura + "/" + codigoGuia + "/0/1";
            $.ajax(endpoint, {
                type: 'POST',
                data: {
                    arrParametros: JSON.stringify({
                        codigoGuia: codigoGuia
                    }),
                }
            }).done(function(respuesta) {
                if(respuesta && respuesta.error === true) {
                    alert(respuesta.mensaje);
                }
                $("#txtGuiaCodigo").val("").focus();
            });
        };

        var agregarDocumento = function(documento, codigoFactura) {
            endpoint = "{{ env('SERVER_API') }}/transporte/api/guia/factura/adicionar/" + codigoFactura + "/0/" + documento + "/2";
            $.ajax(endpoint, {
                type: 'POST',
                data: {
                    arrParametros: JSON.stringify({
                        documento: documento
                    }),
                }
            }).done(function(respuesta) {
                if(respuesta && respuesta.error === true) {
                    alert(respuesta.mensaje);
                }
                $("#txtGuiaDocumento").val("").focus();
            });
        };
    </script>
{% endblock %}