<table width="100%" class="table table-condensed table-bordered">
    <tr>
        <td class="titulo">NUMERO:</td>
        <td class="td-in-well">{{ arFactura.numero }}</td>
        <td class="titulo">FECHA:</td>
        <td class="td-in-well">{{ arFactura.fecha |date("Y/m/d") }}</td>
        <td class="titulo" >FLETE:</td>
        <td align="right">{{ arFactura.vrFlete | number_format(0, '.', ',')}}</td>
    </tr>
    <tr>
        <td class="titulo">CLIENTE:</td>
        <td class="td-in-well">{{ arFactura.clienteRel.nombreCorto | default("") }}</td>
        <td class="titulo">GUIAS:</td>
        <td class="td-in-well">{{ arFactura.guias }}</td>
        <td class="titulo" >MANEJO:</td>
        <td align="right">{{ arFactura.vrManejo | number_format(0, '.', ',')}}</td>
    </tr>
    <tr>
        <td class="titulo"></td>
        <td class="td-in-well"></td>
        <td class="titulo"></td>
        <td class="td-in-well"></td>
        <td class="titulo" >SUBTOTAL:</td>
        <td align="right">{{ arFactura.vrSubtotal | number_format(0, '.', ',')}}</td>
    </tr>
    <tr>
        <td class="titulo"></td>
        <td class="td-in-well"></td>
        <td class="titulo"></td>
        <td class="td-in-well"></td>
        <td class="titulo" >IVA:</td>
        <td align="right">{{ arFactura.vrIva | number_format(0, '.', ',')}}</td>
    </tr>
    <tr>
        <td class="titulo"></td>
        <td class="td-in-well"></td>
        <td class="titulo"></td>
        <td class="td-in-well"></td>
        <td class="titulo" >TOTAL BRUTO:</td>
        <td align="right">{{ arFactura.vrTotal | number_format(0, '.', ',')}}</td>
    </tr>
    <tr>
        <td class="titulo"></td>
        <td class="td-in-well"></td>
        <td class="titulo"></td>
        <td class="td-in-well"></td>
        <td class="titulo" >RTE FUENTE:</td>
        <td align="right">{{ arFactura.vrRetencionFuente | number_format(0, '.', ',')}}</td>
    </tr>
    <tr>
        <td class="titulo"></td>
        <td class="td-in-well"></td>
        <td class="titulo"></td>
        <td class="td-in-well"></td>
        <td class="titulo" >TOTAL NETO:</td>
        <td align="right">{{ arFactura.vrTotalNeto | number_format(0, '.', ',')}}</td>
    </tr>
    <tr>
        <td class="titulo" >COMENTARIO: </td>
        <td class="td-in-well" colspan="5">{{ arFactura.comentario }}</td>
    </tr>
</table>