{% extends 'base_transporte.html.twig' %}
{% block content %}
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>NUMERO</th>
            <th>FECHA</th>
            <th>CLIENTE</th>
            <th>FLETE</th>
            <th>MANEJO</th>
            <th>SUBTOTAL</th>
            <th>TOTAL</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for arFactura in arFacturas %}
            <tr>
                <td>{{ arFactura.codigoFacturaPk }}</td>
                <td>{{ arFactura.numero }}</td>
                <td>{{ arFactura.fecha | date('Y-m-d') }}</td>
                <td>{{ arFactura.clienteNombre }}</td>
                <td class="numero">{{ arFactura.vrFlete }}</td>
                <td class="numero">{{ arFactura.vrManejo }}</td>
                <td class="numero">{{ arFactura.vrSubtotal }}</td>
                <td class="numero">{{ arFactura.vrTotal }}</td>
                <td style="text-align: center"><a href="{{ path('tte_mto_comercial_factura_detalle', { 'codigoFactura': arFactura.codigoFacturaPk }) }}"><img src="{{ asset('../assets/img/bootstrap/glyphicons_152_new_window.png') }}"></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="btn-group" style="float: left">
        <div class="btn-group" style="float: left">
            <div class="btn btn-default btn-sm">Registros <span class="badge">{{ arFacturas.getTotalItemCount }}</span></div>
        </div>
    </div>
    <div class="btn-group btn-xs" style="float: left;margin-left: 0px;padding-top: 0px;">
        {{ knp_pagination_render(arFacturas) }}
    </div>

    <div class="btn-toolbar" style="float: right">
        <div class="btn-group">
            <a class="btn btn-default btn-sm" href="{{ path('tte_mto_comercial_factura_nuevo', {'codigoFactura': 0}) }}">Nuevo</a>
        </div>
    </div>
{% endblock %}

