{% extends 'base_sin_menu.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <table width="100%" class="table table-condensed table-bordered tabla-informacion">
        <tr>
            <td class="titulo">CLIENTE:</td>
            <td class="td-in-well">{{ arFactura.clienteRel.nombreCorto }}</td>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
            <td class="titulo" ></td>
            <td align="right"></td>
        </tr>
        <tr>
            <td class="titulo">CONDICION:</td>
            <td class="td-in-well">{{ arCondicion.codigoCondicionPk }}-{{ arCondicion.nombre }}</td>
            <td class="titulo">PORCENTAJE MANEJO:</td>
            <td class="td-in-well">{{ arCondicion.porcentajeManejo }}</td>
            <td class="titulo" >PESO MIN:</td>
            <td align="right">{{ arCondicion.pesoMinimo }}</td>
        </tr>
        <tr>
            <td class="titulo">PRECIO:</td>
            <td class="td-in-well"><a href="javascript:abrirVentana3('{{ path('transporte_administracion_comercial_ver_detalle', {'id': arCondicion.codigoPrecioFk }) }}', 'VerPrecio', 600, 900)">{{ arCondicion.codigoPrecioFk }}-{{ arCondicion.precioRel.nombre }}</a></td>
            <td class="titulo">MAN MIN UNIDAD:</td>
            <td class="td-in-well">{{ arCondicion.manejoMinimoUnidad }}</td>
            <td class="titulo">DESCUENTO PESO:</td>
            <td align="right">{{ arCondicion.descuentoPeso }}</td>
        </tr>
        <tr>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
            <td class="titulo">MAN MIN DESPACHO:</td>
            <td class="td-in-well">{{ arCondicion.manejoMinimoDespacho }}</td>
            <td class="titulo">DESCUENTO UNIDAD:</td>
            <td align="right">{{ arCondicion.descuentoUnidad }}</td>
        </tr>
    </table>
    <div class="panel panel-default">
        <div class="panel-heading">Informacion general</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="" class="control-label col-sm-1">Tipo:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.tipoLiquidacion) }}
                </div>
                <label for="" class="control-label col-sm-1"></label>
                <div class="col-sm-4">

                </div>
            </div>
        </div>
        <div class="modal-footer">
            {{ form_widget(form.btnReliquidar) }}
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover tabla-datos">
        <thead>
        <tr>
            <th>ID</th>
            <th>GUIA</th>
            <th>OI</th>
            <th>OC</th>
            <th>ORIGEN</th>
            <th>DESTINO</th>
            <th>ZONA</th>
            <th>DOCUMENTO</th>
            <th>PRODUCTO</th>
            <th>UND</th>
            <th>PESO</th>
            <th>VOL</th>
            <th title="Peso facturado">PF</th>
            <th title="Peso facturado">PF(N)</th>
            <th>FLETE</th>
            <th>FLETE(N)</th>
            <th>MANEJO</th>
            <th>MANEJO(N)</th>
            <th>DECLARA</th>
            <th title="Tipo de liquidacion"></th>
        </tr>
        </thead>
        <tbody>
        {% for arFacturaDetalleReliquidar in arFacturaDetallesReliquidar %}
            <tr>
                <td>{{ arFacturaDetalleReliquidar.codigoFacturaDetalleReliquidarPk }}</td>
                <td>{{ arFacturaDetalleReliquidar.codigoGuiaFk }}</td>
                <td>{{ arFacturaDetalleReliquidar.codigoOperacionIngresoFk }}</td>
                <td>{{ arFacturaDetalleReliquidar.codigoOperacionCargoFk }}</td>
                <td>{{ arFacturaDetalleReliquidar.ciudadOrigen}}</td>
                <td>{{ arFacturaDetalleReliquidar.ciudadDestino }}</td>
                <td>{{ arFacturaDetalleReliquidar.codigoZonaFk }}</td>
                <td>{{ arFacturaDetalleReliquidar.documentoCliente }}</td>
                <td>{{ arFacturaDetalleReliquidar.productoNombre }}</td>
                <td>{{ arFacturaDetalleReliquidar.unidades }}</td>
                <td>{{ arFacturaDetalleReliquidar.pesoReal }}</td>
                <td>{{ arFacturaDetalleReliquidar.pesoVolumen }}</td>
                <td>{{ arFacturaDetalleReliquidar.pesoFacturado }}</td>
                <td {% if arFacturaDetalleReliquidar.pesoFacturado != arFacturaDetalleReliquidar.pesoFacturadoNuevo %} class="danger" {% endif %}>{{ arFacturaDetalleReliquidar.pesoFacturadoNuevo }}</td>
                <td class="numero">{{ arFacturaDetalleReliquidar.vrFlete | number_format }}</td>
                <td {% if arFacturaDetalleReliquidar.vrFlete != arFacturaDetalleReliquidar.vrFleteNuevo %} class="numero danger" {% else %} class="numero" {% endif %}>{{ arFacturaDetalleReliquidar.vrFleteNuevo | number_format }}</td>
                <td class="numero">{{ arFacturaDetalleReliquidar.vrManejo | number_format }}</td>
                <td  {% if arFacturaDetalleReliquidar.vrManejo != arFacturaDetalleReliquidar.vrManejoNuevo %} class="numero danger" {% else %} class="numero" {% endif %}>{{ arFacturaDetalleReliquidar.vrManejoNuevo | number_format }}</td>
                <td class="numero">{{ arFacturaDetalleReliquidar.vrDeclara | number_format }}</td>
                <td>{{ arFacturaDetalleReliquidar.tipoLiquidacion }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="modal-footer">
        {{ form_widget(form.btnGuardar) }}
    </div>
    {{ form_end(form) }}
{% endblock %}


