{% extends 'base_inventario.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="panel panel-default">
        <div class="panel-heading">
            Filtros
            <i class="fa fa-info-circle" style="color: black;font-size: large;float: right;" title="Los pedidos pendientes, son aquellos que estando aprobados, aun no han sido facturados"></i>
        </div>
    <div class="panel-body">
        <div class="form-group form-group-sm">
            <label for="form_pedidoTipoRel" class="col-sm-2 control-label">Pedido tipo:</label>
            <div class="col-sm-4">
                {{ form_widget(form.pedidoTipoRel) }}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        {{ form_widget(form.btnFiltrar) }}
    </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th title="Tipo de pedido">TIPO</th>
                <th title="Numero pedido">NUMERO</th>
                <th>FECHA</th>
                <th>TERCERO</th>
                <th>ITEM</th>
                <th>NOMBRE</th>
                <th title="Cantidad a pedida">CAN</th>
                <th title="Cantidad pendiente">PEN</th>
            </tr>
            </thead>
            <tbody>
            {% for arPedidoDetalle in arPedidoDetalles %}
                <tr>
                    <td>{{ arPedidoDetalle.codigoPedidoDetallePk }}</td>
                    <td>{{ arPedidoDetalle.pedidoTipo }}</td>
                    <td>{{ arPedidoDetalle.numero }}</td>
                    <td>{{ arPedidoDetalle.fechaPedido | date('Y-m-d') }}</td>
                    <td>{{ arPedidoDetalle.terceroNombreCorto }}</td>
                    <td>{{ arPedidoDetalle.codigoItemFk }}</td>
                    <td>{{ arPedidoDetalle.nombre }}</td>
                    <td>{{ arPedidoDetalle.cantidad }}</td>
                    <td>{{ arPedidoDetalle.cantidadPendiente }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="btn-toolbar" style="float: left">
        <div class="btn-group" style="float: left">
            <div class="btn btn-default btn-sm">Registros <span
                        class="badge">{{ arPedidoDetalles.getTotalItemCount }}</span>
            </div>
        </div>
    </div>
    <div class="btn-group" style="float: right;">
        {{ form_widget(form.btnExcel) }}
    </div>
    <div class="btn-group btn-xs">
        {{ knp_pagination_render(arPedidoDetalles) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
