{% extends 'base.html.twig' %}
{% block content %}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-default btn-sm"
               href="{{ path('financiero_administracion_tercero_lista') }}">Volver</a> &nbsp;&nbsp;
        </div>
    </div>
    <br><br>
    <table width="100%" class="table table-condensed table-bordered tabla-informacion">
        <tbody>
            <tr>
                <td class="titulo">ID:</td>
                <td class="td-in-well">{{ arTercero.codigoTerceroPk }}</td>
                <td class="titulo">IDENTIFICACION:</td>
                <td class="td-in-well">{{ arTercero.codigoIdentificacionFk }}</td>
            </tr>
            <tr>
                <td class="titulo">CIUDAD:</td>
                <td class="td-in-well">{{ arTercero.codigoCiudadFk }}</td>
                <td class="titulo">NUMERO IDENTIFICACION:</td>
                <td class="td-in-well">{{ arTercero.numeroIdentificacion }}</td>
            </tr>
            <tr>
                <td class="titulo">NOMBRE:</td>
                <td class="td-in-well">{{ arTercero.nombreCorto }}</td>
                <td class="titulo">DIGITO VERIFICACION:</td>
                <td class="td-in-well">{{ arTercero.digitoVerificacion }}</td>
            </tr>
            <tr>
                <td class="titulo">DIRECCION:</td>
                <td class="td-in-well">{{ arTercero.direccion }}</td>
                <td class="titulo">TELEFONO:</td>
                <td class="td-in-well">{{ arTercero.telefono }}</td>
            </tr>
            <tr>
                <td class="titulo">CELULAR:</td>
                <td class="td-in-well">{{ arTercero.celular }}</td>
                <td class="titulo">FAX:</td>
                <td class="td-in-well">{{ arTercero.fax }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
