{% extends 'base_inventario.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">Información general</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="form_nombre" class="col-sm-2 control-label">Nombre:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.nombre, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.nombre) }}
                </div>
                <label for="form_fechaVence" class="col-sm-2 control-label">Fecha vence:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.fechaVence, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.fechaVence) }}
                </div>
                <br><br>
                <div class="form-group form-group-sm">
                    <label class="col-sm-1 control-label"></label>
                    <div class="col-sm-3"><input type="radio" name="tipo" value="1" {{ arPrecio.compra == true?"checked='checked'":"" }}>Compra</div>
                    <div class="col-sm-3"><input type="radio" name="tipo" value="2" {{ arPrecio.venta == true?"checked='checked'":"" }}>Venta</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default btn-sm" href="{{ path('inventario_administracion_general_precio_lista') }}">Volver</a>
        {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
        {{ form_widget(form.guardarnuevo, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
