{% extends 'base_sin_menu.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="panel panel-default">
        <div class="panel-heading">Información general</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="form_nombre" class="col-sm-2 control-label">Ciudad origen:</label>
                <div class="col-sm-10">
                    {{ form_widget(form.ciudadOrigenRel) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_nombre" class="col-sm-2 control-label">Ciudad destino:</label>
                <div class="col-sm-10">
                    {{ form_widget(form.ciudadDestinoRel) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_nombre" class="col-sm-2 control-label">Zona:</label>
                <div class="col-sm-10">
                    {{ form_widget(form.zonaRel) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_porcentajeManejo" class="col-sm-2 control-label">Descuento peso:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.descuentoPeso) }}
                </div>
                <label for="form_porcentajeManejo" class="col-sm-2 control-label">Descuento unidad:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.descuentoUnidad) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_porcentajeManejo" class="col-sm-2 control-label">Peso minimo:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.pesoMinimo) }}
                </div>
                <label for="form_porcentajeManejo" class="col-sm-2 control-label">Peso minimo (guia):</label>
                <div class="col-sm-4">
                    {{ form_widget(form.pesoMinimoGuia) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_porcentajeManejo" class="col-sm-2 control-label">Flete minimo:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.fleteMinimo) }}
                </div>
                <label for="form_porcentajeManejo" class="col-sm-2 control-label">Flete minimo (guia):</label>
                <div class="col-sm-4">
                    {{ form_widget(form.fleteMinimoGuia) }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
