{% extends 'base_transporte.html.twig' %}
{% block content %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="row">
        <!-- /.col-lg-12 -->
    </div>
    <table width="100%" class="table table-condensed table-bordered">
        <tr>
            <td class="titulo"><b>CODIGO CLIENTE:</b></td>
            <td class="td-in-well">{{ arCliente.codigoClientePk }}</td>
            <td class="titulo"><b>TIPO IDENTIFICACION</b></td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arCliente.identificacionRel.nombre }}</td>
        </tr>
        <tr>
            <td class="titulo"><b>IDENTIFICACION:</b></td>
            <td class="td-in-well">{{ arCliente.numeroIdentificacion }}</td>
            <td class="titulo"><b>DIGITO</b></td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arCliente.digitoVerificacion }}</td>
        </tr>
        <tr>
            <td class="titulo"><b>PRIMER NOMBRE:</b></td>
            <td class="td-in-well">{{ arCliente.nombre1 }}</td>
            <td class="titulo"><b>SEGUNDO NOMBRE:</b></td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arCliente.nombre2 }}</td>
        </tr>
        <tr>
            <td class="titulo"><b>PRIMER APELLIDO:</b></td>
            <td class="td-in-well">{{ arCliente.apellido1 }}</td>
            <td class="titulo"><b>SEGUNDO APELLIDO:</b></td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arCliente.apellido2 }}</td>
        </tr>
        <tr>
            <td class="titulo"><b>NOMBRE CORTO:</b></td>
            <td class="td-in-well">{{ arCliente.nombreCorto }}</td>
            <td class="titulo"><b>DIRECCION:</b></td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arCliente.direccion }}</td>
        </tr>
        <tr>
            <td class="titulo"><b>NOMBRE EXTENDIDO:</b></td>
            <td class="td-in-well">{{ arCliente.nombreExtendido }}</td>
            <td class="titulo"><b>CELULAR:</b></td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arCliente.movil }}</td>
        </tr>
        <tr>
            <td class="titulo"><b>TELEFONO:</b></td>
            <td class="td-in-well">{{ arCliente.telefono }}</td>
            <td class="titulo"><b>CORREO:</b></td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arCliente.correo }}</td>
        </tr>
        <tr>
            <td class="titulo"><b>PLAZO PAGO:</b></td>
            <td class="td-in-well">{{ arCliente.plazoPago }}</td>
            <td class="titulo"><b></b></td>
            <td class="td-in-well" style="text-transform: uppercase;"></td>
        </tr>
        <tr>
            <td class="titulo"><b>COMENTARIOS:</b></td>
            <td class="td-in-well">{{ arCliente.comentario }}</td>
            <td class="titulo"><b></b></td>
            <td class="td-in-well"></td>
        </tr>
    </table>
    <a name="marcador"></a>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#contrato" data-toggle="tab">Condicion comercial</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="guias">
            <div id="detalles" style="width: 100%"><br>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>NOMBRE</th>
                            <th><p data-toggle="tooltip" data-placement="top" title="PORCENTAJE MANEJO">% MAN</p></th>
                            <th><p data-toggle="tooltip" data-placement="top" title="MANEJO UNIDAD MINIMO">MAN UND MIN</p></th>
                            <th><p data-toggle="tooltip" data-placement="top" title="MANEJO DESPACHO MINIMO">MAN UND DESP</p></th>
                            <th><p data-toggle="tooltip" data-placement="top" title="PRECIO PESO">PREC PES</p></th>
                            <th><p data-toggle="tooltip" data-placement="top" title="PRECIO UNIDAD">PREC UND</p></th>
                            <th><p data-toggle="tooltip" data-placement="top" title="PRECIO ADICIONAL">PREC ADI</p></th>
                            <th><p data-toggle="tooltip" data-placement="top" title="DESCUENTO PESO">DESC PES</p></th>
                            <th><p data-toggle="tooltip" data-placement="top" title="DESCUENTO UNIDAD">DESC UND</p></th>
                            <th><p data-toggle="tooltip" data-placement="top" title="PRESO MINIMO">PES MIN</p></th>
                            <th><p data-toggle="tooltip" data-placement="top" title="PERMITE RECAUDO">PERM REC</p></th>
                            <th><p data-toggle="tooltip" data-placement="top" title="PRECIO GENERAL">PREC GEN</p></th>
                            <th><p data-toggle="tooltip" data-placement="top" title="LIMITAR DESCUENTO REEXPEDICION">LIM DESC REEXPE</p></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for arCondicion in arCondiciones %}
                            <tr>
                                <td>{{ arCondicion.codigoClienteCondicionPk }}</td>
                                <td>{{ arCondicion.nombre }}</td>
                                <td>{{ arCondicion.porcentajeManejo }}</td>
                                <td align="right">{{ arCondicion.manejoMinimoUnidad }}</td>
                                <td align="right">{{ arCondicion.manejoMinimoDespacho }}</td>
                                {{ validarTipo(arCondicion.precioPeso) }}
                                {{ validarTipo(arCondicion.precioUnidad) }}
                                {{ validarTipo(arCondicion.precioAdicional) }}
                                <td align="right">{{ arCondicion.descuentoPeso }}</td>
                                <td align="right">{{ arCondicion.descuentoUnidad }}</td>
                                <td align="right">{{ arCondicion.pesoMinimo }}</td>
                                {{ validarTipo(arCondicion.permiteRecaudo) }}
                                {{ validarTipo(arCondicion.precioGeneral) }}
                                {{ validarTipo(arCondicion.limitarDescuentoReexpedicion) }}
                                <td style="text-align: center;"><input type="checkbox" name="ChkSeleccionar[]"
                                                                       value="{{ arCondicion.codigoClienteCondicionPk }}"/></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="separador-1"></div>
                <div class="btn-toolbar" style="float: right">
                    <div class="btn-group">
                        <a class="btn btn-default btn-sm"
                           href="javascript:abrirVentana3('{{ path('transporte_administracion_comercial_cliente_detalle_nuevo', {'id': arCliente.codigoClientePk }) }}', 'condicines', 600, 900)">Nuevo</a>
                    </div>
                    <div class="btn-group">
                        {{ form_widget(form.btnEliminarDetalle, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
    <a class="btn btn-default btn-sm" href="{{ path('transporte_administracion_comercial_cliente_lista') }}">Volver</a>
{% endblock %}
