{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="panel panel-default">
        <div class="panel-heading">Información general</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="form_codigoVehiculoPk" class="col-sm-2 control-label">Identificacion tipo:</label>
                <div class="col-sm-2">
                    {{ form_widget(form.identificacionRel, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                </div>
                <label for="form_pĺaca" class="col-sm-2 control-label">Identificacion:</label>
                <div class="col-sm-2">
                    {{ form_widget(form.numeroIdentificacion, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                </div>
                <label for="form_digitoVerificacion" class="col-sm-2 control-label">Digito:</label>
                <div class="col-sm-2">
                    {{ form_widget(form.digitoVerificacion, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_razonSocial" class="col-sm-2 control-label">Nombre corto:</label>
                <div class="col-sm-10">
                    {{ form_widget(form.nombreCorto, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_razonSocial" class="col-sm-2 control-label">Nombre Extendido:</label>
                <div class="col-sm-10">
                    {{ form_widget(form.nombreExtendido, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_nombre1" class="col-sm-2 control-label">Primer nombre:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.nombre1, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                </div>
                <label for="form_nombre2" class="col-sm-2 control-label">Segundo nombre:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.nombre2, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_apellido1" class="col-sm-2 control-label">Primer apellido:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.apellido1, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                </div>
                <label for="form_apellido2" class="col-sm-2 control-label">Segundo apellido:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.apellido2, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_direccion" class="col-sm-2 control-label">Ciudad:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.ciudadRel,  { 'attr': {'class': 'form-control to-select-2'} }) }}
                </div>
                <label for="form_telefono" class="col-sm-2 control-label">Direccion:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.direccion, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_movil" class="col-sm-2 control-label">Telefono:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.telefono, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                </div>
                <label for="form_correo" class="col-sm-2 control-label">Celular:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.movil, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_plazoPago" class="col-sm-2 control-label">Correo:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.correo, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                </div>
                <label class="col-sm-2 control-label">Plazo pago:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.plazoPago, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_plazoPago" class="col-sm-2 control-label">Asesor:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.asesorRel, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_plazoPago" class="col-sm-2 control-label"></label>
                <div class="col-sm-4">
                    {{ form_widget(form.estadoInactivo) }}
                </div>
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-4">
                    {{ form_widget(form.retencionFuenteSinBase) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Comentario:</label>
                <div class="col-sm-10">
                    {{ form_widget(form.comentario, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Información comercial</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="form_condiciionRel" class="col-sm-2 control-label">Condicion:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.condicionRel, { 'attr': {'class': 'form-control to-select-2'} }) }}
                    {{ form_errors(form.condicionRel) }}
                    <cite style="font-size: 10px;">* Si selecciona una condicion comercial prevalece sobre los parametros de liquidacion</cite>
                </div>
                <label for="form_condiciionRel" class="col-sm-2 control-label">Operacion:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.operacionRel, { 'attr': {'class': 'form-control to-select-2'} }) }}
                    {{ form_errors(form.operacionRel) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_condiciionRel" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    {{ form_widget(form.guiaPagoCredito) }}
                    {{ form_widget(form.guiaPagoContado) }}
                    {{ form_widget(form.guiaPagoDestino) }}
                    {{ form_widget(form.guiaPagoCortesia) }}
                    {{ form_widget(form.guiaPagoRecogida) }}
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Liquidacion</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="form_condiciionRel" class="col-sm-2 control-label">Precio:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.precioRel, { 'attr': {'class': 'form-control to-select-2'} }) }}
                    {{ form_errors(form.precioRel) }}
                </div>
                <label for="form_condiciionRel" class="col-sm-2 control-label">Dcto (Peso):</label>
                <div class="col-sm-1">
                    {{ form_widget(form.descuentoPeso) }}
                </div>
                <label for="form_condiciionRel" class="col-sm-2 control-label">Dcto (Unidad):</label>
                <div class="col-sm-1">
                    {{ form_widget(form.descuentoUnidad) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_condiciionRel" class="col-sm-2 control-label"></label>
                <div class="col-sm-4">
                    {{ form_widget(form.precioPeso) }}
                    {{ form_widget(form.precioUnidad) }}
                    {{ form_widget(form.precioAdicional) }}
                </div>
                <label for="form_condiciionRel" class="col-sm-2 control-label"></label>
                <div class="col-sm-4">
                    {{ form_widget(form.permiteRecaudo) }}
                    {{ form_widget(form.precioGeneral) }}
                    {{ form_widget(form.redondearFlete) }}
                    {{ form_widget(form.limitarDescuentoReexpedicion) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_condiciionRel" class="col-sm-2 control-label">Peso minimo:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.pesoMinimo) }}
                </div>
                <label for="form_condiciionRel" class="col-sm-2 control-label">% (Man):</label>
                <div class="col-sm-4">
                    {{ form_widget(form.porcentajeManejo) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_condiciionRel" class="col-sm-2 control-label"></label>
                <div class="col-sm-4">

                </div>
                <label for="form_condiciionRel" class="col-sm-2 control-label">Min unidad (Man):</label>
                <div class="col-sm-4">
                    {{ form_widget(form.manejoMinimoUnidad) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_condiciionRel" class="col-sm-2 control-label"></label>
                <div class="col-sm-4">

                </div>
                <label for="form_condiciionRel" class="col-sm-2 control-label">Min despacho (Man):</label>
                <div class="col-sm-4">
                    {{ form_widget(form.manejoMinimoDespacho) }}
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <a class="btn btn-default btn-sm" href="{{ path('transporte_administracion_comercial_cliente_lista') }}">Cancelar</a>
        {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
        {{ form_widget(form.guardarnuevo, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
