{% extends 'base_sin_menu.html.twig' %}
{% block title %}Examen detalle nuevo - Soga App{% endblock %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <table class="table table-striped table-bordered table-hover tabla-datos">
        <thead>
        <tr>
            <th>CÓDIGO</th>
            <th>TIPO EXÁMEN</th>
            <th>PRECIO</th>
        </tr>
        </thead>
        <tbody>
        {% for arExamenTipo in arExamenTipos %}
            <tr>
                <td><input type="hidden" name="arrCodigo[]"
                           value="{{ arExamenTipo.codigoExamenTipoPk }}">{{ arExamenTipo.codigoExamenTipoPk }}</td>
                <td>{{ arExamenTipo.nombre }}</td>
                <td style="text-align: center;"><input type="number"
                                                       name="arrPrecio[]"
                                                       value="0"
                                                       style="text-align: right; width:60px"
                                                       size="10"></td>


            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="modal-footer">
        {{ form_widget(form.btnGuardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>
    {{ form_end(form) }}
    <br/><br/><br/><br/>
{% endblock %}