{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="panel panel-default">
        <div class="panel-heading">Informacion general</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Asesor:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.asesorRel, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.asesorRel) }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default btn-sm" href="{{ path('inventario_utilidad_inventario_factura_corregirfactura') }}">Cancelar</a>
        {{ form_widget(form.guardar) }}
    </div>
    {{ form_end(form) }}

{% endblock %}