{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div id="content sortable-grid ui-sortable">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-collapsed="true">
            <header role="heading" class="ui-sortable-handle">
                <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
                <h2>Filtro</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="form-group form-group-sm">
                        <label class=" col-sm-1 control-label">Codigo:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.codigoSolicitudPk) }}
                        </div>
                        <label class=" col-sm-1 control-label">Nombre:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.nombre) }}
                        </div>
                        <label class="col-sm-1 col-sm-offset-3 control-label">Autorizado:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.estadoAutorizado) }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-1 col-sm-offset-9 control-label">Aprobado:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.estadoAprobado) }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-1 col-sm-offset-9 control-label">Anulado:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.estadoAnulado) }}
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <div class="col-sm-offset-2 col-sm-10">
                        {{ form_widget(form.btnFiltrar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover tabla-datos">
        <thead>
        <tr>
            <th>ID</th>
            <th>FECHA</th>
            <th>MOTIVO</th>
            <th>NOMBRE</th>
            <th>GRUPO</th>
            <th title="CANTIDAD SOLICITADA">CANT</th>
            <th>FIJO</th>
            <th>VARIBLE</th>
            <th title="AUTORIZADO">AUT</th>
            <th title="APROBADO">APRO</th>
            <th title="ANULADO">ANU</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for arSolicitud in arSolicitudes %}
            <tr>
                <td>{{ arSolicitud.codigoSolicitudPk }}</td>
                <td>{{ arSolicitud.fecha | date ('Y-m-d') }}</td>
                <td>{{ arSolicitud.motivo }}</td>
                <td>{{ arSolicitud.nombre }}</td>
                <td>{{ arSolicitud.grupo }}</td>
                <td>{{ arSolicitud.cantidadSolicitada }}</td>
                <td>{{ arSolicitud.salarioFijo ? 'SI' : 'NO' }}</td>
                <td>{{ arSolicitud.salarioVariable ? 'SI' : 'NO' }}</td>
                <td>{{ arSolicitud.estadoAutorizado ? 'SI' : 'NO' }}</td>
                <td>{{ arSolicitud.estadoAprobado ? 'SI' : 'NO' }}</td>
                <td>{{ arSolicitud.estadoAnulado ? 'SI' : 'NO' }}</td>
                {% if arSolicitud.estadoAutorizado == 0 %}
                    <td style="text-align: center;">
                        <a href="{{ path('recursohumano_movimiento_seleccion_solicitud_nuevo',{'id': arSolicitud.codigoSolicitudPk }) }}"><i
                                    class="fa fa-edit" style="color: black;font-size: large;"></i></a>
                    </td>
                {% else %}
                    <td></td>
                {% endif %}
                <td style="text-align: center;">
                    <a href="{{ path('recursohumano_movimiento_seleccion_solicitud_detalle',{'id' : arSolicitud.codigoSolicitudPk }) }}">
                        <i class="fa fa-share-square-o" style="font-size: large;color: black;">
                        </i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="btn-group" style="float: left">
        <div class="btn btn-default btn-sm">Registros
            <span class="badge">{{ arSolicitudes.getTotalItemCount }}
            </span>
        </div>
    </div>
    <div class="btn-group btn-xs" style="float: left;margin-top: -18px;">
        {{ knp_pagination_render(arSolicitudes) }}
    </div>
    <div class="btn-group btn-xs" style="float: left; width: 60px">
        {{ form_widget(form.limiteRegistros) }}
    </div>
    <div class="btn-group" style="float: right; margin-right: 5px !important;">
        {{ form_widget(form.btnExcel, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
    </div>
    <div class="btn-group" style="float: right; margin-right: 5px !important;">
        <a class="btn btn-default btn-sm"
           href="{{ path('recursohumano_movimiento_seleccion_solicitud_nuevo', {'id': 0}) }}">Nuevo</a>
    </div>
    <br/><br/>
    {{ form_end(form) }}
{% endblock %}