{% extends 'base_sin_menu.html.twig' %}
{% block content %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Archivos</div>
        <div class="panel-body">
            <div>
                <table  class="table table-striped table-bordered table-condensed table-hover tabla-datos">
                    <tr>
                        <th>ID</th>
                        <th>CODIGO</th>
                        <th>FECHA</th>
                        <th>NOMBRE</th>
                        <th>ARCHIVO</th>
                        <th>USUARIO</th>
                        <th></th>
                        <th></th>
                    </tr>
                    {% for arArchivos in arArchivos %}
                        <tr>
                            <td><input type="hidden" name="LblCodigo[]" value="{{ arArchivos.codigoArchivoPk }}">{{ arArchivos.codigoArchivoPk }} </td>
                            <td>{{ arArchivos.codigo  }}</td>
                            <td>{{ arArchivos.fecha | date ('Y-m-d H:i:s') }}</td>
                            <td>{{ arArchivos.descripcion  }}</td>
                            <td>{{ arArchivos.nombre  }}</td>
                            <td>{{ arArchivos.usuario  }}</td>
                            <td style="text-align: center"><a href="{{ path('documental_general_general_descargar', { 'codigoArchivo': arArchivos.codigoArchivoPk }) }}"><i class="fa fa-download" style="font-size: large;color: black;"></i></a></td>
                            <td style="text-align: center"><a href="{{ path('documental_general_general_eliminar', { 'tipo': tipo, 'codigoMovimiento':codigo,'codigoArchivo': arArchivos.codigoArchivoPk }) }}"onclick='return confirm("Esta seguro de eliminar el archivo?")'><i class="fa fa-trash" style="font-size: large;color: black;"></i></a></td>
                        </tr>
                    {% endfor %}
                </table>
                {{ knp_pagination_render(arArchivos) }}
            </div>
        </div>
        <div class="modal-footer">
            <a  class="btn btn-default btn-sm" href="{{ path('documental_general_general_cargar', { 'tipo': tipo,  'codigo': codigo }) }}">Cargar</a>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">Archivos masivos</div>
        <div class="panel-body">
            <div>                      
                <table  class="table table-striped table-bordered table-condensed table-hover tabla-datos">
                    <tr>
                        <th>ID</th>
                        <th>IDENTIFICADOR</th>
                        <th></th>
                    </tr>
                    {% for arMasivos in arMasivos %}
                    <tr>
                        <td><input type="hidden" name="LblCodigo[]" value="{{ arMasivos.codigoMasivoPk }}">{{ arMasivos.codigoMasivoPk }} </td>
                        <td>{{ arMasivos.identificador  }}</td>
                        <td style="text-align: center"><a href="{{ path('documental_movimiento_masivo_masivo_descargar', { 'codigoArchivo': arMasivos.codigoMasivoPk }) }}"><i class="fa fa-download" style="font-size: large;color: black;"></i></a></td>
                    </tr>
                    {% endfor %}
                </table>
                {{ knp_pagination_render(arMasivos) }}
            </div>                                            
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">Imagen</div>
        <div class="panel-body">
            <div align="center">
                {% if srcImagen %}
                    <img src="{{ srcImagen }}" height="500" width="500" />
                {% endif %}
            </div>
        </div>
        <div class="modal-footer">
            <a  class="btn btn-default btn-sm" href="{{ path('documental_general_general_cargar_imagen', { 'modelo': tipo,  'codigo': codigo }) }}">Cargar imagen</a>
        </div>
    </div>
</div>
{% endblock %}
