{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="panel panel-default">
        <div class="panel-heading">Filtros</div>
        <div class="panel-body">
            {#<div class="form-group form-group-sm">#}
                {#<label for="txtCodigoConductor" class="col-sm-1 control-label">Tercero:</label>#}
                {#<div class="col-sm-11">#}
                    {#<div class="row">#}
                        {#<div class="col-lg-2">#}
                            {#<div class="input-group">#}
                                {#{{ form_widget(form.txtCodigoTercero) }}#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col-lg-10">#}
                            {#<div class="input-group">#}
                                {#<input id="txtNombreCorto"  name="txtNombreCorto"  type="text" class="form-control" value="" readOnly="ReadOnly" />#}
                                {#<span class="input-group-btn">#}
                                        {#<a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('inventario_buscar_tercero', { 'campoCodigo': 'form_txtCodigoTercero', 'campoNombre': 'txtNombreCorto' }) }}', 'buscarTercero', 600, 900)">Buscar</a>#}
                                    {#</span>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            <div class="form-group form-group-sm">
                <label class="col-sm-1 control-label">Desde:</label>
                <div class="col-sm-5">
                    {{ form_widget(form.fechaDesde) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-1 control-label">Hasta:</label>
                <div class="col-sm-5">
                    {{ form_widget(form.fechaHasta) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-1 control-label"></label>
                <div class="col-sm-5">
                    {{ form_widget(form.filtrarFecha) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <div class="col-sm-offset-2 col-sm-10">
                    {{ form_widget(form.btnFiltrar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover tabla-informacion">
            <thead>
            <tr>
                <th>ID</th>
                <th>ASESOR</th>
                <th>TERCERO</th>
                <th>FECHA</th>
                <th>NUMERO</th>
                <th>NETO</th>
                <th>IVA</th>
                <th>TOTAL</th>
            </tr>
            </thead>
            <tbody>
            {% set codigoAsesor = '' %}
            {% set vrNetoAcumulado = 0 %}
            {% set vrIvaAcumulado = 0 %}
            {% set vrTotalAcumulado = 0 %}
            {% set cantRegistros = arFacturas | length %}
            {% set registroActual = 0 %}
            {% for arFactura in arFacturas %}

                {% set registroActual = registroActual + 1 %}

                {% if codigoAsesor != arFactura.asesor %}
                    {% if codigoAsesor != '' %}
                <tr style="background-color: lightgrey;">
                    <td colspan="5"></td>
                    <td class="numero"><strong>{{ vrNetoAcumulado  | number_format(0, '.', ',') }}</strong></td>
                    <td class="numero"><strong>{{ vrIvaAcumulado | number_format(0, '.', ',') }}</strong></td>
                    <td class="numero"><strong>{{ vrTotalAcumulado | number_format(0, '.', ',') }}</strong></td>
                </tr>
                {% set vrNetoAcumulado = 0 %}
                {% set vrIvaAcumulado = 0 %}
                {% set vrTotalAcumulado = 0 %}
                    {% endif %}
                {% set codigoAsesor = arFactura.asesor %}
                <tr style="background-color: #b7bcbc;">
                    <td colspan="8"><strong>{{ codigoAsesor }}</strong></td>
                </tr>
                    {% if vrNetoAcumulado == 0 and vrIvaAcumulado == 0 and vrTotalAcumulado == 0 %}
                        {% set vrNetoAcumulado = arFactura.vrNeto %}
                        {% set vrIvaAcumulado = arFactura.vrIva %}
                        {% set vrTotalAcumulado = arFactura.vrTotal %}
                    {% endif %}
                {% else %}
                    {% set vrNetoAcumulado = vrNetoAcumulado + arFactura.vrNeto %}
                    {% set vrIvaAcumulado = vrIvaAcumulado + arFactura.vrIva %}
                    {% set vrTotalAcumulado = vrTotalAcumulado + arFactura.vrTotal %}
                {% endif %}
                <tr>
                    <td>{{ arFactura.codigoMovimientoPk }}</td>
                    <td>{{ arFactura.asesor }}</td>
                    <td>{{ arFactura.tercero }}</td>
                    <td>{{ arFactura.fecha | date('Y-m-d') }}</td>
                    <td>{{ arFactura.numero }}</td>
                    <td class="numero">{{ arFactura.vrNeto | number_format }}</td>
                    <td class="numero">{{ arFactura.vrIva | number_format }}</td>
                    <td class="numero">{{ arFactura.vrTotal | number_format }}</td>
                </tr>
                {% if cantRegistros == registroActual %}
                <tr style="background-color: lightgrey;">
                    <td colspan="5"></td>
                    <td class="numero"><strong>{{ vrNetoAcumulado  | number_format(0, '.', ',') }}</strong></td>
                    <td class="numero"><strong>{{ vrIvaAcumulado | number_format(0, '.', ',') }}</strong></td>
                    <td class="numero"><strong>{{ vrTotalAcumulado | number_format(0, '.', ',') }}</strong></td>

                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="btn-group" style="float: left">
        <div class="btn btn-default btn-sm">Registros
            <span class="badge">{{ arFacturas.getTotalItemCount }}
            </span>
        </div>
    </div>
    <div class="btn-group btn-xs" style="float: left;margin-top: -18px;">
        {{ knp_pagination_render(arFacturas) }}
    </div>
    <div class="btn-toolbar" style="float: right">
        <div class="btn-group" style="float: right">
            {{ form_widget(form.btnExcel, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
        </div>
    </div>
    <br /><br /><br />
    {{ form_end(form) }}
{% endblock %}
