{% extends "base.html.twig" %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div id="content sortable-grid ui-sortable">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-collapsed="true">
            <header role="heading" class="ui-sortable-handle">
                <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
                <h2>Filtro</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="form-group form-group-sm">
                        <label class="col-sm-1 control-label">Código:</label>
                        <div class="col-sm-5">
                            {{ form_widget(form.codigoGrupoPk, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <label class="col-sm-1 control-label">Nombre:</label>
                        <div class="col-sm-5">
                            {{ form_widget(form.nombre, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <div class="col-sm-offset-2 col-sm-10">
                        {{ form_widget(form.btnFiltrar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover tabla-datos">
        <thead>
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>DISTRIBUCIÓN</th>
                <th title="Carga contratos">CC</th>
                <th title="Carga soportes">CS</th>
                <th title="Genera pedido">PED</th>
                <th></th>
                <th></th>
                <th class="text-center" title="seleccionar todos"><input type="checkbox" name="ChkSeleccionarTodos" onclick="ChequearTodosTabla(this, 'ChkSeleccionar[]')"> </th>
            </tr>
        </thead>
        <tbody>
            {% for arGrupo in arGrupos %}
            <tr>
                <td>{{ arGrupo.codigoGrupoPk }}</td>
                <td>{{ arGrupo.nombre }}</td>
                <td>{{ arGrupo.codigoDistribucionFk }}</td>
                <td>{{ arGrupo.cargarContrato ? "SI": "NO" }}</td>
                <td>{{ arGrupo.cargarSoporte ? "SI": "NO" }}</td>
                <td>{{ arGrupo.generaPedido ? "SI": "NO" }}</td>
                <td class="text-center">
                    <a href="{{ path('recursohumano_administracion_general_grupo_nuevo',{'id': arGrupo.codigoGrupoPk }) }}"><i
                                class="fa fa-edit" style="color: black;font-size: large;"></i></a>
                </td>
                <td style="text-align: center;">
                    <a href="{{ path('recursohumano_administracion_general_grupo_detalle',{'id' : arGrupo.codigoGrupoPk}) }}">
                        <i class="fa fa-share-square-o" style="font-size: large;color: black;">
                        </i>
                    </a>
                </td>
                <td class="text-center">
                    <input type="checkbox" name="ChkSeleccionar[]" value="{{  arGrupo.codigoGrupoPk }}"/>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="btn-group" style="float: left">
        <div class="btn btn-default btn-sm">
            Registros <span class="badge">{{ arGrupos.getTotalItemCount }}</span>
        </div>
    </div>
    <div class="btn-group btn-xs" style="float: left;margin-top: -18px;">
        {{ knp_pagination_render(arGrupos) }}
    </div>
    <div class="btn-group btn-xs" style="float: left; width: 60px">
        {{ form_widget(form.limiteRegistros) }}
    </div>
    <div class="btn-group" style="float: right; margin-right: 5px !important;">
        {{ form_widget(form.btnEliminar, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}
    </div>
    <div class="btn-group" style="float: right; margin-right: 5px !important;">
        {{ form_widget(form.btnExcel, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
    </div>
    <div class="btn-group" style="float: right; margin-right: 5px !important;">
        <a class="btn btn-default btn-sm"
           href="{{ path('recursohumano_administracion_general_grupo_nuevo',{'id':0}) }}">Nuevo</a>
    </div>
    <br><br><br>
    {{ form_end(form) }}
{% endblock %}