{% extends 'base.html.twig' %}
{% block content %}
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>REG</th>
            <th>FECHA</th>
            <th>CLIENTE</th>
            <th>ORIGEN</th>
            <th>DESTINO</th>
            <th>P</th>
            <th>R</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for arRecogida in arRecogidas %}
            <tr>
                <td>{{ arRecogida.codigoRecogidaPk }}</td>
                <td>{{ arRecogida.fechaRegistro | date('Y-m-d') }}</td>
                <td>{{ arRecogida.fecha | date('Y-m-d') }}</td>
                <td>{{ arRecogida.clienteNombreCorto }}</td>
                <td>{{ arRecogida.ciudad }}</td>
                <td>{{ arRecogida.ciudadDestino }}</td>
                <td>{{ arRecogida.estadoProgramado?'SI':'NO' }}</td>
                <td>{{ arRecogida.estadoRecogido?'SI':'NO' }}</td>
                <td style="text-align: center"><a href="{{ path('mto_recogida_recogida_detalle', { 'codigoRecogida': arRecogida.codigoRecogidaPk }) }}"><img src="{{ asset('build/img/bootstrap/glyphicons_152_new_window.png') }}"></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
