{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="panel panel-default">
        <div class="panel-heading">Informacion general</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="form_recogidaTipoRel" class="col-sm-2 control-label">Año:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.anio, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <label for="form_plazoPago" class="col-sm-2 control-label">Mes:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.mes, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_recogidaTipoRel" class="col-sm-2 control-label"></label>
                <div class="col-sm-4">

                </div>
                <label for="form_plazoPago" class="col-sm-2 control-label">Centro costo:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.codigoCentroCostoFk) }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default btn-sm" href="{{ path('transporte_movimiento_financiero_intermediacion_lista') }}">Cancelar</a>
        {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
        {{ form_widget(form.guardarnuevo, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>
    {{ form_end(form) }}

{% endblock %}
