{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(formConfiguracion, { 'attr': {'class': 'form-horizontal'} }) }}
    {{ form_start(formConceptoHora, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="panel panel-default">
        <div class="panel-heading">Configuracion</div>
        <div class="panel-body">
            {{ form_row(formConfiguracion._token) }}
            <div class="form-group form-group-sm">
                <label for="" class="col-sm-2 control-label">Salario mínimo: $</label>
                <div class="col-sm-4">
                    {{ form_widget(formConfiguracion.vrSalarioMinimo ) }}
                    {{ form_errors(formConfiguracion.vrSalarioMinimo ) }}
                </div>
                <label for="" class="col-sm-2 control-label">Auxilio de transporte: $</label>
                <div class="col-sm-4">
                    {{ form_widget(formConfiguracion.vrAuxilioTransporte ) }}
                    {{ form_errors(formConfiguracion.vrAuxilioTransporte ) }}
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="panel panel-default">
        <div class="panel-heading">Conceptos</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="" class="control-label col-sm-2">Auxilio de transporte:</label>
                <div class="col-sm-4">
                    {{ form_widget(formConfiguracion.conceptoRel ) }}
                    {{ form_errors(formConfiguracion.conceptoRel ) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="" class="col-sm-2 control-label">Horas diurnas:</label>
                <div class="col-sm-4">
                    {{ form_widget(formConceptoHora.DConceptoRel , {'attr':{'class': 'to-select-2'}}) }}
                </div>
                <label for="" class="col-sm-2 control-label">Horas nocturnas:</label>
                <div class="col-sm-4">
                    {{ form_widget(formConceptoHora.NConceptoRel , {'attr':{'class': 'to-select-2'}}) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="" class="col-sm-2 control-label">Horas festivas diurnas:</label>
                <div class="col-sm-4">
                    {{ form_widget(formConceptoHora.FDConceptoRel , {'attr':{'class': 'to-select-2'}}) }}
                </div>
                <label for="" class="col-sm-2 control-label">Horas festvias nocturnas:</label>
                <div class="col-sm-4">
                    {{ form_widget(formConceptoHora.FNConceptoRel , {'attr':{'class': 'to-select-2'}}) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="" class="col-sm-2 control-label">Horas extras ordinarias diurnas:</label>
                <div class="col-sm-4">
                    {{ form_widget(formConceptoHora.EODConceptoRel , {'attr':{'class': 'to-select-2'}}) }}
                </div>
                <label for="" class="col-sm-2 control-label">Horas extras ordinarias nocturnas:</label>
                <div class="col-sm-4">
                    {{ form_widget(formConceptoHora.EONConceptoRel , {'attr':{'class': 'to-select-2'}}) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="" class="col-sm-2 control-label">Horas extras festivas diurnas:</label>
                <div class="col-sm-4">
                    {{ form_widget(formConceptoHora.EFDConceptoRel , {'attr':{'class': 'to-select-2'}}) }}
                </div>
                <label for="" class="col-sm-2 control-label">Horas extras festivas nocturnas:</label>
                <div class="col-sm-4">
                    {{ form_widget(formConceptoHora.EFNConceptoRel , {'attr':{'class': 'to-select-2'}}) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="" class="col-sm-2 control-label">Horas recargo festivo diurno:</label>
                <div class="col-sm-4">
                    {{ form_widget(formConceptoHora.RFDConceptoRel , {'attr':{'class': 'to-select-2'}}) }}
                </div>
                <label for="" class="col-sm-2 control-label">Horas recargo festivo nocturna:</label>
                <div class="col-sm-4">
                    {{ form_widget(formConceptoHora.RFNConceptoRel , {'attr':{'class': 'to-select-2'}}) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="" class="col-sm-2 control-label">Horas recargo nocturno:</label>
                <div class="col-sm-4">
                    {{ form_widget(formConceptoHora.RNConceptoRel , {'attr':{'class': 'to-select-2'}}) }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        {{ form_widget(formConceptoHora.btnGuardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>
    {{ form_end(formConceptoHora) }}
    {{ form_end(formConfiguracion) }}
{% endblock %}
