{% extends 'base_sin_menu.html.twig' %}
{% block title %}Pedido detalle nuevo - Semantica{% endblock %}
{% block content %}
    <section class="content-header">
        <h1>
            Programacion turnos
            <small>Pedido: nuevo detalle</small>
        </h1>
    </section>

    <section class="content">
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
        <div class="panel panel-default">
            <div class="panel-heading">Informacion</div>
            <div class="panel-body">
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">Concepto:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.conceptoRel) }}
                        {{ form_errors(form.conceptoRel) }}
                    </div>
                    <label class="col-sm-2 control-label">Item:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.itemRel) }}
                        {{ form_errors(form.itemRel) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">Puesto:</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.puestoRel) }}
                        {{ form_errors(form.puestoRel) }}

                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">Modalidad:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.modalidadRel) }}
                        {{ form_errors(form.modalidadRel) }}
                    </div>
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-1">
                    </div>
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-1">
                    </div>
                    <label class="col-sm-2 control-label">Cantidad:</label>
                    <div class="col-sm-1">
                        {{ form_widget(form.cantidad) }}
                        {{ form_errors(form.cantidad) }}

                    </div>
                    <label class="col-sm-2 control-label">Porcentaje AIU:</label>
                    <div class="col-sm-1">
                        {{ form_widget(form.porcentajeBaseIva, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.porcentajeBaseIva) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">Periodo:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.periodo) }}
                        {{ form_errors(form.periodo) }}
                    </div>
                    <label class="col-sm-2 control-label">Salario (Liquidacion):</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.vrSalarioBase) }}
                        {{ form_errors(form.vrSalarioBase) }}

                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">Desde:</label>
                    <div class="col-sm-1">
                        {{ form_widget(form.diaDesde) }}
                    </div>
                    <label class="col-sm-2 control-label">Hasta:</label>
                    <div class="col-sm-1">
                        {{ form_widget(form.diaHasta) }}
                    </div>
                    <label class="col-sm-2 control-label">Precio (Ajustado):</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.vrPrecioAjustado) }}
                        {{ form_errors(form.vrPrecioAjustado) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">Hora desde:</label>
                    <div class="col-sm-2">
                        {{ form_widget(form.horaDesde) }}
                    </div>
                    <label class="col-sm-2 control-label">Hora hasta:</label>
                    <div class="col-sm-2">
                        {{ form_widget(form.horaHasta) }}
                    </div>
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-4">

                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-2">
                        {{ form_widget(form.lunes) }}
                        {{ form_widget(form.martes) }}
                        {{ form_widget(form.miercoles) }}
                        {{ form_widget(form.jueves) }}
                    </div>
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-2">
                        {{ form_widget(form.viernes) }}
                        {{ form_widget(form.sabado) }}
                        {{ form_widget(form.domingo) }}
                        {{ form_widget(form.festivo) }}
                    </div>
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-2">
                        {{ form_widget(form.compuesto) }}
                        {{ form_widget(form.diasReales) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
        </div>
        {{ form_end(form) }}
        <br/><br/><br/><br/>
    </section>
{% endblock %}