{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div id="content sortable-grid ui-sortable">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-collapsed="true">
            <header>
                <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
                <h2>Filtro</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="form-group form-group-sm">
                        <label for="txtCodigoConductor" class="col-sm-1 control-label">Cliente:</label>
                        <div class="col-sm-11">
                            <div class="row">
                                <div class="col-lg-2">
                                    <div class="input-group">
                                        {{ form_widget(form.codigoClienteFk) }}
                                    </div>
                                </div>
                                <div class="col-lg-10">
                                    <div class="input-group">
                                        <input id="form_txtNombreCorto" class="form-control" readonly>
                                        <span class="input-group-btn">
                                            <a class="btn btn-default btn-sm"
                                               href="javascript:abrirVentana3('{{ path('turno_buscar_cliente',
                                                   { 'campoCodigo': 'form_codigoClienteFk', 'campoNombre': 'form_txtNombreCorto' }) }}', 'buscarCliente', 600, 900)">Buscar</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="" class="control-label col-sm-1">Numero:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.numero) }}
                        </div>
                        <label for="" class="control-label col-sm-1">Codigo:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.codigoPedidoPk) }}
                        </div>
                        <label for="" class="control-label col-sm-1">Tipo:</label>
                        <div class="col-sm-5">
                            {{ form_widget(form.codigoPedidoTipoFk) }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-1 control-label">Desde:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.fechaDesde) }}
                        </div>
                        <label for="" class="control-label col-sm-offset-6 col-sm-1">Autorizado:</label>
                        <div class="col-sm-2">
                            {{ form_widget((form.estadoAutorizado)) }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-1 control-label">Hasta:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.fechaHasta) }}
                        </div>
                        <label for="" class="control-label  col-sm-offset-6 col-sm-1">Aprobado:</label>
                        <div class="col-sm-2">
                            {{ form_widget((form.estadoAprobado)) }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="" class="control-label  col-sm-offset-9 col-sm-1">Anulado:</label>
                        <div class="col-sm-2">
                            {{ form_widget((form.estadoAnulado)) }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <div class="col-sm-offset-2 col-sm-10">
                            {{ form_widget(form.btnFiltro, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover tabla-datos">
        <thead>
        <tr>
            <th>ID</th>
            <th>TIPO</th>
            <th>NÚMERO</th>
            <th>FECHA</th>
            <th>CLIENTE</th>
            <th>SECTOR</th>
            <th title="HORAS">H</th>
            <th title="HORAS DIURNAS">HD</th>
            <th title="HORAS NOCTURNAS">HN</th>
            <th>SUBTOTAL</th>
            <th>IVA</th>
            <th>TOTAL</th>
            <th title="Entregada">USUARIO</th>
            <th title="Autorizado">AUT</th>
            <th title="Aprobado">APR</th>
            <th title="Aprobado">ANU</th>
            <th></th>
            <th></th>
            <th class="text-center" title="seleccionar todos"><input type="checkbox" name="ChkSeleccionarTodos"
                                                                     onclick="ChequearTodosTabla(this, 'ChkSeleccionar[]')">
            </th>
        </tr>
        </thead>
        <tbody>
        {% for arPedido in arPedidos %}
            <tr>
                <td>{{ arPedido.codigoPedidoPk }}</td>
                <td>{{ arPedido.pedidoTipoNombre }}</td>
                <td>{{ arPedido.numero }}</td>
                <td>{{ arPedido.fecha | date("Y-m-d") }}</td>
                <td>{{ arPedido.clienteNombreCorto }}</td>
                <td>{{ arPedido.sectorNombre }}</td>
                <td class="numero">{{ arPedido.horas | number_format }}</td>
                <td class="numero">{{ arPedido.horasDiurnas | number_format }}</td>
                <td class="numero">{{ arPedido.horasNocturnas | number_format }}</td>
                <td class="numero">{{ arPedido.vrSubtotal | number_format(0, '.', ',') }}</td>
                <td class="numero">{{ arPedido.vrIva | number_format(0, '.', ',') }}</td>
                <td class="numero">{{ arPedido.vrTotal | number_format(0, '.', ',') }}</td>
                <td>{{ arPedido.usuario }}</td>
                <td>{{ arPedido.estadoAutorizado? "SI":"NO" }}</td>
                <td>{{ arPedido.estadoAprobado? "SI":"NO" }}</td>
                <td>{{ arPedido.estadoAnulado? "SI":"NO" }}</td>
                {% if arPedido.estadoAutorizado %}
                    <td></td>
                {% else %}
                    <td class="text-center">
                        <a href="{{ path('turno_movimiento_venta_pedido_nuevo',{'id': arPedido.codigoPedidoPk}) }}"><i
                                    class="fa fa-edit" style="color: black;font-size: large;"></i></a>
                    </td>
                {% endif %}
                <td class="text-center">
                    <a href="{{ path('turno_movimiento_venta_pedido_detalle',{'id' : arPedido.codigoPedidoPk}) }}">
                        <i class="fa fa-share-square-o" style="font-size: large;color: black;">
                        </i>
                    </a>
                </td>
                <td class="text-center">
                    <input type="checkbox" name="ChkSeleccionar[]" value="{{ arPedido.codigoPedidoPk }}"/>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="btn-group" style="float: left">
        <div class="btn btn-default btn-sm">Registros
            <span class="badge">{{ arPedidos.getTotalItemCount }}
            </span>
        </div>
    </div>
    <div class="btn-group btn-xs" style="float: left;margin-top: -18px;">
        {{ knp_pagination_render(arPedidos) }}
    </div>
    <div class="btn-group btn-xs" style="float: left; width: 60px">
        {{ form_widget(form.limiteRegistros) }}
    </div>
    <div class="btn-group" style="float: right; margin-right: 5px !important;">
        {{ form_widget(form.btnEliminar, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}
    </div>
    <div class="btn-group" style="float: right; margin-right: 5px !important;">
        {{ form_widget(form.btnExcel, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
    </div>
    <div class="btn-group" style="float: right; margin-right: 5px !important;">
        <a class="btn btn-default btn-sm"
           href="{{ path('turno_movimiento_venta_pedido_nuevo', {'id': 0}) }}">Nuevo</a>
    </div>
    <br/><br/><br/>
    {{ form_end(form) }}
{% endblock %}