{% extends "base.html.twig" %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <section class="content">
        <a href="{{ path('turno_movimiento_venta_pedido_detalle', {'id':arPedidoDetalle.codigoPedidoFk}) }}" class="btn btn-default btn-sm">Volver</a>
        <br><br>
        <!-- Encabezado Movimiento -->
        <table width="100%" class="table table-condensed table-bordered tabla-informacion">
            <tr>
                <td class="titulo">CODIGO:</td>
                <td class="td-in-well">{{ arPedidoDetalle.codigoPedidoDetallePk }}</td>
                <td class="titulo">MINIMO:</td>
                <td align="right">{{ arPedidoDetalle.vrPrecioMinimo | number_format(0, '.', ',') }}</td>
            </tr>
            <tr>
                <td class="titulo">CLIENTE:</td>
                <td class="td-in-well">{{ arPedidoDetalle.pedidoRel.clienteRel.nombreCorto }}</td>
                <td class="titulo">AJUSTADO:</td>
                <td align="right">{{ arPedidoDetalle.vrPrecioAjustado | number_format(0, '.', ',') }}</td>
            </tr>
            <tr>
                <td class="titulo">HORAS:</td>
                <td align="right">{{ arPedidoDetalle.horas | number_format(0, '.', ',') }}</td>
                <td class="titulo">SUBTOTAL:</td>
                <td align="right">{{ arPedidoDetalle.vrSubtotal | number_format(0, '.', ',') }}</td>
            </tr>
            <tr>
                <td class="titulo">HORAS DIURNAS:</td>
                <td align="right">{{ arPedidoDetalle.horasDiurnas | number_format(0, '.', ',') }}</td>
                <td class="titulo">BASE AIU:</td>
                <td align="right">{{ arPedidoDetalle.vrBaseIva | number_format(0, '.', ',') }}</td>
            </tr>
            <tr>
                <td class="titulo">HORAS NOCTURNAS:</td>
                <td align="right">{{ arPedidoDetalle.horasNocturnas | number_format(0, '.', ',') }}</td>
                <td class="titulo">IVA:</td>
                <td align="right">{{ arPedidoDetalle.vrIva | number_format(0, '.', ',') }}</td>
            </tr>
            <tr>
                <td class="titulo"></td>
                <td align="right"></td>
                <td class="titulo">TOTAL:</td>
                <td align="right">{{ arPedidoDetalle.vrTotal | number_format(0, '.', ',') }}</td>
            </tr>
        </table>
        <!-- Fin Encabezado Movimiento -->

        <ul class="nav nav-tabs">
            <li class="active"><a href="#detalles" data-toggle="tab">Detalles</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="detalles">
                <div id="detalles" style="width: 100%"><br>
                    <div class="table-responsive">
                    <table class="table table-striped table-bordered table-condensed tabla-datos">
                        <thead>
                        <tr>
                            <th>COD</th>
                            <th>MODALIDAD</th>
                            <th>PERIODO</th>
                            <th>DES</th>
                            <th>HAS</th>
                            <th title="Hora inicia el servicio">H_I</th>
                            <th title="Hora finaliza el servicio">H_F</th>
                            <th title="Liquidar dias reales">LDR</th>
                            <th title="Cantidad de recuresos">CANT</th>
                            <th>LU</th>
                            <th>MA</th>
                            <th>MI</th>
                            <th>JU</th>
                            <th>VI</th>
                            <th>SA</th>
                            <th>DO</th>
                            <th>FE</th>
                            <th title="Horas totales">H</th>
                            <th title="Horas diurnas">HD</th>
                            <th title="Horas nocturnas">HN</th>
                            <th>DIAS</th>
                            <th title="Precio minimo">P.MINIMO</th>
                            <th title="Precio ajustado">P.AJUSTADO</th>
                            <th>SUBTOTAL</th>
                            <th></th>
                            <th><input type="checkbox" name="ChkSeleccionarTodos"
                                       OnClick="ChequearTodosTabla(this, 'ChkSeleccionar[]');"/></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for arPedidoDetalleCompuesto in arPedidoDetallesCompuestos %}
                            <tr>
                                <td>{{ arPedidoDetalleCompuesto.codigoPedidoDetalleCompuestoPk }} <input type="hidden" name="arrCodigo[]" value="{{ arPedidoDetalleCompuesto.codigoPedidoDetalleCompuestoPk }}"></td>
                                <td>{{ arPedidoDetalleCompuesto.modalidadNombre }}</td>
                                <td>{{ arPedidoDetalleCompuesto.periodo }}</td>
                                <td>{{ arPedidoDetalleCompuesto.diaDesde }}</td>
                                <td>{{ arPedidoDetalleCompuesto.diaHasta }}</td>
                                <td>{{ arPedidoDetalleCompuesto.horaDesde | date('H:i') }}</td>
                                <td>{{ arPedidoDetalleCompuesto.horaHasta | date('H:i') }}</td>
                                <td>{{ arPedidoDetalleCompuesto.diasReales?"SI" :"NO" }}</td>
                                <td>{{ arPedidoDetalleCompuesto.cantidad }}</td>
                                <td>{{ arPedidoDetalleCompuesto.lunes?"SI" :"NO" }}</td>
                                <td>{{ arPedidoDetalleCompuesto.martes?"SI" :"NO" }}</td>
                                <td>{{ arPedidoDetalleCompuesto.miercoles?"SI" :"NO" }}</td>
                                <td>{{ arPedidoDetalleCompuesto.jueves?"SI" :"NO" }}</td>
                                <td>{{ arPedidoDetalleCompuesto.viernes?"SI" :"NO" }}</td>
                                <td>{{ arPedidoDetalleCompuesto.sabado?"SI" :"NO" }}</td>
                                <td>{{ arPedidoDetalleCompuesto.domingo?"SI" :"NO" }}</td>
                                <td>{{ arPedidoDetalleCompuesto.festivo?"SI" :"NO" }}</td>
                                <td class="test-right">{{ arPedidoDetalleCompuesto.horas | number_format(0, '.', ',') }}</td>
                                <td class="test-right">{{ arPedidoDetalleCompuesto.horasDiurnas | number_format(0, '.', ',') }}</td>
                                <td class="test-right">{{ arPedidoDetalleCompuesto.horasNocturnas | number_format(0, '.', ',') }}</td>
                                <td class="test-right">{{ arPedidoDetalleCompuesto.dias | number_format(0, '.', ',') }}</td>
                                <td class="test-right">{{ arPedidoDetalleCompuesto.vrPrecioMinimo | number_format(0, '.', ',') }}</td>
                                {% if arPedido.estadoAutorizado == 0 %}
                                    <td style="text-align: center;"><input type="number"
                                                                           name="arrPrecioAjustado[{{ arPedidoDetalleCompuesto.codigoPedidoDetalleCompuestoPk }}]"
                                                                           value="{{ arPedidoDetalleCompuesto.vrPrecioAjustado }}"
                                                                           style="text-align: right; width:60px"
                                                                           size="10"></td>
                                {% else %}
                                    <td style="text-align: right">{{ arPedidoDetalleCompuesto.vrPrecioAjustado | number_format(0, '.', ',') }}</td>
                                {% endif %}
                                <td style="text-align: right">{{ arPedidoDetalleCompuesto.vrSubtotal | number_format(0, '.', ',') }}</td>
                                                                <td>{% if arPedido.estadoAutorizado == 0 %}<a href="javascript:abrirVentana3('{{ path('turno_movimiento_venta_pedido_detalle_compuesto_nuevo', {'codigoPedidoDetalle': arPedidoDetalleCompuesto.codigoPedidoDetalleFk, 'codigoPedidoDetalleCompuesto': arPedidoDetalleCompuesto.codigoPedidoDetalleCompuestoPk }) }}', 'AgregarNuevoDetalle', 600, 900)"><i
                                                                                title="Editar el registro" class="fa fa-edit" style="font-size: large;color: black;"></i></a>{% endif %}</td>
                                <td><input type="checkbox" name="ChkSeleccionar[]"
                                           value="{{ arPedidoDetalleCompuesto.codigoPedidoDetalleCompuestoPk }}"/>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="btn-group" style="float: left">
                        <div class="btn btn-default btn-sm">Registros
                            <span class="badge">{{ arPedidoDetallesCompuestos.getTotalItemCount }}
                    </span>
                        </div>
                    </div>
                    <div class="btn-group btn-xs" style="float: left;margin-top: -18px;">
                        {{ knp_pagination_render(arPedidoDetallesCompuestos) }}
                    </div>
                    <div class="btn-group" style="float: right; margin-right: 5px !important;">
                        {{ form_widget(form.btnEliminar, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}
                    </div>
                    <div class="btn-group" style="float: right; margin-right: 5px !important;">
                        {{ form_widget(form.btnActualizar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                    </div>
                    <div class="btn-group" style="float: right; margin-right: 5px !important;">
                        <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('turno_movimiento_venta_pedido_detalle_compuesto_nuevo',
                            {   'codigoPedidoDetalle': arPedidoDetalle.codigoPedidoDetallePk,
                                'codigoPedidoDetalleCompuesto': 0 }) }}', 'AgregarNuevoDetalle', 600, 900)">Nuevo</a>

                    </div>
                </div>
            </div>
        </div>
        </div>
        <br/><br/><br/><br/>
    </section>
    {{ form_end(form) }}
{% endblock %}
