{% extends 'base.html.twig' %}
{% block content %}
    {% set tipoFactura = '' %}
    {% set contador = 0 %}
    {% set numeroFacturas = arFacturas|length %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="panel panel-default">
        <div class="panel-heading">Filtros</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label class="col-sm-1 control-label">Fecha:</label>
                <div class="col-sm-5">
                    {{ form_widget(form.fecha) }}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            {{ form_widget(form.btnFiltrar) }}
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>DESDE</th>
            <th>HASTA</th>
        </tr>
        </thead>
        <tbody>
        {% for arFacturaTipo in arFacturasTipos %}
            <tr>
                <td>{{ arFacturaTipo.codigoFacturaTipoPk }}</td>
                <td>{{ arFacturaTipo.nombre }}</td>
                <td>{{ arFacturaTipo.desde }}</td>
                <td>{{ arFacturaTipo.hasta }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br/>
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>FACTURA</th>
            <th>FECHA</th>
            <th>CLIENTE</th>
            <th>FLETE</th>
            <th>MANEJO</th>
            <th>TOTAL</th>
        </tr>
        </thead>
        <tbody>
        {% set tipoFactura = '' %}
        {% set contador = 0 %}
        {% for arFactura in arFacturas %}
            {% if tipoFactura != arFactura.codigoFacturaTipoFk %}
                {% if contador > 0 %}

                {% endif %}
                <tr>
                    <td id="suptipo" colspan="8">{{ arFactura.codigoFacturaTipoFk }} {{ arFactura.nombre }}</td>
                </tr>
                {% set tipoFactura = arFactura.codigoFacturaTipoFk %}
            {% endif %}
            <tr>
                <td>{{ arFactura.codigoFacturaPk }}</td>
                <td>{{ arFactura.numero }}</td>
                <td>{{ arFactura.fecha | date('Y-m-d') }}</td>
                <td>{{ arFactura.nombreCorto }}</td>
                <td class="numero">{{ arFactura.vrFlete * arFactura.operacionComercial | number_format(0, '.', ',') }}</td>
                <td class="numero">{{ arFactura.vrManejo * arFactura.operacionComercial | number_format(0, '.', ',') }}</td>
                <td class="numero">{{ arFactura.vrTotalOperado | number_format(0, '.', ',') }}</td>
            </tr>
            {% set contador = contador + 1 %}
        {% endfor %}
        </tbody>
    </table>
    <div class="btn-group" style="float: right">
        {{ form_widget(form.btnPdf, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
    </div>
    {{ form_end(form) }}
{% endblock %}

