{% extends 'base_inventario.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="panel panel-default">
        <div class="panel-heading">Información general</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="form_nombre" class="col-sm-2 control-label">Nombre:</label>
                <div class="col-sm-3">
                    {{ form_widget(form.nombre,{'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.nombre) }}
                </div>
                <label for="form_codigoBarras" class="col-sm-2 control-label">Código de barras:</label>
                <div class="col-sm-3">
                    {{ form_widget(form.codigoBarras,{'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.codigoBarras)}}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_vrPrecioPredeterminado" class="col-sm-2 control-label">Precio predeterminado:</label>
                <div class="col-sm-3">
                    {{ form_widget(form.vrPrecioPredeterminado,{'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.vrPrecioPredeterminado)}}
                </div>
                <label for="form_porcentajeIva" class="col-sm-2 control-label">Porcentaje iva:</label>
                <div class="col-sm-3">
                    {{ form_widget(form.porcentajeIva,{'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.porcentajeIva)}}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_stockMinimo" class="col-sm-2 control-label">Stock mínimo:</label>
                <div class="col-sm-3">
                    {{ form_widget(form.stockMinimo,{'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.stockMinimo)}}
                </div>
                <label for="form_porcentajeIva" class="col-sm-2 control-label">Stock maximo:</label>
                <div class="col-sm-3">
                    {{ form_widget(form.stockMaximo,{'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.stockMaximo)}}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_afectaInventario" class="col-sm-2 control-label">Afecta inventario</label>
                <div class="col-sm-3">
                    {{ form_widget(form.afectaInventario) }}
                    {{ form_errors(form.afectaInventario)}}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_descripcion" class="col-sm-2 control-label">Descripción</label>
                <div class="col-sm-8">
                    {{ form_widget(form.descripcion, {'attr':{'class':'form-control','rows':'10'}}) }}
                    {{ form_errors(form.descripcion)}}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default btn-sm" href="{{ path('lista',{'entidad' : 'InvItem' }) }}">Cancelar</a>
        {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
        {{ form_widget(form.guardarnuevo, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}
