{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    {{ notificar()|raw }}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-default btn-sm" href="{{ path('transporte_administracion_transporte_vehiculo_lista') }}">Volver</a>
        </div>
        <div class="btn-group">
            {% if clase is defined %}
                <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('documental_general_general_lista', { 'tipo': clase.clase,  'codigo': clase.codigo }) }}', 'Archivos', 500, 800)">Archivos</a>
                {{ form_widget(form.btnImprimir, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
            {% endif %}
        </div>
    </div>
    <br /><br />
    <table width="100%" class="table table-condensed table-bordered tabla-informacion">
        <tr>
            <td class="titulo"><b>CODIGO VEHICULO:</b></td>
            <td class="td-in-well">{{ arVehiculo.codigoVehiculoPk }}</td>
            <td class="titulo"><b>PLACA:</b></td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arVehiculo.placa }}</td>
        </tr>
        <tr>
            <td class="titulo"><b>PLACA REMOLQUE:</b></td>
            <td class="td-in-well">{{ arVehiculo.placaRemolque }}</td>
            <td class="titulo"><b>MODELO:</b></td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arVehiculo.modelo }}</td>
        </tr>
        <tr>
            <td class="titulo"><b>MODELO REPOTENCIADO:</b></td>
            <td class="td-in-well">{{ arVehiculo.modeloRepotenciado }}</td>
            <td class="titulo"><b>MOTOR:</b></td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arVehiculo.motor }}</td>
        </tr>
        <tr>
            <td class="titulo"><b>TIPO COMBUSTIBLE:</b></td>
            <td class="td-in-well">{{ arVehiculo.tipoCombustibleRel.nombre }}</td>
            <td class="titulo"><b>TIPO CARROCERIA:</b></td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arVehiculo.tipoCarroceriaRel.nombre }}</td>
        </tr>
        <tr>
            <td class="titulo"><b>NUMERO EJES:</b></td>
            <td class="td-in-well">{{ arVehiculo.numeroEjes }}</td>
            <td class="titulo"><b>CHASIS:</b></td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arVehiculo.chasis }}</td>
        </tr>
        <tr>
            <td class="titulo"><b>SERIE:</b></td>
            <td class="td-in-well">{{ arVehiculo.serie }}</td>
            <td class="titulo"><b>MARCA:</b></td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arVehiculo.marcaRel.nombre | default("") }}</td>
        </tr>
        <tr>
            <td class="titulo"><b>PESO VACIO:</b></td>
            <td class="td-in-well">{{ arVehiculo.pesoVacio }}</td>
            <td class="titulo"><b>CAPACIDAD:</b></td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arVehiculo.capacidad }}</td>
        </tr>
        <tr>
            <td class="titulo"><b>COLOR:</b></td>
            <td class="td-in-well">{{ arVehiculo.colorRel.nombre | default("") }}</td>
            <td class="titulo"><b>CONFIGURACION:</b></td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arVehiculo.configuracion }}</td>
        </tr>
        <tr>
            <td class="titulo"><b>POSEEDOR:</b></td>
            <td class="td-in-well">{{ arVehiculo.poseedorRel.nombreCorto | default("") }}</td>
            <td class="titulo"><b>PROPIETARIO:</b></td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arVehiculo.propietarioRel.nombreCorto }}</td>
        </tr>
        <tr>
            <td class="titulo"><b>CELULAR:</b></td>
            <td class="td-in-well">{{ arVehiculo.celular }}</td>
            <td class="titulo"><b>FECHA VENCIMIENTO TECNICO-MECANICA:</b></td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arVehiculo.fechaVenceTecnicomecanica | date('Y-m-d') }}</td>
        </tr>
    </table>
    </br>
    {{ form_end(form) }}
{% endblock %}
