{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div id="content sortable-grid ui-sortable">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-collapsed="true">
            <header role="heading" class="ui-sortable-handle">
                <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
                <h2>Filtro</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="form-group form-group-sm">
                        <label class="col-sm-1 control-label">Placa:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.placa, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <div class="col-sm-offset-2 col-sm-10">
                            {{ form_widget(form.btnFiltrar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-bordered table-hover tabla-datos tabla-informacion">
            <thead>
                <tr>
                    <th title="Codigo de vehiculo">ID</th>
                    <th title="placa">PLACA</th>
                    <th title="Placa remolque">REM</th>
                    <th title="Marca">MARCA</th>
                    <th title="Modelo">MODELO</th>
                    <th title="Motor">MOTOR</th>
                    <th title="Numero ejes">EJES</th>
                    <th >CELULAR</th>
                    <th title="Fecha vence poliza">F_POL</th>
                    <th title="Poseedor del vehiculo">POSEEDOR</th>
                    <th title="Propietario">PROPIETARIO</th>
                    <th></th>
                    <th></th>
                    <th><input type="checkbox" name="ChkSeleccionar" onclick="ChequearTodosTabla(this, 'ChkSeleccionar[]');"></th>
                </tr>
            </thead>
            <tbody>
            {% for arRegistro in arRegistros %}
                <tr>
                    <td>{{ arRegistro.codigoVehiculoPk }}</td>
                    <td>{{ arRegistro.placa }}</td>
                    <td>{{ arRegistro.placaRemolque }}</td>
                    <td>{{ arRegistro.marca }}</td>
                    <td>{{ arRegistro.modelo }}</td>
                    <td>{{ arRegistro.motor }}</td>
                    <td>{{ arRegistro.numeroEjes }}</td>
                    <td>{{ arRegistro.celular }}</td>
                    <td>{{ arRegistro.fechaVencePoliza | date('Y-m-d') }}</td>
                    <td>{{ arRegistro.propietario }}</td>
                    <td>{{ arRegistro.poseedor }}</td>
                    <td class="text-center">
                        <a href="{{ path('transporte_administracion_transporte_vehiculo_nuevo',{'id': arRegistro.codigoVehiculoPk }) }}"><i
                                    class="fa fa-edit" style="color: black;font-size: large;"></i></a>
                    </td>
                    <td class="text-center">
                        <a href="{{ path('transporte_administracion_transporte_vehiculo_detalle',{'id' :  arRegistro.codigoVehiculoPk }) }}">
                            <i class="fa fa-share-square-o" style="font-size: large;color: black;">
                            </i>
                        </a>
                    </td>
                    <td class="text-center">
                        <input type="checkbox" name="ChkSeleccionar[]" value="{{ arRegistro.codigoVehiculoPk }}"/>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="btn-group" style="float: left">
            <div class="btn btn-default btn-sm">Registros
                <span class="badge">{{ arRegistros.getTotalItemCount }}
                    </span>
            </div>
        </div>
        <div class="btn-group btn-xs" style="float: left;margin-top: -18px;">
            {{ knp_pagination_render(arRegistros) }}
        </div>
        <div class="btn-group btn-xs" style="float: left; width: 60px">
            {{ form_widget(form.limiteRegistros) }}
        </div>
        <div class="btn-group" style="float: right; margin-right: 5px !important;">
            {{ form_widget(form.btnEliminar, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}
        </div>
        <div class="btn-group" style="float: right; margin-right: 5px !important;">
            {{ form_widget(form.btnExcel, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
        </div>
        <div class="btn-group" style="float: right; margin-right: 5px !important;">
            <a class="btn btn-default btn-sm"
               href="{{ path('transporte_administracion_transporte_vehiculo_nuevo', {'id': 0}) }}">Nuevo</a>
        </div>
        {{ form_end(form) }}
    </div>
    <br><br>
{% endblock %}
