{% extends 'base_transporte.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="panel panel-default">
        <div class="panel-heading">Configuracion general</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="form_nit" class="col-sm-2 control-label">Nit:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.nit, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                </div>
                <label for="form_digitoVerificacion" class="col-sm-2 control-label">Digito verificacion:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.digitoVerificacion) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_nombre" class="col-sm-2 control-label">Razón social:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.nombre) }}
                </div>
                <label for="form_direccion" class="col-sm-2 control-label">Direccion:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.direccion) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_telefono" class="col-sm-2 control-label">Telefono:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.telefono) }}
                </div>
                <label for="form_rutaTemporal" class="col-sm-2 control-label">Ruta temporal:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.rutaTemporal) }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
