{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="panel panel-default">
        <div class="panel-heading">Informacion general</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="form_nit" class="col-sm-2 control-label">Tipo:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.identificacionRel) }}
                </div>
                <label for="form_digitoVerificacion" class="col-sm-2 control-label">Numero identificacion:</label>
                <div class="col-sm-2">
                    {{ form_widget(form.nit) }}
                </div>
                <label for="form_digitoVerificacion" class="col-sm-1 control-label">Digito verificacion:</label>
                <div class="col-sm-1">
                    {{ form_widget(form.digitoVerificacion) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_nombre" class="col-sm-2 control-label">Razón social:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.nombre) }}
                </div>
                <label for="form_direccion" class="col-sm-2 control-label">Direccion:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.direccion) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_telefono" class="col-sm-2 control-label">Telefono:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.telefono) }}
                </div>
                <label for="form_rutaTemporal" class="col-sm-2 control-label">Ciudad:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.ciudadRel) }}
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Configuracion general</div>
        <div class="panel-body">

            <div class="form-group form-group-sm">
                <label for="form_telefono" class="col-sm-2 control-label"></label>
                <div class="col-sm-4">

                </div>
                <label for="form_rutaTemporal" class="col-sm-2 control-label">Ruta temporal:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.rutaTemporal) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_telefono" class="col-sm-2 control-label">Contabilidad automatica:</label>
                <div class="col-sm-1" style="padding-top: 0.3%;width: 0px;">
                    {{ form_widget(form.contabilidadAutomatica) }}
                </div>
                &nbsp;
                <span class="fa fa-info-circle" style="color: grey;font-size: small;padding-top: 0.6%;" title="Con esta opción, los modulos realizaran de manera automatica el proceso de contabilizar los registros"></span>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Configuración web service oro</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="form_telefono" class="col-sm-2 control-label">Codigo cliente:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.codigoClienteOro) }}
                </div>
                <label for="form_rutaTemporal" class="col-sm-2 control-label">Url web service oro:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.webServiceOroUrl) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_rutaTemporal" class="col-sm-2 control-label">Url web service cesio:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.webServiceCesioUrl) }}
                </div>
                <label for="form_rutaTemporal" class="col-sm-2 control-label">Dominio:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.dominio) }}
                </div>
            </div>
            {#<div class="form-group form-group-sm">#}
                {#<label for="form_rutaTemporal" class="col-sm-2 control-label">Licencia:</label>#}
                {#<div class="col-sm-4">#}
                    {#{{ form_widget(form.codigoLicenciaFk) }}#}
                {#</div>#}
            {#</div>#}
        </div>
    </div>
    <div class="modal-footer">
        {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
