{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    {{ notificar()|raw }}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-default btn-sm"
               href="{{ path('turno_movimiento_juridico_contrato_lista') }}">Volver</a>
        </div>
        <div class="btn-group">
            {% include 'estructura/botonera.html.twig' %}
            {{ form_widget(form.btnTerminar) }}
        </div>
    </div>
    <div style="float:right">
        {% if arContrato.estadoAutorizado == true %}<span class="label label-default">Autorizado</span>{% endif %}
        {% if arContrato.estadoAprobado == true %}<span class="label label-success">Aprobado</span>{% endif %}
        {% if arContrato.estadoAnulado == true %}<span class="label label-danger">Anulado</span>{% endif %}
        {% if arContrato.estadoTerminado == true %}<span class="label label-danger">Terminado</span>{% endif %}
    </div>
    <br/><br/>
    {% include 'turno/movimiento/juridico/contrato/informacion.html.twig' %}
    <ul class="nav nav-tabs">
        <li class="active"><a href="#detalles" data-toggle="tab">Detalles</a></li>
        <li><a href="#detalleCerrado" data-toggle="tab">Terminados</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="detalles">
            <div id="detalles" style="width: 100%"><br>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-condensed tabla-datos">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th title="Item">ITEM</th>
                            <th title="Modalidad">MOD</th>
                            <th title="Fecha desde">DES</th>
                            <th title="Fecha hasta">HAS</th>
                            <th title="Hora inicia el servicio">H_I</th>
                            <th title="Hora finaliza el servicio">H_F</th>
                            <th>CANT</th>
                            <th>L</th>
                            <th>M</th>
                            <th>X</th>
                            <th>J</th>
                            <th>V</th>
                            <th>S</th>
                            <th>D</th>
                            <th>F</th>
                            <th title="Horas totales">H</th>
                            <th title="Horas diurnas">HD</th>
                            <th title="Horas nocturnas">HN</th>
                            <th title="Salario base">BASE</th>
                            <th title="Precio minimo">P.MINIMO</th>
                            <th title="Precio ajustado">P.AJUSTADO</th>
                            <th title="Base iva">BI</th>
                            <th title="Porcentaje iva">%IVA</th>
                            <th title="Iva">IVA</th>
                            <th>SUBTOTAL</th>
                            <th title="Compuesto">CP</th>
                            <th title="Grupo facturacion">GF</th>
                            <th title="Programable">PR</th>
                            <th></th>
                            <th><input type="checkbox" name="ChkSeleccionarTodos"
                                       OnClick="ChequearTodosTabla(this, 'ChkSeleccionar[]');"/></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for arContratoDetalle in arContratoDetalles %}
                            <td> {{ arContratoDetalle.codigoContratoDetallePk }}</td> <input type="hidden"
                                                                                             name="arrCodigo[]"
                                                                                             value="{{ arContratoDetalle.codigoContratoDetallePk }}">
                            <td>{{ arContratoDetalle.itemNombre }}</td>
                            <td>{{ arContratoDetalle.modalidadNombre }}</td>
                            <td>{{ arContratoDetalle.fechaDesde | date('Y-m-d') }}</td>
                            <td>{{ arContratoDetalle.fechaHasta | date('Y-m-d') }}</td>
                            <td>{{ arContratoDetalle.horaDesde | date('H:i') }}</td>
                            <td>{{ arContratoDetalle.horaHasta | date('H:i') }}</td>
                            <td>{{ arContratoDetalle.cantidad }}</td>
                            <td>{{ arContratoDetalle.lunes ? 'S':'N' }}</td>
                            <td>{{ arContratoDetalle.martes ? 'S':'N' }}</td>
                            <td>{{ arContratoDetalle.miercoles ? 'S':'N' }}</td>
                            <td>{{ arContratoDetalle.jueves  ? 'S':'N' }}</td>
                            <td>{{ arContratoDetalle.viernes ? 'S':'N' }}</td>
                            <td>{{ arContratoDetalle.sabado  ? 'S':'N' }}</td>
                            <td>{{ arContratoDetalle.domingo ? 'S':'N' }}</td>
                            <td>{{ arContratoDetalle.festivo ? 'S':'N' }}</td>
                            <td class="numero">{{ arContratoDetalle.horas | number_format}}</td>
                            <td class="numero">{{ arContratoDetalle.horasDiurnas | number_format}}</td>
                            <td class="numero">{{ arContratoDetalle.horasNocturnas | number_format}}</td>
                            <td class="numero">{{ arContratoDetalle.vrSalarioBase | number_format(0, '.', ',') }}</td>
                            <td class="numero">{{ arContratoDetalle.vrPrecioMinimo | number_format(0, '.', ',') }}</td>
                            {% if arContrato.estadoAutorizado %}
                                <td class="numero">{{ arContratoDetalle.vrPrecioAjustado | number_format(0, '.', ',') }}</td>
                                <td>{{ arContratoDetalle.porcentajeBaseIva }}</td>
                                <td class="numero">{{ arContratoDetalle.porcentajeIva | number_format(0, '.', ',') }}</td>
                            {% else %}
                                {% if arContratoDetalle.compuesto == 0 %}
                                    <td style="text-align: center;"><input type="number"
                                                                       name="arrPrecioAjustado[{{ arContratoDetalle.codigoContratoDetallePk }}]"
                                                                       value="{{ arContratoDetalle.vrPrecioAjustado }}"
                                                                       style="text-align: right; width:60px"
                                                                       size="10"></td>
                                {% else %}
                                    <td class="numero">{{ arContratoDetalle.vrPrecioAjustado | number_format(0, '.', ',') }}</td>
                                {% endif %}
                                <td style="text-align: center;"><input type="number"
                                                                       name="arrPorcentajeBaseIva[{{ arContratoDetalle.codigoContratoDetallePk }}]"
                                                                       value="{{ arContratoDetalle.porcentajeBaseIva }}"
                                                                       style="text-align: right; width:60px"
                                                                       size="10"></td>
                                <td style="text-align: center;"><input type="number"
                                                                       name="arrPorcentajeIva[{{ arContratoDetalle.codigoContratoDetallePk }}]"
                                                                       value="{{ arContratoDetalle.porcentajeIva }}"
                                                                       style="text-align: right; width:60px"
                                                                       size="10"></td>
                            {% endif %}

                            <td class="numero">{{ arContratoDetalle.vrIva | number_format(0, '.', ',') }}</td>
                            <td class="numero">{{ arContratoDetalle.vrSubtotal | number_format(0, '.', ',') }}</td>
                            {% if arContratoDetalle.compuesto %}
                                <td class="text-center">
                                    {% if arContrato.estadoAutorizado == 0 %}
                                    <a href="{{ path('turno_movimiento_juridico_contrato_detalle_compuesto',{'codigoContratoDetalle': arContratoDetalle.codigoContratoDetallePk}) }}">
                                        <i class="fa fa-share-square-o" style="font-size: large;color: black;"></i></a>
                                    {% else %}
                                        SI
                                    {% endif %}
                                </td>
                            {% else %}
                                <td class="text-center">NO</td>
                            {% endif %}
                            <td>{{ arContratoDetalle.codigoGrupoFk}}</td>
                            <td>{{ arContratoDetalle.programar? 'SI':'NO'}}</td>
                            <td style="text-align: center;">
                                {% if arContrato.estadoAutorizado == 0 %}
                                    <a href="javascript:abrirVentana3('{{ path('turno_movimiento_juridico_contrato_detalle_nuevo', {'codigoContrato': arContrato.codigoContratoPk, 'id': arContratoDetalle.codigoContratoDetallePk }) }}', 'contratoDetalle', 600, 1200)"><i
                                                title="Editar el registro" class="fa fa-edit"
                                                style="font-size: large;color: black;"></i></a>
                                {% endif %}
                            </td>



                            <td><input type="checkbox" name="ChkSeleccionar[]"
                                       value="{{ arContratoDetalle.codigoContratoDetallePk }}"/></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="btn-group" style="float: left">
                        <div class="btn btn-default btn-sm">
                            <span class="badge">{{ arContratoDetalles.getTotalItemCount }}</span>
                        </div>
                    </div>
                    <div class="btn-toolbar" style="float: right">
                        <div class="btn-group">
                            {{ form_widget(form.btnTerminarDetalle) }}
                        </div>
                        <div class="btn-group">
                            {% if arContrato.estadoAutorizado == true %}
                                <input type="button" class="btn btn-default btn-sm" href="#" disabled="disabled"
                                       value="Nuevo"/>
                            {% else %}
                                <a class="btn btn-default btn-sm"
                                   href="javascript:abrirVentana3('{{ path('turno_movimiento_juridico_contrato_detalle_nuevo', {'codigoContrato':arContrato.codigoContratoPk,'id': 0 }) }}', 'ContratoAdicionarDetalle', 600, 1200)">Nuevo</a>
                            {% endif %}
                        </div>
                        <div class="btn-group">
                            {{ form_widget(form.btnActualizar) }}
                        </div>
                        <div class="btn-group">
                            {{ form_widget(form.btnEliminar) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="detalleCerrado">
            <div id="detallesCerrado" style="width: 100%"><br>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-condensed tabla-datos">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th title="Concepto">PUESTO</th>
                            <th title="Concepto">CONCEPTO</th>
                            <th title="Modalidad">MOD</th>
                            <th title="Fecha desde">DES</th>
                            <th title="Fecha hasta">HAS</th>
                            <th title="Hora inicia el servicio">H_I</th>
                            <th title="Hora finaliza el servicio">H_F</th>
                            <th>CANT</th>
                            <th>L</th>
                            <th>M</th>
                            <th>X</th>
                            <th>J</th>
                            <th>V</th>
                            <th>S</th>
                            <th>D</th>
                            <th>F</th>
                            <th title="Horas totales">H</th>
                            <th title="Horas diurnas">HD</th>
                            <th title="Horas nocturnas">HN</th>
                            <th title="Salario base">BASE</th>
                            <th title="Precio minimo">P.MINIMO</th>
                            <th title="Precio ajustado">P.AJUSTADO</th>
                            <th title="Porcentaje iva">%IVA</th>
                            <th title="Iva">IVA</th>
                            <th>SUBTOTAL</th>
                            <th><input type="checkbox" name="ChkSeleccionarTodos"
                                       OnClick="ChequearTodosTabla(this, 'ChkSeleccionar[]');"/></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for arContratoDetalleCerrado in arContratoDetallesCerrados %}
                            <td> {{ arContratoDetalleCerrado.codigoContratoDetallePk }}</td> <input type="hidden"
                                                                                                    name="arrCodigo[]"
                                                                                                    value="{{ arContratoDetalleCerrado.codigoContratoDetallePk }}">
                            <td>{{ arContratoDetalleCerrado.puesto }}</td>
                            <td>{{ arContratoDetalleCerrado.conceptoNombre }}</td>
                            <td>{{ arContratoDetalleCerrado.modalidadNombre }}</td>
                            <td>{{ arContratoDetalleCerrado.fechaDesde | date('Y-m-d') }}</td>
                            <td>{{ arContratoDetalleCerrado.fechaHasta | date('Y-m-d') }}</td>
                            <td>{{ arContratoDetalleCerrado.horaDesde | date('H:i') }}</td>
                            <td>{{ arContratoDetalleCerrado.horaHasta | date('H:i') }}</td>
                            <td>{{ arContratoDetalleCerrado.cantidad }}</td>
                            <td>{{ arContratoDetalleCerrado.lunes ? 'S':'N' }}</td>
                            <td>{{ arContratoDetalleCerrado.martes ? 'S':'N' }}</td>
                            <td>{{ arContratoDetalleCerrado.miercoles ? 'S':'N' }}</td>
                            <td>{{ arContratoDetalleCerrado.jueves  ? 'S':'N' }}</td>
                            <td>{{ arContratoDetalleCerrado.viernes ? 'S':'N' }}</td>
                            <td>{{ arContratoDetalleCerrado.sabado  ? 'S':'N' }}</td>
                            <td>{{ arContratoDetalleCerrado.domingo ? 'S':'N' }}</td>
                            <td>{{ arContratoDetalleCerrado.festivo ? 'S':'N' }}</td>
                            <td>{{ arContratoDetalleCerrado.horas }}</td>
                            <td>{{ arContratoDetalleCerrado.horasDiurnas }}</td>
                            <td>{{ arContratoDetalleCerrado.horasNocturnas }}</td>
                            <td class="numero">{{ arContratoDetalleCerrado.vrSalarioBase | number_format(0, '.', ',') }}</td>
                            <td class="numero">{{ arContratoDetalleCerrado.vrPrecioMinimo | number_format(0, '.', ',') }}</td>
                            <td class="numero">{{ arContratoDetalleCerrado.vrPrecioAjustado | number_format(0, '.', ',') }}</td>
                            <td class="numero">{{ arContratoDetalleCerrado.porcentajeIva | number_format(0, '.', ',') }}</td>
                            <td class="numero">{{ arContratoDetalleCerrado.vrIva | number_format(0, '.', ',') }}</td>
                            <td class="numero">{{ arContratoDetalleCerrado.vrSubtotal | number_format(0, '.', ',') }}</td>
                            <td><input type="checkbox" name="ChkSeleccionar[]"
                                       value="{{ arContratoDetalleCerrado.codigoContratoDetallePk }}"/></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="btn-toolbar" style="float: right">
                    <div class="btn-group">
                        {{ form_widget(form.btnAbrirDetalle) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br /><br />
    {{ form_end(form) }}
{% endblock %}
