{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div id="content sortable-grid ui-sortable">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-collapsed="true">
            <header role="heading" class="ui-sortable-handle">
                <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
                <h2>Filtro</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="form-group form-group-sm">
                        <label for="txtCodigoConductor" class="col-sm-1 control-label">Cliente:</label>
                        <div class="col-sm-11">
                            <div class="row">
                                <div class="col-lg-2">
                                    <div class="input-group">
                                        {{ form_widget(form.codigoClienteFk) }}
                                    </div>
                                </div>
                                <div class="col-lg-10">
                                    <div class="input-group">
                                        <input id="form_txtNombreCorto" class="form-control" readonly>
                                        <span class="input-group-btn">
                                            <a class="btn btn-default btn-sm"
                                               href="javascript:abrirVentana3('{{ path('turno_buscar_cliente', { 'campoCodigo': 'form_codigoClienteFk', 'campoNombre': 'form_txtNombreCorto' }) }}', 'buscarCliente', 600, 900)">Buscar</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">

                        <label for="" class="control-label col-sm-1">Codigo:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.codigoContratoPk) }}
                        </div>
                        <label for="" class="control-label col-sm-4 col-sm-offset-3">Autorizado:</label>
                        <div class="col-sm-2">
                            {{ form_widget((form.estadoAutorizado)) }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-4 control-label col-sm-offset-6">Cerrado:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.estadoCerrado) }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <div class="col-sm-offset-2 col-sm-10">
                            {{ form_widget(form.btnFiltro, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover tabla-datos tabla-informacion">
        <thead>
        <tr>
            <th title="Codigo del registro">ID</th>
            <th title="Tipo de contrato">TIPO</th>
            <th title="Numero de identificacion">NIT</th>
            <th title="Cliente del contrato">CLIENTE</th>
            <th title="Sector al que pertenece el cliente">SECTOR</th>
            <th title="Ultima fecha de generacion de un pedido con base en el contrato">GENERADO</th>
            <th title="Horas totales del contrato">H</th>
            <th title="Horas diurnas">HD</th>
            <th title="Horas nocturnas">HN</th>
            <th title="Total del contrato">VALOR</th>
            <th title="">AUT</th>
            <th title="">CER</th>
            <th></th>
            <th></th>
            <th class="text-center" title="seleccionar todos"><input type="checkbox" name="ChkSeleccionarTodos"
                                                                     onclick="ChequearTodosTabla(this, 'ChkSeleccionar[]')">
            </th>
        </tr>
        </thead>
        <tbody>
        {% for arContrato in arContratos %}
            <tr>
                <td>{{ arContrato.codigoContratoPk }}</td>
                <td>{{ arContrato.contratoTipo }}</td>
                <td>{{ arContrato.numeroIdentificacion }}</td>
                <td>{{ arContrato.nombreCorto }}</td>
                <td>{{ arContrato.sector }}</td>
                <td>{{ arContrato.fechaGeneracion | date('Y-m-d') }}</td>
                <td class="numero">{{ arContrato.horas | number_format }}</td>
                <td class="numero">{{ arContrato.horasDiurnas | number_format }}</td>
                <td class="numero">{{ arContrato.horasNocturnas | number_format }}</td>
                <td class="numero">{{ arContrato.vrTotal | number_format(0, '.', ',') }}</td>
                <td>{{ arContrato.estadoAutorizado ? "SI":"NO" }}</td>
                <td>{{ arContrato.estadoCerrado ? "SI":"NO" }}</td>
                {% if arContrato.estadoAutorizado %}
                    <td></td>
                {% else %}
                    <td class="text-center">
                        <a href="{{ path('turno_movimiento_juridico_contrato_nuevo',{'id': arContrato.codigoContratoPk }) }}"><i
                                    class="fa fa-edit" style="color: black;font-size: large;"></i></a>
                    </td>
                {% endif %}
                <td class="text-center">
                    <a
                            href="{{ path('turno_movimiento_juridico_contrato_detalle',{'id' : arContrato.codigoContratoPk }) }}">
                        <i class="fa fa-share-square-o" style="font-size: large;color: black;">
                        </i>
                    </a>
                </td>
                <td class="text-center">
                    <input type="checkbox" name="ChkSeleccionar[]" value="{{ arContrato.codigoContratoPk }}"/>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="btn-group" style="float: left">
        <div class="btn btn-default btn-sm">
            <span class="badge">{{ arContratos.getTotalItemCount }}</span>
        </div>
    </div>
    <div class="btn-group btn-xs" style="float: left;margin-top: -18px;">
        {{ knp_pagination_render(arContratos) }}
    </div>
    <div class="btn-group btn-xs" style="float: left; width: 60px">
        {{ form_widget(form.limiteRegistros) }}
    </div>
    <div class="btn-group" style="float: right; margin-right: 5px !important;">
        {{ form_widget(form.btnEliminar, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}
    </div>
    <div class="btn-group" style="float: right; margin-right: 5px !important;">
        {{ form_widget(form.btnExcel, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
    </div>
    <div class="btn-group" style="float: right; margin-right: 5px !important;">
        <a class="btn btn-default btn-sm"
           href="{{ path('turno_movimiento_juridico_contrato_nuevo', {'id': 0}) }}">Nuevo</a>
    </div>
    {{ form_end(form) }}

    <br/><br/><br/>
{% endblock %}


