{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a  class="btn btn-default btn-sm" href="{{ path('cartera_movimiento_recibo_recibo_lista') }}">Volver</a>
            <div class="btn-group">
                {% include 'estructura/botonera.html.twig' %}
            </div>
        </div>
    </div>
    <div style="float:right">
        {% if arRecibo.estadoAutorizado == true %}<span class="label label-default">Autorizado</span>{% endif %}
        {% if arRecibo.estadoAprobado == true %}<span class="label label-success">Aprobado</span>{% endif %}
        {% if arRecibo.estadoAnulado == true %}<span class="label label-danger">Anulado</span>{% endif %}
        {% if arRecibo.estadoContabilizado == true %}<span class="label label-danger">Contabilizado</span>{% endif %}
    </div>
    <br /><br />
    {% include 'cartera/movimiento/recibo/recibo/informacion.html.twig' %}
    <table class="table table-striped table-bordered table-condensed tabla-datos">
        <thead>
        <tr>
            <th colspan="5"></th>
            <th colspan="4" style="background: #0c7cd5">DESCUENTOS RAPIDOS (RESTA)</th>
            <th colspan="2" style="background: #38812D">OTROS DESCUENTOS (RESTA)</th>
            <th colspan="2" style="background: #ffcb13">OTROS INGRESOS (SUMA)</th>
            <th colspan="1"></th>
            <th colspan="5"></th>
        </tr>
        <tr>
            <th>ID</th>
            <th>NUMERO</th>
            <th>NUMERO_A</th>
            <th>TIPO</th>
            <th>ASESOR</th>
            <th style="background: #b6c2d4">DESCUENTO</th>
            <th style="background: #b6c2d4">RTE ICA</th>
            <th style="background: #b6c2d4">RTE IVA</th>
            <th style="background: #b6c2d4">RTE FUENTE</th>
            <th STYLE="background: #7aba7b">VALOR</th>
            <th STYLE="background: #7aba7b">CONCEPTO</th>
            <th style="background: #fff9a4">VALOR</th>
            <th style="background: #fff9a4">CONCEPTO</th>
            <th>AJUSTE PESO</th>
            <th>PAGO</th>
            <th>TOTAL</th>
            <th>COMENTARIO</th>
            <th></th>
            <th><input type="checkbox" name="ChkSeleccionarTodos" OnClick="ChequearTodosTabla(this, 'ChkSeleccionar[]');"/></th>
        </tr>
        </thead>
        <tbody>
        {% for arReciboDetalle in arReciboDetalle %}
            <tr>
                <td>{{ arReciboDetalle.codigoReciboDetallePk  }}<input type="hidden" name="LblCodigo[]" value="{{ arReciboDetalle.codigoReciboDetallePk }}"></td>
                <td>{{ arReciboDetalle.numeroFactura  }}</td>
                <td>{{ arReciboDetalle.numeroDocumentoAplicacion  }}</td>
                <td>{{ arReciboDetalle.cuentaCobrarTipoRel.nombre |default('')  }}</td>

                {% if arRecibo.estadoAutorizado == 0 %}
                    <td style="text-align: left">
                        <select name="cboAsesor{{ arReciboDetalle.codigoReciboDetallePk }}">
                            <option value="SS">SIN SELECCIONAR</option>
                            {% for arAsesor in arAsesores %}
                                <option value="{{ arAsesor.codigoAsesorPk }}" {% if arReciboDetalle.codigoAsesorFk == arAsesor.codigoAsesorPk %} selected {% endif %}>{{ arAsesor.nombre }}</option>
                            {% endfor %}
                        </select></td>
                    <td style="text-align: right"><input style="text-align: right" type="text" name="TxtVrDescuento{{ arReciboDetalle.codigoReciboDetallePk }}" value="{{ arReciboDetalle.vrDescuento  }}" size="6" style="width:65px" onkeypress="return validarNumeros(event)" onclick="this.select()"/></td>
                    <td style="text-align: right"><input style="text-align: right" type="text" name="TxtVrRetencionIca{{ arReciboDetalle.codigoReciboDetallePk }}" value="{{ arReciboDetalle.vrRetencionIca  }}" size="6" style="width:65px" onkeypress="return validarNumeros(event)" onclick="this.select()"/></td>
                    <td style="text-align: right"><input style="text-align: right" type="text" name="TxtVrRetencionIva{{ arReciboDetalle.codigoReciboDetallePk }}" value="{{ arReciboDetalle.vrRetencionIva  }}" size="6" style="width:65px" onkeypress="return validarNumeros(event)" onclick="this.select()"/></td>
                    <td style="text-align: right"><input style="text-align: right" type="text" name="TxtVrRetencionFuente{{ arReciboDetalle.codigoReciboDetallePk }}" value="{{ arReciboDetalle.vrRetencionFuente  }}" size="6" style="height:65px" onkeypress="return validarNumeros(event)" onclick="this.select()"/></td>

                    <td style="text-align: right"><input style="text-align: right" type="text" name="TxtVrOtroDescuento{{ arReciboDetalle.codigoReciboDetallePk }}" value="{{ arReciboDetalle.vrOtroDescuento  }}" size="6" style="height:65px" onkeypress="return validarNumeros(event)" onclick="this.select()"/></td>
                    <td style="text-align: left">
                        <select name="cboDescuentoConcepto{{ arReciboDetalle.codigoReciboDetallePk }}">
                            <option value="SS">SIN SELECCIONAR</option>
                            {% for arDescuentoConcepto in arDescuentoConceptos %}
                                <option value="{{ arDescuentoConcepto.codigoDescuentoConceptoPk }}" {% if arReciboDetalle.codigoDescuentoConceptoFk == arDescuentoConcepto.codigoDescuentoConceptoPk %} selected {% endif %}>{{ arDescuentoConcepto.nombre }}({{ arDescuentoConcepto.codigoCuentaFk }})</option>
                            {% endfor %}
                        </select></td>
                    <td style="text-align: right"><input style="text-align: right" type="text" name="TxtVrOtroIngreso{{ arReciboDetalle.codigoReciboDetallePk }}" value="{{ arReciboDetalle.vrOtroIngreso  }}" size="6" style="height:65px" onkeypress="return validarNumeros(event)" onclick="this.select()"/></td>
                    <td style="text-align: left">
                        <select name="cboIngresoConcepto{{ arReciboDetalle.codigoReciboDetallePk }}">
                            <option value="SS">SIN SELECCIONAR</option>
                            {% for arIngresoConcepto in arIngresoConceptos %}
                                <option value="{{ arIngresoConcepto.codigoIngresoConceptoPk }}" {% if arReciboDetalle.codigoIngresoConceptoFk == arIngresoConcepto.codigoIngresoConceptoPk %} selected {% endif %}>{{ arIngresoConcepto.nombre }}({{ arIngresoConcepto.codigoCuentaFk }})</option>
                            {% endfor %}
                        </select></td>
                    <td style="text-align: right"><input style="text-align: right" type="text" name="TxtVrAjustePeso{{ arReciboDetalle.codigoReciboDetallePk }}" value="{{ arReciboDetalle.vrAjustePeso  }}" size="6" style="width:65px" onkeypress="return validarNumeros(event)" onclick="this.select()"/></td>
                    <td style="text-align: right"><input style="text-align: right" type="text" name="TxtValorPago{{ arReciboDetalle.codigoReciboDetallePk }}" value="{{ arReciboDetalle.vrPago  }}" size="10" style="height:100px" onkeypress="return validarNumeros(event)" onclick="this.select()"/></td>
                    <td style="text-align: right">{{ arReciboDetalle.vrPagoAfectar | number_format(0, '.', ',') }}</td>
                    <td style="text-align: right"><input style="text-align: left" type="text" name="TxtComentario{{ arReciboDetalle.codigoReciboDetallePk }}" value="{{ arReciboDetalle.comentario  }}" size="50" style="height:100px"/></td>
                    <td style="text-align: center"><a class="btn btn-default btn-xs" href="javascript:abrirVentana3('{{ path('cartera_movimiento_recibo_recibo_detalle_aplicar', {'id': arReciboDetalle.codigoReciboDetallePk }) }}', 'AgregarNuevoDetalle', 600, 900)">Aplicar</a></td>
                {% else %}
                    <td>{{ arReciboDetalle.asesorRel.nombre |default('')  }}</td>
                    <td style="text-align: right">{{ arReciboDetalle.vrDescuento | number_format(0, '.', ',') }}</td>
                    <td style="text-align: right">{{ arReciboDetalle.vrRetencionIca | number_format(0, '.', ',') }}</td>
                    <td style="text-align: right">{{ arReciboDetalle.vrRetencionIva | number_format(0, '.', ',') }}</td>
                    <td style="text-align: right">{{ arReciboDetalle.vrRetencionFuente | number_format(0, '.', ',') }}</td>
                    <td style="text-align: right">{{ arReciboDetalle.vrOtroDescuento | number_format(0, '.', ',') }}</td>
                    <td style="text-align: left">{{ arReciboDetalle.descuentoConceptoRel.nombre | default("") }}</td>
                    <td style="text-align: right">{{ arReciboDetalle.vrOtroIngreso | number_format(0, '.', ',') }}</td>
                    <td style="text-align: left">{{ arReciboDetalle.ingresoConceptoRel.nombre | default("") }}</td>
                    <td style="text-align: right">{{ arReciboDetalle.vrAjustePeso | number_format(0, '.', ',') }}</td>
                    <td style="text-align: right">{{ arReciboDetalle.vrPago | number_format(0, '.', ',') }}</td>
                    <td style="text-align: right">{{ arReciboDetalle.vrPagoAfectar | number_format(0, '.', ',') }}</td>
                    <td>{{ arReciboDetalle.comentario }}</td>
                    <td style="text-align: right"></td>
                {% endif %}
                <td style="text-align: center"><input type="checkbox" name="ChkSeleccionar[]" value="{{ arReciboDetalle.codigoReciboDetallePk }}" /></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="btn-toolbar" style="float: right">
        <div class="separador-1"></div>
        <div class="btn-toolbar" style="float: right">
            <div class="btn-group">
                {% if arRecibo.estadoAutorizado == 0 %}
                    <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('cartera_movimiento_recibo_recibo_detalle_nuevo', {'id': arRecibo.codigoReciboPk }) }}', 'AgregarNuevoDetalle', 600, 900)">Nuevo</a>
                {% endif %}
            </div>
            <div class="btn-group">
                {{ form_widget(form.btnActualizarDetalle, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
            </div>
            <div class="btn-group">
                {{ form_widget(form.btnEliminarDetalle, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}
            </div>

        </div>
    </div>
<br/><br/><br/>
<div class="well well-sm">
    <div class="bs-example">
        <blockquote>
            <p>
                Recuerde: los descuentos rapidos quedan imputados a una cuenta fija, use otros descuentos cuando desee otros tipo de descuento y/o retencion.
            </p>
            <small>Consulte la cuenta de cada descuento rapido en <cite title="Source Title">configuracion</cite></small>
        </blockquote>
    </div>
</div>






    {{ form_end(form) }}
{% endblock %}
