{% extends 'base.html.twig' %}
{% block content %}
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for arPrecio in arPrecios %}
            <tr>
                <td>{{ arPrecio.codigoPrecioPk }}</td>
                <td>{{ arPrecio.nombre }}</td>
                <td style="text-align: center"><a href="{{ path('tte_adm_comercial_precio_detalle', { 'codigoPrecio': arPrecio.codigoPrecioPk }) }}"><img src="{{ asset('../assets/img/bootstrap/glyphicons_152_new_window.png') }}"></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="btn-group" style="float: left">
        <div class="btn-group" style="float: left">
            <div class="btn btn-default btn-sm">Registros <span class="badge">{{ arPrecios.getTotalItemCount }}</span></div>
        </div>
    </div>
    <div class="btn-group btn-xs" style="float: left;margin-left: 0px;padding-top: 0px;">
        {{ knp_pagination_render(arPrecios) }}
    </div>

    <div class="btn-toolbar" style="float: right">
        <div class="btn-group">
            <a class="btn btn-default btn-sm" href="{{ path('tte_adm_comercial_precio_nuevo', {'codigoPrecio': 0}) }}">Nuevo</a>
        </div>
    </div>
{% endblock %}

