{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="panel panel-default">
        <div class="panel-heading">Información general</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="form_identificacionRel" class="col-sm-2 control-label">Tipo identificaion:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.identificacionRel, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                </div>
                <label for="form_numeroIdentificacion" class="col-sm-2 control-label">Identificacion:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.numeroIdentificacion, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_ciudadRel" class="col-sm-2 control-label">Ciudad:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.ciudadRel, { 'attr': {'class': 'form-control to-select-2'} }) }}
                </div>
                <label for="form_fechaNacimiento" class="col-sm-2 control-label">Correo:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.correo, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_nombre1" class="col-sm-2 control-label">Primer nombre:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.nombre1, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                </div>
                <label for="form_nombre2" class="col-sm-2 control-label">Segundo nombre:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.nombre2, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_apellido1" class="col-sm-2 control-label">Primer apellido:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.apellido1, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                </div>
                <label for="form_apellido2" class="col-sm-2 control-label">Segundo apellido:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.apellido2, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_telefono" class="col-sm-2 control-label">Telefono:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.telefono, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                </div>
                <label for="form_movil" class="col-sm-2 control-label">Celular:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.movil, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_direccion" class="col-sm-2 control-label">Direccion:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.direccion, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <a class="btn btn-default btn-sm" href="{{ path('transporte_administracion_poseedor_lista') }}">Cancelar</a>
            {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
            {{ form_widget(form.guardarnuevo, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}