{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="panel panel-default">
        <div class="panel-heading">Informacion general</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="form_recogidaTipoRel" class="col-sm-2 control-label">nombre:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.nombre, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <label for="form_fechaVence" class="col-sm-2 control-label">fecha:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.fecha) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_recogidaTipoRel" class="col-sm-2 control-label">version:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.version, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <label for="form_fechaVence" class="col-sm-2 control-label">Código:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.codigo) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="" class="col-sm-2 control-label">Contedido:</label>
                <div class="col-sm-8">
                    {{ form_widget(form.contenido) }}
                </div>
                <div class="col-sm-2">
                    <strong class="control-label">Etiquetas:</strong>
                    <br>
                    {% for etiqueta in etiquetas %}
                        <spam><em>{{ etiqueta.etiqueta }}</em> <small>{{ etiqueta.descripcion }}</small></spam><br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default btn-sm" href="{{ path('general_administracion_calidad_formato_lista') }}">Cancelar</a>
        {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>
    {{ form_end(form) }}

{% endblock %}
