{% extends 'base_transporte.html.twig' %}
{% block content %}
    <div class="row">
        <!-- /.col-lg-12 -->
    </div>
    <table width="100%" class="table table-condensed table-bordered">
        <tr>
            <td class="titulo"><b>CODIGO CONDICION:</b></td>
            <td class="td-in-well">{{ arCondicion.codigoCondicionPk }}</td>
            <td class="titulo"><b>NOMBRE:</b></td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arCondicion.nombre }}</td>
        </tr>
        <tr>
            <td class="titulo"><b>PRECIO:</b></td>
            <td class="td-in-well">{{ arCondicion.precioRel.nombre }}</td>
            <td class="titulo"><b>DIGITO</b></td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arCondicion.porcentajeManejo }}</td>
        </tr>
        <tr>
            <td class="titulo"><b>MANEJO MINIMO UNIDAD:</b></td>
            <td class="td-in-well">{{ arCondicion.manejoMinimoUnidad }}</td>
            <td class="titulo"><b>MANEJO MINIMO DESPACHO:</b></td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arCondicion.manejoMinimoDespacho }}</td>
        </tr>
        <tr>
            <td class="titulo"><b>PRECIO PESO:</b></td>
            {{ validarTipo(arCondicion.precioPeso) }}
            <td class="titulo"><b>PRECIO UNIDAD:</b></td>
            {{ validarTipo(arCondicion.precioUnidad) }}
        </tr>
        <tr>
            <td class="titulo"><b>PRECIO ADICIONAL:</b></td>
            {{ validarTipo(arCondicion.precioAdicional) }}
            <td class="titulo"><b>PRECIO GENERAL:</b></td>
            {{ validarTipo(arCondicion.precioGeneral) }}
        </tr>
        <tr>
            <td class="titulo"><b>PERMITE RECAUDO:</b></td>
            {{ validarTipo(arCondicion.permiteRecaudo) }}
            <td class="titulo"><b>REDONDEAR FLETE:</b></td>
            {{ validarTipo(arCondicion.redondearFlete) }}
        </tr>
        <tr>
            <td class="titulo"><b>DESCUENTO PESO:</b></td>
            <td class="td-in-well">{{ arCondicion.descuentoPeso }}</td>
            <td class="titulo"><b>DESCUENTO UNIDAD:</b></td>
            <td class="td-in-well">{{ arCondicion.descuentoUnidad }}</td>
        </tr>
        <tr>
            <td class="titulo"><b>PESO MINIMO:</b></td>
            <td class="td-in-well">{{ arCondicion.pesoMinimo }}</td>
            <td class="titulo"><b>LIMITAR DESCUENTO REEXPEDICION:</b></td>
            {{ validarTipo(arCondicion.limitarDescuentoReexpedicion) }}
        </tr>
    </table>
    <a name="marcador"></a>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#contrato" data-toggle="tab">#</a></li>
    </ul>
    </br>
    <a class="btn btn-default btn-sm" href="{{ path('transporte_administracion_comercial_condicion_lista') }}">Volver</a>
{% endblock %}