{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="panel panel-default">
        <div class="panel-heading">
            Filtros
        </div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Codigo programacion:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.codigoProgramacion, { 'attr': {'class': 'form-control','autofocus':'autofocus'} }) }}
                </div>
                <label class="col-sm-2 control-label">Tipo:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.pagoTipoRel, { 'attr': {'class': 'form-control to-select-2'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Desde:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.fechaDesde) }}
                </div>
                <label class="col-sm-2 control-label">Grupo:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.grupoRel) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Hasta:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.fechaHasta) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-4">
                    {{ form_widget(form.porFecha) }}
                    {{ form_widget(form.mostrarProgramacion) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <div class="col-sm-offset-2 col-sm-10">
                    {{ form_widget(form.btnGenerar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                </div>
            </div>
        </div>
    </div>
    <br/><br/>
    {{ form_end(form) }}
{% endblock %}