{% extends 'base_transporte.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
    {{ form_errors(form) }}
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>COD</th>
            <th>CLIENTE</th>
            <th>PEND</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for arNovedad in arNovedades %}
            <tr>
                <td>{{ arNovedad.codigoClienteFk }}</td>
                <td>{{ arNovedad.cliente }}</td>
                <td>{{ arNovedad.cantidad }}</td>
                <td><button class="btn btn-default btn-xs" type="submit" name="OpSinReportar" value="{{ arNovedad.codigoClienteFk }}">Sin reportar</button></td>
                <td><button class="btn btn-default btn-xs" type="submit" name="OpTodos" value="{{ arNovedad.codigoClienteFk }}">Todos</button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="btn-group" style="float: left">
        <div class="btn btn-default btn-sm">Registros <span class="badge">{{ arNovedades.getTotalItemCount }}</span></div>
    </div>

    <div class="btn-group btn-xs" style="float: left;margin-left: 0px;padding-top: 0px;">
        {{ knp_pagination_render(arNovedades) }}
    </div>
    <div class="btn-toolbar" style="float: right">
        <div class="btn-group">

        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}

