{% extends "base.html.twig" %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div id="content sortable-grid ui-sortable">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-collapsed="true">
            <header>
                <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
                <h2>Filtro</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="form-group form-group-sm">
                        <label class="col-sm-1 control-label">Código:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.codigoAxuiliar) }}
                        </div>
                        <label class="col-sm-1 control-label">Número identificación:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.numeroIdentificacion) }}
                        </div>
                        <label class="col-sm-1 control-label">Nombre:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.nombre) }}
                        </div>
                        <label class="col-sm-1 control-label">Inactivo:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.estadoInactivo) }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <div class="col-sm-offset-2 col-sm-10">
                            {{ form_widget(form.btnFiltrar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover tabla-datos tabla-informacion">
        <thead>
        <tr>
            <th title="Codigo">ID</th>
            <th title="Identificacion">IDENTIFICACIÓN</th>
            <th title="Nombre">NOMBRE</th>
            <th title="inactivo">INA</th>
            <th></th>
            <th></th>
            <th class="text-center" title="seleccionar todos"><input type="checkbox" name="ChkSeleccionarTodos"
                                                                     onclick="ChequearTodosTabla(this, 'ChkSeleccionar[]')">
            </th>
        </tr>
        </thead>
        <tbody>
        {% for arAuxiliar in arAuxiliares %}
            <tr>
                <td>{{ arAuxiliar.codigoAuxiliarPk }}</td>
                <td>{{ arAuxiliar.numeroIdentificacion }}</td>
                <td>{{ arAuxiliar.nombreCorto }}</td>
                <td>{{ arAuxiliar.estadoInactivo ? "SI":"NO" }}</td>
                <td class="text-center">
                    <a href="{{ path('transporte_administracion_comercial_cliente_nuevo',{'id': arAuxiliar.codigoAuxiliarPk }) }}"><i
                                class="fa fa-edit" style="color: black;font-size: large;"></i></a>
                </td>
                <td class="text-center">
                    <a href="{{ path('transporte_administracion_comercial_cliente_detalle',{'id' : arAuxiliar.codigoAuxiliarPk }) }}">
                        <i class="fa fa-share-square-o" style="font-size: large;color: black;">
                        </i>
                    </a>
                </td>
                <td class="text-center">
                    <input type="checkbox" name="ChkSeleccionar[]" value="{{ arAuxiliar.codigoAuxiliarPk }}"/>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="btn-group" style="float: left">
        <div class="btn btn-default btn-sm">Registros
            <span class="badge">{{ arAuxiliares.getTotalItemCount }}
                    </span>
        </div>
    </div>
    <div class="btn-group btn-xs" style="float: left;margin-top: -18px;">
        {{ knp_pagination_render(arAuxiliares) }}
    </div>
    <div class="btn-group btn-xs" style="float: left; width: 60px">
        {{ form_widget(form.limiteRegistros) }}
    </div>
    <div class="btn-group" style="float: right; margin-right: 5px !important;">
        {{ form_widget(form.btnEliminar, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}
    </div>
    <div class="btn-group" style="float: right; margin-right: 5px !important;">
        {{ form_widget(form.btnExcel, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
    </div>
    <div class="btn-group" style="float: right; margin-right: 5px !important;">
        <a class="btn btn-default btn-sm"
           href="{{ path('transporte_administracion_comercial_cliente_nuevo', {'id': 0}) }}">Nuevo</a>
    </div>
    {{ form_end(form) }}
    <br/><br/><br/>
{% endblock %}