{% extends "base.html.twig" %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="panel panel-default">
        <div class="panel-heading">Información general</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Nombre</label>
                <div class="col-sm-4">
                    {{ form_widget(form.nombreCorto,{ 'attr' : {'class' : 'form-control'}}) }}
                    <div style="color:red;">{{ form_errors(form.nombreCorto) }}</div>
                </div>
                <label class="col-sm-2 control-label">Número Identificación</label>
                <div class="col-sm-3">
                    {{ form_widget(form.numeroIdentificacion, { 'attr': {'class' : 'form-control','onblur': 'javascript:calcularDigitoVerificacion(this.value)'} }) }}
                    <div style="color:red;">{{ form_errors(form.numeroIdentificacion) }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default btn-sm"
           href="{{ path('transporte_administracion_transporte_auxiliar_lista') }}">Cancelar</a>
        {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>
    {{ form_end(form) }}
{% endblock %}