{% extends 'base_sin_menu.html.twig' %}
{% block content %}
    <section class="content-header">
        <h1>
            Recurso humano
            <small>Acreditacion: acreditar</small>
        </h1>
    </section>
    <section class="content">
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
        <div class="panel panel-default">
            <div class="panel-heading">Informacion general</div>
            <div class="panel-body">
                <div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-3 control-label">Fecha vencimiento:</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.fechaVencimiento) }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            {{ form_widget(form.estadoAcreditado) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            {{ form_widget(form.BtnEliminar, { 'attr': {'class': 'btn btn-sm btn-danger'} }) }}
            {{ form_widget(form.BtnGuardar, { 'attr': {'class': 'btn btn-sm btn-primary'} }) }}
        </div>
        {{ form_end(form) }}
        <br/><br/><br/><br/>
    </section>
{% endblock %}