{% extends 'base_sin_menu.html.twig' %}
{% block content %}
    {{ form_start(form,{'attr':{'class' : 'form-horizontal'}}) }}
    <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-editbutton="false"
         data-widget-fullscreenbutton="true">
    <header>
        <span class="widget-icon"> <i class="fa fa-exclamation-triangle"></i> </span>
        <h2>Reportar</h2>
    </header>
    <div>
        <div class="panel-body">
            <h4>Información del contacto</h4>
            <hr>
            <div class="form-group form-group-sm">
                <label class="control-label col-sm-1">Usuario:</label>
                <label class="control-label col-sm-1"><span
                            class="badge">{{ app.user.username | capitalize }}</span></label>
                <label class="control-label col-sm-2">Correo:</label>
                <label class="control-label col-sm-1"><span
                            class="badge">{{ app.user.email }}</span></label>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label col-sm-1">Telefono:</label>
                <div class="col-sm-2">
                    {{ form_widget(form.telefono) }}
                </div>
                <label class="control-label col-sm-1">Extension:</label>
                <div class="col-sm-2">
                    {{ form_widget(form.extension) }}
                </div>
            </div>
            <hr>
            <div class="form-group form-group-sm">
                <label class="control-label col-sm-1">Ruta:</label>
                <div class="col-sm-5">
                    <span class="badge">{{ ruta }}</span>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label col-sm-1">Asunto:</label>
                <div class="col-sm-5">
                    {{ form_widget(form.asunto) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="descripcion" class="control-label col-sm-1">Descripción:</label>
                <div class="col-sm-11">
                    <textarea name="descripcion" class=" col-sm-11" id="" cols="30" rows="10">{{ descripcionSugerida }}</textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            {{ form_widget(form.guardar) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}