{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div id="content sortable-grid ui-sortable">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-collapsed="true">
            <header role="heading" class="ui-sortable-handle">
                <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
                <h2>Filtro</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="form-group form-group-sm">
                        <label for="form_txtCodigoEmpleado" class="col-sm-offset-1 col-sm-1 control-label">Cliente:</label>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-lg-2">
                                    <div class="input-group">
                                        {{ form_widget(form.txtEmpleado) }}
                                    </div>
                                </div>
                                <div class="col-lg-10">
                                    <div class="input-group">
                                        <input id="form_txtNombreCorto" class="form-control" readonly>
                                        <span class="input-group-btn">
                                            <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('turno_buscar_cliente', { 'campoCodigo': 'form_txtEmpleado', 'campoNombre': 'form_txtNombreCorto' }) }}', 'buscarEMpleado', 600, 900)">Buscar</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class=" col-sm-2 control-label">Fecha desde:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.fechaDesde) }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class=" col-sm-2 control-label">Fecha desde:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.fechaHasta) }}
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <div class="col-sm-offset-2 col-sm-10">
                        {{ form_widget(form.btnFiltrar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover tabla-datos">
        <thead>
        <tr>
            <th>ID</th>
            <th>CLIENTE</th>
            <th>TIPO</th>
            <th TITLE="FECHA GENERACIÓN">GENERADO</th>
            <th>AUT</th>
            <th>APR</th>
            <th>ANU</th>
            <th>TER</th>
            <th>CANT</th>
            <th>ESTRATO</th>
            <th>HORAS</th>
            <th title="Horas diurnas">HD</th>
            <th title="Horas nocturnas">HN</th>
            <th>COSTO</th>
            <th>CONTRATO</th>
            <th>PRECIO AJUSTADO</th>
            <th>PRECIO MINIMO</th>
            <th>SUBTOTAL</th>
            <th>IVA</th>
            <td>BASE AIU</td>
            <td>BASE</td>
            <td>TOTAL</td>
            <td>USUARIO</td>
        </tr>
        </thead>
        <tbody>
        {% for arContrato in arContratos %}
            <tr>
                <td>{{ arContrato.codigoContratoPk }}</td>
                <td>{{ arContrato.nombreCorto }}</td>
                <td>{{ arContrato.nombre | default('') }}</td>
                <td>{{ arContrato.fechaGeneracion | date('Y-m-d') }}</td>
                <td>{{ arContrato.estadoAutorizado?"SI":"NO" }}</td>
                <td>{{ arContrato.estadoAprobado?"SI":"NO" }}</td>
                <td>{{ arContrato.estadoAnulado?"SI":"NO" }}</td>
                <td>{{ arContrato.estadoTerminado?"SI":"NO" }}</td>
                <td>{{ arContrato.cantidad }}</td>
                <td>{{ arContrato.estrato }}</td>
                <td>{{ arContrato.horas }}</td>
                <td>{{ arContrato.horasDiurnas }}</td>
                <td>{{ arContrato.horasNocturnas }}</td>
                <td CLASS="numero">{{ arContrato.vrTotalCosto | number_format(0, '.', ',') }}</td>
                <td CLASS="numero">{{ arContrato.vrTotalContrato | number_format(0, '.', ',') }}</td>
                <td CLASS="numero">{{ arContrato.vrTotalPrecioAjustado | number_format(0, '.', ',') }}</td>
                <td CLASS="numero">{{ arContrato.vrTotalPrecioMinimo | number_format(0, '.', ',') }}</td>
                <td CLASS="numero">{{ arContrato.vrSubtotal | number_format(0, '.', ',') }}</td>
                <td CLASS="numero">{{ arContrato.vrIva | number_format(0, '.', ',') }}</td>
                <td CLASS="numero">{{ arContrato.vrBaseAiu | number_format(0, '.', ',') }}</td>
                <td CLASS="numero">{{ arContrato.vrSalarioBase | number_format(0, '.', ',') }}</td>
                <td CLASS="numero">{{ arContrato.vrTotal | number_format(0, '.', ',') }}</td>
                <td>{{ arContrato.usuario }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="btn-group" style="float: left">
        <div class="btn btn-default btn-sm">Registros
            <span class="badge">{{ arContratos.getTotalItemCount }}
            </span>
        </div>
    </div>
    <div class="btn-group btn-xs" style="float: left;margin-top: -18px;">
        {{ knp_pagination_render(arContratos) }}
    </div>
    <div class="btn-group" style="float: right; margin-right: 5px !important;">
        {{ form_widget(form.btnExcel, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
    </div>
    <br /><br />
    {{ form_end(form) }}
{% endblock %}

