{% extends 'base_cartera.html.twig' %}
{% block content %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="row">
        <!-- /.col-lg-12 -->
    </div>
    <table width="100%" class="table table-condensed table-bordered">
        <tr>
            <td class="titulo"><b>CODIGO:</b></td>
            <td class="td-in-well">{{ arRecibo.codigoReciboPk }}</td>
            <td class="titulo"><b>NUMERO:</b></td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arRecibo.numero }}</td>
        </tr>
        <tr>
            <td class="titulo"><b>CLIENTE:</b></td>
            <td class="td-in-well">{{ arRecibo.clienteRel.nombreCorto }}</td>
            <td class="titulo"><b>TOTAL DESCUENTO:</b></td>
            <td class="td-in-well"  align="right">{{ arRecibo.vrTotalDescuento | number_format }}</td>
        </tr>
        <tr>
            <td class="titulo"><b>CUENTA:</b></td>
            <td class="td-in-well">{{ arRecibo.cuentaRel.nombre }}</td>
            <td class="titulo"><b>TOTAL AJUSTE PESO:</b></td>
            <td class="td-in-well"  align="right">{{ arRecibo.vrTotalAjustePeso | number_format }}</td>
        </tr>
        <tr>
            <td class="titulo"><b>FECHA:</b></td>
            <td class="td-in-well">{{ arRecibo.fecha | date('Y-m-d') }}</td>
            <td class="titulo"><b>TOTAL RETENCION ICA:</b></td>
            <td class="td-in-well"  align="right">{{ arRecibo.vrTotalRetencionIca | number_format }}</td>
        </tr>
        <tr>
            <td class="titulo"><b></b></td>
            <td class="td-in-well"></td>
            <td class="titulo"><b>TOTAL RETENCION IVA:</b></td>
            <td class="td-in-well"  align="right">{{ arRecibo.vrTotalRetencionIva | number_format }}</td>
        </tr>
        <tr>
            <td class="titulo"><b></b></td>
            <td class="td-in-well"></td>
            <td class="titulo"><b>TOTAL RETENCION FUENTE:</b></td>
            <td class="td-in-well"  align="right">{{ arRecibo.vrTotalRetencionFuente | number_format }}</td>
        </tr>
        <tr>
            <td class="titulo"><b></b></td>
            <td class="td-in-well"></td>
            <td class="titulo"><b>PAGO:</b></td>
            <td class="td-in-well"  align="right">{{ arRecibo.vrPago | number_format }}</td>
        </tr>
        <tr>
            <td class="titulo"><b></b></td>
            <td class="td-in-well"></td>
            <td class="titulo"><b>TOTAL:</b></td>
            <td class="td-in-well"  align="right">{{ arRecibo.vrPagoTotal | number_format }}</td>
        </tr>
        <tr>
            <td class="titulo" ><b>COMENTARIOS:</b></td>
            <td class="td-in-well" colspan="5">{{ arRecibo.comentarios }}</td>
        </tr>
    </table>
    <a name="marcador"></a>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#contrato" data-toggle="tab">Condicion comercial</a></li>
    </ul>
    {{ form_end(form) }}
    <a class="btn btn-default btn-sm" href="{{ path('cartera_movimiento_recibo_recibo_lista') }}">Volver</a>
{% endblock %}
