{% extends 'base_transporte.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            {{ form_widget(form.btnImprimir, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
        </div>
    </div>
    <div style="float:right">
        {% if arGuia.estadoImpreso == 1 %}<span class="label label-default">Impresion</span>{% endif %}
        {% if arGuia.estadoEmbarcado == 1 %}<span class="label label-default">Embarcado</span>{% endif %}
        {% if arGuia.estadoDespachado == 1 %}<span class="label label-default">Despacho</span>{% endif %}
        {% if arGuia.estadoEntregado == 1 %}<span class="label label-default">Entregado</span>{% endif %}
        {% if arGuia.estadoSoporte == 1 %}<span class="label label-default">Soporte</span>{% endif %}
        {% if arGuia.estadoCumplido == 1 %}<span class="label label-default">Cumplido</span>{% endif %}
        {% if arGuia.estadoFacturaGenerada == 1 %}<span class="label label-default">Prefactura</span>{% endif %}
        {% if arGuia.estadoFacturado == 1 %}<span class="label label-default">Facturado</span>{% endif %}
        {% if arGuia.estadoAnulado == 1 %}<span class="label label-default">Anulado</span>{% endif %}
    </div>
    <br /><br />
    <table width="100%" class="table table-condensed table-bordered">
        <tr>
            <td class="titulo">ID:</td>
            <td class="td-in-well">{{ arGuia.codigoGuiaPk }}</td>
            <td class="titulo">INGRESO:</td>
            <td class="td-in-well">{{ arGuia.fechaIngreso |date("Y/m/d") }}</td>
            <td class="titulo" >UNIDADES:</td>
            <td align="right">{{ arGuia.unidades | number_format(0, '.', ',')}}</td>
        </tr>
        <tr>
            <td class="titulo">NUMERO:</td>
            <td class="td-in-well">{{ arGuia.numero }}</td>
            <td class="titulo">DESPACHO:</td>
            <td class="td-in-well">{{ arGuia.fechaDespacho |date("Y/m/d") }}</td>
            <td class="titulo" >PESO:</td>
            <td align="right">{{ arGuia.pesoReal | number_format(0, '.', ',')}}</td>
        </tr>
        <tr>
            <td class="titulo">TIPO:</td>
            <td class="td-in-well">{{ arGuia.guiaTipoRel.nombre }}</td>
            <td class="titulo">ENRTEGA:</td>
            <td class="td-in-well">{{ arGuia.fechaEntrega |date("Y/m/d") }}</td>
            <td class="titulo" >VOLUMEN:</td>
            <td align="right">{{ arGuia.pesoVolumen | number_format(0, '.', ',')}}</td>
        </tr>
        <tr>
            <td class="titulo">OPERACION(ING)</td>
            <td class="td-in-well">{{ arGuia.operacionIngresoRel.nombre }}</td>
            <td class="titulo">CUMPLIDO:</td>
            <td class="td-in-well">{{ arGuia.fechaCumplido |date("Y/m/d") }}</td>
            <td class="titulo" >PESO(FAC):</td>
            <td align="right">{{ arGuia.pesoFacturado | number_format(0, '.', ',')}}</td>
        </tr>
        <tr>
            <td class="titulo">OPERACION(CAR)</td>
            <td class="td-in-well">{{ arGuia.operacionCargoRel.nombre }}</td>
            <td class="titulo">SOPORTE:</td>
            <td class="td-in-well">{{ arGuia.fechaSoporte |date("Y/m/d") }}</td>
            <td class="titulo" >FLETE:</td>
            <td align="right">{{ arGuia.vrFlete | number_format(0, '.', ',')}}</td>
        </tr>
        <tr>
            <td class="titulo">CLIENTE:</td>
            <td class="td-in-well">{{ arGuia.clienteRel.nombreCorto }}</td>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
            <td class="titulo" >DECLARADO:</td>
            <td align="right">{{ arGuia.vrDeclara | number_format(0, '.', ',')}}</td>
        </tr>
        <tr>
            <td class="titulo">REMITENTE:</td>
            <td class="td-in-well">{{ arGuia.remitente }}</td>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
            <td class="titulo" >MANEJO:</td>
            <td align="right">{{ arGuia.vrManejo | number_format(0, '.', ',')}}</td>
        </tr>
        <tr>
            <td class="titulo">SERVICIO:</td>
            <td class="td-in-well">{{ arGuia.servicioRel.nombre }}</td>
            <td class="titulo">ORIGEN:</td>
            <td class="td-in-well">{{ arGuia.ciudadOrigenRel.nombre }}</td>
            <td class="titulo" >RECAUDO:</td>
            <td align="right">{{ arGuia.vrRecaudo | number_format(0, '.', ',')}}</td>
        </tr>
        <tr>
            <td class="titulo">RUTA:</td>
            <td class="td-in-well">{{ arGuia.rutaRel.nombre }}</td>
            <td class="titulo">DESTINO:</td>
            <td class="td-in-well">{{ arGuia.ciudadDestinoRel.nombre }}</td>
            <td class="titulo" >ABONOS:</td>
            <td align="right">{{ arGuia.vrAbono | number_format(0, '.', ',')}}</td>
        </tr>
        <tr>
            <td class="titulo">PRODUCTO:</td>
            <td class="td-in-well">{{ arGuia.productoRel.nombre }}</td>
            <td class="titulo">FACTURA:</td>
            <td class="td-in-well">{%if arGuia.factura == 1 %}SI{% else %}NO{% endif %}</td>
            <td class="titulo" ></td>
            <td align="right"></td>
        </tr>
        <tr>
            <td class="titulo">EMPAQUE:</td>
            <td class="td-in-well">{{ arGuia.empaqueRel.nombre }}</td>
            <td class="titulo">REEXPEDICION:</td>
            <td class="td-in-well">{%if arGuia.reexpedicion == 1 %}SI{% else %}NO{% endif %}</td>
            <td class="titulo" ></td>
            <td align="right"></td>
        </tr>
        <tr>
            <td class="titulo">DOCUMENTO:</td>
            <td class="td-in-well">{{ arGuia.documentoCliente }}</td>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
            <td class="titulo" ></td>
            <td align="right"></td>
        </tr>
        <tr>
            <td class="titulo">DESTINATARIO:</td>
            <td class="td-in-well">{{ arGuia.nombreDestinatario }}</td>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
            <td class="titulo" ></td>
            <td align="right"></td>
        </tr>
        <tr>
            <td class="titulo">DIRECCION:</td>
            <td class="td-in-well">{{ arGuia.direccionDestinatario }}</td>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
            <td class="titulo" ></td>
            <td align="right"></td>
        </tr>
        <tr>
            <td class="titulo">TELEFONO:</td>
            <td class="td-in-well">{{ arGuia.telefonoDestinatario }}</td>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
            <td class="titulo" ></td>
            <td align="right"></td>
        </tr>
        <tr>
            <td class="titulo" >COMENTARIO: </td>
            <td class="td-in-well" colspan="5">{{ arGuia.comentario }}</td>
        </tr>
    </table>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#novedades" data-toggle="tab">Novedades</a></li>
        <li><a href="#despachos" data-toggle="tab">Despachos</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="novedades">
            <div id="detalles" style="width: 100%"><br>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>FECHA</th>
                            <th>REPORTE</th>
                            <th>SOLUCION</th>
                            <th>TIPO</th>
                            <th>DESCRIPCION</th>
                            <th>ATE</th>
                            <th>REP</th>
                            <th>SOL</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for arNovedad in arNovedades %}
                            <tr>
                                <td>{{ arNovedad.codigoNovedadPk }}</td>
                                <td>{{ arNovedad.fecha |date('Y-m-d H:i') }}</td>
                                <td>{{ arNovedad.fechaReporte |date('Y-m-d H:i') }}</td>
                                <td>{{ arNovedad.fechaSolucion |date('Y-m-d H:i') }}</td>
                                <td>{{ arNovedad.nombreTipo }}</td>
                                <td>{{ arNovedad.descripcion }}</td>
                                <td>{% if arNovedad.estadoAtendido == 1 %} SI {% else %} NO {% endif %}</td>
                                <td>{% if arNovedad.estadoReporte == 1 %} SI {% else %} NO {% endif %}</td>
                                <td>{% if arNovedad.estadoSolucion == 1 %} SI {% else %} NO {% endif %}</td>
                                <td><input type="checkbox" name="ChkSeleccionar[]" value="{{ arNovedad.codigoNovedadPk }}" /></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="separador-1"></div>
                <div class="btn-toolbar" style="float: right">
                    <div class="btn-group">
                        <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('transporte_mto_transporte_guia_detalle_adicionar_novedad', {'codigoGuia': arGuia.codigoGuiaPk, 'codigoNovedad': 0 }) }}', 'GuiaAdicionarNovedad', 600, 900)">Adicionar</a>
                    </div>
                    <div class="btn-group">
                        {{ form_widget(form.btnRetirarNovedad, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="despachos">
            <div id="despachos" style="width: 100%"><br>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>COD</th>
                            <th>TIPO</th>
                            <th>NUMERO</th>
                            <th>FECHA</th>
                            <th>GEN</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for arDespachoDetalle in arDespachoDetalles %}
                            <tr>
                                <td>{{ arDespachoDetalle.codigoDespachoDetallePk }}</td>
                                <td>{{ arDespachoDetalle.codigoDespachoFk }}</td>
                                <td>{{ arDespachoDetalle.tipoDespacho }}</td>
                                <td>{{ arDespachoDetalle.numero }}</td>
                                <td>{{ arDespachoDetalle.fechaSalida | date('Y-m-d H:i') }}</td>
                                <td>{% if arDespachoDetalle.estadoGenerado == 1 %} SI {% else %} NO {% endif %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="separador-1"></div>

            </div>
        </div>
    </div>

    {{ form_end(form) }}
    <a  class="btn btn-default btn-sm" href="{{ path('transporte_mto_transporte_guia_lista') }}">Volver</a>
{% endblock %}
