<div id="content sortable-grid ui-sortable">
    <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-collapsed="true">
        <header>
            <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
            <h2>Filtro</h2>
        </header>
        <div>
            <div class="widget-body">
                {{ form_start(formFiltro, {'attr': {'class': 'form-horizontal'} }) }}
                {% include ('estructura/buscarClienteTransporte.html.twig') %}
                <div class="form-group form-group-sm">
                    <label for="form_cboGuiaTipoRel" class="col-sm-1 control-label">Tipo:</label>
                    <div class="col-sm-2">
                        {{ form_widget(formFiltro.codigoGuiaTipoFk, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <label for="form_cboOperacionRel" class="col-sm-1 control-label">Operacion:</label>
                    <div class="col-sm-2">
                        {{ form_widget(formFiltro.codigoOperacionCargoFk, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <label for="form_cboServicioRel" class="col-sm-1 control-label">Servicio:</label>
                    <div class="col-sm-5">
                        {{ form_widget(formFiltro.codigoServicioFk, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="form_TxtCodigo" class="col-sm-1 control-label">Guia:</label>
                    <div class="col-sm-2">
                        {{ form_widget(formFiltro.codigoGuiaPk, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <label class="col-sm-3 control-label"></label>
                    <label for="form_txtNumero" class="col-sm-1 control-label">Numero:</label>
                    <div class="col-sm-2">
                        {{ form_widget(formFiltro.numero, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <label for="form_txtDocumento" class="col-sm-1 control-label">Documento:</label>
                    <div class="col-sm-2">
                        {{ form_widget(formFiltro.documentoCliente, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-1 control-label">Desde:</label>
                    <div class="col-sm-5">
                        {{ form_widget(formFiltro.fechaIngresoDesde) }}
                    </div>

                    <label for="form_txtCodigoFactura" class="col-sm-1 control-label">Factura:</label>
                    <div class="col-sm-2">
                        {{ form_widget(formFiltro.codigoFacturaFk, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <label for="form_txtRemitente" class="col-sm-1 control-label">Remitente:</label>
                    <div class="col-sm-2">
                        {{ form_widget(formFiltro.remitente, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-1 control-label">Hasta:</label>
                    <div class="col-sm-5">
                        {{ form_widget(formFiltro.fechaIngresoHasta) }}
                    </div>
                    <label class="col-sm-1 control-label">Novedad</label>
                    <div class="col-sm-2">
                        {{ form_widget(formFiltro.estadoNovedad) }}
                    </div>
                    <label class="col-sm-1 control-label">Novedad solucionado</label>
                    <div class="col-sm-2">
                        {{ form_widget(formFiltro.estadoNovedadSolucion) }}
                    </div>

                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-1 control-label">Facturado:</label>
                    <div class="col-sm-2">
                        {{ form_widget(formFiltro.estadoFacturado) }}
                    </div>
                    <label class="col-sm-1 control-label">Despachado</label>
                    <div class="col-sm-2">
                        {{ form_widget(formFiltro.estadoDespachado) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <div class="col-sm-offset-2 col-sm-10">
                        {{ form_widget(formFiltro.btnFiltro, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                    </div>
                </div>
                {{ form_end(formFiltro) }}
            </div>
        </div>
    </div>
</div>
