{% extends 'base_inventario.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    {{ notificar()|raw }}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-default btn-sm"
               href="{{ path('inventario_movimiento_extranjero_importacion_lista') }}">Volver</a>
        </div>
        <div class="btn-group">
            {% include 'estructura/botonera.html.twig' %}
        </div>
    </div>
    <div style="float:right">
        {% if arImportacion.estadoAutorizado == true %}<span class="label label-default">Autorizado</span>{% endif %}
        {% if arImportacion.estadoAprobado == true %}<span class="label label-success">Aprobado</span>{% endif %}
        {% if arImportacion.estadoAnulado == true %}<span class="label label-danger">Anulado</span>{% endif %}
    </div>
    <br/><br/>
    <table width="100%" class="table table-condensed table-bordered">
        <tr>
            <td class="titulo">CODIGO:</td>
            <td class="td-in-well">{{ arImportacion.codigoImportacionPk }}</td>
            <td class="titulo">USUARIO:</td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arImportacion.usuario }}</td>
            <td class="titulo">SUBTOTAL:</td>
            <td align="right">$ {{ arImportacion.vrSubtotalExtranjero | number_format(0, '.', ',') }}</td>
            <td class="titulo">SUBTOTAL:</td>
            <td align="right">$ {{ arImportacion.vrSubtotalLocal | number_format(0, '.', ',') }}</td>
        </tr>
        <tr>
            <td class="titulo">NUMERO:</td>
            <td class="td-in-well">{{ arImportacion.numero }}</td>
            <td class="titulo">FECHA:</td>
            <td class="td-in-well">{{ arImportacion.fecha | date("Y-m-d H:i:s") }}</td>
            <td class="titulo">IVA:</td>
            <td align="right">$ {{ arImportacion.vrIvaExtranjero | number_format(0, '.', ',') }}</td>
            <td class="titulo">IVA:</td>
            <td align="right">$ {{ arImportacion.vrIvaLocal | number_format(0, '.', ',') }}</td>
        </tr>
        <tr>
            <td class="titulo">PROVEEDOR:</td>
            <td class="td-in-well">{{ arImportacion.terceroRel.nombreCorto }}</td>
            <td class="titulo">SOPORTE:</td>
            <td class="td-in-well">{{ arImportacion.soporte }}</td>
            <td class="titulo">TOTAL:</td>
            <td align="right">$ {{ arImportacion.vrTotalExtranjero | number_format(0, '.', ',') }}</td>
            <td class="titulo">TOTAL:</td>
            <td align="right">$ {{ arImportacion.vrTotalLocal | number_format(0, '.', ',') }}</td>
        </tr>
        <tr>
            <td class="titulo">TRM:</td>
            <td class="td-in-well">{{ arImportacion.tasaRepresentativaMercado }}</td>
            <td class="titulo">MONEDA:</td>
            <td class="td-in-well">{{ arImportacion.monedaRel.nombre }}</td>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
            <td class="titulo">TOTAL COSTOS:</td>
            <td align="right">$ {{ arImportacion.vrTotalCosto | number_format(0, '.', ',') }}</td>
        </tr>
        <tr>
            <td class="titulo">COMENTARIO:</td>
            <td class="td-in-well" colspan="7">{{ arImportacion.comentario }}</td>
        </tr>
    </table>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#detalles" data-toggle="tab">Detalles</a></li>
        <li><a href="#costos" data-toggle="tab">Costos</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="detalles">
            <div id="detalles" style="width: 100%"><br>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th colspan="5">ITEM</th>
                            <th colspan="6">EXTRANJERO</th>
                            <th colspan="5">LOCAL</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th>ID</th>
                            <th>ITEM</th>
                            <th>NOMBRE</th>
                            <th>REFERENCIA</th>
                            <th>MARCA</th>
                            <th>CAN</th>
                            <th>PRECIO</th>
                            <th>%IVA</th>
                            <th>IVA</th>
                            <th>SUBOTAL</th>
                            <th>TOTAL</th>
                            <th>PRECIO</th>
                            <th>%IVA</th>
                            <th>IVA</th>
                            <th>SUBOTAL</th>
                            <th>TOTAL</th>
                            <th><input type="checkbox" name="ChkSeleccionarTodosDetalle"
                                       OnClick="ChequearTodosTabla(this, 'ChkSeleccionar[]');"/></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for arImportacionDetalle in arImportacionDetalles %}
                            <tr>
                                <td>{{ arImportacionDetalle.codigoImportacionDetallePk }}<input type="hidden"
                                                                                                name="TxtCodigo[]"
                                                                                                value="{{ arImportacionDetalle.codigoImportacionDetallePk }}">
                                </td>
                                <td>{{ arImportacionDetalle.codigoItemFk | default('') }}</td>
                                <td>{{ arImportacionDetalle.itemNombre | default('') }}</td>
                                <td>{{ arImportacionDetalle.itemMarcaNombre | default('') }}</td>
                                <td>{{ arImportacionDetalle.itemReferencia | default('') }}</td>
                                <td style="text-align: center;">
                                    {% if not arImportacion.estadoAutorizado %}
                                        <input style="text-align: right;" type="text"
                                               name="TxtCantidad[{{ arImportacionDetalle.codigoImportacionDetallePk }}]"
                                               value="{{ arImportacionDetalle.cantidad }}" size="10" style="width:70px">
                                    {% else %}
                                        {{ arImportacionDetalle.cantidad }}
                                    {% endif %}
                                </td>
                                <td class="numero">
                                    {% if not arImportacion.estadoAutorizado %}
                                        <input style="text-align: right;" type="text"
                                               name="TxtPrecioExtranjero[{{ arImportacionDetalle.codigoImportacionDetallePk }}]"
                                               value="{{ arImportacionDetalle.vrPrecioExtranjero }}" size="10"
                                               style="width:70px">
                                    {% else %}
                                        $ {{ arImportacionDetalle.vrPrecioExtranjero | number_format(0, '.', ',') }}
                                    {% endif %}
                                </td>
                                <td class="numero">{{ arImportacionDetalle.porcentajeIvaExtranjero }}</td>
                                <td class="numero">{{ arImportacionDetalle.vrIvaExtranjero | number_format(0, '.', ',') }}</td>
                                <td class="numero">{{ arImportacionDetalle.vrSubtotalExtranjero | number_format(0, '.', ',') }}</td>
                                <td class="numero">{{ arImportacionDetalle.vrTotalExtranjero | number_format(0, '.', ',') }}</td>
                                <td class="numero">{{ arImportacionDetalle.vrPrecioLocal | number_format(0, '.', ',') }}</td>
                                <td class="numero">{{ arImportacionDetalle.porcentajeIvaLocal }}</td>
                                <td class="numero">{{ arImportacionDetalle.vrIvaLocal | number_format(0, '.', ',') }}</td>
                                <td class="numero">{{ arImportacionDetalle.vrSubtotalLocal | number_format(0, '.', ',') }}</td>
                                <td class="numero">{{ arImportacionDetalle.vrTotalLocal | number_format(0, '.', ',') }}</td>
                                <td style="text-align: center;"><input type="checkbox" name="ChkSeleccionar[]" value="{{ arImportacionDetalle.codigoImportacionDetallePk }}"/></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="btn-toolbar" style="float: right">
                    <div class="btn-group">
                        {% if arImportacion.estadoAutorizado == true %}
                            <input type="button" class="btn btn-default btn-sm" href="#" disabled="disabled"
                                   value="Nuevo"/>
                        {% else %}
                            <a class="btn btn-default btn-sm"
                               href="javascript:abrirVentana3('{{ path('inventario_movimiento_extranjero_importacion_detalle_nuevo', {'codigoImportacion':arImportacion.codigoImportacionPk }) }}', 'ImportacionAdicionarDetalle', 600, 900)">Nuevo</a>
                        {% endif %}
                    </div>
                    <div class="btn-group">
                        {{ form_widget(form.btnActualizarDetalle) }}
                    </div>
                    <div class="btn-group">
                        {{ form_widget(form.btnEliminar) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="costos">
            <div id="costos" style="width: 100%"><br>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>CODIGO</th>
                            <th>CONCEPTO</th>
                            <th>VALOR</th>
                            <th></th>
                            <th><input type="checkbox" name="ChkSeleccionarTodosCostos"
                                       OnClick="ChequearTodosTabla(this, 'ChkSeleccionarCostos[]');"/></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for arCosto in arCostos %}
                            <tr>
                                <td>{{ arCosto.id }}</td>
                                <td>{{ arCosto.concepto }}</td>
                                <td>{{ arCosto.nombre }}</td>
                                <td>$ {{ arCosto.vrValor | number_format(0, '.', ',') }}</td>
                                <td style="text-align: center;">
                                    {% if not arImportacion.estadoAutorizado %}
                                        <a href="javascript:abrirVentana3('{{ path('inventario_movimiento_extranjero_importacion_costo_nuevo',{'id': arCosto.id,'codigoImportacion': arImportacion.codigoImportacionPk }) }}','costoNuevo',500, 600)">
                                            <li class="fa fa-edit" style="color: black;font-size: large;"></li>
                                        </a>
                                    {% endif %}
                                </td>
                                <td style="text-align: center;"><input type="checkbox" name="ChkSeleccionarCostos[]"
                                                                       value="{{ arCosto.id }}"></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="btn-toolbar" style="float: right;">
                <div class="btn-group btn-group-sm">
                    {% if arImportacion.estadoAutorizado %}
                        <input type="button" class="btn btn-sm btn-default" value="Nuevo" disabled>
                    {% else %}
                        <a class="btn btn-sm btn-default"
                           href="javascript:abrirVentana3('{{ path('inventario_movimiento_extranjero_importacion_costo_nuevo',{'id':0,'codigoImportacion': arImportacion.codigoImportacionPk }) }}','costoNuevo',500, 800)">Nuevo</a>
                    {% endif %}
                </div>
                <div class="btn-group btn-group-sm">
                    {{ form_widget(form.btnEliminarCosto) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
