{% extends 'base_transporte.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    {% include 'estructura/botonera.html.twig' %}
    {{ form_widget(form.btnMonitoreo, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
    </div>
    </div>
    <div style="float:right">
        {% if arDespachoRecogida.estadoMonitoreo == 1 %}<span class="label label-default">Monitoreo</span>{% endif %}
    </div>
    <br/><br/>
    <table width="100%" class="table table-condensed table-bordered">
        <tr>
            <td class="titulo">NUMERO:</td>
            <td class="td-in-well">{{ arDespachoRecogida.codigoDespachoRecogidaPk }}</td>
            <td class="titulo">FECHA:</td>
            <td class="td-in-well">{{ arDespachoRecogida.fecha |date("Y/m/d") }}</td>
            <td class="titulo">CANTIDAD:</td>
            <td align="right">{{ arDespachoRecogida.cantidad }}</td>
        </tr>
        <tr>
            <td class="titulo">VEHICULO:</td>
            <td class="td-in-well">{{ arDespachoRecogida.codigoVehiculoFk }}</td>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
            <td class="titulo">UNIDADES:</td>
            <td align="right">{{ arDespachoRecogida.unidades }}</td>
        </tr>
        <tr>
            <td class="titulo">RUTA:</td>
            <td class="td-in-well">{{ arDespachoRecogida.rutaRecogidaRel.nombre| default('') }}</td>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
            <td class="titulo">PESO:</td>
            <td align="right">{{ arDespachoRecogida.pesoReal }}</td>
        </tr>
        <tr>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
            <td class="titulo">VOLUMEN:</td>
            <td align="right">{{ arDespachoRecogida.pesoVolumen }}</td>
        </tr>
        <tr>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
            <td class="titulo">PAGO:</td>
            <td align="right">{{ arDespachoRecogida.vrPago }}</td>
        </tr>
        <tr>
            <td class="titulo">COMENTARIO:</td>
            <td class="td-in-well" colspan="5">{{ arDespachoRecogida.comentario }}</td>
        </tr>
    </table>



    <ul class="nav nav-tabs">
        <li class="active"><a href="#recogidas" data-toggle="tab">Recogidas</a></li>
        <li><a href="#auxiliares" data-toggle="tab">Auxiliares</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="recogidas">
            <div id="detalles" style="width: 100%"><br>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>REG</th>
                            <th>FECHA</th>
                            <th>HORA</th>
                            <th>CLIENTE</th>
                            <th>CIUDAD</th>
                            <th>UND</th>
                            <th>PES</th>
                            <th>VOL</th>
                            <th>R</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for arRecogida in arRecogidas %}
                            <tr>
                                <td>{{ arRecogida.codigoRecogidaPk }}</td>
                                <td>{{ arRecogida.fechaRegistro | date('Y-m-d') }}</td>
                                <td>{{ arRecogida.fecha | date('Y-m-d') }}</td>
                                <td>{{ arRecogida.fecha | date('H:i') }}</td>
                                <td>{{ arRecogida.clienteNombreCorto }}</td>
                                <td>{{ arRecogida.ciudad }}</td>
                                <td style="text-align: right">{{ arRecogida.unidades }}</td>
                                <td style="text-align: right">{{ arRecogida.pesoReal }}</td>
                                <td style="text-align: right">{{ arRecogida.pesoVolumen }}</td>
                                <td>{{ arRecogida.estadoRecogido?'SI':'NO' }}</td>
                                <td style="text-align: center"><input type="checkbox" name="ChkSeleccionar[]"
                                                                      value="{{ arRecogida.codigoRecogidaPk }}"/></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="separador-1"></div>
                <div class="btn-toolbar" style="float: right">
                    <div class="btn-group">
                        {% if arDespachoRecogida.estadoAutorizado %}
                            <input type="button" class="btn btn-sm btn-default" value="Nuevo" disabled>
                        {% else %}
                            <a class="btn btn-default btn-sm"
                               href="javascript:abrirVentana3('{{ path('transporte_movimiento_recogida_despacho_detalle_adicionar_recogida', {'codigoDespachoRecogida': arDespachoRecogida.codigoDespachoRecogidaPk }) }}', 'DespachoRecogidaAdicionarRecogida', 600, 900)">Nuevo</a>
                        {% endif %}
                    </div>
                    <div class="btn-group">
                        {{ form_widget(form.btnEliminarRecogida, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="auxiliares">
            <div id="auxiliares" style="width: 100%"><br>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>DOC</th>
                            <th>NOMBRE</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for arDespachoRecogidaAuxiliar in arDespachoRecogidaAuxiliares %}
                            <tr>
                                <td>{{ arDespachoRecogidaAuxiliar.codigoDespachoRecogidaAuxiliarPk }}</td>
                                <td>{{ arDespachoRecogidaAuxiliar.numeroIdentificacion }}</td>
                                <td>{{ arDespachoRecogidaAuxiliar.nombreCorto }}</td>
                                <td style="text-align: center"><input type="checkbox" name="ChkSeleccionarAuxiliar[]"
                                                                      value="{{ arDespachoRecogidaAuxiliar.codigoDespachoRecogidaAuxiliarPk }}"/>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="separador-1"></div>
                <div class="btn-toolbar" style="float: right">
                    <div class="btn-group">
                        {% if arDespachoRecogida.estadoAutorizado %}
                            <input type="button" class="btn btn-sm btn-default" value="Nuevo" disabled>
                        {% else %}
                            <a class="btn btn-default btn-sm"
                               href="javascript:abrirVentana3('{{ path('transporte_movimiento_recogida_despacho_detalle_adicionar_auxiliar', {'codigoDespachoRecogida': arDespachoRecogida.codigoDespachoRecogidaPk }) }}', 'DespachoRecogidaAdicionarAuxiliar', 600, 900)">Nuevo</a>
                        {% endif %}
                    </div>
                    <div class="btn-group">
                        {{ form_widget(form.btnEliminarAuxiliar, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="btn-toolbar" style="float: left">
        <div class="btn-group">
            <a class="btn btn-default btn-sm"
               href="{{ path('transporte_movimiento_recogida_despacho_lista') }}">Volver</a>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
