{% extends 'base_sin_menu.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <br>
    <table class="table table-striped table-bordered table-hover tabla-datos">
        <thead>
        <tr>
            <th>ID</th>
            <th>OP</th>
            <th>HORA</th>
            <th>RUTA</th>
            <th>CLIENTE</th>
            <th>ANUNCIANTE</th>
            <th>DIRECCION</th>
            <th>CIUDAD</th>
            <th>TELEFONO</th>
            <th>UND</th>
            <th>PES</th>
            <th>VOL</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for arRecogida in arRecogidas %}
            <tr>
                <td>{{ arRecogida.codigoRecogidaPk }}</td>
                <td>{{ arRecogida.codigoOperacionFk }}</td>
                <td>{{ arRecogida.fecha | date('H:i') }}</td>
                <td>{{ arRecogida.nombre }}</td>
                <td>{{ arRecogida.clienteNombreCorto }}</td>
                <td>{{ arRecogida.anunciante }}</td>
                <td>{{ arRecogida.direccion }}</td>
                <td>{{ arRecogida.ciudad }}</td>
                <td>{{ arRecogida.telefono }}</td>
                <td style="text-align: right">{{ arRecogida.unidades }}</td>
                <td style="text-align: right">{{ arRecogida.pesoReal }}</td>
                <td style="text-align: right">{{ arRecogida.pesoVolumen }}</td>
                <td><input type="checkbox" name="ChkSeleccionar[]" value="{{ arRecogida.codigoRecogidaPk }}" /></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="btn-toolbar" style="float: right">
        {{ form_widget(form.btnGuardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
