{% extends 'base_transporte.html.twig' %}
{% block content %}
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>OP</th>
            <th>VEH</th>
            <th>RUTA</th>
            <th>FECHA</th>
            <th>CAN</th>
            <th>UND</th>
            <th>PES</th>
            <th>VOL</th>
            <th>PAGO</th>
            <th>DE</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for arDespachoRecogida in arDespachosRecogida %}
            <tr>
                <td>{{ arDespachoRecogida.codigoDespachoRecogidaPk }}</td>
                <td>{{ arDespachoRecogida.codigoOperacionFk }}</td>
                <td>{{ arDespachoRecogida.codigoVehiculoFk }}</td>
                <td>{{ arDespachoRecogida.codigoRutaRecogidaFk }}</td>
                <td>{{ arDespachoRecogida.fecha | date('Y-m-d') }}</td>
                <td style="text-align: right">{{ arDespachoRecogida.cantidad }}</td>
                <td style="text-align: right">{{ arDespachoRecogida.unidades }}</td>
                <td style="text-align: right">{{ arDespachoRecogida.pesoReal }}</td>
                <td style="text-align: right">{{ arDespachoRecogida.pesoVolumen }}</td>
                <td style="text-align: right">{{ arDespachoRecogida.vrPago }}</td>
                <td style="text-align: center">{{ arDespachoRecogida.estadoDescargado?'SI':'NO' }}</td>
                <td style="text-align: center"><a href="{{ path('tte_mto_recogida_despacho_detalle', { 'codigoDespachoRecogida': arDespachoRecogida.codigoDespachoRecogidaPk }) }}"><img src="{{ asset('../assets/img/bootstrap/glyphicons_152_new_window.png') }}"></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="btn-group" style="float: left">
        <div class="btn-group" style="float: left">
            <div class="btn btn-default btn-sm">Registros <span class="badge">{{ arDespachosRecogida.getTotalItemCount }}</span></div>
        </div>
    </div>
    <div class="btn-group btn-xs" style="float: left;margin-left: 0px;padding-top: 0px;">
        {{ knp_pagination_render(arDespachosRecogida) }}
    </div>

    <div class="btn-toolbar" style="float: right">
        <div class="btn-group">
            <a class="btn btn-default btn-sm" href="{{ path('tte_mto_recogida_despacho_nuevo', {'codigoDespachoRecogida': 0}) }}">Nuevo</a>
        </div>
    </div>
{% endblock %}
