{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="panel panel-default">
        <div class="panel-heading">Información general</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="form_pedidoTipoRel" class="col-sm-2 control-label">Nombre:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.nombre, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.nombre) }}
                </div>
                <label for="form_sectorRel" class="col-sm-2 control-label"></label>
                <div class="col-sm-4">
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_fechaProgramacion" class="col-sm-2 control-label">% IVA:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.porcentajeIva) }}
                    {{ form_errors(form.porcentajeIva) }}
                </div>
                <label for="form_soporte" class="col-sm-2 control-label">Horas:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.horas) }}
                    {{ form_errors(form.horas) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Horas diurnas:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.horasDiurnas, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.horasDiurnas) }}
                </div>
                <label class="col-sm-2 control-label">Horas nocturnas:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.horasNocturnas, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.horasNocturnas) }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default btn-sm" href="{{ path('turno_administracion_concepto_concepto_lista') }}">Cancelar</a>
        {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
