{% extends 'base.html.twig' %}
{% block content %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <div class="row">
        <!-- /.col-lg-12 -->
    </div>
    <table width="100%" class="table table-condensed table-bordered">
        <tr>
            <td class="titulo"><b>CODIGO PUESTO:</b></td>
            <td class="td-in-well">{{ arPuesto.codigoPuestoPk }}</td>
            <td class="titulo"><b>Nombre corto</b></td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arPuesto.codigoPuestoTipoFk }}</td>
        </tr>
        <tr>
            <td class="titulo"><b>codigoPuestoTipo:</b></td>
            <td class="td-in-well">{{ arPuesto.codigoPuestoTipoFk }}</td>
            <td class="titulo"><b>codigoCliente:</b></td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arPuesto.codigoClienteFk }}</td>
        </tr>
        <tr>
            <td class="titulo"><b>NOMBRE:</b></td>
            <td class="td-in-well">{{ arPuesto.nombre }}</td>
            <td class="titulo"><b>DIRECCIÓN:</b></td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arPuesto.direccion }}</td>
        </tr>
        <tr>
            <td class="titulo"><b>teléfono:</b></td>
            <td class="td-in-well">{{ arPuesto.telefono }}</td>
            <td class="titulo"><b>celular:</b></td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arPuesto.celular }}</td>
        </tr>
        <tr>
            <td class="titulo"><b>otraComunicacion:</b></td>
            <td class="td-in-well">{{ arPuesto.otraComunicacion }}</td>
            <td class="titulo"><b>contactoPrincipal:</b></td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arPuesto.contactoPrincipal }}</td>
        </tr>
        <tr>
            <td class="titulo"><b>celularContacto:</b></td>
            <td class="td-in-well">{{ arPuesto.celularContacto }}</td>
            <td class="titulo"><b>telefonoContacto:</b></td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arPuesto.telefonoContacto }}</td>
        </tr>
        <tr>
            <td class="titulo"><b>TELEFONO:</b></td>
            <td class="td-in-well">{{ arPuesto.telefono }}</td>
            <td class="titulo"><b>CÓDIGO COORDINADOR:</b></td>
            <td class="td-in-well">{{ arPuesto.codigoCoordinadorFk }}</td>
        </tr>
        <tr>
            <td class="titulo"><b>COMENTARIOS:</b></td>
            <td class="td-in-well">{{ arPuesto.comentario }}</td>
            <td class="titulo"><b>CÓDIGO CENTRO COSTO :</b></td>
            <td class="td-in-well">{{ arPuesto.codigoCentroCostoFk }}</td>
        </tr>
        <tr>
            <td class="titulo"><b>CÓDIGO SUCURSAL:</b></td>
            <td class="td-in-well">{{ arPuesto.codigoSucursalFk }}</td>
            <td class="titulo"><b>CÓDIGO AREA: </b></td>
            <td class="td-in-well">{{ arPuesto.codigoAreaFk }}</td>
        </tr>
        <tr>
            <td class="titulo"><b>CÓDIGO PROYECTO:</b></td>
            <td class="td-in-well">{{ arPuesto.codigoProyectoFk }}</td>
            <td class="titulo"><b>CONTROL PUESTO: </b></td>
            <td class="td-in-well">{{ arPuesto.controlPuesto ? "SI":"NO" }}</td>
        </tr>
        <tr>
            <td class="titulo"><b>EDAD MÍNIMA:</b></td>
            <td class="td-in-well">{{ arPuesto.edadMinima }}</td>
            <td class="titulo"><b>EDAD MÁXIMA:</b></td>
            <td class="td-in-well">{{ arPuesto.edadMaxima }}</td>
        </tr>
        <tr>
            <td class="titulo"><b>ESTATURA MÍNIMA:</b></td>
            <td class="td-in-well">{{ arPuesto.estaturaMinima }}</td>
            <td class="titulo"><b>ESTATURA MÁXIMA:</b></td>
            <td class="td-in-well">{{ arPuesto.estaturaMaxima }}</td>
        </tr>
        <tr>
            <td class="titulo"><b>PESO MÍNIMO:</b></td>
            <td class="td-in-well">{{ arPuesto.pesoMinimo }}</td>
            <td class="titulo"><b>PESO MÁXIMO: </b></td>
            <td class="td-in-well">{{ arPuesto.pesoMaximo }}</td>
        </tr>
        <tr>
            <td class="titulo"><b>CÓDIGO SEXO:</b></td>
            <td class="td-in-well">{{ arPuesto.codigoSexoFk }}</td>
            <td class="titulo"><b>CÓDIGO CIVIL: </b></td>
            <td class="td-in-well">{{ arPuesto.codigoEstadoCivilFk }}</td>
        </tr>
        <tr>
            <td class="titulo"><b>MOTO:</b></td>
            <td class="td-in-well">{{ arPuesto.moto ?"SI": "NO" }}</td>
            <td class="titulo"><b>VALIDAR PEFIL: </b></td>
            <td class="td-in-well">{{ arPuesto.validarPerfil ?"SI": "NO" }}</td>
        </tr>
        <tr>
            <td class="titulo"><b>CARRO:</b></td>
            <td class="td-in-well">{{ arPuesto.carro ?"SI": "NO" }}</td>
            <td class="titulo"><b>VISITA DOMICILIARIA: </b></td>
            <td class="td-in-well">{{ arPuesto.visitaDomiciliaria ?"SI": "NO" }}</td>
        </tr>
        <tr>
            <td class="titulo"><b>POLIGRAFIA:</b></td>
            <td class="td-in-well">{{ arPuesto.poligrafia ?"SI": "NO" }}</td>
            <td class="titulo"><b>VISITA DOMICILIARIA: </b></td>
            <td class="td-in-well">{{ arPuesto.visitaDomiciliaria ?"SI": "NO" }}</td>
        </tr>
        <tr>
            <td class="titulo"><b>HORA INICIO:</b></td>
            <td class="td-in-well">{{ arPuesto.horaInicio | date('h:i:s') }}</td>
            <td class="titulo"><b>HORA horaFinal: </b></td>
            <td class="td-in-well">{{ arPuesto.horaFinal | date('h:i:s') }}</td>
        </tr>
        <tr>
            <td class="titulo"><b>UBICACIÓN GPS:</b></td>
            <td class="td-in-well">{{ arPuesto.ubicacionGps }}</td>
            <td class="titulo"><b>ESTADO INACTIVO: </b></td>
            <td class="td-in-well">{{ arPuesto.estadoInactivo ?"INACTIVO": "ACTIVO" }}</td>
        </tr>

    </table>
    <a class="btn btn-default btn-sm" href="{{ path('turno_administracion_cliente_cliente_lista') }}">Volver</a>
{% endblock %}
