{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="panel panel-default">
        <div class="panel-heading">
            Filtros
        </div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label class="col-sm-1 control-label">Desde:</label>
                <div class="col-sm-2">
                    {{ form_widget(form.fechaDesde) }}
                </div>
                <label class="col-sm-1 control-label">Movimiento desde:</label>
                <div class="col-sm-2">
                    {{ form_widget(form.codigoMovimientoDesde) }}
                </div>
                <label class="col-sm-1 control-label">Movimiento clase:</label>
                <div class="col-sm-2">
                    {{ form_widget(form.movimientoClaseRel) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-1 control-label">Hasta:</label>
                <div class="col-sm-2">
                    {{ form_widget(form.fechaHasta) }}
                </div>
                <label class="col-sm-1 control-label">Movimiento hasta:</label>
                <div class="col-sm-2">
                    {{ form_widget(form.codigoMovimientoHasta) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <div class="col-sm-offset-2 col-sm-10">
                    {{ form_widget(form.btnGenerar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}