{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div id="content sortable-grid ui-sortable">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-collapsed="true">
            <header>
                <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
                <h2>Filtro</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="form-group form-group-sm">
                        <label for="txtCodigoConductor" class="col-sm-1 control-label">Cliente:</label>
                        <div class="col-sm-11">
                            <div class="row">
                                <div class="col-lg-2">
                                    <div class="input-group">
                                        {{ form_widget(form.codigoCliente) }}
                                    </div>
                                </div>
                                <div class="col-lg-10">
                                    <div class="input-group">
                                        <input id="form_txtNombreCorto" class="form-control" readonly>
                                        <span class="input-group-btn">
                                            <a class="btn btn-default btn-sm"
                                               href="javascript:abrirVentana3('{{ path('turno_buscar_cliente',
                                                   { 'campoCodigo': 'form_codigoCliente', 'campoNombre': 'form_txtNombreCorto' }) }}', 'buscarCliente', 600, 900)">Buscar</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="form_codigoPuesto" class="col-sm-1 control-label">Puesto:</label>
                        <div class="col-sm-11">
                            <div class="row">
                                <div class="col-lg-2">
                                    <div class="input-group">
                                        {{ form_widget(form.codigoPuesto) }}
                                    </div>
                                </div>
                                <div class="col-lg-10">
                                    <div class="input-group">
                                        <input id="form_txtNombrePuesto" class="form-control" readonly>
                                        <span class="input-group-btn">
                                            <a class="btn btn-default btn-sm"
                                               href="javascript:abrirVentana3('{{ path('turno_buscar_puesto',
                                                   { 'campoCodigo': 'form_codigoPuesto', 'campoNombre': 'form_txtNombrePuesto' }) }}', 'buscarCliente', 600, 900)">Buscar</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="form_codigoPedidoDetalle" class="col-sm-1 control-label">Codigo:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.codigoPedidoDetalle, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <label for="form_anio" class="col-sm-1 control-label">Año:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.anio, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <label for="form_mes" class="col-sm-1 control-label">Mes:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.mes, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <div class="col-sm-offset-2 col-sm-10">
                            {{ form_widget(form.btnFiltrar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover tabla-datos">
        <thead>
        <tr>
            <th>ID</th>
            <th>CLIENTE</th>
            <th>CONCEPTO</th>
            <th>PUESTO</th>
            <th>AÑO</th>
            <th>MES</th>
            <th>MOD</th>
            <th>DES</th>
            <th>HAS</th>
            <th>CANT</th>
            <th>L</th>
            <th>M</th>
            <th>M</th>
            <th>J</th>
            <th>V</th>
            <th>S</th>
            <th>D</th>
            <th>F</th>
            <th>H</th>
            <th>HD</th>
            <th>HN</th>
            <th title="Contrato detalle">CD</th>
            <th></th>
            <th class="text-center" title="seleccionar todas los grupos"><input type="checkbox" name="ChkSeleccionarTodos" onclick="ChequearTodosTabla(this, 'ChkSeleccionar[]')"> </th>
        </tr>
        </thead>
        <tbody>
        {% for arPedidoDetalle in arPedidoDetalles %}
            <tr>
                <td>{{ arPedidoDetalle.codigoPedidoDetallePk }}</td>
                <td>{{ arPedidoDetalle.cliente }}</td>
                <td>{{ arPedidoDetalle.conceptoNombre }}</td>
                <td>{{ arPedidoDetalle.puestoNombre }}</td>
                <td>{{ arPedidoDetalle.anio }}</td>
                <td>{{ arPedidoDetalle.mes }}</td>
                <td>{{ arPedidoDetalle.modalidadNombre }}</td>
                <td>{{ arPedidoDetalle.diaDesde }}</td>
                <td>{{ arPedidoDetalle.diaHasta }}</td>
                <td>{{ arPedidoDetalle.cantidad }}</td>
                <td>{{ arPedidoDetalle.lunes ? 'S':'N' }}</td>
                <td>{{ arPedidoDetalle.martes ? 'S':'N' }}</td>
                <td>{{ arPedidoDetalle.miercoles ? 'S':'N' }}</td>
                <td>{{ arPedidoDetalle.jueves  ? 'S':'N' }}</td>
                <td>{{ arPedidoDetalle.viernes ? 'S':'N' }}</td>
                <td>{{ arPedidoDetalle.sabado  ? 'S':'N' }}</td>
                <td>{{ arPedidoDetalle.domingo ? 'S':'N' }}</td>
                <td>{{ arPedidoDetalle.festivo ? 'S':'N' }}</td>
                <td class="numero">{{ arPedidoDetalle.horas }}({{ arPedidoDetalle.horasProgramadas }})</td>
                <td class="numero">{{ arPedidoDetalle.horasDiurnas }}({{ arPedidoDetalle.horasDiurnasProgramadas }})</td>
                <td class="numero">{{ arPedidoDetalle.horasNocturnas }}({{ arPedidoDetalle.horasNocturnasProgramadas }})</td>
                <td class="numero">{{ arPedidoDetalle.codigoContratoDetalleFk }}</td>
                <td style="text-align: center;">
                    {% if arPedidoDetalle.codigoContratoDetalleFk is not null %}
                    <a
                            href="javascript:abrirVentana3('{{ path('turno_utilidad_operacion_programacion_detalle',{ 'id': arPedidoDetalle.codigoPedidoDetallePk }) }}','resumen',800,1200)"><i
                                class="fa fa-table" style="color: black;font-size: large;"></i></a>
                    {% endif %}
                </td>
                <td class="text-center">
                    <input type="checkbox" name="ChkSeleccionar[]" value="{{ arPedidoDetalle.codigoPedidoDetallePk  }}"/>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="btn-group" style="float: left">
        <div class="btn btn-default btn-sm">
            <span class="badge">{{ arPedidoDetalles.getTotalItemCount }}</span>
        </div>
    </div>
    <div class="btn-group btn-xs" style="float: left;margin-top: -18px;">
        {{ knp_pagination_render(arPedidoDetalles) }}
    </div>
    <div class="btn-group" style="float: right; margin-right: 5px !important;">
        {{ form_widget(form.btnDescartar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>
    <div class="btn-group" style="float: right; margin-right: 5px !important;">
        {{ form_widget(form.btnExcel, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
    </div>
    <br/><br/>
    {{ form_end(form) }}
{% endblock %}