{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form) }}
    <table class="table table-striped table-bordered table-hover tabla-datos">
        <thead>
        <tr>
            <th>ID</th>
            <th></th>
            <th class="text-center" title="seleccionar todas los grupos"><input type="checkbox" name="ChkSeleccionarTodos" onclick="ChequearTodosTabla(this, 'ChkSeleccionar[]')"> </th>
        </tr>
        </thead>
        <tbody>
        {% for arPedidoDetalle in arPedidoDetalles %}
            <tr>
                <td>{{ arPedidoDetalle.codigoPedidoDetallePk }}</td>
                <td style="text-align: center;"><a
                            href="javascript:abrirVentana3('{{ path('turno_utilidad_operacion_programacion_detalle',{ 'id': arPedidoDetalle.codigoPedidoDetallePk }) }}','resumen',600,1000)"><i
                                class="fa fa-table" style="color: black;font-size: large;"></i></a></td>
                <td class="text-center">
                    <input type="checkbox" name="ChkSeleccionar[]" value="{{ arPedidoDetalle.codigoPedidoDetallePk  }}"/>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br/><br/>
    {{ form_end(form) }}
{% endblock %}