{% extends 'base_inventario.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
    {{ notificar()|raw }}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            {{ form_widget(form.btnAutorizar) }}
            {{ form_widget(form.btnDesautorizar) }}
            {{ form_widget(form.btnImprimir) }}
            {{ form_widget(form.btnAprobar) }}
            {{ form_widget(form.btnAnular) }}
        </div>
        <div class="btn-group">
            {{ form_widget(form.sucursalRel) }}
        </div>
    </div>
    <div style="float:right">
        {% if arMovimiento.estadoAutorizado == true %}<span class="label label-default">Autorizado</span>{% endif %}
        {% if arMovimiento.estadoAprobado == true %}<span class="label label-success">Aprobado</span>{% endif %}
        {% if arMovimiento.estadoAnulado == true %}<span class="label label-danger">Anulado</span>{% endif %}
    </div>
    <br/><br/>
    <table width="100%" class="table table-condensed table-bordered">
        <tr>
            <td class="titulo">CODIGO:</td>
            <td class="td-in-well">{{ arMovimiento.codigoMovimientoPk }}</td>
            <td class="titulo">USUARIO:</td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arMovimiento.usuario }}</td>
            <td class="titulo">SUBTOTAL:</td>
            <td class="td-in-well"
                style="text-align: right;">{{ arMovimiento.vrSubtotal |number_format(0, '.', ',') }}</td>
        </tr>
        <tr>
            <td class="titulo">NUMERO:</td>
            <td class="td-in-well">{{ arMovimiento.numero }}</td>
            <td class="titulo">FECHA:</td>
            <td class="td-in-well">{{ arMovimiento.fecha | date('Y-m-d') }}</td>
            <td class="titulo">IVA:</td>
            <td class="td-in-well" style="text-align: right;">{{ arMovimiento.vrIva | number_format(0, '.', ',') }}</td>
        </tr>
        <tr>
            <td class="titulo">TERCERO:</td>
            <td class="td-in-well">{{ arMovimiento.terceroRel.nombreCorto }}</td>
            <td class="titulo">SOPORTE:</td>
            <td class="td-in-well" style="text-align: left;">{{ arMovimiento.soporte }}</td>
            <td class="titulo">DESCUENTO:</td>
            <td class="td-in-well"
                style="text-align: right;">{{ arMovimiento.vrDescuento | number_format(0, '.', ',') }}</td>
        </tr>
        <tr>
            <td class="titulo">COMENTARIO:</td>
            <td class="td-in-well" colspan="3">{{ arMovimiento.comentarios }}</td>
            <td class="titulo">TOTAL:</td>
            <td class="td-in-well"
                style="text-align: right;">{{ arMovimiento.vrTotal | number_format(0, '.', ',') }}</td>
        </tr>
    </table>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#detalles" data-toggle="tab">Detalles</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="detalles">
            <div id="detalles" style="width: 100%"><br>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>ID ITEM</th>
                            <th>ITEM</th>
                            <th>BODEGA</th>
                            <th>LOTE</th>
                            <th>CANTIDAD</th>
                            <th title="Precio por unidad">PRECIO</th>
                            <th>SUBTOTAL</th>
                            <th>% DECUENTO</th>
                            <th>DESCUENTO</th>
                            <th>% IVA</th>
                            <th>IVA</th>
                            <th>TOTAL</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for arMovimientoDetalle in arMovimientoDetalles %}
                            <tr>
                                {{ validarTipo(arMovimientoDetalle.codigoMovimientoDetallePk) }}<input type="hidden"
                                                                                                       name="arrCodigo[]"
                                                                                                       value="{{ arMovimientoDetalle.codigoMovimientoDetallePk }}">
                                {{ validarTipo(arMovimientoDetalle.codigoItemFk) }}
                                {{ validarTipo(arMovimientoDetalle.itemRel.nombre) }}

                                {% if arMovimiento.estadoAutorizado %}
                                    {{ validarTipo(arMovimientoDetalle.codigoBodegaFk) }}
                                    {{ validarTipo(arMovimientoDetalle.loteFk) }}
                                    {{ validarTipo(arMovimientoDetalle.cantidad) }}
                                {% else %}
                                    <td style="text-align: center;">
                                        <input type="text" style="text-align: right;width: 50%;"
                                               name="arrBodega[{{ arMovimientoDetalle.codigoMovimientoDetallePk }}]"
                                               value="{{ arMovimientoDetalle.codigoBodegaFk }}">
                                    </td>
                                    <td style="text-align: center;">
                                        <input type="text" style="text-align: right;width: 50%;"
                                               name="arrLote[{{ arMovimientoDetalle.codigoMovimientoDetallePk }}]"
                                               value="{{ arMovimientoDetalle.loteFk }}">
                                    </td>
                                    <td style="text-align: center;"><input type="number" style="text-align: right; width: 50%;"
                                                                           name="arrCantidad[{{ arMovimientoDetalle.codigoMovimientoDetallePk }}]"
                                                                           value="{{ arMovimientoDetalle.cantidad }}">
                                    </td>
                                {% endif %}
                                {% if arMovimiento.estadoAutorizado %}
                                    <td style="text-align: right;">{{ arMovimientoDetalle.vrPrecio | number_format(0,'.',',') }}</td>
                                {% else %}
                                    <td style="text-align: center;"><input type="number" style="text-align: right;width: 50%;"
                                                                           name="arrValor[{{ arMovimientoDetalle.codigoMovimientoDetallePk }}]"
                                                                           value="{{ arMovimientoDetalle.vrPrecio }}">
                                    </td>
                                {% endif %}
                                <td style="text-align: right;">{{ arMovimientoDetalle.vrSubtotal | number_format(0,'.',',') }}</td>
                                {% if arMovimiento.estadoAutorizado %}
                                    <td style="text-align: right;">{{ arMovimientoDetalle.porcentajeDescuento | number_format(0,'.',',') }}</td>
                                {% else %}
                                    <td style="text-align: center;"><input type="number" style="text-align: right;width: 50%;"
                                                                           name="arrDescuento[{{ arMovimientoDetalle.codigoMovimientoDetallePk }}]"
                                                                           value="{{ arMovimientoDetalle.porcentajeDescuento }}">
                                    </td>
                                {% endif %}
                                <td style="text-align: right;">{{ arMovimientoDetalle.vrDescuento | number_format(0,'.',',') }}</td>
                                {% if arMovimiento.estadoAutorizado %}
                                    <td style="text-align: right;">{{ arMovimientoDetalle.porcentajeIva | number_format(0,'.',',') }}</td>
                                {% else %}
                                    <td style="text-align: center;"><input type="number" style="text-align: right;width: 50%;"
                                                                           name="arrIva[{{ arMovimientoDetalle.codigoMovimientoDetallePk }}]"
                                                                           value="{{ arMovimientoDetalle.porcentajeIva }}">
                                    </td>
                                {% endif %}
                                <td style="text-align: right;">{{ arMovimientoDetalle.vrIva | number_format(0,'.',',') }}</td>
                                <td style="text-align: right;">{{ arMovimientoDetalle.vrTotal| number_format(0,'.',',') }}</td>
                                {% if arMovimiento.estadoAutorizado %}
                                    <td></td>
                                {% else %}
                                    <td style="text-align: center;"><input type="checkbox" style="text-align: right;"
                                                                           name="ChkSeleccionar[]"
                                                                           value="{{ arMovimientoDetalle.codigoMovimientoDetallePk }}"/>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {#<div class="separador-1"></div>#}
                <div class="btn-toolbar" style="float: right">
                    {% if arMovimiento.estadoAutorizado == true %}
                        <div class="btn-group">
                            <input type="button" class="btn btn-default btn-sm" href="#" disabled="disabled"
                                   value="Nuevo"/>
                        </div>
                        {% if arMovimiento.documentoRel.operacionInventario == 1 %}
                            <div class="btn-group">
                                <input type="button" class="btn btn-default btn-sm" href="#" disabled="disabled"
                                       value="Nuevo desde orden compra"/>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="btn-group">
                            <a class="btn btn-default btn-sm"
                               href="javascript:abrirVentana3('{{ path('inventario_movimiento_inventario_movimiento_detalle_nuevo', {'id':arMovimiento.codigoMovimientoPk }) }}', 'MovimientoAdicionarDetalle', 600, 900)">Nuevo</a>
                        </div>
                        {% if arMovimiento.documentoRel.operacionInventario == 1 %}
                            <div class="btn-group">
                                <a class="btn btn-default btn-sm"
                                   href="javascript:abrirVentana3('{{ path('inventario_movimiento_inventario_movimiento_ordencompra_detalle_nuevo', {'id':arMovimiento.codigoMovimientoPk }) }}', 'MovimientoAdicionarDetalle', 600, 900)">Nuevo
                                    desde orden compra</a>
                            </div>
                        {% endif %}
                    {% endif %}
                    <div class="btn-group">
                        {{ form_widget(form.btnActualizar) }}
                    </div>
                    <div class="btn-group">
                        {{ form_widget(form.btnEliminar) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
    <div class="btn-group">
        <a class="btn btn-sm btn-default"
           href="{{ path('inventario_movimiento_inventario_movimiento_lista',{'tipoDocumento': arMovimiento.documentoRel.documentoTipoRel.codigoDocumentoTipoPk,'codigoDocumento': arMovimiento.documentoRel.codigoDocumentoPk }) }}">Volver</a>
    </div>
{% endblock %}
