{% extends 'base_sin_menu.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <br/>
    {{ notificar()|raw }}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5> Filtros</h5>
        </div>
        <br>
        <div class="form-group form-group-sm">
            <label for="form_nombre" class="col-sm-2 control-label">Codigo item:</label>
            <div class="col-sm-3">
                {{ form_widget(form.txtCodigoItem,{'attr':{'class':'form-control'}}) }}
            </div>
            <label for="form_codigoBarras" class="col-sm-2 control-label">Item:</label>
            <div class="col-sm-3">
                {{ form_widget(form.txtNombreItem,{'attr':{'class':'form-control'}}) }}
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label for="form_nombre" class="col-sm-2 control-label">Numero orden compra:</label>
            <div class="col-sm-3">
                {{ form_widget(form.txtNumeroOrdenCompra,{'attr':{'class':'form-control'}}) }}
            </div>
            <label for="form_codigoBarras" class="col-sm-2 control-label"></label>
            <div class="col-sm-3">
            </div>
        </div>
        <div class="panel-footer">
            {{ form_widget(form.btnFiltrar,{'attr':{'style':'float: right;'}}) }}
            <br/>
            <br/>
        </div>
    </div>
    <div>
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th title="NUMERO ORDEN DE COMPRA">NUMERO</th>
                <th>NOMBRE</th>
                <th>EXISTENCIAS</th>
                <th>STOCK_MIN</th>
                <th>STOCK_MAX</th>
                <th>CANTIDAD SOLICITADA</th>
                <th>CANTIDAD PENDIENTE</th>
                <th>CANTIDAD A ORDENAR</th>
            </tr>
            </thead>
            <tbody>
            {% for arOrdenCompraDetalle in arOrdenCompraDetalles %}
                <tr>
                    <td style="text-align: right;">{{ arOrdenCompraDetalle.codigoOrdenCompraDetallePk }}</td>
                    <td style="text-align: right;">{{ arOrdenCompraDetalle.ordenCompra }}</td>
                    <td style="text-align: left;">{{ arOrdenCompraDetalle.nombre }}</td>
                    <td style="text-align: right;">{{ arOrdenCompraDetalle.cantidadExistencia }}</td>
                    <td style="text-align: right;">{{ arOrdenCompraDetalle.stockMinimo }}</td>
                    <td style="text-align: right;">{{ arOrdenCompraDetalle.stockMaximo }}</td>
                    <td style="text-align: right;">{{ arOrdenCompraDetalle.cantidad }}</td>
                    <td style="text-align: right;">{{ arOrdenCompraDetalle.cantidadPendiente }}</td>
                    <td style="text-align: center;"><input type="number" name="itemCantidad[{{ arOrdenCompraDetalle.codigoOrdenCompraDetallePk }}]" style="text-align: right;" value="{{ arOrdenCompraDetalle.cantidad }}"></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ form_widget(form.btnGuardar,{'attr':{'style':'float: right;'}}) }}
    {{ form_end(form) }}
{% endblock %}
