{% extends 'base_sin_menu.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <br/>
    {{ notificar()|raw }}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4> Filtros de búsqueda</h4>
        </div>
        <div class="panel-body">
            {{ form_label(form.txtCodigoItem) }}
            <div class="col-sm-4">
                {{ form_widget(form.txtCodigoItem) }}
            </div>
            {{ form_label(form.txtNombreItem) }}
            <div class="col-sm-4">
                {{ form_widget(form.txtNombreItem) }}
            </div>
            {{ form_label(form.txtCodigoOrdenCompra) }}
            <div class="col-sm-4">
                {{ form_widget(form.txtCodigoOrdenCompra) }}
            </div>
        </div>
        <div class="panel-footer">
            {{ form_widget(form.btnFiltrar,{'attr':{'style':'float: right;'}}) }}
            <br/>
            <br/>
        </div>
    </div>
    <div>
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>EXISTENCIAS</th>
                <th>STOCK_MIN</th>
                <th>STOCK_MAX</th>
                <th>CANTIDAD SOLICITADA</th>
                <th>CANTIDAD PENDIENTE</th>
                <th>CANTIDAD A ORDENAR</th>
            </tr>
            </thead>
            <tbody>
            {% for arOrdenCompraDetalle in arOrdenCompraDetalles %}
                <tr>
                    <td style="text-align: right;">{{ arOrdenCompraDetalle.codigoOrdenCompraDetallePk }}</td>
                    <td style="text-align: left;">{{ arOrdenCompraDetalle.nombre }}</td>
                    <td style="text-align: right;">{{ arOrdenCompraDetalle.cantidadExistencia }}</td>
                    <td style="text-align: right;">{{ arOrdenCompraDetalle.stockMinimo }}</td>
                    <td style="text-align: right;">{{ arOrdenCompraDetalle.stockMaximo }}</td>
                    <td style="text-align: right;">{{ arOrdenCompraDetalle.cantidadSolicitada }}</td>
                    <td style="text-align: right;">{{ arOrdenCompraDetalle.cantidadPendiente }}</td>
                    <td style="text-align: center;"><input type="number" name="itemCantidad[{{ arOrdenCompraDetalle.codigoOrdenCompraDetallePk }}]" style="text-align: right;" value="{{ arOrdenCompraDetalle.cantidadSolicitada }}"></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ form_widget(form.btnGuardar,{'attr':{'style':'float: right;'}}) }}
    {{ form_end(form) }}
{% endblock %}
