{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
    {{ notificar()|raw }}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-sm btn-default"
               href="{{ path('inventario_movimiento_inventario_movimiento_lista',{'tipoDocumento': arMovimiento.documentoRel.documentoTipoRel.codigoDocumentoTipoPk,'codigoDocumento': arMovimiento.documentoRel.codigoDocumentoPk }) }}">Volver</a>
        </div>
        <div class="btn-group">
            {% include 'estructura/botonera.html.twig' %}
        </div>
    </div>
    <div style="float:right">
        {% if arMovimiento.estadoAutorizado == true %}<span class="label label-default">Autorizado</span>{% endif %}
        {% if arMovimiento.estadoAprobado == true %}<span class="label label-success">Aprobado</span>{% endif %}
        {% if arMovimiento.estadoAnulado == true %}<span class="label label-danger">Anulado</span>{% endif %}
        {% if arMovimiento.estadoContabilizado == true %}<span class="label label-success">Contabilizado</span>{% endif %}
    </div>
    <br/><br/>
    <table width="100%" class="table table-condensed table-bordered tabla-informacion">
        <tr>
            <td class="titulo">CODIGO:</td>
            <td class="td-in-well">{{ arMovimiento.codigoMovimientoPk }}</td>
            <td class="titulo">DOCUMENTO:</td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arMovimiento.documentoRel.nombre }}</td>
            <td class="titulo">SUBTOTAL:</td>
            <td class="td-in-well"
                style="text-align: right;">{{ arMovimiento.vrSubtotal |number_format(0, '.', ',') }}</td>
        </tr>
        <tr>
            <td class="titulo">NUMERO:</td>
            <td class="td-in-well">{{ arMovimiento.numero }}</td>
            <td class="titulo">USUARIO:</td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arMovimiento.usuario }}</td>
            <td class="titulo">DESCUENTO:</td>
            <td class="td-in-well"
                style="text-align: right;">{{ arMovimiento.vrDescuento | number_format(0, '.', ',') }}</td>
        </tr>
        <tr>
            <td class="titulo">FECHA:</td>
            <td class="td-in-well">{{ arMovimiento.fecha | date('Y-m-d H:i') }}</td>
            <td class="titulo">FECHA VENCE:</td>
            <td class="td-in-well">{{ arMovimiento.fechaVence | date('Y-m-d H:i') }}</td>
            <td class="titulo">BASE IVA:</td>
            <td class="td-in-well" style="text-align: right;">{{ arMovimiento.vrBaseIva | number_format(0, '.', ',') }}</td>
        </tr>
        <tr>
            <td class="titulo">SOPORTE:</td>
            <td class="td-in-well" style="text-align: left;">{{ arMovimiento.soporte }}</td>
            <td class="titulo">FECHA DOC:</td>
            <td class="td-in-well" style="text-align: left;">{{ arMovimiento.fechaDocumento | date('Y-m-d') }}</td>
            <td class="titulo">(+)IVA:</td>
            <td class="td-in-well" style="text-align: right;">{{ arMovimiento.vrIva | number_format(0, '.', ',') }}</td>
        </tr>
        <tr>
            <td class="titulo">TERCERO:</td>
            <td class="td-in-well">{{ arMovimiento.terceroRel.numeroIdentificacion }}-{{ arMovimiento.terceroRel.nombreCorto }}</td>
            <td class="titulo">GUIA:</td>
            <td class="td-in-well" style="text-align: left;">{{ arMovimiento.guia }}</td>
            <td class="titulo">BRUTO:</td>
            <td class="td-in-well"
                style="text-align: right;">{{ arMovimiento.vrTotal | number_format(0, '.', ',') }}</td>
        </tr>
        <tr>
            <td class="titulo">SUCURSAL:</td>
            <td class="td-in-well">{{ arMovimiento.codigoSucursalFk }}-{{ arMovimiento.sucursalRel.nombre | default('') }}</td>
            <td class="titulo"></td>
            <td class="td-in-well" style="text-align: left;"></td>
            <td class="titulo">(-)RTE FUENTE:</td>
            <td class="td-in-well"
                style="text-align: right;">{{ arMovimiento.vrRetencionFuente | number_format(0, '.', ',') }}</td>
        </tr>
        <tr>
            <td class="titulo">ASESOR:</td>
            <td class="td-in-well">{{ arMovimiento.asesorRel.nombre | default('') }}</td>
            <td class="titulo"></td>
            <td class="td-in-well" style="text-align: left;"></td>
            <td class="titulo">(-)RTE IVA:</td>
            <td class="td-in-well"
                style="text-align: right;">{{ arMovimiento.vrRetencionIva | number_format(0, '.', ',') }}</td>
        </tr>
        <tr>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
            <td class="titulo"></td>
            <td class="td-in-well" style="text-align: left;"></td>
            <td class="titulo">AUTORETENCION:</td>
            <td class="td-in-well"
                style="text-align: right;">{{ arMovimiento.vrAutoretencion | number_format(0, '.', ',') }}</td>
        </tr>
        <tr>
            <td class="titulo">REFERENCIA:</td>
            <td class="td-in-well">
                {% if arMovimiento.codigoDocumentoTipoFk == 'NC' or arMovimiento.codigoDocumentoTipoFk == 'ND' %}
                    COD: {{ arMovimiento.codigoMovimientoFk  | default("") }} NUM: {{ arMovimiento.movimientoRel.numero   | default("") }}
                    {% if arMovimiento.estadoAutorizado == 0 %}
                        <a class="btn btn-default btn-xs" href="javascript:abrirVentana3('{{ path('inventario_movimiento_inventario_movimiento_agregarreferencia', {'id': arMovimiento.codigoMovimientoPk }) }}', 'AdicionarFactura', 600, 900)">Agregar</a>
                    {% endif %}
                {% endif %}
            </td>
            <td class="titulo"></td>
            <td class="td-in-well" style="text-align: left;"></td>
            <td class="titulo">NETO:</td>
            <td class="td-in-well"
                style="text-align: right;">{{ arMovimiento.vrNeto | number_format(0, '.', ',') }}</td>
        </tr>
        <tr>
            <td class="titulo">COMENTARIO:</td>
            <td class="td-in-well" colspan="5">{{ arMovimiento.comentarios }}</td>
        </tr>
    </table>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#detalles" data-toggle="tab">Detalles</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="detalles">
            <div id="detalles" style="width: 100%"><br>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover tabla-datos">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>ITEM</th>
                            <th>NOMBRE</th>
                            <th>REF</th>
                            <th>LOTE</th>
                            <th title="La bodega del movimiento">BOD</th>
                            {% if arMovimiento.codigoDocumentoTipoFk == 'TRA' %}
                                <th title="Bodega de destino">BOD_D</th>
                            {% endif %}
                            <th>VENCE</th>
                            <th>CAN</th>
                            <th title="Precio por unidad">PRECIO</th>
                            <th>SUBTOTAL</th>
                            <th title="Porcentaje descuento">%D</th>
                            <th title="Descuento">DSC</th>
                            <th title="Base iva">B_IVA</th>
                            <th title="Codigo del impuesto">IVA</th>
                            <th>IVA</th>
                            <th title="Codigo de la retencion">RET</th>
                            <th>TOTAL</th>
                            <th title="Remision detalle">R</th>
                            <th title="Pedido detalle">P</th>
                            <th title="Importacion detalle">I</th>
                            <th title="Movimiento detalle">M</th>
                            <th></th>
                            <th><input type="checkbox" name="ChkSeleccionarTodosDetalle"
                                       OnClick="ChequearTodosTabla(this, 'ChkSeleccionar[]');"/></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for arMovimientoDetalle in arMovimientoDetalles %}
                            <tr>
                                <td>
                                    <a href="javascript:abrirVentana3('{{ path('inventario_movimiento_inventario_movimiento_detalle_referenciaDetalle',{'id' : arMovimientoDetalle.codigoMovimientoDetallePk }) }}','referenciaDetalle',600,1200)">
                                        {{ arMovimientoDetalle.codigoMovimientoDetallePk }}
                                    </a></td>
                                <input type="hidden"
                                       name="arrCodigo[]"
                                       value="{{ arMovimientoDetalle.codigoMovimientoDetallePk }}">
                                <td>{{ arMovimientoDetalle.codigoItemFk }}</td>
                                <td>{{ arMovimientoDetalle.itemNombre }}</td>
                                <td>{{ arMovimientoDetalle.itemReferencia }}</td>
                                {% if arMovimiento.estadoAutorizado %}
                                    <td>{{ arMovimientoDetalle.loteFk }}</td>
                                    <td>{{ arMovimientoDetalle.codigoBodegaFk }}</td>
                                    {% if arMovimiento.codigoDocumentoTipoFk == 'TRA' %}
                                        <td>{{ arMovimientoDetalle.codigoBodegaDestinoFk }}</td>
                                    {% endif %}
                                    <td>{{ arMovimientoDetalle.fechaVencimiento | date('Y-m-d') }}</td>
                                    <td class="numero">{{ arMovimientoDetalle.cantidad | number_format(0, '.', ',') }}</td>
                                {% else %}
                                    <td style="text-align: center;">
                                        <input type="text" style="text-align: left;width: 50%;"
                                               name="arrLote[{{ arMovimientoDetalle.codigoMovimientoDetallePk }}]"
                                               id="arrLote[{{ arMovimientoDetalle.codigoMovimientoDetallePk }}]"
                                               value="{{ arMovimientoDetalle.loteFk }}" {% if arMovimientoDetalle.codigoRemisionDetalleFk is not null %} readonly {% endif %}>
                                        {% if arMovimientoDetalle.codigoRemisionDetalleFk is null %}
                                            <a href="javascript:abrirVentana3('{{ path('inventario_buscar_lote_lista',{'campoCodigo' : 'arrLote['~ arMovimientoDetalle.codigoMovimientoDetallePk ~']','campoBodega' : 'arrBodega['~ arMovimientoDetalle.codigoMovimientoDetallePk ~']','campoFechaVence' : 'arrFechaVencimiento['~ arMovimientoDetalle.codigoMovimientoDetallePk ~']','codigoItem' : arMovimientoDetalle.codigoItemFk, 'tipoFactura': true }) }}','BuscarLote',600,900)"
                                               class="btn-xs btn btn-default" style="height: 20px;">..</a>
                                        {% endif %}

                                    </td>
                                    <td style="text-align: center;">
                                        <input type="text"
                                               name="arrBodega[{{ arMovimientoDetalle.codigoMovimientoDetallePk }}]"
                                               id="arrBodega[{{ arMovimientoDetalle.codigoMovimientoDetallePk }}]"
                                               value="{{ arMovimientoDetalle.codigoBodegaFk }}"
                                               style="text-align: left; width:40px" size="10" {% if arMovimientoDetalle.codigoRemisionDetalleFk is not null %} readonly {% endif %}>
                                        {% if arMovimientoDetalle.codigoRemisionDetalleFk is null %}
                                            <a href="javascript:abrirVentana3('{{ path('inventario_buscar_bodega_lista',{'campoCodigo' : 'arrBodega['~ arMovimientoDetalle.codigoMovimientoDetallePk ~']' }) }}','BuscarBodega',600,900)"
                                               class="btn-xs btn btn-default" style="height: 20px;">..</a>
                                        {% endif %}
                                    </td>
                                    {% if arMovimiento.codigoDocumentoTipoFk == 'TRA' %}
                                        <td style="text-align: center;">
                                            <input type="text"
                                                   name="arrBodegaDestino[{{ arMovimientoDetalle.codigoMovimientoDetallePk }}]"
                                                   id="arrBodegaDestino[{{ arMovimientoDetalle.codigoMovimientoDetallePk }}]"
                                                   value="{{ arMovimientoDetalle.codigoBodegaDestinoFk }}"
                                                   style="text-align: left; width:40px" size="10">
                                            <a href="javascript:abrirVentana3('{{ path('inventario_buscar_bodega_lista',{'campoCodigo' : 'arrBodegaDestino['~ arMovimientoDetalle.codigoMovimientoDetallePk ~']' }) }}','BuscarBodega',600,900)"
                                               class="btn-xs btn btn-default" style="height: 20px;">..</a>
                                        </td>
                                    {% endif %}
                                    <td style="text-align: center;"><input type="date"
                                                                           name="arrFechaVencimiento[{{ arMovimientoDetalle.codigoMovimientoDetallePk }}]"
                                                                           id="arrFechaVencimiento[{{ arMovimientoDetalle.codigoMovimientoDetallePk }}]"
                                                                           value="{{ arMovimientoDetalle.fechaVencimiento | date('Y-m-d') }}"
                                                                           style="text-align: right; width:100px"
                                                                           size="10" {% if arMovimiento.codigoDocumentoTipoFk == 'TRA' or arMovimiento.codigoDocumentoTipoFk == 'FAC' %} readonly {% endif %}></td>
                                    <td style="text-align: center;"><input type="number"
                                                                           name="arrCantidad[{{ arMovimientoDetalle.codigoMovimientoDetallePk }}]"
                                                                           value="{{ arMovimientoDetalle.cantidad }}"
                                                                           style="text-align: right; width:60px"
                                                                           size="10"></td>
                                {% endif %}
                                {% if arMovimiento.estadoAutorizado %}
                                    <td style="text-align: right;">{{ arMovimientoDetalle.vrPrecio | number_format(0,'.',',') }}</td>
                                {% else %}
                                    <td style="text-align: center;"><input type="number"
                                                                           name="arrValor[{{ arMovimientoDetalle.codigoMovimientoDetallePk }}]"
                                                                           value="{{ arMovimientoDetalle.vrPrecio }}"
                                                                           style="text-align: right; width:90px"
                                                                           size="10" {% if arMovimiento.codigoDocumentoTipoFk == 'TRA' %} readonly {% endif %}></td>
                                {% endif %}
                                <td style="text-align: right;">{{ arMovimientoDetalle.vrSubtotal | number_format(0,'.',',') }}</td>
                                {% if arMovimiento.estadoAutorizado %}
                                    <td style="text-align: right;">{{ arMovimientoDetalle.porcentajeDescuento | number_format(0,'.',',') }}</td>
                                    <td style="text-align: right;">{{ arMovimientoDetalle.vrDescuento | number_format(0,'.',',') }}</td>
                                    <td style="text-align: right;">{{ arMovimientoDetalle.vrBaseIva | number_format(0,'.',',') }}</td>
                                    <td>{{ arMovimientoDetalle.codigoImpuestoIvaFk }}</td>
                                    <td style="text-align: right;">{{ arMovimientoDetalle.vrIva | number_format(0,'.',',') }}</td>
                                    <td>{{ arMovimientoDetalle.codigoImpuestoRetencionFk }}</td>
                                {% else %}
                                    <td style="text-align: center;"><input type="number"
                                                                           name="arrDescuento[{{ arMovimientoDetalle.codigoMovimientoDetallePk }}]"
                                                                           value="{{ arMovimientoDetalle.porcentajeDescuento }}"
                                                                           style="text-align: right; width:40px"
                                                                           size="10"></td>
                                    <td style="text-align: right;">{{ arMovimientoDetalle.vrDescuento | number_format(0,'.',',') }}</td>
                                    <td style="text-align: right;">{{ arMovimientoDetalle.vrBaseIva | number_format(0,'.',',') }}</td>
                                    <td style="text-align: left">
                                        <select name="cboImpuestoIva[{{ arMovimientoDetalle.codigoMovimientoDetallePk }}]">
                                            {% for arImpuestoIva in arImpuestosIva %}
                                                <option value="{{ arImpuestoIva.codigoImpuestoPk }}" {% if arMovimientoDetalle.codigoImpuestoIvaFk == arImpuestoIva.codigoImpuestoPk %} selected {% endif %}>{{ arImpuestoIva.nombre }}</option>
                                            {% endfor %}
                                        </select></td>
                                    <td style="text-align: right;">{{ arMovimientoDetalle.vrIva | number_format(0,'.',',') }}</td>
                                    <td style="text-align: left">
                                        <select name="cboImpuestoRetencion[{{ arMovimientoDetalle.codigoMovimientoDetallePk }}]">
                                            {% for arImpuestoRetencion in arImpuestosRetencion %}
                                                <option value="{{ arImpuestoRetencion.codigoImpuestoPk }}" {% if arMovimientoDetalle.codigoImpuestoRetencionFk == arImpuestoRetencion.codigoImpuestoPk %} selected {% endif %}>{{ arImpuestoRetencion.nombre }}</option>
                                            {% endfor %}
                                        </select></td>
                                {% endif %}
                                <td style="text-align: right;">{{ arMovimientoDetalle.vrTotal| number_format(0,'.',',') }}</td>
                                <td>{{ arMovimientoDetalle.codigoRemisionDetalleFk }}</td>
                                <td>{{ arMovimientoDetalle.codigoPedidoDetalleFk }}</td>
                                <td>{{ arMovimientoDetalle.codigoImportacionDetalleFk }}</td>
                                <td>{{ arMovimientoDetalle.codigoMovimientoDetalleFk }}</td>
                                {% if arMovimiento.estadoAutorizado  == 0 %}
                                <td>
                                    <a href="javascript:abrirVentana3('{{ path('inventario_movimiento_inventario_movimiento_remision_distribucion_cargar',{'id' : arMovimientoDetalle.codigoMovimientoDetallePk }) }}','cargarDistribucion',400,600)">
                                        <li title="Carga rapida de datos" class="fa fa-bolt"
                                            style="color: black;font-size: large;"></li>
                                    </a></td>
                                    {% else %}
                                    <td></td>
                                {% endif %}
                                <td style="text-align: center;"><input type="checkbox" style="text-align: right;"
                                                                       name="ChkSeleccionar[]"
                                                                       value="{{ arMovimientoDetalle.codigoMovimientoDetallePk }}"/>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {#<div class="separador-1"></div>#}
                <div class="btn-toolbar" style="float: right">
                    {% if arMovimiento.estadoAutorizado == false %}
                        {% if arMovimiento.documentoRel.adicionar == 1 %}
                            <div class="btn-group">
                                <a class="btn btn-default btn-sm"
                                   href="javascript:abrirVentana3('{{ path('inventario_movimiento_inventario_movimiento_detalle_nuevo', {'id':arMovimiento.codigoMovimientoPk }) }}', 'MovimientoAdicionarDetalle', 600, 900)">Nuevo</a>
                            </div>
                        {% endif %}
                        {% if arMovimiento.documentoRel.adicionarOrden == 1 %}
                            <div class="btn-group">
                                <a class="btn btn-default btn-sm"
                                   href="javascript:abrirVentana3('{{ path('inventario_movimiento_inventario_movimiento_orden_detalle_nuevo', {'id':arMovimiento.codigoMovimientoPk }) }}', 'MovimientoAdicionarDetalle', 600, 1200)">Nuevo
                                    desde orden</a>
                            </div>
                        {% endif %}
                        {% if arMovimiento.documentoRel.adicionarImportacion == 1 %}
                            <div class="btn-group">
                                <a class="btn btn-default btn-sm"
                                   href="javascript:abrirVentana3('{{ path('inventario_movimiento_inventario_movimiento_importacion_detalle_nuevo', {'id':arMovimiento.codigoMovimientoPk }) }}', 'MovimientoAdicionarDetalle', 600, 1200)">Nuevo
                                    desde importacion</a>
                            </div>
                        {% endif %}

                        {% if arMovimiento.codigoDocumentoTipoFk == 'FAC' or arMovimiento.codigoDocumentoTipoFk == 'NC' or arMovimiento.codigoDocumentoTipoFk == 'ND'%}
                            {% if arMovimiento.codigoDocumentoTipoFk == 'NC' %}
                                <div class="btn-group">
                                    <a class="btn btn-default btn-sm"
                                       href="javascript:abrirVentana3('{{ path('inventario_movimiento_inventario_movimiento_movimiento_nuevo', {'id':arMovimiento.codigoMovimientoPk }) }}', 'MovimientoAdicionarDetalle', 600, 900)">Nuevo</a>
                                </div>
                            {% endif %}
                            {% if arMovimiento.documentoRel.adicionarPedido == 1 %}
                                <div class="btn-group"><a class="btn btn-default btn-sm"
                                                          href="javascript:abrirVentana3('{{ path('inventario_movimiento_inventario_movimiento_pedido_detalle_nuevo', {'id':arMovimiento.codigoMovimientoPk }) }}', 'MovimientoAdicionarDetalle', 600, 1200)">Nuevo
                                        desde pedido</a>
                                </div>
                            {% endif %}
                            {% if arMovimiento.documentoRel.adicionarRemision == 1 %}
                                <div class="btn-group">
                                    <a class="btn btn-default btn-sm"
                                       href="javascript:abrirVentana3('{{ path('inventario_movimiento_inventario_movimiento_remision_detalle_nuevo', {'id':arMovimiento.codigoMovimientoPk }) }}', 'MovimientoAdicionarDetalle', 600, 1200)">Nuevo
                                        desde remision</a>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    <div class="btn-group">
                        {{ form_widget(form.btnActualizarImportacion) }}
                    </div>
                    <div class="btn-group">
                        {{ form_widget(form.btnActualizar) }}
                    </div>
                    <div class="btn-group">
                        {{ form_widget(form.btnDuplicar) }}
                        {{ form_widget(form.btnEliminar) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
    <br/><br/>
{% endblock %}
