{% extends 'base.html.twig' %}
{% block content %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>ABREVIATURA</th>
                <th>CONSECUTIVO</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for arDocumento in arDocumentos %}
                <tr>
                    <td>{{ arDocumento.codigoDocumentoPk }}</td>
                    <td>{{ arDocumento.nombre | default('') }}</td>
                    <td>{{ arDocumento.abreviatura | default('') }}</td>
                    <td>{{ arDocumento.consecutivo }}</td>
                    <td style="text-align: center;">
                        <a href="{{ path('inventario_movimiento_inventario_movimiento_lista', {'tipoDocumento': tipoDocumento,'codigoDocumento' : arDocumento.codigoDocumentoPk }) }}">
                            <i class="fa fa-share-square-o" style="font-size: large;color: black;">
                            </i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
