{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="panel panel-default">
        <div class="panel-heading">Información general</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="form_examenClaseRel" class="col-sm-1 control-label">Numero:</label>
                <div class="col-sm-5">
                    {{ form_widget(form.numero) }}
                    {{ form_errors(form.numero) }}
                </div>
                <label for="form_entidadExamenRel" class="col-sm-1 control-label">Fecha:</label>
                <div class="col-sm-5">
                    {{ form_widget(form.fecha) }}
                    {{ form_errors(form.fecha) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_entidadExamenRel" class="col-sm-1 control-label">Prefijo:</label>
                <div class="col-sm-5">
                    {{ form_widget(form.prefijo) }}
                    {{ form_errors(form.prefijo) }}
                </div>
                <label for="form_entidadExamenRel" class="col-sm-1 control-label">Clave tecnica:</label>
                <div class="col-sm-5">
                    {{ form_widget(form.claveTecnica) }}
                    {{ form_errors(form.claveTecnica) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_examenClaseRel" class="col-sm-1 control-label">Numeración desde:</label>
                <div class="col-sm-2">
                    {{ form_widget(form.numeroDesde) }}
                    {{ form_errors(form.numeroDesde) }}
                </div>
                <label for="form_entidadExamenRel" class="col-sm-1 control-label">Numeración hasta:</label>
                <div class="col-sm-2">
                    {{ form_widget(form.numeroHasta) }}
                    {{ form_errors(form.numeroHasta) }}
                </div>
                <label for="form_entidadExamenRel" class="col-sm-1 control-label">Set pruebas:</label>
                <div class="col-sm-5">
                    {{ form_widget(form.setPruebas) }}
                    {{ form_errors(form.setPruebas) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_examenClaseRel" class="col-sm-1 control-label">Fecha desde:</label>
                <div class="col-sm-2">
                    {{ form_widget(form.fechaDesde) }}
                    {{ form_errors(form.fechaDesde) }}
                </div>
                <label for="form_entidadExamenRel" class="col-sm-1 control-label">Fecha hasta:</label>
                <div class="col-sm-2">
                    {{ form_widget(form.fechaHasta) }}
                    {{ form_errors(form.fechaHasta) }}
                </div>
                <label for="form_examenClaseRel" class="col-sm-1 control-label">PIN:</label>
                <div class="col-sm-2">
                    {{ form_widget(form.pin) }}
                    {{ form_errors(form.pin) }}
                </div>
                <label for="form_entidadExamenRel" class="col-sm-1 control-label">Ambiente:</label>
                <div class="col-sm-2">
                    {{ form_widget(form.ambiente) }}
                    {{ form_errors(form.ambiente) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_entidadExamenRel" class="col-sm-1 control-label"></label>
                <div class="col-sm-1">
                    {{ form_widget(form.prueba) }}
                    {{ form_errors(form.prueba) }}
                </div>
                <label for="form_entidadExamenRel" class="col-sm-1 control-label"></label>
                <div class="col-sm-1">
                    {{ form_widget(form.estadoActivo) }}
                    {{ form_errors(form.estadoActivo) }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default btn-sm" href="{{ path('general_administracion_general_resolucion_lista') }}">Cancelar</a>
        {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>
    {{ form_end(form) }}

{% endblock %}
