{% extends 'base_transporte.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}

    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a  class="btn btn-default btn-sm" href="{{ path('transporte_movimiento_transporte_despacho_lista') }}">Volver</a>
        </div>
        <div class="btn-group">
            {% include 'estructura/botoneraLibre.html.twig' %}
            {{ form_widget(form.btnCerrar, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
            {{ form_widget(form.btnRndc, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
            {{ form_widget(form.btnImprimirManifiesto, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
        </div>
    </div>
    <div style="float:right">
        {% if arDespacho.estadoAutorizado == 1 %}<span class="label label-default">Autorizado</span>{% endif %}
        {% if arDespacho.estadoAprobado == 1 %}<span class="label label-default">Aprobado</span>{% endif %}
        {% if arDespacho.estadoAnulado == 1 %}<span class="label label-default">Anulado</span>{% endif %}
    </div>
    <br /><br />
    <table width="100%" class="table table-condensed table-bordered">
        <tr>
            <td class="titulo">CODIGO:</td>
            <td class="td-in-well">{{ arDespacho.codigoDespachoPk }}</td>
            <td class="titulo">TIPO:</td>
            <td class="td-in-well">{{ arDespacho.despachoTipoRel.nombre | default('') }}</td>
            <td class="titulo" >FLETE:</td>
            <td align="right">{{ arDespacho.vrFletePago | number_format(0, '.', ',')  }}</td>
        </tr>
        <tr>
            <td class="titulo">NUMERO:</td>
            <td class="td-in-well">{{ arDespacho.numero }}</td>
            <td class="titulo">FECHA SALIDA:</td>
            <td class="td-in-well">{{ arDespacho.fechaSalida |date("Y/m/d") }}</td>
            <td class="titulo" >(-)ANTICIPO:</td>
            <td align="right">{{ arDespacho.vrAnticipo | number_format(0, '.', ',')  }}</td>
        </tr>
        <tr>
            <td class="titulo">RNDC:</td>
            <td class="td-in-well">{{ arDespacho.numeroRndc }}</td>
            <td class="titulo">FECHA LLEGADA</td>
            <td class="td-in-well">{{ arDespacho.fechaLlegada |date("Y/m/d") }}</td>
            <td class="titulo" >(-)INDUSTRIA COMERCIO</td>
            <td align="right">{{ arDespacho.vrIndustriaComercio | number_format(0, '.', ',')  }}</td>
        </tr>
        <tr>
            <td class="titulo">CONDUCTOR:</td>
            <td class="td-in-well">{{ arDespacho.conductorRel.nombreCorto | default('') }}</td>
            <td class="titulo">VEHICULO:</td>
            <td class="td-in-well">{{ arDespacho.codigoVehiculoFk }}</td>
            <td class="titulo" >(-)RETENCION FUENTE</td>
            <td align="right">{{ arDespacho.vrRetencionFuente | number_format(0, '.', ',') }}</td>
        </tr>
        <tr>
            <td class="titulo">ORIGEN:</td>
            <td class="td-in-well">{{ arDespacho.ciudadOrigenRel.nombre | default('') }}</td>
            <td class="titulo">DESTINO:</td>
            <td class="td-in-well">{{ arDespacho.ciudadDestinoRel.nombre | default('') }}</td>
            <td class="titulo" >TOTAL</td>
            <td align="right">{{ arDespacho.vrTotal | number_format(0, '.', ',')  }}</td>
        </tr>

        <tr>
            <td class="titulo">RUTA:</td>
            <td class="td-in-well">{{ arDespacho.rutaRel.nombre | default('') }}</td>
            <td class="titulo">UNIDADES:</td>
            <td class="td-in-well">{{ arDespacho.unidades | number_format(0, '.', ',') }}</td>
            <td class="titulo" >PAPELERIA:</td>
            <td align="right">{{ arDespacho.vrDescuentoPapeleria | number_format(0, '.', ',') }}</td>
        </tr>
        <tr>
            <td class="titulo">USUARIO:</td>
            <td class="td-in-well">{{ arDespacho.usuario }}</td>
            <td class="titulo">PESO:</td>
            <td class="td-in-well">{{ arDespacho.pesoReal }}</td>
            <td class="titulo">SEGURIDAD:</td>
            <td align="right">{{ arDespacho.vrDescuentoSeguridad | number_format(0, '.', ',') }}</td>
        </tr>
        <tr>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
            <td class="titulo">VOLUMEN:</td>
            <td class="td-in-well">{{ arDespacho.pesoVolumen }}</td>
            <td class="titulo" >CARGUE:</td>
            <td align="right">{{ arDespacho.vrDescuentoCargue | number_format(0, '.', ',') }}</td>
        </tr>
        <tr>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
            <td class="titulo">CANTIDAD:</td>
            <td class="td-in-well">{{ arDespacho.cantidad }}</td>
            <td class="titulo" >ESTAMPILLA:</td>
            <td align="right">{{ arDespacho.vrDescuentoEstampilla | number_format(0, '.', ',') }}</td>
        </tr>
        <tr>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
            <td class="titulo">FLETE:</td>
            <td class="td-in-well">{{ arDespacho.vrFlete | number_format(0, '.', ',') }}</td>
            <td class="titulo" >SALDO:</td>
            <td align="right">{{ arDespacho.vrSaldo | number_format(0, '.', ',') }}</td>
        </tr>
        <tr>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
            <td class="titulo">MANEJO:</td>
            <td class="td-in-well">{{ arDespacho.vrManejo | number_format(0, '.', ',') }}</td>
            <td class="titulo" ></td>
            <td align="right"></td>
        </tr>
        <tr>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
            <td class="titulo">COBRO ENTREGA:</td>
            <td class="td-in-well">{{ arDespacho.vrCobroEntrega | number_format(0, '.', ',') }}</td>
            <td class="titulo" ></td>
            <td align="right"></td>
        </tr>
        <tr>
            <td class="titulo" >COMENTARIO: </td>
            <td class="td-in-well" colspan="5">{{ arDespacho.comentario }}</td>
        </tr>
    </table>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#guias" data-toggle="tab">Guias</a></li>
        <li><a href="#otros" data-toggle="tab">Otros</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="guias">
            <div id="detalles" style="width: 100%"><br>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>TIPO</th>
                            <th>GUIA</th>
                            <th>FECHA</th>
                            <th title="Operacion de ingreso">OI</th>
                            <th title="Operacion de cargo">OC</th>
                            <th>NUMERO</th>
                            <th>DOCUMENTO</th>
                            <th>CLIENTE</th>
                            <th>DESTINO</th>
                            <th>FLETE</th>
                            <th>MANEJO</th>
                            <th title="Cobro destino">COB_DES</th>
                            <th title="Unidades">UND</th>
                            <th title="Peso">PES</th>
                            <th title="Volumen">VOL</th>
                            <th><input type="checkbox" name="ChkSeleccionarTodosDetalle" OnClick="ChequearTodosTabla(this, 'ChkSeleccionar[]');"/></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for arDespachoDetalle in arDespachoDetalles %}
                            <tr>
                                <td>{{ arDespachoDetalle.codigoDespachoDetallePk }}</td>
                                <td>{{ arDespachoDetalle.codigoGuiaTipoFk }}</td>
                                <td>{{ arDespachoDetalle.codigoGuiaFk }}</td>
                                <td>{{ arDespachoDetalle.fechaIngreso | date('Y-m-d') }}</td>
                                <td>{{ arDespachoDetalle.codigoOperacionIngresoFk }}</td>
                                <td>{{ arDespachoDetalle.codigoOperacionCargoFk }}</td>
                                <td>{{ arDespachoDetalle.numero }}</td>
                                <td>{{ arDespachoDetalle.documentoCliente }}</td>
                                <td>{{ arDespachoDetalle.clienteNombreCorto }}</td>
                                <td>{{ arDespachoDetalle.ciudadDestino }}</td>
                                <td style="text-align: right">{{ arDespachoDetalle.vrFlete | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arDespachoDetalle.vrManejo | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arDespachoDetalle.vrCobroEntrega | number_format(0, '.', ',')}}</td>
                                <td style="text-align: right">{{ arDespachoDetalle.unidades | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arDespachoDetalle.pesoReal | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arDespachoDetalle.pesoVolumen | number_format(0, '.', ',') }}</td>
                                <td style="text-align: center;"><input type="checkbox" name="ChkSeleccionar[]" value="{{ arDespachoDetalle.codigoDespachoDetallePk }}" /></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="separador-1"></div>
                <div class="btn-toolbar" style="float: right">
                    <div class="btn-group">
                        {% if arDespacho.estadoAutorizado == 0 %}
                            <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('transporte_movimiento_transporte_despacho_detalle_adicionar_guia', {'id': arDespacho.codigoDespachoPk }) }}', 'DespachoAdicionarGuia', 600, 1200)">Nuevo</a>
                        {% endif %}
                    </div>
                    <div class="btn-group">
                        {{ form_widget(form.btnActualizar, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
                    </div>
                    <div class="btn-group">
                        {{ form_widget(form.btnRetirarGuia, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="otros">
            <div id="auxiliares" style="width: 100%"><br>
                <div class="table-responsive">

                </div>
                <div class="separador-1"></div>

            </div>
        </div>
    </div>
    <div class="btn-toolbar" style="float: left">
        <div class="btn-group">
            <a  class="btn btn-default btn-sm" href="{{ path('transporte_movimiento_transporte_despacho_lista') }}">Volver</a>
        </div>
    </div>
    {{ form_end(form) }}
    {% if arDespacho.estadoAutorizado == 0 %}
        <br /><br />
        <input type="text" id="txtGuiaCodigo"><button id="btnAdicionar">Adicionar</button>
        <br /><br />
        <input type="text" id="txtGuiaDocumento"><button id="btnAdicionarDocumento">Adicionar documento</button>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var codigoDespacho = '{{ arDespacho.codigoDespachoPk }}';
        $(function() {
            var button = $("#btnAdicionar");
            var buttonDocumento = $("#btnAdicionarDocumento");
            var txtGuiaCodigo = $("#txtGuiaCodigo");
            var txtGuiaDocumento = $("#txtGuiaDocumento");
            button.click(function() {
                agregarGuia(txtGuiaCodigo.val(), codigoDespacho);
            });
            txtGuiaCodigo.keydown(function (event) {
                if(event.keyCode === 13) {
                    agregarGuia(txtGuiaCodigo.val(), codigoDespacho);
                }
            });
            buttonDocumento.click(function() {
                agregarDocumento(txtGuiaDocumento.val(), codigoDespacho);
            });
            txtGuiaDocumento.keydown(function (event) {
                if(event.keyCode === 13) {
                    agregarDocumento(txtGuiaDocumento.val(), codigoDespacho);
                }
            });
        });

        var agregarGuia = function(codigoGuia, codigoDespacho) {
            //endpoint = "http://localhost/cromo/public/index.php/transporte/api/guia/despacho/adicionar/" + codigoDespacho + "/" + codigoGuia;
            endpoint = "{{ env('SERVER_API') }}/transporte/api/guia/despacho/adicionar/" + codigoDespacho + "/" + codigoGuia;
            $.ajax(endpoint, {
                type: 'POST',
                data: {
                    arrParametros: JSON.stringify({
                        codigoGuia: codigoGuia
                    }),
                }
            }).done(function(respuesta) {
                if(respuesta && respuesta.error === true) {
                    alert(respuesta.mensaje);
                }
                $("#txtGuiaCodigo").val("").focus();
            });
        };

        var agregarDocumento = function(documento, codigoDespacho) {
            endpoint = "{{ env('SERVER_API') }}/transporte/api/guia/despacho/adicionar/documento/" + codigoDespacho + "/" + documento;
            $.ajax(endpoint, {
                type: 'POST',
                data: {
                    arrParametros: JSON.stringify({
                        documento: documento
                    }),
                }
            }).done(function(respuesta) {
                if(respuesta && respuesta.error === true) {
                    alert(respuesta.mensaje);
                }
                $("#txtGuiaDocumento").val("").focus();
            });
        };
    </script>
{% endblock %}
