{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div id="content sortable-grid ui-sortable">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-collapsed="true">
            <header>
                <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
                <h2>Filtro</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="form-group form-group-sm">
                        <label for="txtCodigoConductor" class="col-sm-1 control-label">Conductor:</label>
                        <div class="col-sm-11">
                            <div class="row">
                                <div class="col-lg-2">
                                    <div class="input-group">
                                        {{ form_widget(form.codigoConductorFk) }}
                                    </div>
                                </div>
                                <div class="col-lg-10">
                                    <div class="input-group">
                                        <input id="form_txtNombreCorto" class="form-control" readonly>
                                        <span class="input-group-btn">
                                        <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('transporte_bus_conductor', { 'campoCodigo': 'form_codigoConductorFk', 'campoNombre': 'form_txtNombreCorto' }) }}', 'buscarCliente', 600, 900)">Buscar</a>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-1 control-label" >Codigo:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.codigoDespachoPk, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <label class="col-sm-1 control-label">Numero:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.numero, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <label class="col-sm-1 control-label">Vehiculo:</label>
                        <div class="col-sm-5">
                            {{ form_widget(form.codigoVehiculoFk, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-1 control-label">Origen:</label>
                        <div class="col-sm-5">
                            <div class="form-group form-group-sm">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="input-group">
                                                {{ form_widget(form.codigoCiudadOrigenFk) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-10">
                                            <div class="input-group">
                                                <input id="form_txtNombreCiudad" class="form-control" readonly>
                                                <span class="input-group-btn">
                                                    <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('transporte_bus_ciudad', {'campoNombre': 'form_txtNombreCiudad','campoCodigo':'form_codigoCiudadOrigenFk' }) }}', 'buscarCiudadOrigen', 600, 900)">Buscar</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <label class="col-sm-1 control-label">Tipo:</label>
                        <div class="col-sm-5">
                            {{ form_widget(form.codigoDespachoTipoFk, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-1 control-label">Destino:</label>
                        <div class="col-sm-5">
                            <div class="form-group form-group-sm">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="input-group">
                                            {{ form_widget(form.codigoCiudadDestinoFk) }}
                                        </div>
                                    </div>
                                    <div class="col-lg-10">
                                        <div class="input-group">
                                            <input id="form_txtNombreCiudadDestino" class="form-control" readonly>
                                            <span class="input-group-btn">
                                                <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('transporte_bus_ciudad_destino', {'campoNombre': 'form_txtNombreCiudadDestino','campoCodigo':'form_codigoCiudadDestinoFk' }) }}', 'buscarCiudadDestino', 600, 900)">Buscar</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                        <label class="col-sm-1 control-label">Autorizado:</label>
                        <div class="col-sm-5">
                            {{ form_widget(form.estadoAutorizado, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-1 control-label">Operacion:</label>
                        <div class="col-sm-5">
                            {{ form_widget(form.codigoOperacionFk, { 'attr': {'class': 'form-control to-select-2'} }) }}
                        </div>
                        <label class="col-sm-1 control-label">Aprobado:</label>
                        <div class="col-sm-5">
                            {{ form_widget(form.estadoAprobado, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-1 control-label">Desde:</label>
                        <div class="col-sm-5">
                            {{ form_widget(form.fechaSalidaDesde) }}
                        </div>
                        <label class="col-sm-1 control-label">Anulado:</label>
                        <div class="col-sm-5">
                            {{ form_widget(form.estadoAnulado, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-1 control-label">Hasta:</label>
                        <div class="col-sm-5">
                            {{ form_widget(form.fechaSalidaHasta) }}
                        </div>
                        <label class="col-sm-1 control-label">Soporte:</label>
                        <div class="col-sm-5">
                            {{ form_widget(form.estadoSoporte, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <div class="col-sm-offset-2 col-sm-10">
                            {{ form_widget(form.btnFiltro, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover tabla-datos tabla-informacion">
        <thead>
            <tr>
                <td title="Codigo de despacho">ID</td>
                <td title="Codigo de operacion">OP</td>
                <td title="Despacho tipo">TIPO</td>
                <td title="Numero">NUMERO</td>
                <td title="Fecha salida">FECHA</td>
                <td title="Vehiculo">VEH</td>
                <td title="Conductor">CONDUCTOR</td>
                <td title="Codigo ruta">RUTA</td>
                <td title="Ciudad origen">ORIGEN</td>
                <td title="Ciudad destino">DESTINO</td>
                <td title="Valor flete pago">FLETE</td>
                <td title="Valor anticipo pago">ANTICIPO</td>
                <td title="Cantidad">          CANT</td>
                <td title="Unidades">          UND</td>
                <td title="Peso real">         PES</td>
                <td title="Valor declarado">  DECLARADO</td>
                <td title="Autorizado">        AUT</td>
                <td title="Aprobado">          APR</td>
                <td title="Soporte">          SOP</td>
                <td title="Anulado">           ANU</td>
                <td title="Usuario">           USUARIO</td>
                <th></th>
                <th></th>
                <th class="text-center" title="seleccionar todos"><input type="checkbox" name="ChkSeleccionarTodos" onclick="ChequearTodosTabla(this, 'ChkSeleccionar[]')"> </th>
            </tr>
        </thead>
        <tbody>
        {% for arDespacho in arDespachos %}
            <tr>
                <td>{{ arDespacho.codigoDespachoPk }}</td>
                <td>{{ arDespacho.codigoOperacionFk }}</td>
                <td>{{ arDespacho.despachoTipo }}</td>
                <td>{{ arDespacho.numero }}</td>
                <td>{{ arDespacho.fechaSalida| date('Y-m-d') }}</td>
                <td>{{ arDespacho.codigoVehiculoFk }}</td>
                <td>{{ arDespacho.conductorNombre }}</td>
                <td>{{ arDespacho.codigoRutaFk }}</td>
                <td>{{ arDespacho.ciudadOrigen }}</td>
                <td>{{ arDespacho.ciudadDestino }}</td>
                <td class="numero">{{ arDespacho.vrFletePago | number_format(0, '.', ',') }}</td>
                <td class="numero">{{ arDespacho.vrAnticipo | number_format(0, '.', ',') }}</td>
                <td>{{ arDespacho.cantidad }}</td>
                <td>{{ arDespacho.unidades }}</td>
                <td>{{ arDespacho.pesoReal }}</td>
                <td class="numero">{{ arDespacho.vrDeclara | number_format(0, '.', ',') }}</td>
                <td>{{ arDespacho.estadoAutorizado? "SI":"NO" }}</td>
                <td>{{ arDespacho.estadoAprobado? "SI":"NO" }}</td>
                <td>{{ arDespacho.estadoSoporte? "SI":"NO" }}</td>
                <td>{{ arDespacho.estadoAnulado? "SI":"NO" }}</td>
                <td>{{ arDespacho.usuario }}</td>
                <td class="text-center">
                    <a href="{{ path('transporte_movimiento_transporte_despacho_nuevo',{'id': arDespacho.codigoDespachoPk }) }}"><i
                                class="fa fa-edit" style="color: black;font-size: large;"></i></a>
                </td>
                <td class="text-center">
                    <a href="{{ path('transporte_movimiento_transporte_despacho_detalle',{'id' : arDespacho.codigoDespachoPk}) }}">
                        <i class="fa fa-share-square-o" style="font-size: large;color: black;">
                        </i>
                    </a>
                </td>
                <td class="text-center">
                    <input type="checkbox" name="ChkSeleccionar[]" value="{{ arDespacho.codigoDespachoPk  }}"/>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="btn-group" style="float: left">
        <div class="btn btn-default btn-sm">
            <span class="badge">{{ arDespachos.getTotalItemCount }}</span>
        </div>
    </div>
    <div class="btn-group btn-xs" style="float: left;margin-top: -18px;">
        {{ knp_pagination_render(arDespachos) }}
    </div>
    <div class="btn-group btn-xs" style="float: left; width: 60px">
        {{ form_widget(form.limiteRegistros) }}
    </div>
    <div class="btn-group" style="float: right; margin-right: 5px !important;">
        {{ form_widget(form.btnEliminar, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}
    </div>
    <div class="btn-group" style="float: right; margin-right: 5px !important;">
        {{ form_widget(form.btnExcel, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
    </div>
    <div class="btn-group" style="float: right; margin-right: 5px !important;">
        <a class="btn btn-default btn-sm"
           href="{{ path('transporte_movimiento_transporte_despacho_nuevo', {'id': 0}) }}">Nuevo</a>
    </div>
    {{ form_end(form) }}
    <br/><br/><br/>
{% endblock %}