{{ form_start(formFiltro, {'attr': {'class': 'form-horizontal'} }) }}
<div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-editbutton="false"
     data-widget-fullscreenbutton="true">
    <header>
        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
        <h2>Lista</h2>
    </header>
    <div>
        <div class="widget-body no-padding">
            <div class="panel-body">
                {% include 'estructura/buscarClienteCartera.html.twig' %}
                <div class="form-group form-group-sm">
                    <label for="" class="control-label col-sm-1">NUMERO:</label>
                    <div class="col-sm-2">
                        {{ form_widget(formFiltro.numeroDocumento) }}
                    </div>
                    <label for="" class="control-label col-sm-1">REFERENCIA(NUMERO):</label>
                    <div class="col-sm-2">
                        {{ form_widget(formFiltro.numeroReferencia) }}
                    </div>
                    <label for="" class="control-label col-sm-1">CODIGO:</label>
                    <div class="col-sm-5">
                        {{ form_widget(formFiltro.codigoCuentaCobrarPk) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="" class="control-label col-sm-1">DESDE</label>
                    <div class="col-sm-5">
                        {{ form_widget(formFiltro.fechaDesde) }}
                    </div>
                    <label for="" class="control-label col-sm-1">TIPO:</label>
                    <div class="col-sm-5">
                        {{ form_widget(formFiltro.codigoCuentaCobrarTipoFk) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="" class="control-label col-sm-1">HASTA</label>
                    <div class="col-sm-5">
                        {{ form_widget(formFiltro.fechaHasta) }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                {{ form_end(formFiltro) }}
            </div>
        </div>
    </div>
</div>