{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div id="content sortable-grid ui-sortable">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-collapsed="true">
            <header role="heading" class="ui-sortable-handle">
                <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
                <h2>Filtro</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class=" form-group form-group-sm">
                        <label for="form_txtCodigoCliente" class="col-sm-offset-1 col-sm-1 control-label">Cliente:</label>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class=" col-lg-2">
                                    <div class="input-group">
                                        {{ form_widget(form.txtCodigoCliente) }}
                                    </div>
                                </div>
                                <div class="col-lg-10">
                                    <div class="input-group">
                                        <input id="form_txtNombreCorto" class="form-control" readonly>
                                        <span class="input-group-btn">
                                            <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('turno_buscar_cliente', { 'campoCodigo': 'form_txtCodigoCliente', 'campoNombre': 'form_txtNombreCorto' }) }}', 'buscarCliente', 600, 900)">Buscar</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class=" col-sm-2 control-label">Fecha desde:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.fechaDesde) }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class=" col-sm-2 control-label">Fecha hasta:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.fechaHasta) }}
                        </div>
                    </div>

                </div>
                <div class="form-group form-group-sm">
                    <div class="col-sm-offset-2 col-sm-10">
                        {{ form_widget(form.btnFiltrar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover tabla-datos">
        <thead>
        <tr>
            <th>ID</th>
            <th>CLIENTE</th>
            <th>NÚMERO</th>
            <th>FECHA</th>
            <th title="PEDIDO TIPO">TIPO</th>
            <th>HORAS</th>
            <th title="HORAS DIURNAS">HD</th>
            <th title="HORAS NOCTURNAS">HN</th>
            <th title="VALOR TOTAL PRECIO AJUSTADO">P. AJUS</th>
            <th title="VALOR TOTAL PRECIO MINIMO">P. MIN</th>
            <th title="VALOR SUBTOTAL">SUBTOTAL</th>
            <th title="IVA">IVA</th>
            <th title="TOTAL">TOTAL</th>
            <th title="SALARIO BASE">BASE</th>
            <th title="USUARIO">USUARIO</th>
            <th title="ESTADO AUTORIZADO">AUT</th>
            <th title="ESTADO APROBADO">APR</th>
            <th title="ESTADO ANULADO">ANU</th>
            <th title="ESTADO CONTABILIZADO">CON</th>
            <th title="USUARIO">COMENTARIO</th>
        </tr>
        </thead>
        <tbody>
        {% for arPedido in arPedidos %}
            <tr>
                <td>{{ arPedido.codigoPedidoPk }}</td>
                <td>{{ arPedido.clienteNombreCorto }}</td>
                <td>{{ arPedido.numero }}</td>
                <td>{{ arPedido.fecha | date('Y-m-d') }}</td>
                <td>{{ arPedido.pedidoTipoNombre }}</td>
                <td>{{ arPedido.horas}}</td>
                <td>{{ arPedido.horasDiurnas}}</td>
                <td>{{ arPedido.horasNocturnas}}</td>
                <td class="numero">{{ arPedido.vrTotalPrecioAjustado | number_format(0, '.', ',') }}</td>
                <td class="numero">{{ arPedido.vrTotalPrecioMinimo| number_format(0, '.', ',')}}</td>
                <td class="numero">{{ arPedido.vrSubtotal| number_format(0, '.', ',')}}</td>
                <td class="numero">{{ arPedido.vrIva| number_format(0, '.', ',')}}</td>
                <td class="numero">{{ arPedido.vrTotal| number_format(0, '.', ',')}}</td>
                <td class="numero">{{ arPedido.vrSalarioBase| number_format(0, '.', ',')}}</td>
                <td>{{ arPedido.usuario}}</td>
                <td>{{ arPedido.estadoAutorizado? "SI":"NO" }}</td>
                <td>{{ arPedido.estadoAprobado? "SI":"NO" }}</td>
                <td>{{ arPedido.estadoAnulado? "SI":"NO" }}</td>
                <td>{{ arPedido.estadoContabilizado? "SI":"NO" }}</td>
                <td>{{ arPedido.comentario}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="btn-group" style="float: left">
        <div class="btn btn-default btn-sm">Registros
            <span class="badge">{{ arPedidos.getTotalItemCount }}
            </span>
        </div>
    </div>
    <div class="btn-group btn-xs" style="float: left;margin-top: -18px;">
        {{ knp_pagination_render(arPedidos) }}
    </div>
    <br/><br/>
    {{ form_end(form) }}
{% endblock %}