{% extends "base_sin_menu.html.twig" %}
{% block content %}
    <div id="content sortable-grid ui-sortable">
        <header>
            <h2>Información del servicio</h2>
        </header>
        <div class="widget-body">
            {% if arContratoDetalle != null %}
                <table width="100%" class="table table-condensed table-bordered tabla-informacion">
                    <tr>
                        <td class="titulo">CODIGO:</td>
                        <td class="td-in-well">{{ arContratoDetalle.codigoContratoFk }}</td>
                        <td class="titulo">HORAS DIURNAS:</td>
                        <td align="right">
                            {{ arContratoDetalle.horasDiurnas | number_format(0, '.', ',') }}
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo">CLIENTE:</td>
                        <td class="td-in-well">{{ arContratoDetalle.contratoRel.clienteRel.nombreCorto }}</td>
                        <td class="titulo">HORAS NOCTURNAS:</td>
                        <td align="right">{{ arContratoDetalle.horasNocturnas | number_format(0, '.', ',') }}</td>
                    </tr>
                    <tr>
                        <td class="titulo">SECTOR:</td>
                        <td class="td-in-well">{{ arContratoDetalle.contratoRel.sectorRel.nombre }}</td>
                        <td class="titulo">HORAS:</td>
                        <td align="right">{{ arContratoDetalle.horas | number_format(0, '.', ',') }}</td>
                    </tr>
                    <tr>
                        <td class="titulo">USUARIO:</td>
                        <td class="td-in-well">{{ arContratoDetalle.contratoRel.usuario }}</td>
                        <td class="titulo">MINIMO:</td>
                        <td align="right">{{ arContratoDetalle.vrPrecioMinimo | number_format(0, '.', ',') }}</td>
                    </tr>
                    <tr>
                        <td class="titulo"></td>
                        <td class="td-in-well"></td>
                        <td class="titulo">VALOR:</td>
                        <td align="right">{{ arContratoDetalle.vrTotalDetalle | number_format(0, '.', ',') }}</td>
                    </tr>
                </table>
            {% else %}
                <h4>El pedido no proviene de un contrato permanente</h4>
            {% endif %}
        </div>
    </div>
    <br>
    <div id="content sortable-grid ui-sortable">
        <header>
            <h2>Información del pedido</h2>
        </header>
        <div class="widget-body">
            <table width="100%" class="table table-condensed table-bordered tabla-informacion">
                <tr>
                    <td class="titulo">CODIGO DETALLE:</td>
                    <td class="td-in-well">{{ arPedidoDetalle.codigoPedidoDetallePk }}</td>
                    <td class="titulo">PENDIENTE FACTURAR:</td>
                    <td align="right">{{ arPedidoDetalle.vrTotalDetallePendiente | number_format(0, '.', ',') }}</td>
                </tr>
            </table>
        </div>
    </div>
    <br>
    <div id="content sortable-grid ui-sortable">
        <header>
            <h2>Facturas</h2>
        </header>
        <div class="widget-body">
            <table width="100%" class="table table-condensed table-bordered tabla-informacion">
                <thead>
                    <tr>
                        <th>NUMERO</th>
                        <th>FECHA</th>
                        <th>TIPO</th>
                        <th>SUBTIPO</th>
                        <th>SERVICIO</th>
                        <th>CANT</th>
                        <th>VALOR</th>
                    </tr>
                </thead>
                <tbody>
                {% for arFacturaDetalle in arFacturaDetalles %}
                    <tr>
                        <td>{{ arFacturaDetalle.facturaRel.numero  }}</td>
                        <td>{{ arFacturaDetalle.facturaRel.fecha | date('Y/m/d')  }}</td>
                        <td>{{ arFacturaDetalle.facturaRel.facturaTipoRel.nombre  }}</td>
                        <td>{{ arFacturaDetalle.facturaRel.facturaSubtipoRel.nombre |default('')  }}</td>
                        <td>{{ arFacturaDetalle.conceptoServicioRel.nombre | default('') }}</td>
                        <td class="numero">{{ arFacturaDetalle.cantidad | number_format(0, '.', ',') }}</td>
                        <td class="numero">{{ arFacturaDetalle.vrSubtotal | number_format(0, '.', ',') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <div id="content sortable-grid ui-sortable">
        <header>
            <h2>Devoluciones / Adiciones</h2>
        </header>
        <div class="widget-body">
            <table width="100%" class="table table-condensed table-bordered tabla-informacion">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NUMERO</th>
                        <th>TIPO</th>
                        <th>FECHA</th>
                        <th>VALOR</th>
                    </tr>
                </thead>
                <tbody>
{#                {% for arPedidoDevolucionDetalle in arPedidoDevolucionDetalles %}#}
{#                    <tr>#}
{#                        <td>{{ arPedidoDevolucionDetalle.codigoPedidoDevolucionDetallePk }}</td>#}
{#                        <td>{{ arPedidoDevolucionDetalle.codigoPedidoDevolucionFk }}</td>#}
{#                        <td>{{ arPedidoDevolucionDetalle.pedidoDevolucionRel.pedidoDevolucionTipoRel.nombre }}</td>#}
{#                        <td>{{ arPedidoDevolucionDetalle.pedidoDevolucionRel.fecha | date('Y/m/d') }}</td>#}
{#                        <td style="text-align: right">{{ arPedidoDevolucionDetalles.vrPrecio | number_format(0, '.', ',') }}</td>#}
{#                    </tr>#}
{#                {% endfor %}#}
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <div id="content sortable-grid ui-sortable">
        <header>
            <h2>Programaciones</h2>
        </header>
        <div class="widget-body">
            <table width="100%" class="table table-condensed table-bordered tabla-informacion">
                <thead>
                <tr>
                    <th>COD</th>
                    <th>RECURSO</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                    <th>10</th>
                    <th>11</th>
                    <th>12</th>
                    <th>13</th>
                    <th>14</th>
                    <th>15</th>
                    <th>16</th>
                    <th>17</th>
                    <th>18</th>
                    <th>19</th>
                    <th>20</th>
                    <th>21</th>
                    <th>22</th>
                    <th>23</th>
                    <th>24</th>
                    <th>25</th>
                    <th>26</th>
                    <th>27</th>
                    <th>28</th>
                    <th>29</th>
                    <th>30</th>
                    <th>31</th>
                    <th>H</th>
                    <th>HD</th>
                    <th>HN</th>
                </tr>
                </thead>
                <tbody>
                {% for arProgramacionDetalle in arProgramacionDetalles %}
                    <tr>
                        <td>{{ arProgramacionDetalle.codigoProgramacionPk  }}</td>
                        <td>{{ arProgramacionDetalle.recursoRel.nombreCorto | default('')  }}</td>
                        <td>{{ arProgramacionDetalle.dia1  }}</td>
                        <td>{{ arProgramacionDetalle.dia2  }}</td>
                        <td>{{ arProgramacionDetalle.dia3  }}</td>
                        <td>{{ arProgramacionDetalle.dia4  }}</td>
                        <td>{{ arProgramacionDetalle.dia5  }}</td>
                        <td>{{ arProgramacionDetalle.dia6  }}</td>
                        <td>{{ arProgramacionDetalle.dia7  }}</td>
                        <td>{{ arProgramacionDetalle.dia8  }}</td>
                        <td>{{ arProgramacionDetalle.dia9  }}</td>
                        <td>{{ arProgramacionDetalle.dia10  }}</td>
                        <td>{{ arProgramacionDetalle.dia11  }}</td>
                        <td>{{ arProgramacionDetalle.dia12  }}</td>
                        <td>{{ arProgramacionDetalle.dia13  }}</td>
                        <td>{{ arProgramacionDetalle.dia14  }}</td>
                        <td>{{ arProgramacionDetalle.dia15  }}</td>
                        <td>{{ arProgramacionDetalle.dia16  }}</td>
                        <td>{{ arProgramacionDetalle.dia17  }}</td>
                        <td>{{ arProgramacionDetalle.dia18  }}</td>
                        <td>{{ arProgramacionDetalle.dia19  }}</td>
                        <td>{{ arProgramacionDetalle.dia20  }}</td>
                        <td>{{ arProgramacionDetalle.dia21  }}</td>
                        <td>{{ arProgramacionDetalle.dia22  }}</td>
                        <td>{{ arProgramacionDetalle.dia23  }}</td>
                        <td>{{ arProgramacionDetalle.dia24  }}</td>
                        <td>{{ arProgramacionDetalle.dia25  }}</td>
                        <td>{{ arProgramacionDetalle.dia26  }}</td>
                        <td>{{ arProgramacionDetalle.dia27  }}</td>
                        <td>{{ arProgramacionDetalle.dia28  }}</td>
                        <td>{{ arProgramacionDetalle.dia29  }}</td>
                        <td>{{ arProgramacionDetalle.dia30  }}</td>
                        <td>{{ arProgramacionDetalle.dia31  }}</td>
                        <td style="text-align: right">{{ arProgramacionDetalle.horas | number_format(0, '.', ',') }}</td>
                        <td style="text-align: right">{{ arProgramacionDetalle.horasDiurnas | number_format(0, '.', ',') }}</td>
                        <td style="text-align: right">{{ arProgramacionDetalle.horasNocturnas | number_format(0, '.', ',') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}