<h4>Este correo se envia automaticamente, por favor no responder</h4>
<h4>A continuacion le relaciono el reporte de guias:</h4>
<table border="1">
    <thead>
    <tr>
        <th>GUIA</th>
        <th>CLIENTE</th>
        <th>DOC CLIENTE</th>
        <th>DESTINATARIO</th>
        <th>DIRECCION</th>
        <th>DESTINO</th>
        <th>UNIDADES</th>
        <th>PESO</th>
        <th>FLETE</th>
        <th>MANEJO</th>
        <th>TOTAL</th>
        <th>DECLARADO</th>
        <th>FECHA INGRESO</th>
    </tr>
    </thead>
    <tbody>
    {% for arGuia in arGuias %}
        <tr>
            <td>{{ arGuia.guia }}</td>
            <td>{{ arGuia.cliente }}</td>
            <td>{{ arGuia.docCliente }}</td>
            <td>{{ arGuia.nombreDestinatario }}</td>
            <td>{{ arGuia.direccionDestinatario }}</td>
            <td>{{ arGuia.ciudad }}</td>
            <td class="numero">{{ arGuia.unidades }}</td>
            <td class="numero">{{ arGuia.peso }}</td>
            <td class="numero">{{ arGuia.vrFlete }}</td>
            <td class="numero">{{ arGuia.vrManejo }}</td>
            <td class="numero">{{ arGuia.vrTotal }}</td>
            <td class="numero">{{ arGuia.vrDeclara }}</td>
            <td>{{ arGuia.fechaIngreso | date('Y-m-d') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
