{% extends 'base_transporte.html.twig' %}
{% block content %}
    {% set codigoRuta = '' %}
    {% set contador = 0 %}
    {% set numeroGuias = arGuias|length %}

    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>OI</th>
            <th>OC</th>
            <th>NUMERO</th>
            <th>FECHA</th>
            <th>CLIENTE</th>
            <th>DESTINO</th>
            <th>UND</th>
            <th>PES</th>
            <th>VOL</th>
        </tr>
        </thead>
        <tbody>
        {% set codigoRuta = '' %}
        {% set contador = 0 %}
        {% set totalUnidades = 0 %}
        {% set totalPeso = 0 %}
        {% set totalVolumen = 0 %}
        {% for arGuia in arGuias %}
            {% if codigoRuta != arGuia.codigoRutaFk %}
                {% if contador > 0 %}
                    <tr>
                        <td id="suptipo" colspan="7"></td>
                        <td class="numero">{{ totalUnidades }}</td>
                        <td class="numero">{{ totalPeso }}</td>
                        <td class="numero">{{ totalVolumen }}</td>
                    </tr>
                    {% set totalUnidades = 0 %}
                    {% set totalPeso = 0 %}
                    {% set totalVolumen = 0 %}
                {% endif %}
                <tr>
                    <td id="suptipo" colspan="10">{{ arGuia.codigoRutaFk }}</td>
                </tr>
                {% set codigoRuta = arGuia.codigoRutaFk %}
            {% endif %}

            <tr>
                <td>{{ arGuia.codigoGuiaPk }}</td>
                <td>{{ arGuia.codigoOperacionIngresoFk }}</td>
                <td>{{ arGuia.codigoOperacionCargoFk }}</td>
                <td>{{ arGuia.numero }}</td>
                <td>{{ arGuia.fechaIngreso | date('Y-m-d') }}</td>
                <td>{{ arGuia.clienteNombreCorto }}</td>
                <td>{{ arGuia.ciudadDestino }}</td>
                <td class="numero">{{ arGuia.unidades }}</td>
                <td class="numero">{{ arGuia.pesoReal }}</td>
                <td class="numero">{{ arGuia.pesoVolumen }}</td>
            </tr>
            {% set totalUnidades = totalUnidades + arGuia.unidades %}
            {% set totalPeso = totalPeso + arGuia.pesoReal %}
            {% set totalVolumen = totalVolumen + arGuia.pesoVolumen %}
            {% set contador = contador + 1 %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

