{% extends 'base_transporte.html.twig' %}
{% block content %}
    {% set codigoRuta = '' %}
    {% set contador = 0 %}
    {% set numeroGuias = arGuias|length %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
    {{ form_errors(form) }}
    <div class="panel panel-default">
        <div class="panel-heading">Filtros</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="txtCodigoConductor" class="col-sm-1 control-label">Cliente:</label>
                <div class="col-sm-11">
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="input-group">
                                {{ form_widget(form.txtCodigoCliente) }}
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="input-group">
                                {{ form_widget(form.txtNombreCorto) }}
                                <span class="input-group-btn">
                                        <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('transporte_bus_cliente', { 'campoCodigo': 'form_txtCodigoCliente', 'campoNombre': 'form_txtNombreCorto' }) }}', 'buscarCliente', 600, 900)">Buscar</a>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_TxtCodigo" class="col-sm-1 control-label">Ruta:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.rutaRel, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <label for="form_TxtCodigo" class="col-sm-1 control-label">Servicio:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.servicioRel, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_estadoAutorizado" class="col-sm-1 control-label"></label>
                <div class="col-sm-4">
                    {{ form_widget(form.ChkMostrarDevoluciones) }} Mostrar devoluciones
                </div>
            </div>
            <div class="form-group form-group-sm">
                <div class="col-sm-offset-2 col-sm-10">
                    {{ form_widget(form.BtnFiltrar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>TIPO</th>
            <th>SERV</th>
            <th>GUIA</th>
            <th>OI</th>
            <th>OC</th>
            <th>FECHA</th>
            <th>CLIENTE</th>
            <th>DESTINATARIO</th>
            <th>DESTINO</th>
            <th>DECLARA</th>
            <th>FLETE</th>
            <th>UND</th>
            <th>PES</th>
            <th>VOL</th>
        </tr>
        </thead>
        <tbody>
        {% set codigoRuta = '' %}
        {% set contador = 0 %}
        {% set totalUnidades = 0 %}
        {% set totalPeso = 0 %}
        {% set totalVolumen = 0 %}
        {% set totalDeclara = 0 %}
        {% set totalFlete = 0 %}
        {% for arGuia in arGuias %}
            {% if codigoRuta != arGuia.codigoRutaFk %}
                {% if contador > 0 %}
                    <tr>
                        <td id="suptipo" colspan="9"></td>
                        <td class="numero">{{ totalDeclara | number_format(0, '.', ',') }}</td>
                        <td class="numero">{{ totalFlete | number_format(0, '.', ',') }}</td>
                        <td class="numero">{{ totalUnidades | number_format(0, '.', ',') }}</td>
                        <td class="numero">{{ totalPeso | number_format(0, '.', ',') }}</td>
                        <td class="numero">{{ totalVolumen | number_format(0, '.', ',') }}</td>
                    </tr>
                    {% set totalUnidades = 0 %}
                    {% set totalPeso = 0 %}
                    {% set totalVolumen = 0 %}
                    {% set totalDeclara = 0 %}
                    {% set totalFlete = 0 %}

                {% endif %}
                <tr>
                    <td id="suptipo" colspan="10">{{ arGuia.codigoRutaFk }} {{ arGuia.nombreRuta }}</td>
                </tr>
                {% set codigoRuta = arGuia.codigoRutaFk %}
            {% endif %}

            <tr>
                <td>{{ arGuia.codigoGuiaTipoFk }}</td>
                <td>{{ arGuia.codigoServicioFk }}</td>
                <td>{{ arGuia.codigoGuiaPk }}</td>
                <td>{{ arGuia.codigoOperacionIngresoFk }}</td>
                <td>{{ arGuia.codigoOperacionCargoFk }}</td>
                <td>{{ arGuia.fechaIngreso | date('Y-m-d') }}</td>
                <td>{{ arGuia.clienteNombreCorto }}</td>
                <td>{{ arGuia.nombreDestinatario }}</td>
                <td>{{ arGuia.ciudadDestino }}</td>
                <td class="numero">{{ arGuia.vrDeclara | number_format(0, '.', ',') }}</td>
                <td class="numero">{{ arGuia.vrFlete | number_format(0, '.', ',') }}</td>
                <td class="numero">{{ arGuia.unidades | number_format(0, '.', ',') }}</td>
                <td class="numero">{{ arGuia.pesoReal | number_format(0, '.', ',') }}</td>
                <td class="numero">{{ arGuia.pesoVolumen | number_format(0, '.', ',') }}</td>
            </tr>
            {% set totalUnidades = totalUnidades + arGuia.unidades %}
            {% set totalPeso = totalPeso + arGuia.pesoReal %}
            {% set totalVolumen = totalVolumen + arGuia.pesoVolumen %}
            {% set totalDeclara = totalDeclara + arGuia.vrDeclara %}
            {% set totalFlete = totalFlete + arGuia.vrFlete %}
            {% set contador = contador + 1 %}
        {% endfor %}
        <tr>
            <td id="suptipo" colspan="9"></td>
            <td class="numero">{{ totalDeclara | number_format(0, '.', ',') }}</td>
            <td class="numero">{{ totalFlete | number_format(0, '.', ',') }}</td>
            <td class="numero">{{ totalUnidades | number_format(0, '.', ',') }}</td>
            <td class="numero">{{ totalPeso | number_format(0, '.', ',') }}</td>
            <td class="numero">{{ totalVolumen | number_format(0, '.', ',') }}</td>
        </tr>
        {% set totalUnidades = 0 %}
        {% set totalPeso = 0 %}
        {% set totalVolumen = 0 %}
        </tbody>
    </table>
    <div class="btn-toolbar" style="float: right">
        <div class="btn-group">
            {{ form_widget(form.btnExcel, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
        </div>
        <div class="btn-group" style="float: right">
            {{ form_widget(form.btnPdf, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}

