{% extends 'base.html.twig' %}
{% block content %}
    {% set codigoRuta = '' %}
    {% set contador = 0 %}
    {% set numeroGuias = arGuias|length %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
    {{ form_errors(form) }}
    <div class="panel panel-default">
        <div class="panel-heading">Filtros</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="txtNit" class="col-sm-1 control-label">Conductor:</label>
                <div class="col-sm-11">
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="input-group">
                                {{ form_widget(form.txtCodigoConductor, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="input-group">
                                <input id="txtNombreCorto" name="txtNombreCorto" type="text" class="form-control"
                                       value="" readOnly="ReadOnly"/>
                                <span class="input-group-btn">
                                        <a class="btn btn-default btn-sm"
                                           href="javascript:abrirVentana3('{{ path('transporte_bus_conductor', { 'campoCodigo': 'form_txtCodigoConductor', 'campoNombre': 'txtNombreCorto' }) }}', 'buscarCliente', 600, 900)">Buscar</a>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="txtNit" class="col-sm-1 control-label">Destino:</label>
                <div class="col-sm-5">
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="input-group">
                                {{ form_widget(form.TxtCodigoCiudadDestino, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="input-group">
                                <input id="TxtNombreCiudadDestino" name="TxtNombreCiudadDestino" type="text" class="form-control"
                                       value="" readOnly="ReadOnly"/>
                                <span class="input-group-btn">
                                        <a class="btn btn-default btn-sm"
                                           href="javascript:abrirVentana3('{{ path('transporte_bus_ciudad_destino', { 'campoCodigo': 'form_TxtCodigoCiudadDestino', 'campoNombre': 'TxtNombreCiudadDestino' }) }}', 'buscarCiudadDestino', 600, 900)">Buscar</a>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
                <label class="col-sm-offset-3 col-sm-1 control-label">Novedad</label>
                <div class="col-sm-2">
                    {{ form_widget(form.chkEstadoGuiaNovedad) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-1 control-label">Desde:</label>
                <div class="col-sm-2">
                    {{ form_widget(form.fechaDesde) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-1 control-label">Hasta:</label>
                <div class="col-sm-2">
                    {{ form_widget(form.fechaHasta) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <div class="col-sm-offset-2 col-sm-10">
                    {{ form_widget(form.btnFiltrar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover tabla-informacion">
        <thead>
        <tr>
            <th>ID</th>
            <th>OI</th>
            <th>OC</th>
            <th>NUMERO</th>
            <th>MANIFIESTO</th>
            <th>FECHA</th>
            <th>CLIENTE</th>
            <th>DESTINO</th>
            <th>NOV</th>
            <th>DECLARA</th>
            <th>FLETE</th>
            <th>UND</th>
            <th>PES</th>
            <th>VOL</th>
        </tr>
        </thead>
        <tbody>
        {% set codigoConductor = '' %}
        {% set contador = 0 %}
        {% for arGuia in arGuias %}
            {% if codigoConductor != arGuia.codigoConductorFk %}
                <tr>
                    <td id="suptipo" colspan="13">{{ arGuia.conductor }}</td>
                </tr>
                {% set codigoConductor = arGuia.codigoConductorFk %}
            {% endif %}
            <tr>
                <td>{{ arGuia.codigoGuiaPk }}</td>
                <td>{{ arGuia.codigoOperacionIngresoFk }}</td>
                <td>{{ arGuia.codigoOperacionCargoFk }}</td>
                <td>{{ arGuia.numero }}</td>
                <td>{{ arGuia.manifiesto }}</td>
                <td>{{ arGuia.fechaIngreso | date('Y-m-d') }}</td>
                <td>{{ arGuia.clienteNombreCorto }}</td>
                <td>{{ arGuia.ciudadDestino }}</td>
                <td>{% if arGuia.estadoNovedad == 1 %} NOV {% else %}  {% endif %}</td>
                <td class="numero">{{ arGuia.vrDeclara }}</td>
                <td class="numero">{{ arGuia.vrFlete }}</td>
                <td class="numero">{{ arGuia.unidades }}</td>
                <td class="numero">{{ arGuia.pesoReal }}</td>
                <td class="numero">{{ arGuia.pesoVolumen }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="btn-group" style="float: left">
        <div class="btn btn-default btn-sm">Registros
            <span class="badge">{{ arGuias.getTotalItemCount }}
            </span>
        </div>
    </div>
    <div class="btn-group btn-xs" style="float: left;margin-top: -18px;">
        {{ knp_pagination_render(arGuias) }}
    </div>
    <div class="btn-toolbar" style="float: right">
        <div class="btn-group">
            {{ form_widget(form.btnExcel, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
        </div>
    </div>
    <br/><br/><br/>
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}

