{% extends 'base.html.twig' %}
{% block content %}
    {% set codigoRuta = '' %}
    {% set contador = 0 %}
    {% set numeroGuias = arGuias|length %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
    {{ form_errors(form) }}
    <div class="panel panel-default">
        <div class="panel-heading">Filtros</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="form_TxtCodigo" class="col-sm-2 control-label"></label>
                <div class="col-sm-4">

                </div>
                <label for="form_estadoAutorizado" class="col-sm-2 control-label"></label>
                <div class="col-sm-4">

                </div>
            </div>
            <div class="form-group form-group-sm">
                <div class="col-sm-offset-2 col-sm-10">
                    {{ form_widget(form.BtnFiltrar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>OI</th>
            <th>OC</th>
            <th>NUMERO</th>
            <th>FECHA</th>
            <th>CLIENTE</th>
            <th>DESTINO</th>
            <th>DECLARA</th>
            <th>FLETE</th>
            <th>UND</th>
            <th>PES</th>
            <th>VOL</th>
        </tr>
        </thead>
        <tbody>
        {% for arGuia in arGuias %}
            <tr>
                <td>{{ arGuia.codigoGuiaPk }}</td>
                <td>{{ arGuia.codigoOperacionIngresoFk }}</td>
                <td>{{ arGuia.codigoOperacionCargoFk }}</td>
                <td>{{ arGuia.numero }}</td>
                <td>{{ arGuia.fechaIngreso | date('Y-m-d') }}</td>
                <td>{{ arGuia.clienteNombreCorto }}</td>
                <td>{{ arGuia.ciudadDestino }}</td>
                <td class="numero">{{ arGuia.vrDeclara }}</td>
                <td class="numero">{{ arGuia.vrFlete }}</td>
                <td class="numero">{{ arGuia.unidades }}</td>
                <td class="numero">{{ arGuia.pesoReal }}</td>
                <td class="numero">{{ arGuia.pesoVolumen }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}

