<table width="100%" class="table table-condensed table-bordered tabla-informacion">
    <tr>
        <td class="titulo">CODIGO:</td>
        <td class="td-in-well">{{ arCotizacion.codigoCotizacionPk }}</td>
        <td class="titulo">CLIENTE:</td>
        <td class="td-in-well" style="text-transform: uppercase;">{{ arCotizacion.terceroRel.nombreCorto }}</td>
        <td class="titulo">SUBTOTAL:</td>
        <td class="td-in-well" style="text-align: right;">{{ arCotizacion.vrSubtotal |number_format(0, '.', ',') }}</td>

    </tr>
    <tr>
        <td class="titulo">NUMERO:</td>
        <td class="td-in-well">{{ arCotizacion.numero }}</td>
        <td class="titulo">USUARIO:</td>
        <td class="td-in-well" style="text-transform: uppercase;">{{ arCotizacion.usuario }}</td>
        <td class="titulo">IVA:</td>
        <td class="td-in-well" style="text-align: right;">{{ arCotizacion.vrIva |number_format(0, '.', ',') }}</td>

    </tr>
    <tr>
        <td class="titulo">FECHA:</td>
        <td class="td-in-well">{{ arCotizacion.fecha | date('Y-m-d') }}</td>
        <td class="titulo">TIEMPO ENTREGA:</td>
        <td class="td-in-well" >{{ arCotizacion.tiempoEntrega | default ('') }}</td>
        <td class="titulo">DESCUENTO:</td>
        <td class="td-in-well" style="text-align: right;">{{ arCotizacion.vrDescuento |number_format(0, '.', ',') }}</td>
    </tr>
    <tr>
        <td class="titulo">VENCIMIENTO:</td>
        <td>{{ arCotizacion.vencimiento | date('Y-m-d') }}</td>
        <td class="titulo">FORMA PAGO:</td>
        <td>{{ arCotizacion.formaPagoRel.nombre | default('') }}</td>
        <td class="titulo">COSTO DE ENVIO:</td>
        <td class="td-in-well" style="text-align: right;">{{ arCotizacion.costoEnvio |number_format(0, '.', ',') }}</td>
    </tr>
    <tr>
        <td class="titulo">CONTACTO:</td>
        <td>{{ arCotizacion.contactoRel.NombreCorto | default('') }}</td>
        <td class="titulo">TELEFONO:</td>
        <td>{{ arCotizacion.contactoRel.telefono | default('') }}</td>
        <td class="titulo">TOTAL:</td>
        <td class="td-in-well" style="text-align: right;">{{ arCotizacion.vrTotal |number_format(0, '.', ',') }}</td>
    </tr>
    <tr>
        <td class="titulo">COMENTARIO:</td>
        <td class="td-in-well" colspan="6">{{ arCotizacion.comentarios }}</td>
    </tr>
</table>