<table width="100%" class="table table-condensed table-bordered tabla-informacion">
    <tr>
        <td class="titulo">CODIGO CIUDAD:</td>
        <td class="td-in-well">{{ arCiudad.codigoCiudadPk }}</td>
        <td class="titulo">NOMBRE:</td>
        <td align="right">{{ arCiudad.nombre}}</td>
    </tr>
    <tr>
        <td class="titulo">CODIGO DIVISION:</td>
        <td class="td-in-well">{{ arCiudad.codigoDivision }}</td>
        <td class="titulo">NOMBRE DIVISION:</td>
        <td align="right">{{ arCiudad.nombreDivision}}</td>
    </tr>
    <tr>
        <td class="titulo">CODIGO ZONA:</td>
        <td class="td-in-well">{{ arCiudad.codigoZona }}</td>
        <td class="titulo">NOMBRE ZONA:</td>
        <td align="right">{{ arCiudad.nombreZona}}</td>
    </tr>
    <tr>
        <td class="titulo">CODIGO MUNICIPIO:</td>
        <td class="td-in-well">{{ arCiudad.codigoMunicipio }}</td>
        <td class="titulo">NOMBRE MUNICIPIO:</td>
        <td align="right">{{ arCiudad.nombreMunicipio}}</td>
    </tr>
    <tr>
        <td class="titulo">CODIGO DEPARTAMENTO:</td>
        <td class="td-in-well">{{ arCiudad.codigoDepartamentoFk }}</td>
        <td class="titulo">CODIGO RUTA:</td>
        <td align="right">{{ arCiudad.codigoRutaFk}}</td>
    </tr>
    <tr>
        <td class="titulo">ORDEN RUTA:</td>
        <td class="td-in-well">{{ arCiudad.ordenRuta}}</td>
        <td class="titulo">CODIGO INTERFAZ:</td>
        <td align="right">{{ arCiudad.codigoInterface}}</td>
    </tr>
    <tr>
        <td class="titulo">REEXPEDICION:</td>
        <td class="td-in-well">{{ arCiudad.reexpedicion}}</td>
        <td class="titulo"></td>
        <td align="right"></td>
    </tr>
</table>