{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="panel panel-default">
        <div class="panel-heading">Informacion general</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Nombre:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.nombre, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <label class="col-sm-2 control-label">Zona:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.zonaRel, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Ruta:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.rutaRel, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <label class="col-sm-2 control-label">Departamento:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.departamentoRel, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_recogidaTipoRel" class="col-sm-2 control-label">Codigo ciudad:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.codigoCiudadPk, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-4">

                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_recogidaTipoRel" class="col-sm-2 control-label">Codigo division:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.codigoDivision, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <label class="col-sm-2 control-label">Nombre division:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.nombreDivision, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_recogidaTipoRel" class="col-sm-2 control-label">Codigo zona:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.codigoZona, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <label class="col-sm-2 control-label">Nombre zona:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.nombreZona, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_recogidaTipoRel" class="col-sm-2 control-label">Codigo municipio:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.codigoMunicipio, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <label class="col-sm-2 control-label">Nombre municipio:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.nombreMunicipio, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_recogidaTipoRel" class="col-sm-2 control-label">Orden ruta:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.ordenRuta, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <label class="col-sm-2 control-label">Codigo interfaz:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.codigoInterface, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    {{ form_widget(form.reexpedicion) }}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn btn-default btn-sm"
               href="{{ path('transporte_administracion_general_ciudad_lista') }}">Cancelar</a>
            {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
            {{ form_widget(form.guardarnuevo, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}
