{% extends 'base.html.twig' %}
{% block content %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-sm btn-default" href="{{ path('turno_administracion_venta_item_lista') }}">Volver</a>
        </div>
    </div>
    <br/><br/>
    <table width="100%" class="table table-condensed table-bordered tabla-informacion">
        <tr>
            <td class="titulo"><b>CODIGO:</b></td>
            <td class="td-in-well">{{ arRegistro.codigoItemPk }}</td>
            <td class="titulo"><b>NOMBRE</b></td>
            <td class="td-in-well">{{ arRegistro.nombre }}</td>
        </tr>
        <tr>
            <td class="titulo">IVA:</td>
            <td class="td-in-well">{{ arRegistro.impuestoRetencionRel.codigoImpuestoPk }}</td>
            <td class="titulo">RETENCION EN LA FUENTE:</td>
            <td class="td-in-well">{{ arRegistro.impuestoRetencionRel.codigoImpuestoPk }}</td>
        </tr>
        <tr>
            <td class="titulo">PORCENTAJE IVA:</td>
            <td class="td-in-well">{{ arRegistro.porcentajeIva }}</td>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
        </tr>
    </table>
{% endblock %}
