{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="panel panel-default">
        <div class="panel-heading">Información general</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="form_nombre" class="col-sm-2 control-label">Nombre:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.nombre,{'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.nombre) }}
                </div>
                <label for="form_nombre" class="col-sm-2 control-label">Orden:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.orden,{'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.orden) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_nombre" class="col-sm-2 control-label">Codigo interface:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.codigoInterface,{'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.codigoInterface) }}
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Información comercial</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="form_lineaRel" class="col-sm-2 control-label">Iva(Venta):</label>
                <div class="col-sm-4">
                    {{ form_widget(form.impuestoIvaVentaRel,{'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.impuestoIvaVentaRel) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_lineaRel" class="col-sm-2 control-label">Retencion:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.impuestoRetencionRel,{'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.impuestoRetencionRel) }}
                </div>
            </div>

        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Información financiera</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="form_lineaRel" class="col-sm-2 control-label">Codigo cuenta venta:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.codigoCuentaVentaFk,{'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.codigoCuentaVentaFk) }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default btn-sm"
           href="{{ path('turno_administracion_venta_item_lista') }}">Cancelar</a>
        {{ form_widget(form.btnGuardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}
