{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-sm btn-default" href="{{ path('recursohumano_movimiento_nomina_liquidacion_lista') }}">Volver</a>
        </div>
        <div class="btn-group">
            {{ form_widget(form.btnImprimir) }}
        </div>
    </div>
    <br/><br/>
    <table width="100%" class="table table-condensed table-bordered">
        <tr>
            <td class="titulo">CODIGO:</td>
            <td class="td-in-well">{{ arRegistro.codigoLiquidacionPk }}</td>
        </tr>
    </table>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#detalles" data-toggle="tab">Detalles</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="detalles">
            <div id="detalles" style="width: 100%"><br>
                <div class="table-responsive">
                    <table width="100%" class="table table-condensed table-bordered">
                        <tr>
                            <td class="titulo">CODIGO:</td>
                            <td class="td-in-well">{{ arRegistro.codigoLiquidacionPk }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    {{ form_end(form) }}

{% endblock %}