{% extends 'base_sin_menu.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <section class="content">
        <div class="tab-content">
            <div id="detalles" style="width: 100%"><br>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-condensed tabla-datos">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>TIPO</th>
                            <th>DESDE</th>
                            <th>HASTA</th>
                            <th>NUMERO</th>
                            <th>NETO</th>
                            <th></th>
                        </thead>
                        </tr>
                        <tbody>
                        {% for arPagoInteresesCesantiasAnterior in arPagosInteresesCesantiasAnterior %}

                            <tr>
                                <td>{{ arPagoInteresesCesantiasAnterior.codigoPagoPk }}</td>
                                <td>{{ arPagoInteresesCesantiasAnterior.pagoTipo }}</td>
                                <td>{{ arPagoInteresesCesantiasAnterior.fechaDesde | date ('Y-m-d') }}</td>
                                <td>{{ arPagoInteresesCesantiasAnterior.fechaHasta | date ('Y-m-d') }}</td>
                                <td>{{ arPagoInteresesCesantiasAnterior.numero }}</td>
                                <td class="numero">{{ arPagoInteresesCesantiasAnterior.vrNeto | number_format }}</td>
                                <td class="text-center">
                                    <button class="btn btn-default btn-xs" type="submit" name="OpSeleccionar" value="{{ arPagoInteresesCesantiasAnterior.codigoPagoPk }}">Seleccionar</button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {{ form_end(form) }}
                <br/><br/><br/>
                </div>
            </div>
        </div>
        <br/><br/>
    </section>
{% endblock %}