<div class="btn-toolbar" style="float: right">
    <div class="btn-group">
        {{ form_widget(formBotonera.btnEliminar) }}
    </div>
    <div class="btn-group" style="float: right;">
        <a class="btn btn-default btn-sm" href="{{ path('transporte_movimiento_comercial_factura_nuevo', {'id': 0, 'clase': 'NC'}) }}">Nueva nota credito</a>
        <a class="btn btn-default btn-sm" href="{{ path('transporte_movimiento_comercial_factura_nuevo', {'id': 0, 'clase': 'FA'}) }}">Nueva factura</a>
    </div>
    <div class="btn-group">
        {{ form_widget(formBotonera.btnExcel, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
    </div>
    <div class="btn-group" style="float: right">
        {{ form_widget(formBotonera.btnPdf, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
    </div>
</div>