{% extends 'base.html.twig' %}
{% block content %}
    {#{{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}#}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-default btn-sm"
               href="{{ path('turno_administracion_comercial_puesto_lista') }}">Volver</a>&nbsp;&nbsp;
        </div>
    </div>
    <table width="100%" class="table table-condensed table-bordered tabla-informacion">
        <tr>
            <td class="titulo"><b>CODIGO PUESTO:</b></td>
            <td class="td-in-well">{{ arPuesto.codigoPuestoPk }}</td>
            <td class="titulo"><b>NOMBRE CORTO</b></td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arPuesto.clienteRel.nombreCorto }}</td>
        </tr>
        <tr>
            <td class="titulo"><b>CODIGO PUESTO TIPO:</b></td>
            <td class="td-in-well"></td>
            <td class="titulo"><b>CODIGO CLIENTE:</b></td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arPuesto.codigoClienteFk }}</td>
        </tr>
        <tr>
            <td class="titulo"><b>NOMBRE:</b></td>
            <td class="td-in-well">{{ arPuesto.nombre }}</td>
            <td class="titulo"><b>DIRECCIÓN:</b></td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arPuesto.direccion }}</td>
        </tr>
        <tr>
            <td class="titulo"><b>TELEFONO:</b></td>
            <td class="td-in-well">{{ arPuesto.telefono }}</td>
            <td class="titulo"><b>CELULAR:</b></td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arPuesto.celular }}</td>
        </tr>
        <tr>
            <td class="titulo"><b>UBICACIÓN GPS:</b></td>
            <td class="td-in-well">{{ arPuesto.ubicacionGps }}</td>
            <td class="titulo"><b>ESTADO INACTIVO: </b></td>
            <td class="td-in-well">{{ arPuesto.estadoInactivo ?"INACTIVO": "ACTIVO" }}</td>
        </tr>
        <br/><br/>
    </table>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#puestos" data-toggle="tab">Puestos</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="puestos">
            <div id="puestos" style="width: 100%"><br>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover tabla-datos">
                        <thead>
                        <tr>
                            <th>COD</th>
                            <th>CONCEPTO</th>
                            <th>INCLUIR DESCANSO</th>
                            <th>VALOR</th>
                            <th></th>
                            <th class="text-center" title="SELECCIONAR TODOS LOS PUESTOS"><input type="checkbox"
                                                                                                 name="ChkSeleccionarTodos"
                                                                                                 onclick="ChequearTodosTabla(this, 'ChkSeleccionar[]')">
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for arPuestoAdicional  in arPuestoAdicionales %}
                            <tr>
                                <td>{{ arPuestoAdicional.codigoPuestoAdicionalPk }}</td>
                                <td>{{ arPuestoAdicional.concepto }}</td>
                                <td>{{ arPuestoAdicional.incluirDescanso?"SI":"NO" }}</td>
                                <td class="numero">{{ arPuestoAdicional.valor }}</td>
                                <td style="text-align: center;">
                                    <a href="javascript:abrirVentana3('{{ path('turno_administracion_comercial_puesto_adicional_nuevo', {'codigoPuesto': arPuesto.codigoPuestoPk, 'id': arPuestoAdicional.codigoPuestoAdicionalPk}) }}', 'Editar adicional', 600, 1200) "><i
                                                class="fa fa-edit" style="color: black;font-size: large;"></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" name="ChkSeleccionar[]"
                                           value="{{ arPuestoAdicional.codigoPuestoAdicionalPk }}"/>
                                </td>
                            </tr>
                        {% endfor %}
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-toolbar" style="float: right">
        <div class="btn-group">
            <a class="btn btn-default btn-sm"
               href="javascript:abrirVentana3('{{ path('turno_administracion_comercial_puesto_adicional_nuevo', {'codigoPuesto': arPuesto.codigoPuestoPk, 'id' : 0}) }}', 'AgregarNuevo', 400, 800)">Nuevo</a>
        </div>
    </div>

{% endblock %}
