{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="panel panel-default">
        <div class="panel-heading">Filtros</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="txtNit" class="col-sm-2 control-label">Cliente:</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="input-group">
                                {{ form_widget(form.codigoClienteFk) }}
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="input-group">
                                <input id="txtNombreCorto" name="txtNombreCorto" type="text" class="form-control"
                                       value="{{ arPuesto.clienteRel.nombreCorto |default('') }}" readOnly="ReadOnly"/>
                                <span class="input-group-btn">
                                        <a class="btn btn-default btn-sm"
                                           href="javascript:abrirVentana3('{{ path('turno_buscar_cliente', { 'campoCodigo': 'form_codigoClienteFk', 'campoNombre': 'txtNombreCorto'  }) }}', 'buscarCliente', 600, 900)">Buscar</a>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{#            <div class="form-group form-group-sm">#}
{#                <label for="form_TxtCodigo" class="col-sm-1 control-label">Lote:</label>#}
{#                <div class="col-sm-4">#}
{#                    {{ form_widget(form.txtLote) }}#}
{#                </div>#}
{#                <label for="form_cboBodega" class="col-sm-3 control-label">bodega:</label>#}
{#                <div class="col-sm-4">#}
{#                    {{ form_widget(form.cboBodega, { 'attr': {'class': 'form-control'} }) }}#}
{#                </div>#}
{#            </div>#}
            <div class="form-group form-group-sm">
                <div class="col-sm-offset-2 col-sm-10">
                    {{ form_widget(form.btnFiltrar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover tabla-informacion">
            <thead>
            <tr>
                <th>ID</th>
                <th>CLIENTE</th>
                <th>NOMBRE</th>
                <th>PROGRAMADOR</th>
                <th>PROGRAMADOR</th>
                <th>CIUDAD</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for arPuesto in arPuestos %}
                <tr>
                    <td>{{ arPuesto.codigoPuestoPk }}</td>
                    <td>{{ arPuesto.cliente }}</td>
                    <td>{{ arPuesto.nombre }}</td>
                    <td>{{ arPuesto.programadorNombre }}</td>
                    <td>{{ arPuesto.direccion }}</td>
                    <td>{{ arPuesto.ciudadNombre }}</td>
                    <td style="text-align: center;">
                        <a href="{{ path('turno_administracion_comercial_puesto_detalle',{'id' : arPuesto.codigoPuestoPk}) }}">
                            <i class="fa fa-share-square-o" style="font-size: large;color: black;">
                            </i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="btn-group" style="float: left">
        <div class="btn btn-default btn-sm">Registros
            <span class="badge">{{ arPuestos.getTotalItemCount }}
            </span>
        </div>
    </div>
    <div class="btn-group btn-xs" style="float: left;margin-top: -18px;">
        {{ knp_pagination_render(arPuestos) }}
    </div>
    <div class="btn-group" style="float: right;">
        {{ form_widget(form.btnExcel) }}
    </div>
    <br/><br/><br/>
    {{ form_end(form) }}
{% endblock %}

