{% extends 'base.html.twig' %}
{% block content %}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-default btn-sm"
               href="{{ path('recursohumano_administracion_nomina_pension_lista') }}">Volver</a> &nbsp;&nbsp;
        </div>
    </div>
    <br><br>
    <table width="100%" class="table table-condensed table-bordered tabla-informacion">
        <tbody>
        <tr>
            <td class="titulo">ID:</td>
            <td class="td-in-well">{{ arLicenciaTipo.codigoLicenciaTipoPk }}</td>
            <td class="titulo">NOMBRE:</td>
            <td class="td-in-well">{{ arLicenciaTipo.nombre }}</td>
        </tr>
        <tr>
            <td class="titulo">AFECTA SALUD:</td>
            <td class="td-in-well">{{ arLicenciaTipo.afectaSalud ? "SI": "NO" }}</td>
            <td class="titulo">AUSENTISMO:</td>
            <td class="td-in-well">{{ arLicenciaTipo.ausentismo ? "SI": "NO" }}</td>
        </tr>
        <tr>
            <td class="titulo">MATERNIDAD:</td>
            <td class="td-in-well">{{ arLicenciaTipo.maternidad ? "SI" : "NO"}}</td>
            <td class="titulo">PETERNIDAD:</td>
            <td class="td-in-well">{{ arLicenciaTipo.paternidad ? "SI" : "NO"}}</td>
        </tr>
        <tr>
            <td class="titulo">REMUNERADA:</td>
            <td class="td-in-well">{{ arLicenciaTipo.remunerada ? "SI" : "NO"}}</td>
            <td class="titulo">SUSPENSION CONTRATO TRABAJO:</td>
            <td class="td-in-well">{{ arLicenciaTipo.suspensionContratoTrabajo ? "SI" : "NO"}}</td>
        </tr>
        </tbody>
    </table>
{% endblock  %}
