{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div id="content sortable-grid ui-sortable">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-collapsed="true">
            <header>
                <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
                <h2>Filtro</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="form-group form-group-sm">
                        <label for="" class="col-sm-1 control-label">Codigo:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.codigoLicenciaTipoPk, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <label for="form_cboOperacionRel" class="col-sm-1 control-label">Nombre:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.nombre, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <div class="col-sm-offset-2 col-sm-10">
                            {{ form_widget(form.btnFiltrar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover tabla-datos tabla-informacion">
        <thead>
        <tr>
            <th title="Codigo del registro">ID</th>
            <th title="Nombre del registro">NOMBRE</th>
            <th title="Afecta salud">SALUD</th>
            <th title="Ausentismo">AUSENTISMO</th>
            <th title="Maternidad">MATERNIDAD</th>
            <th title="Paternidad">PATERNIDAD</th>
            <th title="Remunerada">RENUN</th>
            <th title="Suspension Contrato trabajo">SCT</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for arLicenciaTipo in arLicenciaTipos %}
            <tr>
                <td>{{ arLicenciaTipo.codigoLicenciaTipoPk }}</td>
                <td>{{ arLicenciaTipo.nombre }}</td>
                <td>{{ arLicenciaTipo.afectaSalud ? "SI" : "NO" }}</td>
                <td>{{ arLicenciaTipo.ausentismo ? "SI" : "NO" }}</td>
                <td>{{ arLicenciaTipo.maternidad ? "SI" : "NO" }}</td>
                <td>{{ arLicenciaTipo.paternidad ? "SI" : "NO" }}</td>
                <td>{{ arLicenciaTipo.remunerada ? "SI" : "NO" }}</td>
                <td>{{ arLicenciaTipo.suspensionContratoTrabajo ? "SI" : "NO" }}</td>

                <td class="text-center">
                    <a href="{{ path('recursohumano_administracion_nomina_licenciaTipo_nuevo',{'id': arLicenciaTipo.codigoLicenciaTipoPk }) }}"><i
                                class="fa fa-edit" style="color: black;font-size: large;"></i></a>
                </td>
                <td class="text-center">
                    <a href="{{ path('recursohumano_administracion_nomina_licenciaTipo_detalle',{'id' : arLicenciaTipo.codigoLicenciaTipoPk }) }}">
                        <i class="fa fa-share-square-o" style="font-size: large;color: black;">
                        </i>
                    </a>
                </td>
                <td class="text-center">
                    <input type="checkbox" name="ChkSeleccionar[]" value="{{ arLicenciaTipo.codigoLicenciaTipoPk }}"/>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="btn-group" style="float: left">
        <div class="btn btn-default btn-sm">Registros
            <span class="badge">{{ arLicenciaTipos.getTotalItemCount }}
                    </span>
        </div>
    </div>
    <div class="btn-group btn-xs" style="float: left;margin-top: -18px;">
        {{ knp_pagination_render(arLicenciaTipos) }}
    </div>
    <div class="btn-group btn-xs" style="float: left; width: 60px">
        {{ form_widget(form.limiteRegistros) }}
    </div>
    <div class="btn-group" style="float: right; margin-right: 5px !important;">
        {{ form_widget(form.btnEliminar, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}
    </div>
    <div class="btn-group" style="float: right; margin-right: 5px !important;">
        {{ form_widget(form.btnExcel, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
    </div>
    <div class="btn-group" style="float: right; margin-right: 5px !important;">
        <a class="btn btn-default btn-sm"
           href="{{ path('recursohumano_administracion_nomina_licenciaTipo_nuevo', {'id': 0}) }}">Nuevo</a>
    </div>
    {{ form_end(form) }}
    <br/><br/><br/>
{% endblock %}