{% extends 'base_recursoHumano.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="panel panel-default">
        <div class="panel-heading">Información embargo</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="form_txtNumeroIdentificacion" class="col-sm-2 control-label">Empleado:</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="input-group">
                                {{ form_widget(form.codigoEmpleadoFk) }}
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="input-group">
                                <input id="form_txtNombreCorto" name="form_txtNombreCorto" type="text"
                                       class="form-control"
                                       value="{{ arEmbargo.empleadoRel.nombreCorto |default('') }}"
                                       readOnly="ReadOnly"/>
                                <span class="input-group-btn">
                                        <a class="btn btn-default btn-sm"
                                           href="javascript:abrirVentana3('{{ path('recursohumano_buscar_empleado', { 'campoCodigo': 'embargo_codigoEmpleadoFk', 'campoNombre': 'form_txtNombreCorto' }) }}', 'buscarEmpleado', 600, 900)">Buscar</a>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_txtCodigoJuzgado" class="col-sm-2 control-label">Juzgado:</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="input-group">
                                {{ form_widget(form.codigoEmbargoJuzgadoFk) }}
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="input-group">
                                <input id="form_txtNombreJuzgado" name="form_txtNombreJuzgado" type="text"
                                       class="form-control"
                                       value="{{ arEmbargo.embargoJuzgadoRel.nombre | default('') }}"
                                       readOnly="ReadOnly"/>
                                <span class="input-group-btn">
                                        <a class="btn btn-default btn-sm"
                                    href="javascript:abrirVentana3('{{ path('recursohumano_buscar_juzgado', { 'campoCodigo': 'embargo_codigoEmbargoJuzgadoFk', 'campoNombre': 'form_txtNombreJuzgado' }) }}', 'buscarJuzgado', 600, 900)">Buscar</a>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Tipo:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.embargoTipoRel) }}
                    {{ form_errors(form.embargoTipoRel) }}

                </div>
                <label class="col-sm-2 control-label">Numero(interno):</label>
                <div class="col-sm-4">
                    {{ form_widget(form.numero) }}
                    {{ form_errors(form.embargoTipoRel) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Oficina destino:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.oficinaDestino) }}
                    {{ form_errors(form.oficinaDestino) }}
                </div>
                <label class="col-sm-2 control-label">Consecutivo(juzgado):</label>
                <div class="col-sm-4">
                    {{ form_widget(form.consecutivoJuzgado) }}
                    {{ form_errors(form.consecutivoJuzgado) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Documento demandante:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.numeroIdentificacionDemandante) }}
                </div>
                <label class="col-sm-2 control-label">Nombres:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.nombreCortoDemandante) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-4">

                </div>
                <label class="col-sm-2 control-label">Apellidos:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.apellidosDemandante) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Documento beneficiario:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.numeroIdentificacionBeneficiario) }}
                </div>
                <label class="col-sm-2 control-label">Nombre:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.nombreCortoBeneficiario) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Numero radicado:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.numeroRadicado) }}
                </div>
                <label class="col-sm-2 control-label">Fecha inicio folio</label>
                <div class="col-sm-4">
                    {{ form_widget(form.fechaInicioFolio) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Cuenta:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.cuenta) }}
                </div>
                <label class="col-sm-2 control-label">Tipo cuenta:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.tipoCuenta) }}
                    {{ form_errors(form.tipoCuenta) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Numero expediente:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.numeroExpediente) }}
                </div>
                <label class="col-sm-2 control-label">Numero proceso:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.numeroProceso) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Oficio:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.oficio) }}
                </div>
                <label class="col-sm-2 control-label">Oficio (inactivacion):</label>
                <div class="col-sm-4">
                    {{ form_widget(form.oficioInactivacion) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Codigo instancia:</label>
                <div class="col-sm-2">
                    {{ form_widget(form.codigoInstancia) }}
                    {{ form_errors(form.codigoInstancia) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Monto maximo:</label>
                <div class="col-sm-2">
                    {{ form_widget(form.VrMontoMaximo) }}
                </div>
                <div class="col-sm-2">
                    {{ form_widget(form.validarMontoMaximo) }}
                </div>
                <label class="col-sm-2 control-label">Fecha inactivacion:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.fechaInactivacion) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-1">{{ form_row(form.afectaNomina) }}</div>
                <div class="col-sm-1">{{ form_row(form.afectaLiquidacion) }}</div>
                <div class="col-sm-1">{{ form_row(form.afectaVacacion) }}</div>
                <div class="col-sm-1">{{ form_row(form.afectaPrima) }}</div>
                <div class="col-sm-1">{{ form_row(form.afectaCesantia) }}</div>
                <div class="col-sm-1">{{ form_row(form.afectaIndemnizacion) }}</div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-1">{{ form_row(form.estadoActivo) }}</div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <div class="col-sm-4">{{ form_row(form.numero) }}</div>
                </div>
            </div>
            <div class="form-group">
                <label for="form_comentarios" class="col-sm-2 control-label">Comentarios:</label>
                <div class="col-sm-10">
                    {{ form_widget(form.comentarios, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Descuento fijo</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Valor:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.vrValor) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <div class="col-sm-4">{{ form_row(form.valorFijo) }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Descuento porcentaje</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Porcentaje:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.vrPorcentaje) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <div class="col-sm-4">{{ form_row(form.porcentajeDevengado) }}</div>
                    <div class="col-sm-4">{{ form_row(form.porcentajeDevengadoPrestacional) }}</div>
                    <div class="col-sm-4">{{ form_row(form.porcentajeDevengadoPrestacionalMenosDescuentoLey) }}</div>
                    <div class="col-sm-4">{{ form_row(form.porcentajeDevengadoPrestacionalMenosDescuentoLeyTransporte) }}</div>
                    <div class="col-sm-4">{{ form_row(form.porcentajeDevengadoMenosDescuentoLey) }}</div>
                    <div class="col-sm-4">{{ form_row(form.porcentajeDevengadoMenosDescuentoLeyTransporte) }}</div>
                    <div class="col-sm-4">{{ form_row(form.porcentajeExcedaSalarioMinimo) }}</div>
                    <div class="col-sm-4">{{ form_row(form.porcentajeSalarioMinimo) }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Descuento partes</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Partes:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.partes) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <div class="col-sm-4">{{ form_row(form.partesExcedaSalarioMinimo) }}</div>
                    <div class="col-sm-4">{{ form_row(form.partesExcedaSalarioMinimoMenosDescuentoLey) }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default btn-sm" href="{{ path('recursohumano_movimiento_nomina_embargo_lista') }}">Cancelar</a>
        {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-sm btn-primary'} }) }}
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
    <br/><br/><br/><br/>
{% endblock %}