{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="panel panel-default">
        <div class="panel-heading">Informacion general</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Origen:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.ciudadOrigenRel) }}
                </div>
                <label class="col-sm-2 control-label">Destino:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.ciudadDestinoRel) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-4">
                    {{ form_widget(form.lunes) }}
                    {{ form_widget(form.martes) }}
                    {{ form_widget(form.miercoles) }}
                    {{ form_widget(form.jueves) }}
                    {{ form_widget(form.viernes) }}
                    {{ form_widget(form.sabado) }}
                    {{ form_widget(form.domingo) }}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn btn-default btn-sm"
               href="{{ path('transporte_administracion_general_frecuencia_lista') }}">Cancelar</a>
            {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}
