{% extends 'base.html.twig' %}
{% block content %}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-default btn-sm"
               href="{{ path('turno_administracion_operacion_turno_lista') }}">Volver</a> &nbsp;&nbsp;
        </div>
    </div>
    <br><br>
    <table width="100%" class="table table-condensed table-bordered tabla-informacion">
        <tbody>
        <tr>
            <td class="titulo">ID:</td>
            <td class="td-in-well">{{ arTurno.codigoTurnoPk }}</td>
            <td class="titulo">NOMBRE:</td>
            <td class="td-in-well">{{ arTurno.nombre }}</td>
        </tr>
        <tr>
            <td class="titulo">HORAS:</td>
            <td class="td-in-well">{{ arTurno.horas | date('h:m') }}</td>
            <td class="titulo">HORAS DESDE:</td>
            <td class="td-in-well">{{ arTurno.horaDesde | date('h:m') }}</td>
        </tr>
        <tr>
            <td class="titulo">HORAS DIURNAS:</td>
            <td class="td-in-well">{{ arTurno.horasDiurnas | date('h:m') }}</td>
            <td class="titulo">HORAS HASTA:</td>
            <td class="td-in-well">{{ arTurno.horaHasta | date('h:m') }}</td>
        </tr>
        <tr>
            <td class="titulo">HORAS NOCTURNAS:</td>
            <td class="td-in-well">{{ arTurno.horasNocturnas | date('h:m') }}</td>
            <td class="titulo">NOVEDAD:</td>
            <td class="td-in-well">{{ arTurno.novedad?"SI":"NO" }}</td>
        </tr>
        <tr>
            <td class="titulo">DESCANSO:</td>
            <td class="td-in-well">{{ arTurno.descanso?"si":"no" }}</td>
            <td class="titulo">INCAPACIDAD:</td>
            <td class="td-in-well">{{ arTurno.incapacidad?"SI":"NO" }}</td>
        </tr>
        <tr>
            <td class="titulo">LICENCIA:</td>
            <td class="td-in-well">{{ arTurno.licencia?"SI":"NO" }}</td>
            <td class="titulo">VACACIONES:</td>
            <td class="td-in-well">{{ arTurno.vacacion?"SI":"NO" }}</td>
        </tr>
        <tr>
            <td class="titulo">INGRESO:</td>
            <td class="td-in-well">{{ arTurno.ingreso?"SI":"NO" }}</td>
            <td class="titulo">RETIRO:</td>
            <td class="td-in-well">{{ arTurno.retiro?"SI":"NO" }}</td>
        </tr>
        <tr>
            <td class="titulo">INDUCCIÓN:</td>
            <td class="td-in-well">{{ arTurno.induccion?"SI":"NO" }}</td>
            <td class="titulo">AUSENTISMO:</td>
            <td class="td-in-well">{{ arTurno.ausentismo?"SI":"NO" }}</td>
        </tr>
        <tr>
            <td class="titulo">DÍA:</td>
            <td class="td-in-well">{{ arTurno.dia?"SI":"NO" }}</td>
            <td class="titulo">NOCHE:</td>
            <td class="td-in-well">{{ arTurno.noche?"SI":"NO" }}</td>
        </tr>
        <tr>
            <td class="titulo">COOMPLEMENTARIO:</td>
            <td class="td-in-well">{{ arTurno.complementario?"SI":"NO" }}</td>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
        </tbody>
    </table>
{% endblock %}
