{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    {{ form_errors(form) }}
    <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-editbutton="false"
         data-widget-fullscreenbutton="true">
        <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>Generar guia</h2>
        </header>
        <div>
            <div class="widget-body no-padding">
                <div class="panel-body">
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-3">
                            {{ form_widget(form.flArchivo, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div class="col-sm-4">
                            {{ form_widget(form.btnEjemplo, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
                            <a href="{{ asset('estructuras/estructuraGenerarGuia.xlsx') }}" download class="btn btn-sm btn-default">Descargar estructura</a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    {{ form_widget(form.btnGenerar, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
    <br/>
{% endblock %}
