{% extends 'base_turno.html.twig' %}
{% block content %}
    {{ form_start(formBotonera, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="panel panel-default">
        <div class="panel-heading">Filtros</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="txtCodigoConductor" class="col-sm-1 control-label">Cliente:</label>
                <div class="col-sm-11">
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="input-group">
                                {{ form_widget(formBotonera.txtCodigoCliente) }}
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="input-group">
                                {{ form_widget(formBotonera.txtNombreCorto) }}
                                <span class="input-group-btn">
                                        <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('turno_buscar_cliente', { 'campoCodigo': 'form_txtCodigoCliente', 'campoNombre': 'form_txtNombreCorto' }) }}', 'buscarCliente', 600, 900)">Buscar</a>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            {{ form_widget(formBotonera.btnFiltrar) }}
        </div>
    </div>
    {% include 'estructura/movimiento/tablaGeneral.html.twig' %}
    {% include 'estructura/movimiento/botoneraGeneral.html.twig' %}
    {{ form_end(formBotonera) }}
{% endblock %}

