{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    {{ notificar()|raw }}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-default btn-sm" href="{{ path('turno_movimiento_operacion_programacion_lista') }}">Volver</a>
        </div>
        <div class="btn-group">

        </div>
    </div>
    <div style="float:right">
        {% if arPedido.estadoAutorizado == true %}<span class="label label-default">Autorizado</span>{% endif %}
        {% if arPedido.estadoAprobado == true %}<span class="label label-success">Aprobado</span>{% endif %}
        {% if arPedido.estadoAnulado == true %}<span class="label label-danger">Anulado</span>{% endif %}
    </div>
    <br/><br/>
    {% include 'turno/movimiento/venta/pedido/informacion.html.twig' %}
    <ul class="nav nav-tabs">
        <li class="active"><a href="#detalles" data-toggle="tab">Detalles</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="detalles">
            <div id="detalles" style="width: 100%"><br>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-condensed tabla-datos">
                        <thead>
                        <tr>
                            <th colspan="2">RECURSO</th>
                            {% if arrDiaSemana != "" %}
                                {% for arrDiaSemana in arrDiaSemana %}
                                    <th {{ arrDiaSemana.festivo? 'class="dia-festivo"' : '' }}>{{ arrDiaSemana.dia }}{{ arrDiaSemana.diaSemana|upper }}</th>
                                {% endfor %}
                            {% else %}
                                {% for i in range(1,31) %}
                                    <th>{{ i }}</th>
                                {% endfor %}
                            {% endif %}
                            <th>H</th>
                            <th>P.D</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for arPedidoDetalle in arPedidoDetalles %}
                            <tr style="background-color: #c8c8c8">
                                <td colspan="21">
                                    <b>
                                        ({{ arPedidoDetalle.puestoCodigo | default('') }})
                                        {{ arPedidoDetalle.cliente }}
                                        |
                                        {{ arPedidoDetalle.puestoNombre | default('') }}
                                        |
                                        <b>{{ arPedidoDetalle.pedidoTipo| default('') }} | </b>
                                        <b>{{ arPedidoDetalle.concepto| default('') }} | </b>
                                        <b>{{ arPedidoDetalle.modalidad }}</b>

                                    </b>
                                </td>
                                <td class="text-center" colspan="4">H.DIURNAS: {{ arPedido.horasDiurnas }}</td>
                                <td class="text-center" colspan="4">H.NOCTURNAS: {{arPedido.horasNocturnas }}</td>
                                <td colspan="2"></td>
                                <td class="text-center" colspan="4">
                                    <a href="{{ path('turno_movimiento_venta_pedido_detalle', {"id": arPedidoDetalle.codigoPedidoDetallePk}) }}" >PEDIDO DETALLE:  {{arPedidoDetalle.codigoPedidoDetallePk }}</a>
                                </td>
                                <td style="text-align: center;">
                                    <a href="javascript:abrirVentana3('{{ path('turno_buscar_empleadopedido',
                                        { 'codigoPedidoDetalle': arPedidoDetalle.codigoPedidoDetallePk }) }}', 'VerProgramaciones', 600, 1300)">
                                        <i class="fa fa-user" style="color: black;font-size: large;"></i>
                                    </a>
                                </td>

                            </tr>

                            {% for arProgramacion in arPedidoDetalle.arProgramaciones %}
                                <tr>
                                    <td>{{ arProgramacion.codigoProgramacionPk }}</td>
                                    <td>
                                        <a href="javascript:abrirVentana3('{{ path('turno_movimiento_operacion_programacion_recurso',
                                            { 'codigoPedidoDetalle': arPedidoDetalle.codigoPedidoDetallePk , 'codigoEmpleado': arProgramacion.codigoEmpleadoFk }) }}', 'VerProgramaciones', 600, 1300)">
                                            {{ arProgramacion.empleadoNombreCorto | default('') }}
                                        </a>
                                    </td>
                                    <td>{{ arProgramacion.dia1 }}</td>
                                    <td>{{ arProgramacion.dia2 }}</td>
                                    <td>{{ arProgramacion.dia3 }}</td>
                                    <td>{{ arProgramacion.dia4 }}</td>
                                    <td>{{ arProgramacion.dia5 }}</td>
                                    <td>{{ arProgramacion.dia6 }}</td>
                                    <td>{{ arProgramacion.dia7 }}</td>
                                    <td>{{ arProgramacion.dia8 }}</td>
                                    <td>{{ arProgramacion.dia9 }}</td>
                                    <td>{{ arProgramacion.dia10 }}</td>
                                    <td>{{ arProgramacion.dia11 }}</td>
                                    <td>{{ arProgramacion.dia12 }}</td>
                                    <td>{{ arProgramacion.dia13 }}</td>
                                    <td>{{ arProgramacion.dia14 }}</td>
                                    <td>{{ arProgramacion.dia15 }}</td>
                                    <td>{{ arProgramacion.dia16 }}</td>
                                    <td>{{ arProgramacion.dia17 }}</td>
                                    <td>{{ arProgramacion.dia18 }}</td>
                                    <td>{{ arProgramacion.dia19 }}</td>
                                    <td>{{ arProgramacion.dia20 }}</td>
                                    <td>{{ arProgramacion.dia21 }}</td>
                                    <td>{{ arProgramacion.dia22 }}</td>
                                    <td>{{ arProgramacion.dia23 }}</td>
                                    <td>{{ arProgramacion.dia24 }}</td>
                                    <td>{{ arProgramacion.dia25 }}</td>
                                    <td>{{ arProgramacion.dia26 }}</td>
                                    <td>{{ arProgramacion.dia27 }}</td>
                                    <td>{{ arProgramacion.dia28 }}</td>
                                    <td>{{ arProgramacion.dia29 }}</td>
                                    <td>{{ arProgramacion.dia30 }}</td>
                                    <td>{{ arProgramacion.dia31 }}</td>
                                    <td>{{ arProgramacion.horasDiurnas }}</td>
                                    <td>{{ arProgramacion.horasNocturnas }}</td>
                                    <td><input type="checkbox" name="ChkSeleccionar[]" value="{{ arProgramacion.codigoProgramacionPk }}"/></td>
                                </tr>
                            {% endfor %}

                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="btn-toolbar" style="float: right">
                    <div class="btn-group">
                        {{ form_widget(form.btnEliminar) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br /><br />
    {{ form_end(form) }}
{% endblock %}
