{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="panel panel-default">
        <div class="panel-heading">Filtros</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="txtCodigoConductor" class="col-sm-1 control-label">Tercero:</label>
                <div class="col-sm-11">
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="input-group">
                                {{ form_widget(form.txtCodigoTercero) }}
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="input-group">
                                {{ form_widget(form.txtNombreCorto) }}
                                <span class="input-group-btn">
                                        <a class="btn btn-default btn-sm"
                                           href="javascript:abrirVentana3('{{ path('financiero_buscar_tercero', { 'campoCodigo': 'form_txtCodigoTercero', 'campoNombre': 'form_txtNombreCorto' }) }}', 'buscarCliente', 600, 900)">Buscar</a>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-1 control-label">Desde:</label>
                <div class="col-sm-5">
                    {{ form_widget(form.fechaDesde) }}
                </div>
                <label class="col-sm-1 control-label">Comprobante:</label>
                <div class="col-sm-2">
                    {{ form_widget(form.txtComprobante) }}
                </div>
                <label class="col-sm-1 control-label">Numero desde:</label>
                <div class="col-sm-1">
                    {{ form_widget(form.txtNumeroDesde) }}
                </div>
                <div class="col-sm-1">
                    {{ form_widget(form.txtNumeroPrefijo) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-1 control-label">Hasta:</label>
                <div class="col-sm-5">
                    {{ form_widget(form.fechaHasta) }}
                </div>
                <label class="col-sm-1 control-label">Cuenta:</label>
                <div class="col-sm-2">
                    {{ form_widget(form.txtCuenta) }}
                </div>
                <label class="col-sm-1 control-label">Numero Hasta:</label>
                <div class="col-sm-1">
                    {{ form_widget(form.txtNumeroHasta) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-1 control-label"></label>
                <div class="col-sm-5">
                    {{ form_widget(form.filtrarFecha) }}
                </div>
                <label class="col-sm-1 control-label">Centro costo:</label>
                <div class="col-sm-2">
                    {{ form_widget(form.txtCentroCosto) }}
                </div>
                <label class="col-sm-1 control-label">Numero referencia:</label>
                <div class="col-sm-1">
                    {{ form_widget(form.txtNumeroReferencia) }}
                </div>
                <div class="col-sm-1">
                    {{ form_widget(form.txtNumeroReferenciaPrefijo) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-1 control-label"></label>
                <div class="col-sm-5">
                    {{ form_widget(form.chkTodos) }}
                </div>
            </div>
            <div class="modal-footer">
                {{ form_widget(form.btnFiltrar) }}
                <div class="btn-group btn-group-sm">
                    <div class="dropdown">
                        <button class="btn btn-sm btn-default dropdown-toggle" type="button" id="generar"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Generar
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="generar">
                            <li><a href="{{ path('financiero_utilidad_contabilidad_intercambio_registro_ilimitada') }}">Ilimitada</a></li>
                            <li><a href="{{ path('financiero_utilidad_contabilidad_intercambio_registro_worldOffice') }}">World Office</a></li>
                            <li><a href="{{ path('financiero_utilidad_contabilidad_intercambio_registro_siigo') }}">Siigo</a></li>
                        </ul>
                    </div>
                </div>
                <div class="btn-group">
                    {{ form_widget(form.btnDescargar, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
                </div>

            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover tabla-informacion">
        <thead>
        <tr>
            <th>COD</th>
            <th title="Prefijo">P</th>
            <th>NUMERO</th>
            <th title="Prefijo">P</th>
            <th>NUMERO REF</th>
            <th>FECHA</th>
            <th>COMPRABANTE</th>
            <th>CUENTA</th>
            <th>C_C</th>
            <th>NIT</th>
            <th>TERCERO</th>
            <th>DEBITO</th>
            <th>CREDITO</th>
            <th>BASE</th>
            <th>DETALLE</th>
        </tr>
        </thead>
        <tbody>
        {% for arRegistro in arRegistros %}
            <tr>
                <td>{{ arRegistro.codigoRegistroPk }}</td>
                <td>{{ arRegistro.numeroPrefijo }}</td>
                <td>{{ arRegistro.numero }}</td>
                <td>{{ arRegistro.numeroReferenciaPrefijo }}</td>
                <td>{{ arRegistro.numeroReferencia }}</td>
                <td>{{ arRegistro.fecha | date('Y-m-d') }}</td>
                <td>{{ arRegistro.codigoComprobanteFk }} - {{ arRegistro.nombre }}</td>
                <td>{{ arRegistro.codigoCuentaFk }}</td>
                <td>{{ arRegistro.codigoCentroCostoFk }}</td>
                <td>{{ arRegistro.numeroIdentificacion }}</td>
                <td>{{ arRegistro.nombreCorto }}</td>
                <td class="numero">{{ arRegistro.vrDebito | number_format(0, '.', ',') }}</td>
                <td class="numero">{{ arRegistro.vrCredito | number_format(0, '.', ',') }}</td>
                <td class="numero">{{ arRegistro.vrBase | number_format(0, '.', ',') }}</td>
                <td>{{ arRegistro.descripcion }}</td>
            </tr>
        {% endfor %}
    </table>
    <div class="btn-group" style="float: left">
        <div class="btn btn-default btn-sm">Registros
            <span class="badge">{{ arRegistros.getTotalItemCount }}
            </span>
        </div>
    </div>
    <div class="btn-group btn-xs" style="float: left;margin-top: -18px;">
        {{ knp_pagination_render(arRegistros) }}
    </div>
    <div class="btn-group" style="float: right;">
        {{ form_widget(form.btnExcel, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
    </div>
    <br>
    <br>
    <br>
    {{ form_end(form) }}
{% endblock %}

