{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
    {{ form_errors(form) }}
    <div id="content sortable-grid ui-sortable">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-collapsed="true">
            <header role="heading" class="ui-sortable-handle">
                <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
                <h2>Filtro</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="form-group form-group-sm">
                        <label for="txtCodigoConductor" class="col-sm-1 control-label">Tercero:</label>
                        <div class="col-sm-11">
                            <div class="row">
                                <div class="col-lg-2">
                                    <div class="input-group">
                                        {{ form_widget(form.txtCodigoTercero) }}
                                    </div>
                                </div>
                                <div class="col-lg-10">
                                    <div class="input-group">
                                        {{ form_widget(form.txtNombreCorto) }}
                                        <span class="input-group-btn">
                                        <a class="btn btn-default btn-sm"
                                           href="javascript:abrirVentana3('{{ path('tesoreria_buscar_tercero', { 'campoCodigo': 'form_txtCodigoTercero', 'campoNombre': 'form_txtNombreCorto' }) }}', 'buscarCliente', 600, 900)">Buscar</a>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-1 control-label">Numero:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.txtNumero) }}
                        </div>
                        <label class="col-sm-1 control-label">Numero refencia:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.txtNumeroReferencia) }}
                        </div>
                        <label class="col-sm-2 control-label">Tipo:</label>
                        <div class="col-sm-4">
                            <select name="cboTipoCuentaRel[]" class="form-control to-select-2" multiple>
                                <option value="">Todos</option>
                                {% for value in cboTipoCuentaRel %}
                                    {% set nombre =  value.codigoCuentaPagarTipoPk %}
                                    {% if nombre in app.session.get('selectCuentaPagarTipo') %}
                                        <option value="{{ value.codigoCuentaPagarTipoPk }}" selected>{{ value.nombre }}</option>
                                    {% else %}
                                        <option value="{{ value.codigoCuentaPagarTipoPk }}" >{{ value.nombre }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-1 control-label"></label>
                        <div class="col-sm-2">

                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-1 control-label">Desde:</label>
                        <div class="col-sm-5">
                            {{ form_widget(form.fechaDesde) }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-1 control-label">Hasta:</label>
                        <div class="col-sm-5">
                            {{ form_widget(form.fechaHasta) }}
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-1 control-label"></label>
                    <div class="col-sm-5">
                        {{ form_widget(form.filtrarFecha) }}
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="btn-group" style="float: right">
                        {{ form_widget(form.btnGenerarVencimientos, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
                        {{ form_widget(form.btnFiltrar) }}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover tabla-datos">
        <thead>
        <tr>
            <th>ID</th>
            <th>NUM</th>
            <th>NUM_REF</th>
            <th>TIPO</th>
            <th>FECHA</th>
            <th>VENCE</th>
            <th>SOPORTE</th>
            <th>NIT</th>
            <th>TERCERO</th>
            <th>PLAZO
            <th>VALOR</th>
            <th>ABONO</th>
            <th>SALDO</th>
            <th>SALDO(O)</th>
            <th><input type="checkbox" name="ChkSeleccionarTodosDetalle"
                       OnClick="ChequearTodosTabla(this, 'ChkSeleccionar[]');"/></th>
        </tr>
        </thead>
        <tbody>
        {% for arCuentaPagar in arCuentasPagar %}
            <tr>
                <td>{{ arCuentaPagar.codigoCuentaPagarPk }}</td>
                <td>{{ arCuentaPagar.numeroDocumento }}</td>
                <td>{{ arCuentaPagar.numeroReferencia }}</td>
                <td>{{ arCuentaPagar.tipo }}</td>
                <td>{{ arCuentaPagar.fecha | date('Y-m-d') }}</td>
                <td>{{ arCuentaPagar.fechaVence | date('Y-m-d') }}</td>
                <td>{{ arCuentaPagar.soporte }}</td>
                <td>{{ arCuentaPagar.numeroIdentificacion }}</td>
                <td>{{ arCuentaPagar.nombreCorto }}</td>
                <td>{{ arCuentaPagar.plazo }}</td>
                <td class="numero">{{ arCuentaPagar.vrSaldoOriginal | number_format(0, '.', ',') }}</td>
                <td class="numero">{{ arCuentaPagar.vrAbono | number_format(0, '.', ',') }}</td>
                <td class="numero">{{ arCuentaPagar.vrSaldo | number_format(2, '.', ',') }}</td>
                <td class="numero">{{ arCuentaPagar.vrSaldoOperado | number_format(2, '.', ',') }}</td>
                <td style="text-align: center;"><input type="checkbox" name="ChkSeleccionar[]"
                                                       value="{{ arCuentaPagar.codigoCuentaPagarPk }}"/>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="btn-group" style="float: left">
        <div class="btn btn-default btn-sm">Registros
            <span class="badge">{{ arCuentasPagar.getTotalItemCount }}
            </span>
        </div>
    </div>
    <div class="btn-group btn-xs" style="float: left;margin-top: -18px;">
        {{ knp_pagination_render(arCuentasPagar) }}
    </div>
    <div class="btn-toolbar" style="float: right">
        {#<div class="btn-group" style="float: right">#}
        {#<a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('cartera_informe_cuentaPagar_cuentaPagar_compromiso_nuevo') }}','compromisoNuevo',600,900)">Compromiso</a>#}
        {#</div>#}
        <div class="btn-group" style="float: right">
            {{ form_widget(form.btnCarteraEdadesCliente, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
        </div>
        <div class="btn-group" style="float: right">
            {{ form_widget(form.btnExcel, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
        </div>
        <div class="btn-group" style="float: right">
            {{ form_widget(form.btnEstadoCuenta, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
        </div>
    </div>
    <br><br><br>
    <script type="application/javascript">
    </script>
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}

