{% extends 'base_general.html.twig' %}
{% block content %}
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
{{ form_start(form, {'attr': {'class': 'form-horizontal'} }) }}
    <div class="panel panel-default">
        <div class="panel-heading">Filtro busqueda</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Modulo:</label>
                <div class="col-sm-4">
                    {{form_widget(form.cbFiltroModulo, { 'attr': {'class': 'modulo form-control'} }) }}
                </div>
                <label class="col-sm-2 control-label">Modelo:</label>
                <div class="col-sm-4">
                    {{form_widget(form.cbFiltroModelo, { 'attr': {'class': 'modelo form-control'}}) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <div class="col-sm-offset-2 col-sm-10">
                    {{ form_widget(form.btnFiltrar, { 'attr': {'class': 'filtrar btn btn-default btn-sm', 'style':'float:right'} }) }}
                </div>
            </div>
        </div>
    </div>
    <div>
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>NOTIFICACION</th>
                <th>MODULO</th>
                <th>MODELO</th>
                <th>Activo</th>
                <th>Usuarios</th>
            </tr>
            </thead>
            <tbody>
            {% for arNotificaionTipo in arNotificaionTipo %}
                <tr>
                    <td>
                        {{ arNotificaionTipo.codigoNotificacionTipoPk }}
                    </td>
                    <td>
                        {{ arNotificaionTipo.nombre }}
                    </td>
                    <td>
                        {{ arNotificaionTipo.codigoModuloFk }}
                    </td>
                    <td>
                        {{ arNotificaionTipo.codigoModeloPk }}
                    </td>
                    <td class="text-center">
                        <input class="estadoActivo" data-on="Activo" data-off="Desactivo" value={{  arNotificaionTipo.codigoNotificacionTipoPk }} type="checkbox" {{ arNotificaionTipo.estadoActivo?'checked':"" }} data-toggle="toggle" data-size="mini">
                    </td>
                    <td style="text-align: center;">
                        <a  title="Cambiar permisos"
                           href="javascript:abrirVentana3('{{ path('general_administracion_notificacion_tipo__editar',{'codigoNotificacion' :arNotificaionTipo.codigoNotificacionTipoPk}) }}','usuariosNotificacion',600,900)">
                            <i class="fa fa-edit" style="font-size: large;color: black;">
                            </i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{{ form_end(form) }}
    <script src="{{ asset('vendor/jquery/jquery.js') }}"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script>
        $('.modulo').change(function () {
            var selector = $(this);
            var selectorAct=$('.modelo');
            if (selector.attr('name') !== '') {
                $.ajax({
                    url: "{{ path('general_administracion_notificacion_tipo__comboDependiente') }}",
                    type: "GET",
                    dataType: "JSON",
                    data: {
                        id: selector.val(),
                    },
                    success: function (respuestas) {
                        console.log(respuestas);
                        selectorAct.html("");
                        selectorAct.append('<option value=""> TODOS</option>');
                        $.each(respuestas, function (key, respuesta) {
                            selectorAct.append('<option value="' + respuesta.id + '">' + respuesta.id + '</option>');
                        });
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
        });


        $(document).ready(function() {
            var selectModelo='{{ arModeloSelect }}';
            var selector = $('.modulo');
            var selectorAct=$('.modelo');
            if (selector.attr('name') !== '') {
                selectorAct.value=selectModelo;
                $.ajax({
                    url: "{{ path('general_administracion_notificacion_tipo__comboDependiente') }}",
                    type: "GET",
                    dataType: "JSON",
                    data: {
                        id: selector.val(),
                    },
                    success: function (respuestas) {
                        console.log(respuestas);
                        selectorAct.html("");
                        selectorAct.append('<option value=""> TODOS</option>');
                        $.each(respuestas, function (key, respuesta) {
                            if(respuesta.id!==selectModelo){
                            selectorAct.append('<option  value="' + respuesta.id + '">' + respuesta.id + '</option>');
                            }
                            else{
                                selectorAct.append('<option selected value="' + respuesta.id + '">' + respuesta.id + '</option>');
                            }
                        });
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
        });

        $('.estadoActivo').change(function () {
            var checked=$(this);
            $.ajax({
                url: "{{ path('general_administracion_notificacion_tipo__cambiarEstadoNotificacion') }}",
                type: "GET",
                dataType: "JSON",
                data: {
                    id: checked.val(),
                },
                success: function (respuestas) {
                    if(!respuestas){
                        $('.estadoActivo').value=false;
                    }
                },
                error: function (error) {
                    $('.estadoActivo').value=false;
                }
            });
        });


    </script>
{% endblock %}
