{% extends 'base_sin_menu.html.twig' %}

{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    {{ form_errors(form) }}
    <div class="panel panel-default">
        <div class="panel-heading">Filtro busqueda</div>
        <div class="panel-body">

            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Usuario:</label>
                <div class="col-sm-4">
                    {{form_widget(form.txtNombreUsuario, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <div class="col-sm-offset-2 col-sm-10">
                    {{ form_widget(form.btnFiltrar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                </div>
            </div>
        </div>
    </div>

    <div>
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>USUARIO</th>
                <th><input type="checkbox" name="ChkSeleccionarTodos" OnClick="ChequearTodosTabla(this, 'ChkSeleccionar[]');"/></th>
            </tr>
            </thead>
            <tbody>
            {%for arUsuario in arUsuario %}
                {% set aux=0 %}
                <tr>
                    <td>{{  arUsuario.username}}</td>
                    <td>{{  arUsuario.nombreCorto}}</td>
                    {% if arUsuarioNotificacion|length >0 %}
                        {% for key, arUsuarioNotif in arUsuarioNotificacion %}
                        {% if arUsuarioNotif == arUsuario.username%}
                        {% set aux=1 %}
                    <td align="center"><input type="checkbox" checked name="ChkSeleccionar[]" value="{{ arUsuario.username }}"/></td>
                    {% elseif  aux==0 and arUsuarioNotificacion | length == key+1  %}
                        <td align="center"><input type="checkbox" name="ChkSeleccionar[]" value="{{ arUsuario.username }}"/></td>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                        <td align="center"><input type="checkbox" name="ChkSeleccionar[]" value="{{ arUsuario.username }}"/></td>
                        {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default btn-sm" onclick="window.close()">Cancelar</a>
        {{ form_widget(form.btnGuardar) }}
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}
