<div class="col-lg-offset-1 col-lg-10" style=" align-items: center; display: flex; margin-bottom: 1%; margin-top: 10px">
    <div class="col-md-1">
        <a class="cursor-pointer " href="{{ path('comunidad_perfil_ver') }}" style="display: flex"><i class="fas fa-user-circle" style="font-size: 20px; margin-right: 5px"></i> Perfil</a>
    </div>
    <div class="col-md-1">
        {% if conexion.usuario %}
            <a href="{{ path('comunidad_general_inicio') }}" class="cursor-pointer " style="display: flex" ><i class="fas fa-blog" style="font-size: 20px; margin-right: 5px"></i> Post</a>
        {% else %}
            <a class="cursor-not-allowed" style="display: flex;"><i class="fas fa-blog" style="font-size: 20px; margin-right: 5px"></i> Post</a>
        {% endif %}
    </div>
    <div class="col-md-6 ">

        <div class="input-group" >
            {{ form_widget(formBusqueda.busqueda) }}
            <span class="input-group-btn">
            {{ form_widget(formBusqueda.btnBuscar) }}
        </span>
        </div>
    </div>
    <div class="col-md-2">
        <a  onclick="notificacionAmigos()" style="cursor: pointer; display: flex"><i class="fas fa-user-friends" style="font-size: 20px"></i><div><b class="badge" style="font-size: 11px">{{ misSolicitudes |length }}</b></div></a>
        <div id="notificacion_amigo" class="ajax-dropdown" style="top: 2em;left: -11em; height: auto">
            {% if misSolicitudes |length >0 %}
                {% for misSolicitudes in misSolicitudes %}
                    <div id="solicitudes" class="user" style="width: 100%;display: flex; border: 0">
                        <div class="amigoDescripcion">
                            {% if misSolicitudes.foto is defined %}
                                <img  src="{{ misSolicitudes.foto }}" style="width: 60px; height: 60px" class="img-rounded" alt="demo user">
                            {% else %}
                                <img  src="{{ asset('img/avatars/sunny.png') }}" style="width: 60px; height: 60px" class="img-rounded" alt="demo user">
                            {% endif %}
                            <h1>{{ misSolicitudes.nombre }}</h1>
                        </div>
                        <div class="botonAmigos">
                            <li class="btn btn-default">
                                <a href="{{ path('comunidad_agregar_amigo',{'usernameSolicitado':misSolicitudes.username,'clave':'null','notificacion':'true'}) }}">
                                    <i class="fa fa-user-plus"></i> Aceptar
                                </a>
                            </li>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div  style="border: 0; display: flex; align-items: baseline; width: 100%">
                    <h5 style="font-size: 15px; margin-right: auto; margin-left: auto"><i  style="font-size: 21px" class="fas fa-bell" ></i> No tienes solicitudes pendientes</h5>
                </div>
            {% endif %}
        </div>
    </div>
</div>

