{% extends ('base.html.twig') %}
{% block content %}
    <!-- MAIN PANEL -->
    <!-- MAIN CONTENT -->
    <div id="content">

        <!-- Bread crumb is created dynamically -->

        <!-- row -->

        <div class="row">
            {{ form_start(formBusqueda) }}
            {{ form_errors(formBusqueda) }}
            {% include ('comunidad/buscardor.html.twig') %}
            {{ form_rest(formBusqueda) }}
            {{ form_end(formBusqueda) }}
            <div class="col-sm-10 col-lg-offset-1">


                <div class="well well-sm">

                    <div class="row">

                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="well well-light well-sm no-margin no-padding">
                                <div class="row">

                                    <div class="col-sm-12">
                                        <div id="myCarousel" class="carousel fade profile-carousel">
                                            <div class="air air-bottom-right padding-10">
                                                {% if conexion.usuario %}
                                                    {% if conexion.conectado %}
                                                        <a href="{{ path('comunidad_perfil_conexion',{'username': app.user.username}) }}" class="btn txt-color-white bg-color-greenLight btn-sm"><i class="fa fa-link"></i> Conectado</a>
                                                    {% else %}
                                                        <a href="{{ path('comunidad_perfil_conexion',{'username': app.user.username}) }}" class="btn txt-color-white bg-color-redLight btn-sm"><i class="fa fa-link"></i> Desconectado</a>
                                                    {% endif %}
                                                {% else %}
                                                    <a  class="btn txt-color-white bg-color-redLight btn-sm" data-toggle="modal" data-target="#advertencia_social"><i class="fa fa-link"></i> Desconectado</a>
                                                {% endif %}

                                            </div>

                                            <div class="carousel-inner" style="min-height: 260px">
                                                <!-- Slide 1 -->
                                                <div class="item active">
                                                    <img src="{{ asset('img/demo/fondoPrueba.png') }}" alt="demo user">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">

                                        <div class="row">


                                            <div id="photo_container" class="col-sm-3 profile-pic" style="text-align: left; top:-30px">
                                                <img id="foto_perfil" src="{{ app.session.get('foto_perfil') }}" style="cursor: pointer; max-width: 100%" alt="demo user" data-toggle="modal" data-target="#exampleModal">
                                                <div class="padding-10">
                                                    <h4 class="font-md"><strong>1,543</strong>
                                                        <br>
                                                        <small>Amigos</small></h4>
                                                    <br>
                                                    {#<h4 class="font-md"><strong>419</strong>#}
                                                    {#<br>#}
                                                    {#<small>Connections</small></h4>#}
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <h1>{{ arUsuario.nombreCorto }}</span>
                                                    <br>
                                                    <small> {{ "Empresa 1" }} </small></h1>

                                                <ul class="list-unstyled">
                                                    <li>
                                                        <p class="text-muted">
                                                            <i class="fa fa-phone"></i>&nbsp;{% if arUsuario.extension is defined and arUsuario.extension!="" %}&nbsp;(<span class="txt-color-darken">{{ arUsuario.extension }}</span>){% endif %} <span class="txt-color-darken">{{ arUsuario.telefono }}</span>
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <p class="text-muted">
                                                            <i class="fa fa-envelope"></i>&nbsp;&nbsp;<a href="mailto:{{ arUsuario.correo}}">{{ arUsuario.correo}}</a>
                                                        </p>
                                                    </li>
                                                    {#<li>#}
                                                    {#<p class="text-muted">#}
                                                    {#<i class="fa fa-skype"></i>&nbsp;&nbsp;<span class="txt-color-darken">john12</span>#}
                                                    {#</p>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                    {#<p class="text-muted">#}
                                                    {#<i class="fa fa-calendar"></i>&nbsp;&nbsp;<span class="txt-color-darken">Free after <a href="javascript:void(0);" rel="tooltip" title="" data-placement="top" data-original-title="Create an Appointment">4:30 PM</a></span>#}
                                                    {#</p>#}
                                                    {#</li>#}
                                                </ul>
                                                <div style="margin-top: 80px">

                                                    <p class="font-md">
                                                        <i>Un poco a cerca de mi...</i>
                                                    </p>
                                                    <p>

                                                        Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
                                                        cumque nihil impedit quo minus id quod maxime placeat facere

                                                    </p>
                                                    <br>
                                                    {#<a href="javascript:void(0);" class="btn btn-default btn-xs"><i class="fa fa-envelope-o"></i> Send Message</a>#}
                                                </div>

                                            </div>
                                            <div class="col-sm-3">
                                                <h1><small>Amigos</small></h1>
                                                <ul class="list-inline friends-list" style="min-height: 163px">
                                                    <li><img src="{{ asset('img/avatars/1.png') }}" alt="friend-1">
                                                    </li>
                                                    <li><img src="{{ asset('img/avatars/2.png') }}" alt="friend-2">
                                                    </li>
                                                    <li><img src="{{ asset('img/avatars/3.png') }}" alt="friend-3">
                                                    </li>
                                                    <li><img src="{{ asset('img/avatars/4.png') }}" alt="friend-4">
                                                    </li>
                                                    <li><img src="{{ asset('img/avatars/5.png') }}" alt="friend-5">
                                                    </li>
                                                    <li><img src="{{ asset('img/avatars/male.png') }}" alt="friend-6">
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);">413 más</a>
                                                    </li>
                                                </ul>

                                                <h1><small>Grupos</small></h1>
                                                <ul class="list-inline friends-list">
                                                    <li><img src="{{ asset('img/avatars/1.png') }}" alt="friend-1">
                                                    </li>
                                                    <li><img src="{{ asset('img/avatars/2.png') }}" alt="friend-2">
                                                    </li>
                                                    <li><img src="{{ asset('img/avatars/3.png') }}" alt="friend-3">
                                                    </li>
                                                    <li><img src="{{ asset('img/avatars/4.png') }}" alt="friend-4">
                                                    </li>
                                                    <li><img src="{{ asset('img/avatars/5.png') }}" alt="friend-5">
                                                    </li>
                                                    <li><img src="{{ asset('img/avatars/male.png') }}" alt="friend-6">
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);">10 más</a>
                                                    </li>
                                                </ul>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <ul class="nav nav-tabs tabs-pull-right">
                                    <li >
                                        <a id="amigos" onclick="amigos()" href="#a2" data-toggle="tab">Amigos</a>
                                    </li>
                                    <li class="active">
                                        <a href="#a1" onclick="comentarios()" data-toggle="tab">Recent Articles</a>
                                    </li>
                                    {#<li class="pull-left">#}
                                    {#<span class="margin-top-10 display-inline"><i class="fa fa-rss text-success"></i> Actividad</span>#}
                                    {#</li>#}
                                </ul>

                            </div>

                        </div>

                    </div>


                </div>
                <div class="well well-sm" style="margin-top:5% ">
                        <div class="row">
                    <div class="col-sm-12" style="padding-left: 3%">

                        <hr>

                        <div class="padding-10">



                            <div class="tab-content padding-top-10">
                                <div class="tab-pane fade  myScroll" id="a2">


                                </div><!-- end tab -->
                                <div class="tab-pane fade in active" id="a1">

                                    <div class="col-sm-12 col-md-12 col-lg-12" >

                                        {#<form method="post" class="well padding-bottom-10" onsubmit="return false;">#}
                                        <div>
                                            <textarea rows="2" class="form-control" placeholder="¿Qué estas pensando?"></textarea>
                                            <div class="margin-top-10">
                                                <button type="submit" class="btn btn-sm btn-primary pull-right">
                                                    Publicar
                                                </button>
                                                <a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="Add Location"><i class="fa fa-location-arrow"></i></a>
                                                <a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="Add Voice"><i class="fa fa-microphone"></i></a>
                                                <a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="Add Photo"><i class="fa fa-camera"></i></a>
                                                <a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="Add File"><i class="fa fa-file"></i></a>
                                            </div>
                                        </div>

                                        <div class="timeline-seperator text-center"> <span>10:30PM January 1st, 2013</span>
                                            <div class="btn-group pull-right">
                                                <a href="javascript:void(0);" data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle"><span class="caret single"></span></a>
                                                <ul class="dropdown-menu text-left">
                                                    <li>
                                                        <a href="javascript:void(0);">Hide this post</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);">Hide future posts from this user</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);">Mark as spam</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="chat-body no-padding profile-message">
                                            <ul>
                                                <li class="message">
                                                    <img  src="{{ app.session.get('foto_perfil') }}" class="online foto_perfil" alt="sunny">
                                                    <span class="message-text"> <a href="javascript:void(0);" class="username">John Doe <small class="text-muted pull-right ultra-light"> 2 Minutes ago </small></a> Can't divide were divide fish forth fish to. Was can't form the, living life grass darkness very
														image let unto fowl isn't in blessed fill life yielding above all moved </span>
                                                    <ul class="list-inline font-xs">
                                                        <li>
                                                            <a href="javascript:void(0);" class="text-info"><i class="fa fa-reply"></i> Reply</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);" class="text-danger"><i class="fa fa-thumbs-up"></i> Like</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);" class="text-muted">Show All Comments (14)</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);" class="text-primary">Edit</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);" class="text-danger">Delete</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="message message-reply">
                                                    <img src="{{ asset('img/avatars/3.png') }}" class="online" alt="user">
                                                    <span class="message-text"> <a href="javascript:void(0);" class="username">Serman Syla</a> Haha! Yeah I know what you mean. Thanks for the file Sadi! <i class="fa fa-smile-o txt-color-orange"></i> </span>

                                                    <ul class="list-inline font-xs">
                                                        <li>
                                                            <a href="javascript:void(0);" class="text-muted">1 minute ago </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);" class="text-danger"><i class="fa fa-thumbs-up"></i> Like</a>
                                                        </li>
                                                    </ul>

                                                </li>
                                                <li class="message message-reply">
                                                    <img src="{{ asset('img/avatars/4.png') }}" class="online" alt="user">
                                                    <span class="message-text"> <a href="javascript:void(0);" class="username">Sadi Orlaf </a> Haha! Yeah I know what you mean. Thanks for the file Sadi! <i class="fa fa-smile-o txt-color-orange"></i> </span>

                                                    <ul class="list-inline font-xs">
                                                        <li>
                                                            <a href="javascript:void(0);" class="text-muted">a moment ago </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);" class="text-danger"><i class="fa fa-thumbs-up"></i> Like</a>
                                                        </li>
                                                    </ul>
                                                    <input class="form-control input-xs" placeholder="Type and enter" type="text">
                                                </li>
                                            </ul>

                                        </div>

                                        <div class="timeline-seperator text-center"> <span>11:30PM November 27th, 2013</span>
                                            <div class="btn-group pull-right">
                                                <a href="javascript:void(0);" data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle"><span class="caret single"></span></a>
                                                <ul class="dropdown-menu text-left">
                                                    <li>
                                                        <a href="javascript:void(0);">Hide this post</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);">Hide future posts from this user</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);">Mark as spam</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="chat-body no-padding profile-message">
                                            <ul>
                                                <li class="message">
                                                    <img src="{{ app.session.get('foto_perfil') }}" class="online foto_perfil" alt="user">
                                                    <span class="message-text"> <a href="javascript:void(0);" class="username">John Doe <small class="text-mut pull-right ultra-light"> 2 Minutes ago </small></a> Can't divide were divide fish forth fish to. Was can't form the, living life grass darkness very image let unto fowl isn't in blessed fill life yielding above all moved </span>
                                                    <ul class="list-inline font-xs">
                                                        <li>
                                                            <a href="javascript:void(0);" class="text-info"><i class="fa fa-reply"></i> Reply</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);" class="text-danger"><i class="fa fa-thumbs-up"></i> Like</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);" class="text-muted">Show All Comments (14)</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);" class="text-primary">Hide</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="message message-reply">
                                                    <img src="{{ asset('img/avatars/3.png') }}" class="online" alt="user">
                                                    <span class="message-text"> <a href="javascript:void(0);" class="username">Serman Syla</a> Haha! Yeah I know what you mean. Thanks for the file Sadi! <i class="fa fa-smile-o txt-color-orange"></i> </span>

                                                    <ul class="list-inline font-xs">
                                                        <li>
                                                            <a href="javascript:void(0);" class="text-muted">1 minute ago </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);" class="text-danger"><i class="fa fa-thumbs-up"></i> Like</a>
                                                        </li>
                                                    </ul>

                                                </li>
                                                <li class="message message-reply">
                                                    <img src="{{ asset('img/avatars/4.png') }}" class="online" alt="user">
                                                    <span class="message-text"> <a href="javascript:void(0);" class="username">Sadi Orlaf </a> Haha! Yeah I know what you mean. Thanks for the file Sadi! <i class="fa fa-smile-o txt-color-orange"></i> </span>

                                                    <ul class="list-inline font-xs">
                                                        <li>
                                                            <a href="javascript:void(0);" class="text-muted">a moment ago </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);" class="text-danger"><i class="fa fa-thumbs-up"></i> Like</a>
                                                        </li>
                                                    </ul>

                                                </li>
                                                <li class="message message-reply">
                                                    <img src="{{ asset('img/avatars/4.png') }}" class="online" alt="user">
                                                    <span class="message-text"> <a href="javascript:void(0);" class="username">Sadi Orlaf </a> Haha! Yeah I know what you mean. Thanks for the file Sadi! <i class="fa fa-smile-o txt-color-orange"></i> </span>

                                                    <ul class="list-inline font-xs">
                                                        <li>
                                                            <a href="javascript:void(0);" class="text-muted">a moment ago </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);" class="text-danger"><i class="fa fa-thumbs-up"></i> Like</a>
                                                        </li>
                                                    </ul>

                                                </li>
                                                <li>
                                                    <div class="input-group wall-comment-reply">
                                                        <input id="btn-input" type="text" class="form-control" placeholder="Type your message here...">
                                                        <span class="input-group-btn">
															<button class="btn btn-primary" id="btn-chat">
																<i class="fa fa-reply"></i> Reply
															</button> </span>
                                                    </div>
                                                </li>
                                            </ul>

                                        </div>


                                    </div>

                                </div>
                            </div>
                            <div class="text-center">
                                {#<ul class="pagination pagination-sm">#}
                                {#<li class="disabled">#}
                                {#<a href="javascript:void(0);">Prev</a>#}
                                {#</li>#}
                                {#<li class="active">#}
                                {#<a href="javascript:void(0);">1</a>#}
                                {#</li>#}
                                {#<li>#}
                                {#<a href="javascript:void(0);">2</a>#}
                                {#</li>#}
                                {#<li>#}
                                {#<a href="javascript:void(0);">3</a>#}
                                {#</li>#}
                                {#<li>#}
                                {#<a href="javascript:void(0);">...</a>#}
                                {#</li>#}
                                {#<li>#}
                                {#<a href="javascript:void(0);">99</a>#}
                                {#</li>#}
                                {#<li>#}
                                {#<a href="javascript:void(0);">Next</a>#}
                                {#</li>#}
                                {#</ul>#}
                                {#</div>#}
                            </div>

                        </div>

                    </div>
                    <!-- end row -->
                        </div>
                </div>
            </div>
            {{ form_start(form, {'attr': {'class': 'form-horizontal'} }) }}
            {{ form_errors(form) }}
            <!--Modal administrador foto perfil-->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <img  style="width: 100%" src="{{ app.session.get('foto_perfil')}}" class="img-thumbnail"  id="previsualizar_foto">
                        <div class="modal-body" style="text-align: center">
                            <button type="button" class="btn btn-success" onclick="cambiarFotoPerfil()">Subir foto</button>
                            {#<input id="foto_perfil_subir"  accept="image/*" type="file" style="display: none" name="files[]"/>#}
                            {{ form_widget(form.foto_perfil_subir) }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            {#<button type="button" class="btn btn-primary">Guardar imagen</button>#}
                            {{ form_widget(form.btnSubirFoto) }}
                        </div>
                    </div>
                </div>
            </div>
            <!--endmodal-->

            {{ form_rest(form) }}
            {{ form_end(form) }}

            <!--modal registro a social-->
            <div class="modal fade" id="advertencia_social" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <span>Se esta conectando por primera vez a la social... esta de acuerdo...?</span>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <a href="{{ path('comunidad_perfil_conexion',{'username': app.user.username,'registro':'true'})}}"  type="button" class="btn btn-primary">Aceptar</a>
                            {#{{ form_widget(form.btnSubirFoto) }}#}
                        </div>
                    </div>
                </div>
            </div>
            <!--end modal-->
            <!-- end row -->

        </div>
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END MAIN PANEL -->

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var aux=0;
        var auxAmigos=20;
        function  amigos(){
            aux=0;
            $('.myScroll').html('');
            verAmigos();
        }

        function verAmigos(){
            var tieneAmigos=0;
            var data={{ amigos|json_encode|raw }};
            console.log(data);
            for(var i=0;i<=data.length;i++ ){
                var html;
                if(data[i].nombre!=='null'&& i<20) {
                    html="<div class='user' ><div class='amigoDescripcion'>";
                    if (typeof data[i].foto !== 'undefined') {
                        html+="<img  src=" + data[i].foto + " alt='demo user'>";
                    }
                    else {
                        html+="<img  src='{{ asset('img/avatars/female.png') }}' alt='demo user'>";
                    }
                    html+="<a href=''>" + data[i].nombre + "</a><div class='email'>travis@company.com</div></div><div class='botonAmigos'><button class='btn btn-default'><li class='fa fa-user font-md'></li></button></div></div>";
                    $('.myScroll').append(html);
                }
            }

            if(tieneAmigos===0){
                html="<div  style='border: 0; display: flex; align-items: baseline; width: 100%'><h5 style='font-size: 15px; margin-right: auto; margin-left: auto'><i  style='font-size: 21px' class='fas fa-user-slash' ></i> Aun no tienes amigos</h5></div>";
                $('.myScroll').append(html);
            }
        }


        $(window).scroll(function () {
            aux++;
            if ($(window).scrollTop() == $(document).height() - $(window).height() && aux>1) {
                appendData();
            }
        });
        function appendData() {
            var data={{ amigos|json_encode|raw }};
            var html = '';
            var iHasta=auxAmigos+20;
            for (var i = auxAmigos; i<=iHasta; i++) {
                auxAmigos++;
                if(data[i].nombre!=='null' && data[i]!=='undefined') {
                    html = "<div class='user' ><div class='amigoDescripcion'>";
                    if (typeof data[i].foto !== 'undefined') {
                        html += "<img  src=" + data[i].foto + " alt='demo user'>";
                    }
                    else {
                        html += "<img  src='{{ asset('img/avatars/female.png') }}' alt='demo user'>";
                    }
                    html += "<a href=''>" + data[i].nombre + "</a><div class='email'>travis@company.com</div></div><div class='botonAmigos'><button class='btn btn-default'><li class='fa fa-user font-md'></li></button></div></div>";
                    $('.myScroll').append(html);
                }
            }
            $('.myScroll').append(html);
        }
    </script>
{% endblock %}