{% extends ('base.html.twig') %}
{% block content %}




    <!-- Left panel : Navigation area -->
    <!-- Note: This width of the aside area can be adjusted through LESS variables -->

    <!-- END NAVIGATION -->

    <!-- MAIN PANEL -->


    <!-- END RIBBON -->

    <!-- MAIN CONTENT -->
    <div id="content" style="width: 100%">
        <!-- row -->
        <div class="row">
            {{ form_start(formBusqueda) }}
            {% include ('comunidad/buscardor.html.twig') %}
            {{ form_end(formBusqueda) }}
            <div class="col-sm-12">


                <div class="well well-sm">

                    <div class="row" >

                        <div class="col-sm-12 col-md-12 col-lg-6 div1" >
                            <div class="well well-light well-sm no-margin no-padding">

                                <div class="row">

                                    <div class="col-sm-12">
                                        <div id="myCarousel" class="carousel fade profile-carousel">
                                            <div class="air air-bottom-right padding-10">
                                                {% if conexion.usuario %}
                                                    {% if conexion.conectado %}
                                                        <a href="{{ path('comunidad_perfil_conexion',{'username': app.user.username}) }}" class="btn txt-color-white bg-color-greenLight btn-sm"><i class="fa fa-link"></i> Conectado</a>
                                                    {% else %}
                                                        <a href="{{ path('comunidad_perfil_conexion',{'username': app.user.username}) }}" class="btn txt-color-white bg-color-redLight btn-sm"><i class="fa fa-link"></i> Desconectado</a>
                                                    {% endif %}
                                                {% else %}
                                                    <a  class="btn txt-color-white bg-color-redLight btn-sm" data-toggle="modal" data-target="#advertencia_social"><i class="fa fa-link"></i> Desconectado</a>
                                                {% endif %}
                                            </div>
                                            {#<div class="air air-top-left padding-10">#}
                                            {#<h4 class="txt-color-white font-md">Jan 1, 2014</h4>#}
                                            {#</div>#}

                                            <div class="carousel-inner">
                                                <!-- Slide 1 -->
                                                <div class="item active">

                                                    <img src="{{ asset('img/demo/m3.jpg') }}" alt="demo user">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">

                                        <div class="row">

                                            <div class="col-sm-3 profile-pic">
                                                <img id="foto_perfil" src="{{ app.session.get('foto_perfil') }}" style="cursor: pointer;" alt="demo user" data-toggle="modal" data-target="#exampleModal">
                                                <div class="padding-10">
                                                    <h4 class="font-md"><strong>1,543</strong>
                                                        <br>
                                                        <small>Followers</small></h4>
                                                    <br>
                                                    <h4 class="font-md"><strong>419</strong>
                                                        <br>
                                                        <small>Connections</small></h4>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <h1>{{ arUsuario.nombreCorto }}</span>
                                                    <br>
                                                    <small> {{ arUsuario.cargo }}</small></h1>

                                                <ul class="list-unstyled">
                                                    <li>
                                                        <p class="text-muted">
                                                            <i class="fa fa-phone"></i>&nbsp;{% if arUsuario.extension is defined and arUsuario.extension!="" %}&nbsp;(<span class="txt-color-darken">{{ arUsuario.extension }}</span>){% endif %} <span class="txt-color-darken">{{ arUsuario.telefono }}</span>
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <p class="text-muted">
                                                            <i class="fa fa-envelope"></i>&nbsp;&nbsp;<a href="mailto:{{ arUsuario.correo}}">{{ arUsuario.correo}}</a>
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <p class="text-muted">
                                                            <i class="fa fa-skype"></i>&nbsp;&nbsp;<span class="txt-color-darken">miSkype</span>
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <p class="text-muted">
                                                            <i class="fa fa-calendar"></i>&nbsp;&nbsp;<span class="txt-color-darken">Free after <a href="javascript:void(0);" rel="tooltip" title="" data-placement="top" data-original-title="Create an Appointment">4:30 PM</a></span>
                                                        </p>
                                                    </li>
                                                </ul>
                                                <br>
                                                <p class="font-md">
                                                    <i>Un poco a cerca de mi...</i>
                                                </p>
                                                <p>

                                                    Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
                                                    cumque nihil impedit quo minus id quod maxime placeat facere

                                                </p>
                                                <br>
                                                <a href="javascript:void(0);" class="btn btn-default btn-xs"><i class="fa fa-envelope-o"></i> Send Message</a>
                                                <br>
                                                <br>

                                            </div>
                                            <div class="col-sm-3">
                                                <h1><small>Conectados</small></h1>
                                                <ul class="list-inline friends-list">
                                                    <li><img src="{{ asset('img/avatars/1.png')}}" alt="friend-1">
                                                    </li>
                                                    <li><img src="{{ asset('img/avatars/2.png')}}" alt="friend-2">
                                                    </li>
                                                    <li><img src="{{ asset('img/avatars/3.png')}}" alt="friend-3">
                                                    </li>
                                                    <li><img src="{{ asset('img/avatars/4.png')}}" alt="friend-4">
                                                    </li>
                                                    <li><img src="{{ asset('img/avatars/5.png')}}" alt="friend-5">
                                                    </li>
                                                    <li><img src="{{ asset('img/avatars/male.png')}}" alt="friend-6">
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);">413 more</a>
                                                    </li>
                                                </ul>

                                                <h1><small>Visitas recientes</small></h1>
                                                <ul class="list-inline friends-list">
                                                    <li><img src="{{ asset('img/avatars/male.png')}}" alt="friend-1">
                                                    </li>
                                                    <li><img src="{{ asset('img/avatars/female.png')}}" alt="friend-2">
                                                    </li>
                                                    <li><img src="{{ asset('img/avatars/female.png')}}" alt="friend-3">
                                                    </li>
                                                </ul>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-sm-12">

                                        <hr>

                                        <div class="padding-10">

                                            <ul class="nav nav-tabs tabs-pull-right">
                                                <li class="active">
                                                    <a href="#a1" data-toggle="tab">Recent Articles</a>
                                                </li>
                                                {#<li>#}
                                                {#<a href="#a2" data-toggle="tab">New Members</a>#}
                                                {#</li>#}
                                                <li >
                                                    <a id="amigos" onclick="amigos()" href="#a2" data-toggle="tab">Amigos</a>
                                                </li>
                                                <li class="pull-left">
                                                    <span class="margin-top-10 display-inline"><i class="fa fa-rss text-success"></i> Activity</span>
                                                </li>
                                            </ul>

                                            <div class="tab-content padding-top-10">
                                                <div class="tab-pane fade in active" id="a1">

                                                    <div class="row">

                                                        <div class="col-xs-2 col-sm-1">
                                                            <time datetime="2014-09-20" class="icon">
                                                                <strong>Jan</strong>
                                                                <span>10</span>
                                                            </time>
                                                        </div>

                                                        <div class="col-xs-10 col-sm-11">
                                                            <h6 class="no-margin"><a href="javascript:void(0);">Allice in Wonderland</a></h6>
                                                            <p>
                                                                Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi Nam eget dui.
                                                                Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero,
                                                                sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel.
                                                            </p>
                                                        </div>

                                                        <div class="col-sm-12">

                                                            <hr>

                                                        </div>

                                                        <div class="col-xs-2 col-sm-1">
                                                            <time datetime="2014-09-20" class="icon">
                                                                <strong>Jan</strong>
                                                                <span>10</span>
                                                            </time>
                                                        </div>

                                                        <div class="col-xs-10 col-sm-11">
                                                            <h6 class="no-margin"><a href="javascript:void(0);">World Report</a></h6>
                                                            <p>
                                                                Morning our be dry. Life also third land after first beginning to evening cattle created let subdue you'll winged don't Face firmament.
                                                                You winged you're was Fruit divided signs lights i living cattle yielding over light life life sea, so deep.
                                                                Abundantly given years bring were after. Greater you're meat beast creeping behold he unto She'd doesn't. Replenish brought kind gathering Meat.
                                                            </p>
                                                        </div>

                                                        <div class="col-sm-12">

                                                            <br>

                                                        </div>

                                                    </div>

                                                </div>
                                                <div class="tab-pane fade  myScroll" id="a2"></div>
                                                {#<div class="tab-pane fade" id="a2">#}

                                                {#<div class="alert alert-info fade in">#}
                                                {#<button class="close" data-dismiss="alert">#}
                                                {#×#}
                                                {#</button>#}
                                                {#<i class="fa-fw fa fa-info"></i>#}
                                                {#<strong>51 new members </strong>joined today!#}
                                                {#</div>#}

                                                {#<div class="user" title="email@company.com">#}
                                                {#<img src="img/avatars/female.png" alt="demo user"><a href="javascript:void(0);">Jenn Wilson</a>#}
                                                {#<div class="email">#}
                                                {#travis@company.com#}
                                                {#</div>#}
                                                {#</div>#}
                                                {#<div class="user" title="email@company.com">#}
                                                {#<img src="img/avatars/male.png" alt="demo user"><a href="javascript:void(0);">Marshall Hitt</a>#}
                                                {#<div class="email">#}
                                                {#marshall@company.com#}
                                                {#</div>#}
                                                {#</div>#}
                                                {#<div class="user" title="email@company.com">#}
                                                {#<img src="img/avatars/male.png" alt="demo user"><a href="javascript:void(0);">Joe Cadena</a>#}
                                                {#<div class="email">#}
                                                {#joe@company.com#}
                                                {#</div>#}
                                                {#</div>#}
                                                {#<div class="user" title="email@company.com">#}
                                                {#<img src="img/avatars/male.png" alt="demo user"><a href="javascript:void(0);">Mike McBride</a>#}
                                                {#<div class="email">#}
                                                {#mike@company.com#}
                                                {#</div>#}
                                                {#</div>#}
                                                {#<div class="user" title="email@company.com">#}
                                                {#<img src="img/avatars/male.png" alt="demo user"><a href="javascript:void(0);">Travis Wilson</a>#}
                                                {#<div class="email">#}
                                                {#travis@company.com#}
                                                {#</div>#}
                                                {#</div>#}
                                                {#<div class="user" title="email@company.com">#}
                                                {#<img src="img/avatars/male.png" alt="demo user"><a href="javascript:void(0);">Marshall Hitt</a>#}
                                                {#<div class="email">#}
                                                {#marshall@company.com#}
                                                {#</div>#}
                                                {#</div>#}
                                                {#<div class="user" title="Joe Cadena joe@company.com">#}
                                                {#<img src="img/avatars/male.png" alt="demo user"><a href="javascript:void(0);">Joe Cadena</a>#}
                                                {#<div class="email">#}
                                                {#joe@company.com#}
                                                {#</div>#}
                                                {#</div>#}
                                                {#<div class="user" title="email@company.com">#}
                                                {#<img src="img/avatars/male.png" alt="demo user"><a href="javascript:void(0);">Mike McBride</a>#}
                                                {#<div class="email">#}
                                                {#mike@company.com#}
                                                {#</div>#}
                                                {#</div>#}
                                                {#<div class="user" title="email@company.com">#}
                                                {#<img src="img/avatars/male.png" alt="demo user"><a href="javascript:void(0);">Marshall Hitt</a>#}
                                                {#<div class="email">#}
                                                {#marshall@company.com#}
                                                {#</div>#}
                                                {#</div>#}
                                                {#<div class="user" title="email@company.com">#}
                                                {#<img src="img/avatars/male.png" alt="demo user"><a href="javascript:void(0);">Joe Cadena</a>#}
                                                {#<div class="email">#}
                                                {#joe@company.com#}
                                                {#</div>#}
                                                {#</div>#}
                                                {#<div class="user" title="email@company.com">#}
                                                {#<img src="img/avatars/male.png" alt="demo user"><a href="javascript:void(0);"> Mike McBride</a>#}
                                                {#<div class="email">#}
                                                {#mike@company.com#}
                                                {#</div>#}
                                                {#</div>#}

                                                {#<div class="text-center">#}
                                                {#<ul class="pagination pagination-sm">#}
                                                {#<li class="disabled">#}
                                                {#<a href="javascript:void(0);">Prev</a>#}
                                                {#</li>#}
                                                {#<li class="active">#}
                                                {#<a href="javascript:void(0);">1</a>#}
                                                {#</li>#}
                                                {#<li>#}
                                                {#<a href="javascript:void(0);">2</a>#}
                                                {#</li>#}
                                                {#<li>#}
                                                {#<a href="javascript:void(0);">3</a>#}
                                                {#</li>#}
                                                {#<li>#}
                                                {#<a href="javascript:void(0);">...</a>#}
                                                {#</li>#}
                                                {#<li>#}
                                                {#<a href="javascript:void(0);">99</a>#}
                                                {#</li>#}
                                                {#<li>#}
                                                {#<a href="javascript:void(0);">Next</a>#}
                                                {#</li>#}
                                                {#</ul>#}
                                                {#</div>#}

                                                {#</div><!-- end tab -->#}
                                            </div>

                                        </div>

                                    </div>

                                </div>
                                <!-- end row -->

                            </div>

                        </div>
                        {% include ('comunidad/publicacion.html.twig') %}
                    </div>

                </div>


            </div>

        </div>

        <!-- end row -->

    </div>
    <!-- END MAIN CONTENT -->


    <!-- END MAIN PANEL -->

    <!-- PAGE FOOTER -->
    <div class="page-footer">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <span class="txt-color-white">SmartAdmin 1.9.X <span class="hidden-xs"> - Web Application Framework</span> © 2017-2019</span>
            </div>

            <div class="col-xs-6 col-sm-6 text-right hidden-xs">
                <div class="txt-color-white inline-block">
                    <i class="txt-color-blueLight hidden-mobile">Last account activity <i class="fa fa-clock-o"></i> <strong>52 mins ago &nbsp;</strong> </i>
                    <div class="btn-group dropup">
                        <button class="btn btn-xs dropdown-toggle bg-color-blue txt-color-white" data-toggle="dropdown">
                            <i class="fa fa-link"></i> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right text-left">
                            <li>
                                <div class="padding-5">
                                    <p class="txt-color-darken font-sm no-margin">Download Progress</p>
                                    <div class="progress progress-micro no-margin">
                                        <div class="progress-bar progress-bar-success" style="width: 50%;"></div>
                                    </div>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="padding-5">
                                    <p class="txt-color-darken font-sm no-margin">Server Load</p>
                                    <div class="progress progress-micro no-margin">
                                        <div class="progress-bar progress-bar-success" style="width: 20%;"></div>
                                    </div>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="padding-5">
                                    <p class="txt-color-darken font-sm no-margin">Memory Load <span class="text-danger">*critical*</span></p>
                                    <div class="progress progress-micro no-margin">
                                        <div class="progress-bar progress-bar-danger" style="width: 70%;"></div>
                                    </div>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="padding-5">
                                    <button class="btn btn-block btn-default">refresh</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE FOOTER -->

    <!-- SHORTCUT AREA : With large tiles (activated via clicking user name tag)
    Note: These tiles are completely responsive,
    you can add as many as you like
    -->
    <div id="shortcut">
        <ul>
            <li>
                <a href="inbox.html" class="jarvismetro-tile big-cubes bg-color-blue"> <span class="iconbox"> <i class="fa fa-envelope fa-4x"></i> <span>Mail <span class="label pull-right bg-color-darken">14</span></span> </span> </a>
            </li>
            <li>
                <a href="calendar.html" class="jarvismetro-tile big-cubes bg-color-orangeDark"> <span class="iconbox"> <i class="fa fa-calendar fa-4x"></i> <span>Calendar</span> </span> </a>
            </li>
            <li>
                <a href="gmap-xml.html" class="jarvismetro-tile big-cubes bg-color-purple"> <span class="iconbox"> <i class="fa fa-map-marker fa-4x"></i> <span>Maps</span> </span> </a>
            </li>
            <li>
                <a href="invoice.html" class="jarvismetro-tile big-cubes bg-color-blueDark"> <span class="iconbox"> <i class="fa fa-book fa-4x"></i> <span>Invoice <span class="label pull-right bg-color-darken">99</span></span> </span> </a>
            </li>
            <li>
                <a href="gallery.html" class="jarvismetro-tile big-cubes bg-color-greenLight"> <span class="iconbox"> <i class="fa fa-picture-o fa-4x"></i> <span>Gallery </span> </span> </a>
            </li>
            <li>
                <a href="profile.html" class="jarvismetro-tile big-cubes selected bg-color-pinkDark"> <span class="iconbox"> <i class="fa fa-user fa-4x"></i> <span>My Profile </span> </span> </a>
            </li>
        </ul>
    </div>
    {{ form_start(form, {'attr': {'class': 'form-horizontal'} }) }}
    {{ form_errors(form) }}
    <!--Modal administrador foto perfil-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <img  style="width: 100%" src="{{ app.session.get('foto_perfil')}}" class="img-thumbnail"  id="previsualizar_foto">
                <div class="modal-body" style="text-align: center">
                    <button type="button" class="btn btn-success" onclick="cambiarFotoPerfil()">Subir foto</button>
                    {#<input id="foto_perfil_subir"  accept="image/*" type="file" style="display: none" name="files[]"/>#}
                    {{ form_widget(form.foto_perfil_subir) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    {#<button type="button" class="btn btn-primary">Guardar imagen</button>#}
                    {{ form_widget(form.btnSubirFoto) }}
                </div>
            </div>
        </div>
    </div>
    <!--endmodal-->

    {{ form_rest(form) }}
    {{ form_end(form) }}
    <!-- END SHORTCUT AREA -->


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var aux=0;
        var auxAmigos=20;
        function  amigos(){
            aux=0;
            $('.myScroll').html('');
            verAmigos();
        }

        function verAmigos(){
            var tieneAmigos=0;
            var data={{ amigos|json_encode|raw }};
            console.log(data);
            for(var i=0;i<=data.length;i++ ){
                var html;
                if(data[i].nombre!=='null'&& i<20) {
                    html="<div class='user' ><div class='amigoDescripcion'>";
                    if (typeof data[i].foto !== 'undefined') {
                        html+="<img  src=" + data[i].foto + " alt='demo user'>";
                    }
                    else {
                        html+="<img  src='{{ asset('img/avatars/female.png') }}' alt='demo user'>";
                    }
                    html+="<a href=''>" + data[i].nombre + "</a><div class='email'>travis@company.com</div></div><div class='botonAmigos'><button style='width: 27px;height: 24px; padding: 0;display: flex; justify-content: center' class='btn btn-default'><li style='font-size: 11px' class='fas fa-user'></li></button></div></div>";
                    $('.myScroll').append(html);
                }
            }

            if(tieneAmigos===0){
                html="<div  style='border: 0; display: flex; align-items: baseline; width: 100%'><h5 style='font-size: 15px; margin-right: auto; margin-left: auto'><i  style='font-size: 21px' class='fas fa-user-slash' ></i> Aun no tienes amigos</h5></div>";
                $('.myScroll').append(html);
            }
        }


        $(window).scroll(function () {
            // console.log($(window).scrollTop(),$(document).height() - $(window).height());
            aux++;
            if ($(window).scrollTop() == $(document).height() - $(window).height() && aux>1) {
                appendData();
            }
            // if($(".div1").height()- $(window).height()+150<=$(window).scrollTop()){
            //     console.log("hola");
            //     if($(window).scrollTop()>=150 && $(".div1").height()- $(window).height()+150<150 && $(window).scrollTop() <= $(document).height() - $(window).height()){
            //     console.log("opcion 1");
            //     $(".div1").css({"top":$(window).scrollTop()-($(".div1").height()- $(window).height()+150+127),"bottom":0});
            //     }
            //     else if($(window).scrollTop()>=150 && $(".div1").height()- $(window).height()+150>150 && $(window).scrollTop()+7 <= $(document).height() - $(window).height()){
            //         $(".div1").css({"top":$(window).scrollTop()-($(".div1").height()- $(window).height()+150+110),"bottom":0});
            //         console.log("opcion 2");
            //     }
            //
            // }
            // else{
            //     $(".div1").css({"top":"auto","bottom":0});
            // }
        });
        function appendData() {
            var data={{ amigos|json_encode|raw }};
            var html = '';
            var iHasta=auxAmigos+20;
            for (var i = auxAmigos; i<=iHasta; i++) {
                auxAmigos++;
                if(data[i].nombre!=='null' && data[i]!=='undefined') {
                    html = "<div class='user' ><div class='amigoDescripcion'>";
                    if (typeof data[i].foto !== 'undefined') {
                        html += "<img  src=" + data[i].foto + " alt='demo user'>";
                    }
                    else {
                        html += "<img  src='{{ asset('img/avatars/female.png') }}' alt='demo user'>";
                    }
                    html += "<a href=''>" + data[i].nombre + "</a><div class='email'>travis@company.com</div></div><div class='botonAmigos'><button class='btn btn-default'><li class='fa fa-user font-md'></li></button></div></div>";
                    $('.myScroll').append(html);
                }
            }
            $('.myScroll').append(html);
        }
    </script>
{% endblock %}