

    <div class="well padding-bottom-10" >
        {% if conexion.usuario %}
            <textarea  rows="2" class="form-control publicar" onkeydown="inputPublicacion()" onkeyup="inputPublicacion()" placeholder="¿Qué estas pensando?"></textarea>
            <div class="margin-top-10">
                <button disabled type="button" onclick="crearPublicacion()" class="btn btn-sm btn-primary pull-right btnPublicar">
                    Publicar
                </button>
                <a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="Localizacion"><i class="fa fa-location-arrow"></i></a>
                <a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="Voz"><i class="fa fa-microphone"></i></a>
                <a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="Agregar foto"><i class="fa fa-camera"></i></a>
                <a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="Agregar archivo"><i class="fa fa-file"></i></a>
            </div>
        {% else %}
            <textarea disabled rows="2" class="form-control" placeholder="¿Qué estas pensando?"></textarea>
            <div class="margin-top-10">
                <button disabled type="submit" class="btn btn-sm btn-primary pull-right">
                    Publicar
                </button>
                <a disabled href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="Localizacion"><i class="fa fa-location-arrow"></i></a>
                <a disabled href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="Voz"><i class="fa fa-microphone"></i></a>
                <a disabled href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="Agregar foto"><i class="fa fa-camera"></i></a>
                <a disabled href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="Agregar archivo"><i class="fa fa-file"></i></a>
            </div>
        {% endif %}
        <div class="publicacionNueva">
            {% for keyPub, publicacion in publicaciones %}
                <div class="timeline-seperator text-center"> <span>{{ publicacion.fecha }}</span>
                    <div class="btn-group pull-right">
                        <a href="javascript:void(0);" data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle"><span class="caret single"></span></a>
                        <ul class="dropdown-menu text-left">
                            <li>
                                <a href="javascript:void(0);">Hide this post</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Hide future posts from this user</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Mark as spam</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="chat-body no-padding profile-message">
                    <ul>
                        <li class="message">
                            <img src="{{ app.session.get('foto_perfil') }}" class="online foto_perfil" alt="sunny">
                            <span class="message-text" style="width: 100%">
                                                <a style="
                                                        display: flex;
                                                        cursor: auto;
                                                        justify-content: end;
                                                        width: 100%;
                                                        padding-right: 4em;
                                                        color: #3276b1;"
                                                   href="javascript:void(0);"
                                                   class="username">
                                                    {{ publicacion.nombre}}
                                                    <small class="text-muted ultra-light" style="display: flex;margin-left: auto;"> Hace {{ publicacion.tiempoTranscurrido }}</small>
                                                </a>
                                {{ publicacion.texto }}
                                            </span>
                        </li>
                        <ul class="list-inline font-xs" style="padding-left: 7.5em;">
                            <li>
                                <a href="javascript:void(0);" class="text-info"><i class="fa fa-reply"></i> Compartir</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" onclick="meGustaPublicacion({{ publicacion.publicacion }})" class="text-success"><i class="fa fa-thumbs-up"></i><div class="megustaPublicacion-{{ publicacion.publicacion }}" style="display: -webkit-inline-flex">{% if publicacion.meGusta>0%}({{ publicacion.meGusta }}){% endif %}</div> </a>
                            </li>

                            <li>
                                <a href="javascript:void(0);" class="text-muted"><a style="color: black; cursor: pointer" onclick="verComentarios({{ publicacion.publicacion }},{{ keyPub }})">Ver todos los comentarios </a><div class="totalComentarios-{{ publicacion.publicacion }}" style="display: -webkit-inline-flex">({{ publicacion.totalComentarios }})</div></a>
                            </li>
                            {%  if publicacion.usuario == username %}
                                <li>
                                    <a href="javascript:void(0);" class="text-primary"><li class="fas fa-edit text-primary"></li></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="text-danger"><li class="fas fa-trash text-danger"></li></a>
                                </li>
                            {% endif %}
                        </ul>
                        <div class="publicaciones-{{publicacion.publicacion}}">
                            {% if publicacion.comentarios|length>0 %}
                                {% for key, comentario in publicacion.comentarios%}
                                    {% if key<2 %}
                                        <li class="message message-reply">
                                            <img src="{{ asset('img/avatars/3.png') }}" class="online" alt="user">
                                            <span class="message-text"> <a href="javascript:void(0);" class="username">{{ comentario.nombre }}</a> {{ comentario.texto }}</span>

                                            <ul class="list-inline font-xs">
                                                <li>
                                                    <a href="javascript:void(0);" class="text-muted">1 minute ago </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" class="text-success"><i class="fa fa-thumbs-up"></i></a>
                                                </li>

                                                {%  if comentario.usuario == username %}
                                                    <li>
                                                        <a href="javascript:void(0);" class="text-primary"><li class="fas fa-edit text-primary"></li></a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);" class="text-danger"><li class="fas fa-trash text-danger"></li></a>
                                                    </li>
                                                {% endif %}
                                            </ul>

                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <div class="masComentarios-{{publicacion.publicacion}}">
                            </div>
                            <li  style="margin-top: 1em;">
                                <div class="input-group wall-comment-reply">
                                    <input id="btn-input" type="text" class="form-control comentar-{{publicacion.publicacion}}" placeholder="Comentar..."  onkeydown="inputComentar({{publicacion.publicacion}})" onkeyup="inputComentar({{publicacion.publicacion}})">
                                    <span class="input-group-btn">
                            <button disabled class="btn btn-primary btnComentar-{{publicacion.publicacion}}" id="btn-chat" onclick="crearComentario({{ publicacion.publicacion }}, {{keyPub}})">
							    <i class="fas fa-play"></i>
							</button> </span>
                                </div>
                            </li>
                        </div>
                    </ul>

                </div>

            {%  endfor%}
        </div>



    {% block javascripts %}
    <script>
        var servidor="{{servidor}}";
        var api={{ api|json_encode|raw}};
        var username="{{username }}";
        var auxPublicacion=0;
        var data={{ publicaciones|json_encode|raw }};
        function verComentarios(codigo, key){
            var html='';
            $(`.masComentarios-${codigo}`).html(html);
            for(var i=2;i<=data[key]['comentarios'].length;i++ ) {
                html = `<li class='message message-reply'><img src='{{ asset('img/avatars/3.png') }}' class='online' alt='user'><span class='message-text'> <a href='javascript:void(0);' class='username'>${data[key]['comentarios'][i].nombre}</a>${data[key]['comentarios'][i]['texto']}</span><ul class='list-inline font-xs'><li><a href='javascript:void(0);' class='text-muted'>1 minute ago </a></li><li><a href='javascript:void(0);'class='text-success'><i class='fa fa-thumbs-up'></i></a></li>
                ${username===data[key]['comentarios'][i].usuario?`<li>
                <a href="javascript:void(0);" class="text-primary"><li class="fas fa-edit text-primary"></li></a>
                </li>
                <li>
                <a href="javascript:void(0);" class="text-danger"><li class="fas fa-trash text-danger"></li></a>
                </li>`:""}
                </ul></li>`;
                // html="<h1>holaaa</h1>"
                $(`.masComentarios-${codigo}`).append(html);
            }
        }

        function crearComentario(codigoPublicacion, key){
            $.ajax({
                headers:{
                    // 'X-CSRF-TOKEN': token,
                    'Content-type': 'application/json',
                },
                url: `${servidor}${api['crearComentario']}${username}`,
                type: "POST",
                dataType: "json",
                data: JSON.stringify({datos:{texto:$(`.comentar-${codigoPublicacion}`).val(),comentario:codigoPublicacion}}),
                success: function (respuestas) {
                    if(respuestas.estado){
                        html=`<li class="message message-reply">
                                            <img src="{{ asset('img/avatars/3.png') }}" class="online" alt="user">
                                            <span class="message-text"> <a href="javascript:void(0);" class="username">{{ arUsuario.nombreCorto }}</a> ${respuestas.datos.texto}</span>

                                            <ul class="list-inline font-xs">
                                                <li>
                                                    <a href="javascript:void(0);" class="text-muted">1 minute ago </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" class="text-success"><i class="fa fa-thumbs-up"></i></a>
                                                </li>
                                                <li>
                                                        <a href="javascript:void(0);" class="text-primary"><li class="fas fa-edit text-primary"></li></a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);" class="text-danger"><li class="fas fa-trash text-danger"></li></a>
                                                    </li>
                                            </ul>

                                        </li>`;
                        $(`.publicaciones-${codigoPublicacion}`).prepend(html);
                        $(`.totalComentarios-${codigoPublicacion}`).html("");
                        $(`.totalComentarios-${codigoPublicacion}`).append(`(${respuestas.datos.totalComentarios})`);
                        $(`.comentar-${codigoPublicacion}`).val("");
                        $(`.btnComentar-${codigoPublicacion}`).prop("disabled",true);
                    }
                    else{
                        $(".btnPublicar").prop("disabled",false);
                    }
                },
                error: function (error) {
                    // console.log(error);
                }
            });
        }

        function crearPublicacion() {
            // var token= $('input[name="token"]').val();
            $(".btnPublicar").prop("disabled",true);

            var data={{ publicaciones|json_encode|raw }};
            $.ajax({
                headers:{
                    // 'X-CSRF-TOKEN': token,
                    'Content-type': 'application/json',
                },
                url: `${servidor}${api['crearPublicacion']}${username}`,
                type: "POST",
                dataType: "json",
                data: JSON.stringify({datos:{texto:$(".publicar").val()}}),
                success: function (respuestas) {
                    if(respuestas.estado){

                        if(auxPublicacion===0){
                            auxPublicacion=data.length;
                        }
                        html=`<div class="timeline-seperator text-center"><span>${respuestas.datos.fecha}</span>
                <div class="btn-group pull-right">
                    <a href="javascript:void(0);" data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle"><span class="caret single"></span></a>
                    <ul class="dropdown-menu text-left">
                        <li>
                            <a href="javascript:void(0);">Hide this post</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Hide future posts from this user</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Mark as spam</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="chat-body no-padding profile-message">
                <ul>
                    <li class="message">
                        <img src="{{ app.session.get('foto_perfil') }}" class="online foto_perfil" alt="sunny">
                        <span class="message-text" style="width: 100%">
                                                <a style="
                                                        display: flex;
                                                        cursor: auto;
                                                        justify-content: end;
                                                        width: 100%;
                                                        padding-right: 4em;
                                                        color: #3276b1;"
                                                   href="javascript:void(0);"
                                                   class="username">
                                                    {{ arUsuario.nombreCorto }}
                                                    <small class="text-muted ultra-light" style="display: flex;margin-left: auto;"> Hace ${respuestas.datos.tiempoTranscurrido}</small>
                                                </a>
                            ${ respuestas.datos.texto }
                                            </span>
                    </li>
                    <ul class="list-inline font-xs" style="padding-left: 7.5em;">
                        <li>
                            <a href="javascript:void(0);" class="text-info"><i class="fa fa-reply"></i> Compartir</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" onclick="meGustaPublicacion(${respuestas.datos.publicacion})" class="text-success"><i class="fa fa-thumbs-up"></i><div style="display: -webkit-inline-flex" class="megustaPublicacion-${respuestas.datos.publicacion}"> ${respuestas.datos.meGusta>0?"("+respuestas.datos.meGusta+")":"" }<div></a>
                        </li>
                        <li>
                         <a href="javascript:void(0);" class="text-muted">${respuestas.datos.totalComentarios>2?`<a style="color: black; cursor: pointer" onclick="verComentarios(${auxPublicacion})">Ver todos los comentarios </a>(${respuestas.datos.totalComentarios})`:""}
                            {#<a href="javascript:void(0);" class="text-muted">${publicacion.totalComentarios>2:"<a style='color: black; cursor: pointer' onclick='verComentarios("${auxPublicacion+1}")'>Ver todos los comentarios </a>({{ publicacion.totalComentarios }})" }{% endif %}</a>#}
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="text-primary"><li class="fas fa-edit text-primary"></li></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="text-danger"><li class="fas fa-trash text-danger"></li></a>
                        </li>
                    </ul>
                    <div class="publicaciones-${respuestas.datos.publicacion}">
                        <div class="masComentarios-${auxPublicacion}">
                        </div>
                        <li  style="margin-top: 1em;">
                            <div class="input-group wall-comment-reply">
                                <input id="btn-input" type="text" class="form-control comentar-${respuestas.datos.publicacion}" placeholder="Comentar..." onkeydown="inputComentar(${respuestas.datos.publicacion})" onkeyup="inputComentar(${respuestas.datos.publicacion})">
                                <span class="input-group-btn">
                            <button disabled class="btn btn-primary btnComentar-${respuestas.datos.publicacion}" id="btn-chat" onClick="crearComentario(${respuestas.datos.publicacion},${data.length})">
							    <i class="fas fa-play"></i>
							</button> </span>
                            </div>
                        </li>
                    </div>
                </ul>

            </div>`;
                        $(`.publicacionNueva`).prepend(html);
                        $(`.publicar`).val("");
                    }
                    else{
                        $(".btnPublicar").prop("disabled",false);
                    }
                },
                error: function (error) {
                    // console.log(error);
                }
            });
        }

        function inputPublicacion() {
            if($(".publicar").val().length >0){
                $(".btnPublicar").prop("disabled",false);
            }
            else{
                $(".btnPublicar").prop("disabled",true);
            }
        }

        function inputComentar(codigoPublicacion) {
            if($(`.comentar-${codigoPublicacion}`).val().length >0){
                $(`.btnComentar-${codigoPublicacion}`).prop("disabled",false);
            }
            else{
                $(`.btnComentar-${codigoPublicacion}`).prop("disabled",true);
            }
        }

        function meGustaPublicacion(codigoPublicacion) {
            $.ajax({
                headers: {
                    // 'X-CSRF-TOKEN': token,
                    'Content-type': 'application/json',
                },
                url: `${servidor}${api['meGustaPublicacion']}${username}/${codigoPublicacion}`,
                type: "GET",
                dataType: "json",
                success: function (respuestas) {
                    if(respuestas.estado){
                    if(respuestas.datos.meGustas>0){
                    $(`.megustaPublicacion-${codigoPublicacion}`).html(`(${respuestas.datos.meGustas})`);
                    }
                    else{
                    $(`.megustaPublicacion-${codigoPublicacion}`).html("");
                    }
                    }

                },
                error: function (error) {
                    // console.log(error);
                }
            });
        }
    </script>
{% endblock %}