<div class="col-sm-12 col-md-12 col-lg-6" >

    <form method="post" class="well padding-bottom-10" onsubmit="return false;">
        <textarea rows="2" class="form-control" placeholder="¿Qué estas pensando?"></textarea>
        <div class="margin-top-10">
            <button type="submit" class="btn btn-sm btn-primary pull-right">
                Publicar
            </button>
            <a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="Localizacion"><i class="fa fa-location-arrow"></i></a>
            <a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="Voz"><i class="fa fa-microphone"></i></a>
            <a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="Agregar foto"><i class="fa fa-camera"></i></a>
            <a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="Agregar archivo"><i class="fa fa-file"></i></a>
        </div>
    </form>
    {% for keyPub, publicacion in publicaciones %}
        <div class="timeline-seperator text-center"> <span>{{ publicacion.fecha }}</span>
            <div class="btn-group pull-right">
                <a href="javascript:void(0);" data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle"><span class="caret single"></span></a>
                <ul class="dropdown-menu text-left">
                    <li>
                        <a href="javascript:void(0);">Hide this post</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Hide future posts from this user</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Mark as spam</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="chat-body no-padding profile-message">
            <ul>
                <li class="message">
                    <img src="{{ app.session.get('foto_perfil') }}" class="online foto_perfil" alt="sunny">
                    <span class="message-text" style="width: 100%">
                                                <a style="
                                                        display: flex;
                                                        cursor: auto;
                                                        justify-content: end;
                                                        width: 100%;
                                                        padding-right: 4em;
                                                        color: #3276b1;"
                                                   href="javascript:void(0);"
                                                   class="username">
                                                    {{ arUsuario.nombreCorto }}
                                                    <small class="text-muted ultra-light" style="display: flex;margin-left: auto;"> Hace {{ publicacion.tiempoTranscurrido }}</small>
                                                </a>
                        {{ publicacion.texto }}
                                            </span>
                </li>
                <ul class="list-inline font-xs" style="padding-left: 7.5em;">
                    <li>
                        <a href="javascript:void(0);" class="text-info"><i class="fa fa-reply"></i> Compartir</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="text-success"><i class="fa fa-thumbs-up"></i> {% if publicacion.meGusta>0%}({{ publicacion.meGusta }}){% endif %}</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="text-muted">{% if publicacion.totalComentarios>2 %}<a style="color: black; cursor: pointer" onclick="verComentarios({{ keyPub }})">Ver todos los comentarios </a>({{ publicacion.totalComentarios }}){% endif %}</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="text-primary"><li class="fas fa-edit text-primary"></li></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="text-danger"><li class="fas fa-trash text-danger"></li></a>
                    </li>
                </ul>
                {% if publicacion.comentarios|length>0 %}
                    {% for key, comentario in publicacion.comentarios%}
                        {% if key<2 %}
                            <li class="message message-reply">
                                <img src="{{ asset('img/avatars/3.png') }}" class="online" alt="user">
                                <span class="message-text"> <a href="javascript:void(0);" class="username">Serman Syla</a> {{ comentario.texto }}</span>

                                <ul class="list-inline font-xs">
                                    <li>
                                        <a href="javascript:void(0);" class="text-muted">1 minute ago </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="text-success"><i class="fa fa-thumbs-up"></i></a>
                                    </li>
                                </ul>

                            </li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <div class="masComentarios-{{keyPub}}">
                </div>
                <li  style="margin-top: 1em;">
                    <div class="input-group wall-comment-reply">
                        <input id="btn-input" type="text" class="form-control" placeholder="Comentar...">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" id="btn-chat">
							    <i class="fas fa-play"></i>
							</button> </span>
                    </div>
                </li>
            </ul>

        </div>

    {%  endfor%}

</div>
{% block javascripts %}
    <script>
        function verComentarios(key){
            var html='';
            $(`.masComentarios-${key}`).html(html);
            var data={{ publicaciones|json_encode|raw }};
            for(var i=2;i<=data[key]['comentarios'].length;i++ ) {
                html = `<li class='message message-reply'><img src='{{ asset('img/avatars/3.png') }}' class='online' alt='user'><span class='message-text'> <a href='javascript:void(0);' class='username'>Serman Syla</a>${data[key]['comentarios'][i]['texto']}</span><ul class='list-inline font-xs'><li><a href='javascript:void(0);' class='text-muted'>1 minute ago </a></li><li><a href='javascript:void(0);'class='text-success'><i class='fa fa-thumbs-up'></i></a></li></ul></li>`;
                // html="<h1>holaaa</h1>"
            $(`.masComentarios-${key}`).append(html);
            }
        }
    </script>
{% endblock %}