{% extends 'base_recursoHumano.html.twig' %}
{% block content %}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-default btn-sm" href="{{ path('recursohumano_administracion_empleado_empleado_lista') }}">Volver</a>&nbsp;&nbsp;
        </div>
    </div>
    <br/><br/>
    <table width="100%" class="table table-condensed table-bordered">
        <tr>
            <td class="titulo">CODIGO:</td>
            <td class="td-in-well">{{ arEmpleado.codigoEmpleadoPk }}</td>
            <td class="titulo"></td>
            <td class="td-in-well" style="text-transform: uppercase;"></td>
            <td class="titulo"></td>
            <td class="td-in-well" style="text-transform: uppercase;"></td>
        </tr>
        <tr>
            <td class="titulo">IDENTIFICACIÓN:</td>
            <td class="td-in-well">{{ arEmpleado.numeroIdentificacion }}</td>
            <td class="titulo">NOMBRE:</td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arEmpleado.nombreCorto }}</td>
            <td class="titulo">TELÉFONO:</td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arEmpleado.telefono }}</td>
        </tr>
        <tr>
            <td class="titulo">ESTADO CIVIL:</td>
            <td class="td-in-well">{{ arEmpleado.estadoCivilRel.nombre | default('') }}</td>
            <td class="titulo">SEXO:</td>
            <td class="td-in-well">{% if arEmpleado.codigoSexoFk == "M" %} MASCULINO {% else %} FEMENINO{% endif %}</td>
            <td class="titulo">RH:</td>
            <td class="td-in-well">{{ arEmpleado.rhRel.tipo | default('') }}</td>
        </tr>
    </table>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#contratos" data-toggle="tab">Contratos</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="detalles">
            <div id="detalles" style="width: 100%"><br>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>DESDE</th>
                            <th>HASTA</th>
                            <th>SALARIO</th>
                            <th>ACTIVO</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set contratoActivo = false %}
                        {% for arContrato in arContratos %}
                            <tr>
                                <td>{{ arContrato.codigoContratoPk }}</td>
                                {{ validarTipo(arContrato.fechaDesde) }}
                                {{ validarTipo(arContrato.fechaHasta) }}
                                {{ validarTipo(arContrato.vrSalario) }}
                                {{ validarTipo(arContrato.estadoActivo) }}
                                <td style="text-align: center;">
                                    {% if arContrato.estadoActivo == 1 %}
                                        <a href="javascript:abrirVentana3('{{ path('recursohumano_administracion_empleado_empleado_nuevo_contrato',{'codigoEmpleado' : arEmpleado.codigoEmpleadoPk,'id': arContrato.codigoContratoPk }) }}','agregarContrato',600,950)"><i
                                                    class="fa fa-edit" style="color: black;font-size: large;"></i>
                                        </a>
                                    {% endif %}
                                </td>
                                {% if arContrato.estadoActivo == 1 %}
                                    {% set contratoActivo = true %}
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="btn-toolbar" style="float: right;">
            <div class="btn-group">
                {% if not contratoActivo %}
                <a class="btn btn-sm btn-default"
                   href="javascript:abrirVentana3('{{ path('recursohumano_administracion_empleado_empleado_nuevo_contrato',{'codigoEmpleado' : arEmpleado.codigoEmpleadoPk,'id':0 }) }}','agregarContrato',600,950)">Nuevo</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
