{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="panel panel-default">
        <div class="panel-heading">Filtros</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Desde:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.fechaDesde) }}
                </div>
                <label class="col-sm-2 control-label">Comprobante:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.txtComprobante) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Hasta:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.fechaHasta) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <div class="col-sm-offset-2 col-sm-10">
                    {{ form_widget(form.btnGenerar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover tabla-informacion">
        <thead>
        <tr>
            <th>ID</th>
            <th title="Prefijo">P</th>
            <th>NUMERO</th>
            <th>COMPROBANTE</th>
            <th>DESCRIPCION</th>
        </tr>
        </thead>
        <tbody>
        {% for arRegistrosInconsistencia in arRegistrosInconsistencias %}
            <tr>
                <td>{{ arRegistrosInconsistencia.codigoRegistroInconsistenciaPk }}</td>
                <td>{{ arRegistrosInconsistencia.numeroPrefijo }}</td>
                <td>{{ arRegistrosInconsistencia.numero }}</td>
                <td>{{ arRegistrosInconsistencia.codigoComprobanteFk }}</td>
                <td>{{ arRegistrosInconsistencia.descripcion }}</td>
            </tr>
        {% endfor %}
    </table>
    <div class="btn-group" style="float: right;">
        {{ form_widget(form.btnExcel, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
    </div>
    <br>
    <br>
    <br>
    {{ form_end(form) }}
{% endblock %}

