{% extends 'base_inventario.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    {{ form_errors(form) }}
    <div class="panel panel-default">
        <div class="panel-heading">
            Regenerar inventario
        </div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <div class="col-lg-offset-1 col-sm-2">
                    {{ form_widget(form.btnRegenerarExistencias) }}
                </div>
                <div class="col-sm-2">
                    {{ form_widget(form.btnRegenerarCostos) }}
                </div>
                <div class="col-sm-2">
                    {{ form_widget(form.btnRegenerarPedidos) }}
                </div>
                <div class="col-sm-2">
                    {{ form_widget(form.btnRegenerarSolicitudes) }}
                </div>
                <div class="col-sm-2">
                    {{ form_widget(form.btnRegenerarOrdenes) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}
