{% extends "base.html.twig" %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="panel panel-default">
        <div class="panel-heading">Información general</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Auxilio Transporte</label>
                <div class="col-sm-4">
                    {{ form_widget(form.vrAuxilioTransporte,{ 'attr' : {'class' : 'form-control'}}) }}
                    <div style="color:red;">{{ form_errors(form.vrAuxilioTransporte) }}</div>
                </div>
                <label class="col-sm-2 control-label"> Salario Mínímo</label>
                <div class="col-sm-3">
                    {{ form_widget(form.vrSalarioMinimo, { 'attr': {'class' : 'form-control','onblur': 'javascript:calcularDigitoVerificacion(this.value)'} }) }}
                    <div style="color:red;">{{ form_errors(form.vrSalarioMinimo) }}</div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
        </div>
    </div>


    {{ form_end(form) }}
{% endblock %}
