{% extends 'base_financiero.html.twig' %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">Filtro busqueda</div>
        <div class="panel-body">
            {{ form_start(formFiltro, {'attr': {'class': 'form-horizontal'} }) }}
            {% include 'estructura/buscarTerceroFinanciero.html.twig' %}
            <div class="form-group form-group-sm">
                <label class="col-sm-1 control-label">Numero:</label>
                <div class="col-sm-5">
                    {{ form_widget(formFiltro.numero) }}
                </div>
                <label class="col-sm-1 control-label">Comprobante:</label>
                <div class="col-sm-5">
                    {{ form_widget(formFiltro.codigoComprobanteFk, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>


            {{ form_end(formFiltro) }}

        </div>
    </div>
    {{ form_start(formBotonera) }}
    {% include 'estructura/movimiento/tablaGeneral.html.twig' %}
    {% include 'estructura/movimiento/botoneraGeneral.html.twig' %}
    {{ form_end(formBotonera) }}
{% endblock %}
