{% extends 'base_sin_menu.html.twig' %}
{% block content %}
    <script language="javascript">
        function selTercero(campoNombre, nombre,campoCodigo,codigo)
        {
            opener.document.getElementById(campoCodigo).value = codigo;
            opener.document.getElementById(campoNombre).value = nombre;

            self.close();
        }
    </script>
    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
    {{ form_errors(form) }}
    <div class="panel panel-default">
        <div class="panel-heading">Filtros</div>
        <div class="panel-body">

            <div class="form-group form-group-sm">
                <label for="form_TxtCodigo" class="col-sm-2 control-label">Codigo:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.TxtCodigoCiudadDestino, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <label for="form_TxtNombre" class="col-sm-2 control-label">Nombre:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.TxtNombreCiudadDestino , { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <div class="col-sm-offset-2 col-sm-10">
                    {{ form_widget(form.BtnFiltrar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                </div>
            </div>
        </div>
    </div>
    <table  class="table table-striped table-bordered table-condensed table-hover">
        <tr>
            <th>{{ knp_pagination_sortable(arCiudades, 'CÓDIGO', 'e.codigoCiudadPk') }}</th>
            {#<th>NOMBRE</th>#}
            <th>{{ knp_pagination_sortable(arCiudades, 'NOMBRE', 'e.nombre') }}</th>
            <th></th>
        </tr>
        {% for arCiudades in arCiudades %}
            <tr>
                {#<td><input type="hidden" name="LblCodigo[]" value="{{ arCiudades.codigoCiudadPk }}">{{ arCiudades.codigoCiudadPk }} </td>#}
                <td>{{ arCiudades.codigoCiudadPk  }}</td>
                <td>{{ arCiudades.nombre }}</td>
                <td style="text-align: center"><a href="javascript:selTercero('{{ campoNombre }}','{{ arCiudades.nombre }}','{{ campoCodigo }}','{{ arCiudades.codigoCiudadPk }}')" ><img src="{{ asset('../public/img/bootstrap/glyphicons_198_ok.png') }}" width=20 height=20></a></td>
            </tr>
        {% endfor %}
    </table>


    <div class="btn-group" style="float: left">
        <div class="btn-group" style="float: left">
            <div class="btn btn-default btn-sm">Registros <span class="badge">{{ arCiudades.getTotalItemCount }}</span></div>
        </div>
    </div>
    <div class="btn-group btn-xs" style="float: left;margin-top: -18px;">
        {{ knp_pagination_render(arCiudades) }}
    </div>

    <!-- Fin Botones Menu Items -->
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}
