{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    {{ notificar()|raw }}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-default btn-sm"
               href="{{ path('turno_movimiento_comercial_contrato_lista') }}">Volver</a>
        </div>
        <div class="btn-group">
            {% include 'estructura/botonera.html.twig' %}
        </div>
    </div>
    <div style="float:right">
        {% if arContratos.estadoAutorizado == true %}<span class="label label-default">Autorizado</span>{% endif %}
        {% if arContratos.estadoAprobado == true %}<span class="label label-success">Aprobado</span>{% endif %}
        {% if arContratos.estadoAnulado == true %}<span class="label label-danger">Anulado</span>{% endif %}
    </div>
    <br/><br/>
    {% include 'turno/movimiento/comercial/contrato/informacion.html.twig' %}
    <ul class="nav nav-tabs">
        <li class="active"><a href="#detalles" data-toggle="tab">Detalles</a></li>
    </ul>


    <div class="tab-content">
        <div class="tab-pane active" id="detalles">
            <div id="detalles" style="width: 100%"><br>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-condensed tabla-datos">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>CONTRATO</th>
                            <th title="Hora inicio">H.INI</th>
                            <th title="Hora fin">H.FIN</th>
                            <th title="Modalidad">MOD</th>
                            <th>PERIODO</th>
                            <th title="Liquidar dias reales">LDR</th>
                            <th title="Fecha desde">DES</th>
                            <th title="Fecha hasta">HAS</th>
                            <th>CANT</th>
                            <th>LU</th>
                            <th>MA</th>
                            <th>MI</th>
                            <th>JU</th>
                            <th>VI</th>
                            <th>SA</th>
                            <th>DO</th>
                            <th>FE</th>
                            <th title="Horas totales">H</th>
                            <th title="Horas diurnas">HD</th>
                            <th title="Horas nocturnas">HN</th>
                            <th>DIAS</th>
                            <th title="Valor salario base">BASE</th>
                            <th title="Precio minimo">P.MINIMO</th>
                            <th title="Precio ajustado">P.AJUSTADO</th>
                            <th title="Base iva">B_IVA</th>
                            <th title="Porcentaje iva">%IVA</th>
                            <th title="Iva">IVA</th>
                            <th>SUBTOTAL</th>
                            <th><input type="checkbox" name="ChkSeleccionarTodos"
                                       OnClick="ChequearTodosTabla(this, 'ChkSeleccionar[]');"/></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for arContratoDetalle in arContratoDetalles %}
                            <td> {{ arContratoDetalle.codigoContratoDetallePk }}</td>
                            <input type="hidden"
                                   name="arrCodigo[]"
                                   value="{{ arContratoDetalle.codigoContratoDetallePk }}">
                            <td>{{ arContratoDetalle.nombreConcepto }}</td>
                            <td>{{ arContratoDetalle.horaInicio |date('H:i') }}</td>
                            <td>{{ arContratoDetalle.horaFin |date('H:i') }}</td>
                            <td>{{ arContratoDetalle.nombreModalidad }}</td>
                            <td></td>
                            <td>{{ arContratoDetalle.liquidarDiasReales ? 'SI':'NO' }}</td>
                            <td>{{ arContratoDetalle.fechaDesde | date('Y-m-d') }}</td>
                            <td>{{ arContratoDetalle.fechaHasta | date('Y-m-d') }}</td>
                            <td>{{ arContratoDetalle.cantidad }}</td>
                            <td>{{ arContratoDetalle.lunes ? 'SI':'NO' }}</td>
                            <td>{{ arContratoDetalle.martes ? 'SI':'NO' }}</td>
                            <td>{{ arContratoDetalle.miercoles ? 'SI':'NO' }}</td>
                            <td>{{ arContratoDetalle.jueves  ? 'SI':'NO' }}</td>
                            <td>{{ arContratoDetalle.viernes ? 'SI':'NO' }}</td>
                            <td>{{ arContratoDetalle.sabado  ? 'SI':'NO' }}</td>
                            <td>{{ arContratoDetalle.domingo ? 'SI':'NO' }}</td>
                            <td>{{ arContratoDetalle.festivo ? 'SI':'NO' }}</td>
                            <td>{{ arContratoDetalle.horas }}</td>
                            <td>{{ arContratoDetalle.horasDiurnas }}</td>
                            <td>{{ arContratoDetalle.horasNocturnas }}</td>
                            <td></td>
                            <td class="numero">{{ arContratoDetalle.vrSalarioBase }}</td>
                            <td class="numero">{{ arContratoDetalle.vrPrecioMinimo }}</td>
                            <td style="text-align: center;"><input type="number"
                                                                   name="arrPrecioAjustado[{{ arContratoDetalle.codigoContratoDetallePk }}]"
                                                                   value="{{ arContratoDetalle.vrPrecioAjustado }}"
                                                                   style="text-align: right; width:60px"
                                                                   size="10"></td>
                            <td style="text-align: center;"><input type="number"
                                                                   name="arrPorcentajeBaseIva[{{ arContratoDetalle.codigoContratoDetallePk }}]"
                                                                   value="{{ arContratoDetalle.porcentajeBaseIva }}"
                                                                   style="text-align: right; width:60px"
                                                                   size="10"></td>
                            <td style="text-align: center;"><input type="number"
                                                                   name="arrPorcentajeIva[{{ arContratoDetalle.codigoContratoDetallePk }}]"
                                                                   value="{{ arContratoDetalle.porcentajeIva }}"
                                                                   style="text-align: right; width:60px"
                                                                   size="10"></td>
                            <td class="numero">{{ arContratoDetalle.vrIva }}</td>
                            <td class="numero">{{ arContratoDetalle.vrSubtotal }}</td>
                            <td><input type="checkbox" name="ChkSeleccionar[]"
                                       value="{{ arContratoDetalle.codigoContratoDetallePk }}"/></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="btn-toolbar" style="float: right">
                    <div class="btn-group">
                        {% if arContratos.estadoAutorizado == true %}
                            <input type="button" class="btn btn-default btn-sm" href="#" disabled="disabled"
                                   value="Nuevo"/>
                        {% else %}
                            <a class="btn btn-default btn-sm"
                               href="javascript:abrirVentana3('{{ path('turno_movimiento_comercial_contrato_detalle_nuevo', {'codigoContrato':arContratos.codigoContratoPk,'id': 0 }) }}', 'ContratoAdicionarDetalle', 600, 900)">Nuevo</a>
                        {% endif %}
                    </div>
                    <div class="btn-group">
                        {{ form_widget(form.btnActualizar) }}
                    </div>
                    <div class="btn-group">
                        {{ form_widget(form.btnEliminar) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
