<div id="content sortable-grid ui-sortable">
    <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-collapsed="true">
        <header role="heading" class="ui-sortable-handle">
            <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
            <h2>Filtro</h2>
        </header>
        <div>
            <div class="widget-body">
                {{ form_start(formFiltro, {'attr': {'class': 'form-horizontal'} }) }}
{#                {% include 'turno/buscar/cliente.html.twig' %}#}
                <div class="form-group form-group-sm">

                    <label for="" class="control-label col-sm-1">Codigo:</label>
                    <div class="col-sm-2">
                        {{ form_widget(formFiltro.codigoContratoPk) }}
                    </div>
                    <label class="col-sm-1 control-label">Ciudad:</label>
                    <div class="col-sm-2">
                        {{ form_widget(formFiltro.codigoCiudadFk) }}
                    </div>
                    <label for="" class="control-label col-sm-2">Departamento:</label>
                    <div class="col-sm-4">
                        {{ form_widget(formFiltro.codigoDepartamentoFk) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="" class="control-label col-sm-1"></label>
                    <div class="col-sm-2">
                    </div>
                    <label class="col-sm-1 control-label"></label>
                    <div class="col-sm-2">
                    </div>
                    <label for="" class="control-label col-sm-4">Autorizado:</label>
                    <div class="col-sm-2">
                        {{ form_widget((formFiltro.estadoAutorizado)) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="" class="control-label col-sm-1"></label>
                    <div class="col-sm-2">
                    </div>
                    <label class="col-sm-1 control-label"></label>
                    <div class="col-sm-2">
                    </div>
                    <label class="col-sm-4 control-label">Cerrado:</label>
                    <div class="col-sm-2">
                        {{ form_widget(formFiltro.estadoCerrado) }}
                    </div>
                </div>
            </div>
            {{ form_end(formFiltro) }}
        </div>
    </div>
</div>
