{% extends 'base.html.twig' %}
{% block content %}
    <table class="table table-striped table-bordered table-hover tabla-datos">
        <thead>
        <tr>
            <th>ID</th>
            <th>NOTIFICACION</th>
            <th>MODELO</th>
            <th>FECHA</th>

        </tr>
        </thead>
        <tbody>
        {% for arGenNotificacion in arGenNotificacion %}
            <tr>
                <td>{{ arGenNotificacion.id }}</td>
                <td>{{ arGenNotificacion.fecha|date("Y/m/d H:i:s") }}</td>
                <td>{{ arGenNotificacion.nombre }}</td>
                <td>{{ arGenNotificacion.modelo }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="btn-group" style="float: left">
        <div class="btn-group" style="float: left">
            <div class="btn btn-default btn-sm">Registros <span class="badge">{{ arGenNotificacion.getTotalItemCount }}</span></div>
        </div>
    </div>
    <div class="btn-group btn-xs" style="float: left;margin-left: 0px;padding-top: 0px;">
        {{ knp_pagination_render(arGenNotificacion) }}
    </div>
{% endblock %}
