{% extends 'base_general.html.twig' %}
{% block content %}
    {{ form_start(form, {'attr':{'class':'form-horizontal'}}) }}
    <div class="panel panel-default">
        <div class="panel-heading">Filtros</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                {#<label for="txtCodigoConductor" class="col-sm-1 control-label">C贸digo:</label>#}
                <label for="form_TxtNumero" class="col-sm-2 control-label">C贸digo:</label>
                <div class="col-sm-2">
                    <i class="fa fa-info-circle" title="C贸digo del registro modificado, en su respectiva entidad" style="float: right;color: gray; padding-top: 9px;padding-right: 16px; position: absolute;right: 0px;">&nbsp;</i>
                    {{ form_widget(form.txtCodigoRegistro) }}
                </div>
                <div class="col-sm-1"></div>
                <label class="col-sm-2 control-label">Entidad:</label>
                <div class="col-sm-2">
                    {{ form_widget(form.SelModelo, { 'attr': {'class': 'form-control'} }) }}
                </div>

            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Fecha Desde:</label>
                <div class="col-sm-3">
                    {{ form_widget(form.dtmFechaDesde) }}
                </div>
                <label class="col-sm-2 control-label">Acci贸n:</label>
                <div class="col-sm-2">
                    {{ form_widget(form.SelAccion, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Fecha Hasta:</label>
                <div class="col-sm-3">
                    {{ form_widget(form.dtmFechaHasta) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-3">
                    {{ form_widget(form.filtrarFecha) }}
                </div>
            </div>
        </div>
        <div class="modal-footer">
        {{ form_widget(form.btnFiltrar) }}
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>CODIGO</th>
            <th>ENTIDAD</th>
            <th>FECHA</th>
            <th>USUARIO</th>
            <th>ACCION</th>
            <th>RUTA</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for arGenLog in arGenLog %}
            <tr>
                <td>{{ arGenLog.codigoLogPk }}</td>
                <td>{{ arGenLog.codigoRegistroPk }}</td>
                <td>{{ arGenLog.nombreEntidad }}</td>
                <td>{{ arGenLog.fecha|date("d/m/Y H:i:s") }}</td>
                <td>{{ arGenLog.nombreUsuario }}</td>
                <td>{{ arGenLog.accion }}</td>
                <td>{{ arGenLog.ruta }}</td>
                <td class="text-center"><a href="javascript:abrirVentana3('{{ path('general_informe_log_lista_detalle',{codigoRegistro: arGenLog.codigoLogPk }) }}', 'Ver detalles', 500, 400)">
                        <img src="{{ asset('../public/img/bootstrap/glyphicons_039_notes.png') }}" title="Ver log" width="20px" height="20px">
                    </a>
                </td> <td class="text-center"><a href="javascript:abrirVentana3('{{ path('general_informe_log_lista_detalle_comparativo',{codigoRegistro: arGenLog.codigoRegistroPk , entidad:arGenLog.nombreEntidad}) }}', 'Ver detalles', 500, 400)">
                        <img src="{{ asset('../public/img/bootstrap/glyphicons_039_notes.png') }}" title="Ver log" width="20px" height="20px">
                    </a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="btn-group" style="float: left">
        <div class="btn-group" style="float: left">
            <div class="btn btn-default btn-sm">Registros <span class="badge">{{ arGenLog.getTotalItemCount }}</span></div>
        </div>
    </div>
    <div class="btn-group btn-xs" style="float: left;margin-left: 0px;padding-top: 0px;">
        {{ knp_pagination_render(arGenLog) }}
    </div>

    {{ form_end(form) }}
{% endblock %}
