{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div id="content sortable-grid ui-sortable">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-collapsed="true">
            <header role="heading" class="ui-sortable-handle">
                <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
                <h2>Filtro</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="form-group form-group-sm">
                        <label for="form_TxtCodigo" class="col-sm-1 control-label">Identificacion:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.identificacion) }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <div class="col-sm-offset-2 col-sm-10">
                            {{ form_widget(form.btnFiltrar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover tabla-datos tabla-datos">
        <thead>
        <tr>
            <td>ID</td>
            <td>FECHA</td>
            <td>TIPO</td>
            <td>GRUPO</td>
            <td>IDENTIFICACION</td>
            <td>NOMBRE</td>
            <td>PRUEBAS</td>
            <td>TELEFONO</td>
            <td>CELULAR</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        {% for arseleccion in arseleccion %}
            <tr>
                <td>{{ arseleccion.codigoSeleccionPk }}</td>
                <td>{{ arseleccion.fecha | date('Y-m-d') }}</td>
                <td>{{ arseleccion.seleccionTipoRel.nombre }}</td>
                <td>{{ arseleccion.codigoGrupoPagoFk | default() }}</td>
                <td>{{ arseleccion.numeroIdentificacion }}</td>
                <td>{{ arseleccion.nombreCorto }}</td>
                <td>{{ arseleccion.presentaPruebas? "SI":"NO" }}</td>
                <td>{{ arseleccion.telefono }}</td>
                <td>{{ arseleccion.celular }}</td>
                <td class="text-center">
                    <a href="{{ path('recursohumano_administracion_recurso_empleado_nuevo', { 'id': 0, 'codigoSeleccion': arseleccion.codigoSeleccionPk}) }}">
                        <i style="font-size: large;color: black;" class="fa fa-share-square-o"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ form_rest(form) }}
    {{ form_end(form) }}
    <br/><br/><br/>
{% endblock %}