{% extends 'base_sin_menu.html.twig' %}
{% block content %}
    <section class="content">
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
        <div class="panel panel-default">
            <div class="panel-heading">Información general</div>
            <div class="panel-body">
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">Tipo:</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.contratoTipoRel, { 'attr': {'class': 'form-control','autofocus':'autofocus'} }) }}
                        {{ form_errors(form.contratoTipoRel) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">Grupo:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.grupoRel, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.grupoRel) }}
                    </div>
                    <label class="col-sm-2 control-label">Tiempo:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.tiempoRel, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.tiempoRel) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">Ciudad contratación:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.ciudadContratoRel, { 'attr': {'class': 'form-control to-select-2'} }) }}
                        {{ form_errors(form.ciudadContratoRel) }}
                    </div>
                    <label class="col-sm-2 control-label">Ciudad labora:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.ciudadLaboraRel, { 'attr': {'class': 'form-control to-select-2'} }) }}
                        {{ form_errors(form.ciudadLaboraRel) }}
                    </div>
                </div>

                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">Cargo:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.cargoRel, { 'attr': {'class': 'form-control to-select-2'} }) }}
                        {{ form_errors(form.cargoRel) }}
                    </div>
                    <label class="col-sm-2 control-label">Descripcion:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.cargoDescripcion, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control', 'maxlength':'36'} }) }}
                        {{ form_errors(form.cargoDescripcion) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">Fecha inicio:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.fechaDesde) }}
                        {{ form_errors(form.fechaDesde) }}
                    </div>
                    <label class="col-sm-2 control-label">Numero:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.numero) }}
                        {{ form_errors(form.numero) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">Fecha Hasta:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.fechaHasta) }}
                        {{ form_errors(form.fechaHasta) }}
                    </div>
                    <label class="col-sm-2 control-label">Salario:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.vrSalario, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.vrSalario) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <div class="col-sm-offset-2 col-sm-3">
                        {{ form_widget(form.auxilioTransporte) }}
                        {{ form_errors(form.auxilioTransporte) }}
                    </div>
                    <div class="col-sm-3">
                        {{ form_widget(form.salarioIntegral) }}
                        {{ form_errors(form.salarioIntegral) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Información seguridad social</div>
            <div class="panel-body">
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">Tipo cotizante:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.tipoCotizanteRel, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                        {{ form_errors(form.tipoCotizanteRel) }}
                    </div>
                    <label class="col-sm-2 control-label">Subtipo cotizante:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.subtipoCotizanteRel, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                        {{ form_errors(form.subtipoCotizanteRel) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">Tipo salud:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.saludRel, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.saludRel) }}
                    </div>
                    <label class="col-sm-2 control-label">Entidad salud:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.entidadSaludRel, { 'attr': {'class': 'form-control to-select-2'} }) }}
                        {{ form_errors(form.entidadSaludRel) }}
                    </div>
                </div>

                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">Tipo pension:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.pensionRel, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.pensionRel) }}
                    </div>
                    <label class="col-sm-2 control-label">Entidad pensión:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.entidadPensionRel, { 'attr': {'class': 'form-control to-select-2'} }) }}
                        {{ form_errors(form.entidadPensionRel) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">Entidad caja:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.entidadCajaRel, { 'attr': {'class': 'form-control to-select-2'} }) }}
                        {{ form_errors(form.entidadCajaRel) }}
                    </div>
                    <label class="col-sm-2 control-label">Entidad cesantías:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.entidadCesantiaRel, { 'attr': {'class': 'form-control to-select-2'} }) }}
                        {{ form_errors(form.entidadCesantiaRel) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">Clasificación riesgo:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.clasificacionRiesgoRel, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.clasificacionRiesgoRel) }}
                    </div>
                    <label class="col-sm-2 control-label">Centro Trabajo:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.centroTrabajoRel, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.centroTrabajoRel) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Informacion costos</div>
            <div class="panel-body">
                <div class="form-group form-group-sm">
                    <label class="control-label col-sm-2">Costo tipo:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.codigoCostoTipoFk) }}
                        {{ form_errors(form.codigoCostoTipoFk) }}
                    </div>
                    <label class="control-label col-sm-2">Costo clase:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.costoClaseRel) }}
                        {{ form_errors(form.costoClaseRel) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
        </div>
        <br/><br/><br/><br/>
        {{ form_end(form) }}
    </section>
{% endblock %}