<table class="table table-striped table-bordered table-condensed">
    <thead>
    <tr>
        <th>ID</th>
        <th title="Codigo del concepto">CODIGO</th>
        <th title="Nombre del concepto">CONCEPTO</th>
        <th>DETALLE</th>
        <th>PORCENTAJE</th>
        <th>HORAS</th>
        <th>DIAS</th>
        <th title="Valor de la hora">VR.HORA</th>
        <th title="Operacion">OP</th>
        <th>VR.PAGO</th>
        <th>IBP</th>
        <th>IBC</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% set ibc = 0 %}
    {% set ibp = 0 %}
    {% set pago = 0 %}
    {% for arPagoDetalle in arPagoDetalles %}
        <tr>
            <td>{{ arPagoDetalle.codigoPagoDetallePk }}</td>
            <td>{{ arPagoDetalle.codigoConceptoFk }}</td>
            <td>{{ arPagoDetalle.nombre }}</td>
            <td>{{ arPagoDetalle.detalle }}</td>
            <td>{{ arPagoDetalle.porcentaje }}</td>
            <td>{{ arPagoDetalle.horas }}</td>
            <td>{{ arPagoDetalle.dias }}</td>
            <td class="numero">{{ arPagoDetalle.vrHora |number_format(0, '.', ',') }}</td>
            <td>{{ arPagoDetalle.operacion == 1 ? 'SUMA' : 'RESTA' }}</td>
            <td class="numero">{{ arPagoDetalle.vrPagoOperado |number_format(0, '.', ',') }}</td>
            <td class="numero">{{ arPagoDetalle.vrIngresoBasePrestacion |number_format(0, '.', ',') }}</td>
            <td class="numero">{{ arPagoDetalle.vrIngresoBaseCotizacion |number_format(0, '.', ',') }}</td>
            <td style="text-align: center;"><input type="checkbox" name="ChkSeleccionar[]"
                                                   value="{{ arPagoDetalle.codigoPagoDetallePk }}">
            </td>
        </tr>
        {% set ibc = ibc + arPagoDetalle.vrIngresoBaseCotizacion %}
        {% set ibp = ibp + arPagoDetalle.vrIngresoBasePrestacion %}
        {% set pago = pago + arPagoDetalle.vrPagoOperado %}
    {% endfor %}
    <tr>
        <td colspan="9"> </td>
        <td class="numero">{{ pago |number_format(0, '.', ',') }} </td>
        <td class="numero">{{ ibp |number_format(0, '.', ',')}} </td>
        <td class="numero">{{ ibc |number_format(0, '.', ',')}} </td>
        <td></td>
    </tr>
    </tbody>
</table>