{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div id="content sortable-grid ui-sortable">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-collapsed="true">
            <header>
                <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
                <h2>Filtro</h2>
            </header>
            <div>
                <div class="widget-body">
                    {% include 'estructura/buscarEmpleadoRecursohumano.html.twig' %}
                    <div class="form-group form-group-sm">
                        <label class=" col-sm-1 control-label">Codigo:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.codigoLicenciaPk) }}
                        </div>
                        <label class=" col-sm-1 control-label">Tipo:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.codigoLicenciaTipoFk) }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class=" col-sm-1 control-label">Desde:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.fechaDesde) }}
                        </div>
                        <label class=" col-sm-1 control-label">Grupo:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.codigoGrupoFk) }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class=" col-sm-1 control-label">Hasta:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.fechaHasta) }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <div class="col-sm-offset-2 col-sm-10">
                            {{ form_widget(form.btnFiltrar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover tabla-datos">
        <thead>
        <tr>
            <th title="CÓDIGO">ID</th>
            <th>TIPO</th>
            <th>FECHA</th>
            <th>ENTIDAD</th>
            <th>IDENTIFICACIÓN</th>
            <th>EMPLEADO</th>
            <th>GRUPO</th>
            <th>DESDE</th>
            <th>HASTA</th>
            <th style="text-align: right">DÍAS</th>
            <th>VALOR</th>
            <th>COBRO</th>
            <th title="Dias ibc mes anterior">D_IBC</th>
            <th>IBC</th>
            <th title="Afectar auxilio transporte">A_T</th>
            <th title="Cobrar a la entidad">COB</th>
            <th title="Pagar al empleado">PAG</th>
            <th title="Prorroga">PRO</th>
            <th title="En tramite de transcripcion">TRA</th>
            <th>USUARIO</th>
            <th style="text-align: center"></th>
            <th style="text-align: center"></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for arLicencia in arLicencias %}
            <tr>
                <td>{{ arLicencia.codigoLicenciaPk }} </td>
                <td>{{ arLicencia.tipo }}</td>
                <td>{% if arLicencia.fecha != '' %}{{ arLicencia.fecha |date("Y-m-d") }}{% endif %}</td>
                <td>{{ arLicencia.entidadSalud }}</td>
                <td>{{ arLicencia.numeroIdentificacion }}</td>
                <td>{{ arLicencia.empleado }}</td>
                <td>{{ arLicencia.grupo }}</td>
                <td>{{ arLicencia.fechaDesde |date("Y-m-d") }}</td>
                <td>{{ arLicencia.fechaHasta |date("Y-m-d") }}</td>
                <td class="numero">{{ arLicencia.cantidad | number_format(0, '.', ',') }}</td>
                <td class="numero">{{ arLicencia.vrLicencia | number_format(0, '.', ',') }}</td>
                <td class="numero">{{ arLicencia.vrCobro | number_format(0, '.', ',') }}</td>
                <td class="numero">{{ arLicencia.diasIbcMesAnterior | number_format(0, '.', ',') }}</td>
                <td class="numero">{{ arLicencia.vrIbcPropuesto | number_format(0, '.', ',') }}</td>
                <td>{% if arLicencia.afectaTransporte == 1 %}SI{% else %}NO{% endif %}</td>
                <td>{% if arLicencia.estadoCobrar == 1 %}SI{% else %}NO{% endif %}</td>
                <td>{% if arLicencia.pagarEmpleado == 1 %}SI{% else %}NO{% endif %}</td>
                <td>{% if arLicencia.estadoProrroga == 1 %}SI{% else %}NO{% endif %}</td>
                <td>{% if arLicencia.estadoTranscripcion == 1 %}SI{% else %}NO{% endif %}</td>
                <td>{{ arLicencia.codigoUsuario }}</td>
                <td style="text-align: center;">
                    <a href="{{ path('recursohumano_movimiento_nomina_licencia_nuevo',{'id': arLicencia.codigoLicenciaPk }) }}"><i
                                class="fa fa-edit" style="color: black;font-size: large;"></i></a>
                </td>
                <td style="text-align: center;">
                    <a href="{{ path('recursohumano_movimiento_nomina_licencia_detalle',{'id' : arLicencia.codigoLicenciaPk }) }}">
                        <i class="fa fa-share-square-o" style="font-size: large;color: black;">
                        </i>
                    </a>
                </td>
                <td><input type="checkbox" name="ChkSeleccionar[]" value="{{ arLicencia.codigoLicenciaPk }}"/></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="btn-group" style="float: left">
        <div class="btn btn-default btn-sm">Registros
            <span class="badge">{{ arLicencias.getTotalItemCount }}
            </span>
        </div>
    </div>
    <div class="btn-group btn-xs" style="float: left;margin-top: -18px;">
        {{ knp_pagination_render(arLicencias) }}
    </div>
    <div class="btn-group btn-xs" style="float: left; width: 60px">
        {{ form_widget(form.limiteRegistros) }}
    </div>
    <div class="btn-group" style="float: right; margin-right: 5px !important;">
        {{ form_widget(form.btnEliminar) }}
    </div>
    <div class="btn-group" style="float: right; margin-right: 5px !important;">
        {{ form_widget(form.btnExcel, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
    </div>
    <div class="btn-group" style="float: right; margin-right: 5px !important;">
        <a class="btn btn-default btn-sm"
           href="{{ path('recursohumano_movimiento_nomina_licencia_nuevo', {'id': 0}) }}">Nuevo</a>
    </div>
    {{ form_end(form) }}
    <br/><br/><br/>
{% endblock %}