<table width="100%" class="table table-condensed table-bordered tabla-informacion">
    <tr>
        <td class="titulo">CODIGO:</td>
        <td class="td-in-well">{{ arAnticipo.codigoAnticipoPk }}</td>
        <td class="titulo">NUMERO:</td>
        <td class="td-in-well" style="text-transform: uppercase;">{{ arAnticipo.numero }}</td>
    </tr>
    <tr>
        <td class="titulo">CLIENTE:</td>
        <td class="td-in-well">{{ arAnticipo.clienteRel.nombreCorto }}</td>
        <td class="titulo">PAGO:</td>
        <td class="td-in-well"  align="right">{{ arAnticipo.vrPago | number_format }}</td>
    </tr>
    <tr>
        <td class="titulo">CUENTA:</td>
        <td class="td-in-well">{{ arAnticipo.cuentaRel.nombre | default('') }}</td>
        <td class="titulo"></td>
        <td></td>
    </tr>
    <tr>
        <td class="titulo">FECHA:</td>
        <td class="td-in-well">{{ arAnticipo.fecha | date('Y-m-d') }}</td>
        <td class="titulo"></td>
        <td></td>
    </tr>
    <tr>
        <td class="titulo">FECHA PAGO:</td>
        <td class="td-in-well">{{ arAnticipo.fechaPago | date('Y-m-d') }}</td>
        <td class="titulo"></td>
        <td></td>
    </tr>
    <tr>
        <td class="titulo">USUARIO:</td>
        <td class="td-in-well">{{ arAnticipo.usuario }}</td>
        <td class="titulo"></td>
        <td></td>
    </tr>
    <tr>
        <td class="titulo">SOPORTE:</td>
        <td class="td-in-well">{{ arAnticipo.soporte }}</td>
        <td class="titulo"></td>
        <td class="td-in-well"  align="right"></td>
    </tr>
    <tr>
        <td class="titulo" >COMENTARIOS:</td>
        <td class="td-in-well" colspan="5">{{ arAnticipo.comentarios }}</td>
    </tr>
</table>