{% include('base_menu_inicio.html.twig') %}
<nav>
    <ul>
        <li>
            <a href="#"><i class="fa fa-book fa-fw"></i>
                <span class="menu-item-parent">Movimiento</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="#">Seleccion <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('recursohumano_movimiento_seleccion_aspirante_lista') }}">Aspirante</a>
                        </li>
                        <li>
                            <a href="{{ path('recursohumano_movimiento_seleccion_solicitud_lista') }}">Solicitud</a>
                        </li>
                        <li>
                            <a href="{{ path('recursohumano_movimiento_seleccion_seleccion_lista') }}">Seleccion</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Contratacion <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('recursohumano_movimiento_contratacion_requisito_lista') }}">Requisitos</a>
                        </li>
                        <li><a href="{{ path('recursohumano_movimiento_contratacion_examen_lista') }}">Examen</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Recurso <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('recursohumano_movimiento_recurso_visita_lista') }}">Visita</a>
                        </li>
                        <li>
                            <a href="{{ path('recursohumano_movimiento_recurso_permiso_lista') }}">Permiso</a>
                        </li>
                        <li>
                            <a href="{{ path('recursohumano_movimiento_recurso_poligrafia_lista') }}">Poligrafia</a>
                        </li>
                        <li>
                            <a href="{{ path('recursohumano_movimiento_recurso_induccion_lista') }}">Induccion</a>
                        </li>
                        <li>
                            <a href="{{ path('recursohumano_movimiento_recurso_prueba_lista') }}">Prueba</a>
                        </li>
                        <li>
                            <a href="{{ path('recursohumano_movimiento_recurso_acreditacion_lista') }}">Acreditación</a>
                        </li>
                        <li>
                            <a href="{{ path('recursohumano_movimiento_recurso_incidente_lista') }}">Incidente</a>
                        </li>
                        <li>
                            <a href="{{ path('recursohumano_movimiento_recurso_desempeno_lista') }}">Desempeño</a>
                        </li>
                        <li>
                            <a href="{{ path('recursohumano_movimiento_recurso_estudio_lista') }}">Estudio</a>
                        </li>
                        <li>
                            <a href="{{ path('recursohumano_movimiento_recurso_disciplinario_lista') }}">Disciplinario</a>
                        </li>
                        <li>
                            <a href="{{ path('recursohumano_movimiento_recurso_capacitacion_lista') }}">Capacitación</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Ocupacional <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('recursohumano_movimiento_ocupacional_accidente_lista') }}">Accidente</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Nomina <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('recursohumano_movimiento_nomina_programacion_lista') }}">Programacion</a>
                        </li>
                        <li><a href="{{ path('recursohumano_movimiento_nomina_pago_lista') }}">Pago</a></li>
                        <li><a href="{{ path('recursohumano_movimiento_nomina_liquidacion_lista') }}">Liquidacion</a>
                        </li>
                        <li><a href="{{ path('recursohumano_movimiento_nomina_adicional_lista') }}">Adicional</a></li>
                        <li><a href="{{ path('recursohumano_movimiento_nomina_adicionalperiodo_lista') }}">Adicional
                                periodo</a></li>
                        <li><a href="{{ path('recursohumano_movimiento_nomina_vacacion_lista') }}">Vacacion</a></li>
                        <li><a href="{{ path('recursohumano_movimiento_nomina_embargo_lista') }}">Embargo</a></li>
                        <li><a href="{{ path('recursohumano_movimiento_nomina_credito_lista') }}">Credito</a></li>
                        <li><a href="{{ path('recursohumano_movimiento_nomina_reclamo_lista') }}">Reclamo</a></li>
                        <li><a href="{{ path('recursohumano_movimiento_nomina_licencia_lista') }}">Licencia</a>
                        <li><a href="{{ path('recursohumano_movimiento_nomina_incapacidad_lista') }}">Incapacidad</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Seguridad social <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('recursohumano_movimiento_seguridadsocial_aporte_lista') }}">Aporte</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Seguridad y salud <span class="fa arrow"></span></a>
                    <ul>
                        {#<li><a href="{{ path('recursohumano_movimiento_examen_examen_lista') }}">Examen</a>#}
                        {#</li>#}
                    </ul>
                </li>
                <li>
                    <a href="{{ path('recursohumano_movimiento_dotacion_dotacion_lista') }}">Dotacion <span
                                class="fa arrow"></span></a>
                </li>
                <li>
                    <a href="#">Financiero <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('recursohumano_movimiento_financiero_cierre_lista') }}">Cierre mes</a></li>
                        <li><a href="{{ path('recursohumano_movimiento_financiero_cierreanio_lista') }}">Cierre año</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-bars fa-fw"></i>
                <span class="menu-item-parent">Administración</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="#">Recurso <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('recursohumano_administracion_recurso_empleado_lista') }}">Empleado</a>
                        </li>
                        <li><a href="{{ path('recursohumano_administracion_recurso_contrato_lista') }}">Contrato</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Comercial <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('recursohumano_administracion_comercial_cliente_lista') }}">Cliente</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Nomina <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('recursohumano_administracion_nomina_contratoTipo_lista') }}">Contrato
                                tipo</a></li>
                        <li>
                            <a href="{{ path('recursohumano_administracion_nomina_novedadTipo_lista') }}">Novedad
                                tipo</a></li>
                        <li>
                            <a href="{{ path('recursohumano_administracion_nomina_pagotipo_lista') }}">Pago tipo</a>
                        <li>
                            <a href="{{ path('recursohumano_administracion_nomina_creditoTipo_lista') }}">Credito
                                tipo</a></li>
                        <li>
                            <a href="{{ path('recursohumano_administracion_nomina_embargotipo_lista') }}">Embargo
                                tipo</a></li>
                        <li>
                            <a href="{{ path('recursohumano_administracion_nomina_concepto_lista') }}">Concepto</a>
                        </li>
                        <li>
                            <a href="{{ path('recursohumano_administracion_nomina_vacaciontipo_lista') }}">Vacacion
                                tipo</a>
                        </li>
                        <li>
                            <a href="{{ path('recursohumano_administracion_nomina_embargojuzgado_lista') }}">Juzgado</a>
                        </li>
                        <li><a href="{{ path('recursohumano_administracion_nomina_salud_lista') }}">Salud</a>
                        </li>
                        <li><a href="{{ path('recursohumano_administracion_nomina_pension_lista') }}">Pension</a>
                        </li>
                        <li><a href="{{ path('recursohumano_administracion_nomina_tiempo_lista') }}">Tiempo</a>
                        </li>
                        <li>
                            <a href="{{ path('recursohumano_administracion_nomina_licenciaTipo_lista') }}">Licencia
                                tipo</a></li>
                        <li><a href="{{ path('recursohumano_administracion_nomina_liquidaciontipo_lista') }}">Liquidación
                                tipo</a></li>

                    </ul>
                </li>
                <li>
                    <a href="#">Costo <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('recursohumano_administracion_costo_clase_lista',{'modulo':'recursoHumano','entidad':'costoClase'}) }}">Costo clase</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">General <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('recursohumano_administracion_general_grupo_lista') }}">Grupo</a></li>
                        <li><a href="{{ path('recursohumano_administracion_general_cargo_lista') }}">Cargo</a>
                        </li>
                        <li><a href="{{ path('administracion_lista',{'modulo':'recursoHumano','entidad':'estudioTipo'}) }}">Estudio tipo</a>
                    </ul>
                </li>
                <li>
                    <a href="#">Seleccion <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('recursohumano_administracion_seleccion_solicitudmotivo_lista') }}">Solicitud
                                motivo</a></li>
                        <li>
                            <a href="{{ path('recursohumano_administracion_seleccion_solicitudadexperiencia_lista') }}">Solicitud
                                experiencia</a></li>
                        <li>
                            <a href="{{ path('recursohumano_administracion_seleccion_selecciontipo_lista') }}">Seleccion
                                tipo</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Seguridad social <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('recursohumano_administracion_seguridadsocial_clasificacion_lista') }}">Clasificacion
                                del riesgo</a></li>
                        <li>
                            <a href="{{ path('recursohumano_administracion_seguridadsocial_sucursal_lista') }}">Sucursal</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Contratación <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('recursohumano_administracion_contratacion_requisitocargo_lista') }}">Requisito
                                Cargo</a>
                        </li>
                        <li>
                            <a href="{{ path('recursohumano_administracion_contratacion_requisitostipo_lista') }}">Tipo
                                requisito</a>
                        </li>
                        <li>
                            <a href="{{ path('recursohumano_administracion_contratacion_requisitoconcepto_lista') }}">Concepto
                                requisito</a>
                        </li>
                        <li>
                            <a href="{{ path('recursohumano_administracion_contratacion_requisitocargo_lista') }}">Requisito
                                por cargo</a>
                        </li>
                        <li>
                        <li><a href="{{ path('administracion_lista',{'modulo':'recursoHumano','entidad':'examenTipo'}) }}">Examen tipo</a>
                        <li><a href="{{ path('administracion_lista',{'modulo':'recursoHumano','entidad':'examenItem'}) }}">Examen item</a>
                    </ul>
                </li>
                <li>
                    <a href="#">Dotación <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('recursohumano_administracion_dotacion_dotacionelemento_lista') }}">Elementos</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-wrench"></i>
                <span class="menu-item-parent">Utilidad</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="#">Programacion <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('recursohumano_utilidad_pago_formatopagomasivo_lista') }}">Imprimir pago
                                masivo</a>
                        <li>
                        <li><a href="{{ path('recursohumano_utilidad_intercambio_programacion') }}">Intercambio de
                                datos</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Embargo <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('recursohumano_utilidad_embargo_bancoAgrario_lista') }}">Banco Agrario</a>
                        <li>
                    </ul>
                </li>
                <li>
                    <a href="#">Cerficados <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('recursohumano_utilidad__certificadoIngreso_lista') }}">Ingreso y
                                retencion</a>
                        <li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-retweet fa-fw"></i>
                <span class="menu-item-parent">Proceso</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="#">Pago <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('recursohumano_proceso_pago_regeneraribp') }}">Regenerar IBP</a></li>
                        <li><a href="{{ path('recursohumano_proceso_pago_regenerarprovision') }}">Regenerar
                                provision</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Credito <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('recursohumano_proceso_credito_regenerar') }}">Regenerar</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-clipboard"></i>
                <span class="menu-item-parent">Informe</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="#">Contrato <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('recursohumano_informe_contrato_fecha_ingreso_lista') }}">Fecha ingreso</a>
                        </li>
                        <li><a href="{{ path('recursohumano_informe_contrato_fecha_terminacion_lista') }}">Fecha terminación</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Nomina <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('recursohumano_informe_nomina_pago_lista') }}">Pago</a></li>
                        <li><a href="{{ path('recursohumano_informe_nomina_pagodetalle_lista') }}">Pago detalle</a></li>
                        <li><a href="{{ path('recursohumano_informe_nomina_credito_pago') }}">Credito pago</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Vacacion <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('recursohumano_informe_vacacion_pendiente_lista') }}">Pendiente</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Seguridad social <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('recursohumano_informe_seguridadsocial_aporte_lista') }}">Aportes</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-cogs"></i>
                <span class="menu-item-parent">Configuracion</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="{{ path('recursohumano_administracion_configuracion_configuracion_lista', {'id': 1}) }}">Configuracion</a>
                <li>
                <li>
                    <a href="{{ path('recursohumano_administracion_configuracion_configuracionprovision_lista') }}">Configuracion
                        provision</a>
                <li>
            </ul>
        </li>
    </ul>
</nav>