{% include('base_menu_inicio.html.twig') %}
<nav>
    <ul>
        <li>
            <a href="#"><i class="fa fa-book fa-fw"></i>
                <span class="menu-item-parent">Movimiento</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="#">Contabilidad <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('financiero_movimiento_contabilidad_asiento_lista') }}">Asiento</a>
                        </li>
                        <li>
                            <a href="{{ path('financiero_movimiento_contabilidad_registro_lista') }}">Registro</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-bars fa-fw"></i>
                <span class="menu-item-parent">Administración</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="{{ path('financiero_administracion_tercero_lista') }}">Tercero </a>
                </li>
                <li>
                    <a href="{{ path('financiero_administracion_contabilidad_cuenta_lista') }}">Cuenta</a>
                </li>
                <li>
                    <a href="{{ path('administracion_lista',{'modulo':'financiero','entidad':'comprobante'}) }}">Comprobante </a>
                </li>
                <li>
                    <a href="{{ path('financiero_administracion_centrocosto_lista') }}">Centro de costo </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-wrench"></i>
                <span class="menu-item-parent">Utilidad</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="#">Contabilidad <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="#">Intercambio de datos <span class="fa arrow"></span></a>
                            <ul>
                                <li>
                                    <a href="{{ path('financiero_utilidad_contabilidad_intercambio_registro') }}">Registro</a>
                                    <a href="{{ path('financiero_utilidad_contabilidad_intercambio_tercero') }}">Tercero</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Registros <span class="fa arrow"></span></a>
                            <ul>
                                <li>
                                    <a href="{{ path('financiero_utilidad_contabilidad_registro_inconsistenciaDocumento') }}">Inconsistencia documento</a>
                                </li>
                                <li>
                                    <a href="{{ path('financiero_utilidad_contabilidad_registro_verificarconsecutivo') }}">Verificar consecutivo</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-clipboard"></i>
                <span class="menu-item-parent">Informe</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="#">Contabilidad <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('financiero_informe_contabilidad_registro_lista') }}">Registro</a>
                        <li><a href="{{ path('financiero_informe_contabilidad_auxiliar_lista') }}">Auxiliar</a>
                        <li><a href="{{ path('financiero_informe_contabilidad_balanceprueba_lista') }}">Balance prueba</a>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</nav>
