{% include('base_menu_inicio.html.twig') %}
<nav>
    <ul>
        <li>
            <a href="#"><i class="fa fa-cubes fa-fw"></i> Movimiento<span class="fa arrow"></span></a>
            <ul>
                <li>
                    <a href="#">Contabilidad <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('financiero_movimiento_contabilidad_asiento_lista') }}">Asiento</a>
                        </li>
                        <li>
                            <a href="{{ path('financiero_movimiento_contabilidad_registro_lista') }}">Registro</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-bars fa-fw"></i> Administración<span class="fa arrow"></span></a>
            <ul>
                <li><a href="#">Tercero</a></li>
            </ul>
            <ul>
                <li>
                    <a href="{{ path('administracion_lista',{'modulo':'financiero','entidad':'cuenta'}) }}">Cuenta </a>
                </li>
                <li>
                    <a href="{{ path('administracion_lista',{'modulo':'financiero','entidad':'comprobante'}) }}">Comprobante </a>
                </li>
                <li>
                    <a href="{{ path('administracion_lista',{'modulo':'financiero','entidad':'centroCosto'}) }}">Centro
                        de costo </a>
                </li>
            </ul>
        </li>
        <li>
            <a href=" #"><i class="fa fa-retweet fa-fw"></i> Utilidad<span class="fa arrow"></span></a>
            <ul>
                <li>
                    <a href="#">Contabilidad <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="#">Intercambio de datos <span class="fa arrow"></span></a>
                            <ul>
                                <li>
                                    <a href="{{ path('financiero_utilidad_contabilidad_intercambio_registro') }}">Registro</a>
                                    <a href="{{ path('financiero_utilidad_contabilidad_intercambio_tercero') }}">Tercero</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-file-text-o fa-fw"></i> Informe<span
                        class="fa arrow"></span></a>
            <ul>
                <li>
                    <a href="#">Contabilidad <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('financiero_informe_contabilidad_registro_lista') }}">Registro</a>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</nav>
