<!DOCTYPE html>
<html>
{{ include('base_cabecera_enlace.html.twig') }}
<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">

    {{ include('base_cabecera_navegacion.html.twig') }}
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                    </div>
                </li>
                <li>
                    <a href="{{ path('inicio') }}"><i class="fa fa-dashboard fa-fw"></i> Inicio</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-cubes fa-fw"></i> Movimiento<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">Contabilidad <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href="{{ path('financiero_movimiento_contabilidad_asiento_lista') }}">Asiento</a>
                                </li>
                                <li>
                                    <a href="{{ path('financiero_movimiento_contabilidad_registro_lista') }}">Registro</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-bars fa-fw"></i> Administración<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="#">Tercero</a></li>
                    </ul>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'financiero','entidad':'cuenta'}) }}">Cuenta </a>
                        </li>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'financiero','entidad':'comprobante'}) }}">Comprobante </a>
                        </li>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'financiero','entidad':'centroCosto'}) }}">Centro de costo </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href=" #"><i class="fa fa-retweet fa-fw"></i> Utilidad<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">Contabilidad <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href="#">Intercambio de datos <span class="fa arrow"></span></a>
                                    <ul class="nav nav-four-level">
                                        <li>
                                            <a href="{{ path('financiero_utilidad_contabilidad_intercambio_registro') }}">Registro</a>
                                            <a href="{{ path('financiero_utilidad_contabilidad_intercambio_tercero') }}">Tercero</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-file-text-o fa-fw"></i> Informe<span
                                class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">Contabilidad <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li><a href="{{ path('financiero_informe_contabilidad_registro_lista') }}">Registro</a>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
        </nav>
    {% block body %}

        <div id="page-wrapper">
            {{ include('base_cuerpo.html.twig') }}
            {% block content %}

            {% endblock %}
        </div>
    {% endblock %}
</div>
{% block javascripts %}
{{ include('base_pie_script.html.twig') }}
{% endblock %}
</body>
</html>
