{% extends 'base.html.twig' %}
{% block body %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                {% set route = app.request.attributes.get('_route') %}
                {% set ruta = route | split('_') %}
                {% set parametros = app.request.attributes.get('_route_params') %}
                <h3 class="page-header">Inventario
                    {% if ruta[2] is defined %}
                        <small style="font-size: 20px">{{ ruta[2] }}</small>
                    {% else %}
                        <small style="font-size: 20px">{{ parametros['entidad'] [3:] |lower }} lista</small>
                    {% endif %}
                    {% if ruta[3] is defined %}
                        <small style="font-size: 20px">{{ ruta[3] }}</small>
                    {% endif %}
                </h3>
            </div>
        </div>
        <div class="content-wrapper">
            <section class="content-header">
                {% for flashMessage in app.session.flashbag.get('informacion') %}
                    <div id="informacion" class="alert alert-info fade in">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <p>{{ flashMessage | raw }}</p>
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div id="error" class="alert alert-danger fade in">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <p>{{ flashMessage | raw }}</p>
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('ok') %}
                    <div id="error" class="alert alert-success fade in">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <p>{{ flashMessage | raw }}</p>
                    </div>
                {% endfor %}
            </section>
        </div>
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}