{% include('base_menu_inicio.html.twig') %}
<nav>
    <ul>
        <li>
            <a href="#"><i class="fa fa-book fa-fw"></i>
                <span class="menu-item-parent">Movimiento</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="#">Comercial <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('turno_movimiento_comercial_cotizacion_lista') }}">Cotizacion</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Juridico <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('turno_movimiento_juridico_contrato_lista') }}">Contrato</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Ventas <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('turno_movimiento_venta_pedido_lista') }}">Pedido</a>
                        </li>
                        <li>
                            <a href="{{ path('turno_movimiento_venta_factura_lista') }}">Factura</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Operacion <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('turno_movimiento_operacion_programacion_lista') }}">Programacion</a>
                        </li>
                        <li>
                            <a href="{{ path('turno_movimiento_operacion_soporte_lista') }}">Soporte</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Financiero <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('turno_movimiento_financiero_cierre_lista') }}">Cierre</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Novedad <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('turno_movimiento_novedad_lista') }}">Novedad</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-bars fa-fw"></i>
                <span class="menu-item-parent">Administración</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="#">Juridico <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('turno_administracion_juridico_contratoTipo_lista') }}">Contrato tipo</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Comercial <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('turno_administracion_comercial_cliente_lista') }}">Cliente</a>
                        </li>
                        <li><a href="{{ path('turno_administracion_comercial_puesto_lista') }}">Puesto</a></li>
                        <li><a href="{{ path('turno_administracion_comercial_cotizacionTipo_lista') }}">Cotizacion
                                tipo</a></li>
                        <li><a href="{{ path('turno_administracion_comercial_pedidotipo_lista') }}">Pedido tipo</a></li>

                    </ul>
                </li>
                <li>
                    <a href="#">Ventas <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('turno_administracion_venta_item_lista') }}">Item</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Operacion<span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('turno_administracion_operacion_turno_lista') }}">Turno</a></li>
                        <li><a href="{{ path('turno_administracion_operacion_secuencia_lista') }}">Secuencia</a></li>
                        <li><a href="{{ path('turno_administracion_concepto_concepto_lista') }}">Concepto deservicio</a>
                        </li>
                        <li><a href="{{ path('turno_administracion_operacion_salario_lista') }}">Salario</a></li>
                        <li><a href="{{ path('turno_administracion_operacion_supervisor_lista') }}">Supervisor</a></li>
                        <li><a href="{{ path('turno_administracion_operacion_coordinador_lista') }}">Coordinador</a></li>
                        <li><a href="{{ path('turno_administracion_operacion_operacion_lista') }}">Operacion</a></li>
                        <li><a href="{{ path('turno_administracion_operacion_zona_lista') }}">Zona</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Novedad<span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('administracion_lista',{'modulo':'turno','entidad':'novedadTipo'}) }}">Tipo novedad</a></li>

                    </ul>
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
        <li {% if arrRuta.1 == 'proceso' %}class="open" {% endif %}>
        <li>
            <a href="#"><i class="fa fa-retweet fa-fw"></i>
                <span class="menu-item-parent">Proceso</span>
                <span class="fa arrow"></span>
            </a>
            <ul {% if arrRuta.1 == 'proceso' %}style="display: block;"{% endif %} >
                <li>
                    <a href="#">Ventas <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('turno_proceso_venta_generarpedido') }}">Generar pedido</a></li>
                        <li><a href="{{ path('turno_proceso_venta_corregirsaldopedido_lista') }}">Regenerar saldo
                                pedido</a></li>
                    </ul>
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
        <li {% if arrRuta.1 == 'utilidad' %}class="open" {% endif %}>
            <a href="#"><i class="fa fa-wrench"></i>
                <span class="menu-item-parent">Utilidad</span>
                <span class="fa arrow"></span>
            </a>
            <ul {% if arrRuta.1 == 'utilidad' %}style="display: block;"{% endif %}>
                <li>
                    <a href="#">Operacion <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('turno_utilidad_operacion_prototipo') }}">Prototipo</a></li>
                        <li><a href="{{ path('turno_utilidad_operacion_programacion') }}">Programacion</a></li>
                        <li><a href="{{ path('turno_utilidad_operacion_analizar_inconsistencias') }}"> Analizar
                                inconsistencias</a></li>
                        <li>
                            <a href="#">Importar <span class="fa arrow"></span></a>
                            <ul>
                                <li><a href="{{ path('turno_utilidad_importar_licencias') }}">Licencias</a></li>
                                <li><a href="{{ path('turno_utilidad_importar_incapacidades') }}">Incapacidades</a></li>
                                <li><a href="{{ path('turno_utilidad_importar_vacaciones') }}">Vacaciones</a></li>
                            </ul>
                        </li>
                    </ul>

                </li>
                <li>
                    <a href="#">Adicional <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('turno_utilidad_operacion_adicional_adicional') }}">Adicional puesto</a>
                        </li>


                    </ul>

                </li>

            </ul>
        </li>
        <li {% if arrRuta.1 == 'tablero' %}class="open" {% endif %}>
            <a href="#"><i class="fa fa-bar-chart"></i>
                <span class="menu-item-parent">Tablero</span>
                <span class="fa arrow"></span>
            </a>
            <ul {% if arrRuta.1 == 'tablero' %}style="display: block;"{% endif %}>
                <li>
                    <a href="#">Gerente <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('turno_tablero_gerente_comercial') }}">Comercial</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-clipboard"></i>
                <span class="menu-item-parent">Informe</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="#">Ventas <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="#">Pedido <span class="fa arrow"></span></a>
                            <ul>
                                <li><a href="{{ path('turno_informe_comercial_pedido_lista') }}">Pedido</a></li>
                                <li><a href="{{ path('turno_informe_comercial_pedidoDetalle_lista') }}">Pedido
                                        detalle</a></li>
                                <li><a href="{{ path('turno_informe_comercial_pedidoSinAprobar_lista') }}">Pedido sin
                                        aprobar</a></li>
                                <li><a href="{{ path('turno_informe_comercial_pedienteFacturar_lista') }}">Pendiente por
                                        facturar</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Factura <span class="fa arrow"></span></a>
                            <ul>
                                <li><a href="{{ path('turno_informe_comercial_factura_lista') }}">Factura</a></li>
                                <li><a href="{{ path('turno_informe_comercial_facturaDetalle_lista') }}">Factura
                                        detalle</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Juridico <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('turno_informe_juridico_contrato_lista') }}">Contrato</a></li>
                        <li><a href="{{ path('turno_informe_juridico_contratodetalle_lista') }}">Contrato detalle</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Operacion <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('turno_informe_operacion_programacion_lista') }}">Programacion</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Financiero <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('turno_informe_financiero_costo_empleado_lista') }}">Costo empleado</a>
                        </li>
                        <li><a href="{{ path('turno_informe_financiero_costo_servicio_lista') }}">Costo servicio</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-cogs"></i>
                <span class="menu-item-parent">Configuracion</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="{{ path('turno_administracion_configuracion_configuracion_nuevo', {'codigoConfiguracion': 1}) }}">Configuracion</a>
                <li>
            </ul>
        </li>
    </ul>
</nav>