{% include('base_menu_inicio.html.twig') %}
<nav>
    <ul>
        <li>
            <a href="#"><i class="fa fa-bars fa-fw"></i>
                <span class="menu-item-parent">Administración</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="#">General <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('administracion_lista',{'modulo':'general','entidad':'asesor'}) }}">Asesor</a></li>
                        <li><a href="{{ path('administracion_lista',{'modulo':'general','entidad':'sexo'}) }}">Sexo</a></li>
                        <li><a href="{{ path('administracion_lista',{'modulo':'general','entidad':'cuenta'}) }}">Cuenta</a></li>
                        <li><a href="{{ path('administracion_lista',{'modulo':'general','entidad':'banco'}) }}">Banco</a></li>
                        <li><a href="{{ path('administracion_lista',{'modulo':'general','entidad':'religion'}) }}">Religion</a></li>
                        <li><a href="{{ path('administracion_lista',{'modulo':'general','entidad':'estadoCivil'}) }}">Estado civil</a></li>
                        <li><a href="{{ path('administracion_lista',{'modulo':'general','entidad':'ciudad'}) }}">Ciudad</a></li>
                        <li><a href="{{ path('administracion_lista',{'modulo':'general','entidad':'departamento'}) }}">Departamento</a></li>
                        <li><a href="{{ path('administracion_lista',{'modulo':'general','entidad':'pais'}) }}">País</a></li>
                        <li><a href="{{ path('administracion_lista',{'modulo':'general','entidad':'estudioTipo'}) }}">Estudio tipo</a></li>
                        <li><a href="{{ path('administracion_lista',{'modulo':'general','entidad':'impuesto'}) }}">Impuesto</a></li>
                        <li><a href="{{ path('general_administracion_configuracion_imagenes') }}">Imagenes</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Tarea <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('general_administracion_tarea_tarea_lista') }}">Lista</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Calidad <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('general_administracion_calidad_formato_lista') }}">Formato</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Notificacion <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('general_administracion_notificacion__todasNotificaciones') }}">Notificacion</a>
                        </li>
                        <li><a href="{{ path('general_administracion_notificacion_tipo_lista') }}">Notificacion tipo</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Seguridad <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('general_seguridad_usuario_lista') }}">Usuario</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-clipboard"></i>
                <span class="menu-item-parent">Informe</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="#">Log <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('general_informe_log_lista') }}">General</a></li>
                    </ul>
                    <!-- /.nav-third-level -->
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
        <li>
            <a href="#"><i class="fa fa-cogs"></i>
                <span class="menu-item-parent">Configuracion</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="{{ path('general_administracion_configuracion_configuracion_lista', {'id': 1}) }}">Configuracion</a>
                <li>
                <li>
                    <a href="{{ path('general_seguridad_usuario_nuevo_clave', {'hash' : encriptar(app.user.username)}) }}">Cambiar contraseña</a>
                <li>
            </ul>
        </li>
    </ul>
</nav>