{% include('base_menu_inicio.html.twig') %}
<nav>
    <ul>
        <li>
            <a href="#"><i class="fa fa-cubes fa-fw"></i>
                <span class="menu-item-parent">Movimiento</span>
                <b class="collapse-sign">
                    <em class="fa fa-plus-square-o"></em>
                </b>
            </a>
            <ul>
                <li>
                    <a href="#">Compra <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('compra_movimiento_compra_compra_lista') }}">Compra</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Pago <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('compra_movimiento_egreso_egreso_lista') }}">Egreso</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Cuentas por Pagar <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('compra_movimiento_cuentapagar_cuentapagar_lista') }}">Cuentas por pagar</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-bars fa-fw"></i>
                <span class="menu-item-parent">Administración</span>
                <b class="collapse-sign">
                    <em class="fa fa-plus-square-o"></em>
                </b>
            </a>
            <ul>
                <li>
                    <a href="#">General <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('administracion_lista',{'modulo':'compra','entidad':'compraTipo'}) }}">Compra
                                tipo</a></li>
                        <li><a href="{{ path('administracion_lista',{'modulo':'compra','entidad':'conceptoTipo'}) }}">Concepto
                                tipo</a></li>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'compra','entidad':'concepto'}) }}">Concepto</a>
                        </li>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'compra','entidad':'cuentaPagarTipo'}) }}">Cuenta
                                pagar tipo</a></li>
                        <li><a href="{{ path('administracion_lista',{'modulo':'compra','entidad':'egresoTipo'}) }}">Egreso
                                tipo</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Proveedor <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('compra_administracion_proveedor_proveedor_lista') }}">Proveedor</a>
                        </li>
                    </ul>

                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-retweet fa-fw"></i>
                <span class="menu-item-parent">Proceso</span>
                <b class="collapse-sign">
                    <em class="fa fa-plus-square-o"></em>
                </b>
            </a>
            <ul>
                <li>
                    <a href="#">Contabilidad <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('compra_proceso_contabilidad_egreso_lista') }}">Egreso</a>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-clipboard"></i>
                <span class="menu-item-parent">Informe</span>
                <b class="collapse-sign">
                    <em class="fa fa-plus-square-o"></em>
                </b>
            </a>
            <ul>
                <li>
                    <a href="#">Cuentas por Pagar <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('compra_informe_cuenta_pagar_pendiente') }}">Cuentas por pagar</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Egresos<span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('compra_informe_egreso_egreso_lista') }}">Egresos</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</nav>