<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Cromo{% endblock %}</title>
    {% block stylesheets %}
        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/metisMenu/metisMenu.min.css') }}">
        <link rel="stylesheet" href="{{ asset('dist/css/sb-admin-2.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/morrisjs/morris.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/general.css') }}">
    {% endblock %}
</head>
<body>
    <div id="wrapper">
    {% block body %}
        <div id="page-wrapper" style="margin: 0 0 0 0px; padding: 0 10px;">
        {% block content %}

        {% endblock %}
        </div>
    {% endblock %}
    </div>
{% block javascripts %}
    <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('vendor/metisMenu/metisMenu.min.js') }}"></script>
    <script src="{{ asset('vendor/raphael/raphael.min.js') }}"></script>
    <script src="{{ asset('vendor/morrisjs/morris.min.js') }}"></script>
    <script src="{{ asset('data/morris-data.js') }}"></script>
    <script src="{{ asset('dist/js/sb-admin-2.js') }}"></script>
    <script src="{{ asset('js/general.js') }}"></script>
{% endblock %}
</body>
</html>
