{% include('base_menu_inicio.html.twig') %}
<nav>
    <ul>
        <li>
            <a href="#"><i class="fa fa-book fa-fw"></i>
                <span class="menu-item-parent">Movimiento</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="#">Extranjero <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('inventario_movimiento_extranjero_importacion_lista') }}">Importacion</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Inventario <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('inventario_movimiento_inventario_movimiento_documentos_lista',{'tipoDocumento':'ENT'}) }}">Entrada</a>
                        </li>
                        <li>
                            <a href="{{ path('inventario_movimiento_inventario_movimiento_documentos_lista',{'tipoDocumento':'COM'}) }}">Compra</a>
                        </li>
                        <li>
                            <a href="{{ path('inventario_movimiento_inventario_movimiento_documentos_lista',{'tipoDocumento':'SAL'}) }}">Salida</a>
                        </li>
                        <li>
                            <a href="{{ path('inventario_movimiento_inventario_movimiento_documentos_lista',{'tipoDocumento':'FAC'}) }}">Factura</a>
                        </li>
                        <li>
                            <a href="{{ path('inventario_movimiento_inventario_movimiento_documentos_lista',{'tipoDocumento':'TRA'}) }}">Traslado</a>
                        </li>
                        <li>
                            <a href="{{ path('inventario_movimiento_inventario_costo_lista') }}">Costo</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Compra <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('inventario_movimiento_compra_solicitud_lista') }}">Solicitud</a></li>
                        <li><a href="{{ path('inventario_movimiento_compra_orden_lista') }}">Orden</a></li>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Comercial <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('inventario_movimiento_comercial_cotizacion_lista') }}">Cotización</a></li>
                        <li><a href="{{ path('inventario_movimiento_comercial_pedido_lista') }}">Pedido</a></li>
                        <li><a href="{{ path('inventario_movimiento_comercial_remision_lista') }}">Remision</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Control <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('inventario_movimiento_control_servicio_lista') }}">Servicio</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-bars fa-fw"></i>
                <span class="menu-item-parent">Administración</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="#">General <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('inventario_administracion_general_tercero_lista') }}">
                                Tercero
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('inventario_administracion_general_contacto_lista') }}">
                                Contacto
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('inventario_administracion_general_precio_lista') }}">Precio
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'inventario','entidad':'sucursal'}) }}">Sucursal
                            </a>
                        </li>
                    </ul>
                <li/>
                <li>
                    <a href="#">Extranjero <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo' : 'inventario', 'entidad' : 'importacionTipo'}) }}">
                                Importacion tipo</a>
                        </li>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo' : 'inventario', 'entidad' : 'importacionCostoConcepto'}) }}">
                                Importacion costo concepto</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Inventario <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('inventario_administracion_inventario_item_lista') }}">Item
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo' : 'inventario', 'entidad' : 'linea'}) }}">
                                Linea</a>
                        </li>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo' : 'inventario', 'entidad' : 'grupo'}) }}">
                                Grupo</a>
                        </li>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo' : 'inventario', 'entidad' : 'subgrupo'}) }}">
                                Subgrupo</a>
                        </li>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo' : 'inventario', 'entidad' : 'marca'}) }}">
                                Marca</a>
                        </li>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo' : 'inventario', 'entidad' : 'bodega'}) }}">
                                Bodega</a>
                        </li>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo' : 'inventario', 'entidad' : 'facturaTipo'}) }}">
                                Factura tipo</a>
                        </li>
                        <li>
                            <a href="{{ path('inventario_administracion_inventario_documento_lista') }}">Documento</a>
                        </li>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo' : 'inventario', 'entidad' : 'costoTipo'}) }}">
                                Costo tipo</a>
                        </li>
                        <li>
                            <a href="{{ path('inventario_administracion_inventario_bodegausuario_lista') }}">Bodega
                                usuario</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Compras <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo' : 'inventario','entidad' : 'solicitudTipo'}) }}">
                                Solicitud tipo</a>
                        </li>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo' : 'inventario','entidad':'ordenTipo'}) }}">
                                Orden tipo</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Comercial <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo' : 'inventario','entidad' : 'pedidoTipo'}) }}">Pedido
                                tipo</a>
                        </li>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo' : 'inventario','entidad' : 'remisionTipo'}) }}">Remision
                                tipo</a>
                        </li>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo' : 'inventario','entidad' : 'cotizacionTipo'}) }}">Cotización
                                tipo</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Control <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('inventario_administracion_control_serviciotipo_lista') }}">Servicio
                                tipo</a>
                        </li>
                    </ul>
                </li>
            </ul>

        </li>
        <li>
            <a href="#"><i class="fa fa-retweet fa-fw"></i>
                <span class="menu-item-parent">Proceso</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="#">Inventario <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('inventario_proceso_inventario_regenerar_lista') }}">
                                Regenerar</a>
                        </li>
                        <li>
                            <a href="{{ path('inventario_proceso_inventario_corregirfechavencimientolote_lista') }}">
                                Corregir fecha vencimiento lote</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Contabilidad <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('inventario_proceso_contabilidad_importacion_lista') }}">
                                Importacion</a>
                        </li>
                        <li>
                            <a href="{{ path('inventario_proceso_contabilidad_movimiento_lista') }}">
                                Movimiento</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Venta <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('inventario_proceso_venta_facturaelectronica_lista') }}">Facturacion electronica</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-wrench"></i>
                <span class="menu-item-parent">Utilidad</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="#">Inventario <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="#">Lote <span class="fa arrow"></span></a>
                            <ul>
                                <li>
                                    <a href="{{ path('inventario_utilidad_inventario_lote_corregirfechavencimiento') }}">Corregir
                                        fecha vencimiento</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Factura <span class="fa arrow"></span></a>
                            <ul>
                                <li>
                                    <a href="{{ path('inventario_utilidad_inventario_factura_corregirfactura') }}">Corregir
                                        factura</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{{ path('inventario_utilidad_inventario_reliquidar_lista') }}">Re-liquidar</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-clipboard"></i>
                <span class="menu-item-parent">Informe</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="#">Inventario <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="#">Item <span class="fa arrow"></span></a>
                            <ul>
                                <li><a href="{{ path('inventario_informe_inventario_item_existencia') }}">Existencia</a></li>
                                <li><a href="{{ path('inventario_informe_inventario_item_rotacion') }}">Rotacion</a></li>
                                <li><a href="{{ path('inventario_informe_inventario_item_stockbajo') }}">Stock bajo</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Lote <span class="fa arrow"></span></a>
                            <ul>
                                <li><a href="{{ path('inventario_informe_inventario_lote_existencia') }}">Existencia</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Movimiento <span class="fa arrow"></span></a>
                            <ul>
                                <li><a href="{{ path('inventario_informe_inventario_movimiento_kardex') }}">Kardex</a></li>
                                <li><a href="{{ path('inventario_informe_inventario_movimiento_disponible') }}">Disponible</a></li>
                                <li><a href="{{ path('inventario_informe_inventario_movimiento_detalle') }}">Detalles</a></li>
                                <li>
                                    <a href="{{ path('inventario_informe_inventario_movimiento_inventariovalorizado') }}">Inventario
                                        valorizado</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Remision <span class="fa arrow"></span></a>
                            <ul>
                                <li><a href="{{ path('inventario_informe_inventario_remision_kardex') }}">Kardex</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- /.nav-third-level -->
                </li>
                <li>
                    <a href="#">Comercial <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('inventario_informe_inventario_comercial_precio_detalle') }}">Precio
                                detalle</a></li>
                        <li><a href="{{ path('inventario_informe_inventario_comercial_pedido_pendiente') }}">Pedidos
                                pendientes</a></li>
                        <li><a href="{{ path('inventario_informe_inventario_comercial_remision_pendiente') }}">Remisiones
                                pendientes</a></li>
                        <li><a href="{{ path('inventario_informe_inventario_comercial_remision_detalle') }}">Remisiones
                                detalles</a></li>
                        <li><a href="{{ path('inventario_informe_inventario_comercial_ventas_asesor') }}">Ventas por
                                asesor</a></li>
                        <li>
                            <a href="{{ path('inventario_informe_comercial_cliente_bloqueados') }}">Clientes bloqueados</a>
                        </li>
                    </ul>
                    <!-- /.nav-third-level -->
                </li>
                <li>
                    <a href="#">Compras <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('inventario_informe_inventario_compra_solicitud_pendiente') }}">Solicitud
                                pendiente</a></li>
                        <li><a href="{{ path('inventario_informe_inventario_compra_orden_pendiente') }}">Orden
                                pendientes</a>
                        <li><a href="{{ path('inventario_informe_inventario_compra_orden_detalle') }}">Orden
                                detalles</a>
                    </ul>
                <li>
                    <a href="#">Asesor <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('inventario_informe_inventario_asesor_ventas') }}">Ventas</a>
                        </li>
                        <li><a href="{{ path('inventario_informe_inventario_asesor_ventas_detalle') }}">Ventas detalle</a>
                        </li>
                    </ul>
                    <!-- /.nav-third-level -->
                </li>
                <!-- /.nav-third-level -->
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
        <li>
            <a href="#"><i class="fa fa-cogs"></i>
                <span class="menu-item-parent">Configuracion</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="{{ path('inventario_administracion_configuracion_configuracion_lista') }}">Configuracion</a>
                <li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
    </ul>
    </div>
    <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>