<head>
    <meta charset="UTF-8">
    <title>{% block title %}Cromo{% endblock %}</title>
    {% block stylesheets %}
        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/metisMenu/metisMenu.min.css') }}">
        <link rel="stylesheet" href="{{ asset('dist/css/sb-admin-2.css') }}">
        {#<link rel="stylesheet" href="{{ asset('vendor/morrisjs/morris.css') }}">#}
        <link rel="stylesheet" href="{{ asset('vendor/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('plugins/select2/css/select2.css') }}">
        <link rel="stylesheet" href="{{ asset('css/general.css') }}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
        <style type="text/css">
            td.titulo {
                font-weight: bold;
                background-color: #f5f5f5;
            }
        </style>
    {% endblock %}

</head>
