{% include('base_menu_inicio.html.twig') %}
<nav>
    <ul>
                <li>
                    <a href="#"><i class="fa fa-book fa-fw"></i>
                        <span class="menu-item-parent">Movimiento</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul>
                        <li>
                            <a href="#">Pagar <span class="fa arrow"></span></a>
                            <ul>
                                <li><a href="{{ path('tesoreria_movimiento_cuentapagar_cuentapagar_lista') }}">Cuentas por pagar</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Compra <span class="fa arrow"></span></a>
                            <ul>
                                <li><a href="{{ path('tesoreria_movimiento_compra_compra_lista') }}">Compra</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Egreso <span class="fa arrow"></span></a>
                            <ul>
                                <li><a href="{{ path('tesoreria_movimiento_egreso_egreso_lista') }}">Egreso</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Movimiento <span class="fa arrow"></span></a>
                            <ul>
                                <li><a href="{{ path('tesoreria_movimiento_movimiento_movimiento_lista') }}">Movimiento</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
        <li>
            <a href="#"><i class="fa fa-bars fa-fw"></i>
                <span class="menu-item-parent">Administración</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="#">General <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('administracion_lista',{'modulo':'tesoreria','entidad':'tercero'}) }}">Tercero</a></li>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'tesoreria','entidad':'egresoTipo'}) }}">Tipo egreso</a></li>
                        <li>
                    </ul>
                </li>
                <li>
                    <a href="#">Cuenta pagar<span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'tesoreria','entidad':'cuentaPagarTipo'}) }}">Tipo cuenta pagar</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-clipboard"></i>
                <span class="menu-item-parent">Informe</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="#">Cuenta pagar <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('tesoreria_informe_cuentapagar_cuentapagar_pendiente') }}">Pendientes</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</nav>