<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Cromo{% endblock %}</title>
    {% block stylesheets %}
        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="{{ asset('build/vendor/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('build/vendor/metisMenu/metisMenu.min.css') }}">
        <link rel="stylesheet" href="{{ asset('build/dist/css/sb-admin-2.css') }}">
        <link rel="stylesheet" href="{{ asset('build/vendor/morrisjs/morris.css') }}">
        <link rel="stylesheet" href="{{ asset('build/vendor/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/general.css') }}">
    {% endblock %}
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('inicio') }}">Cromo v2.0</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="{{ path('tab_recogida') }}">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> Recogidas
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{{ path('tab_guia') }}">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> Guias
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> Perfil</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Configuracion</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Salir</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="{{ path('inicio') }}"><i class="fa fa-dashboard fa-fw"></i> Inicio</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-cubes fa-fw"></i> Movimiento<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Recogida <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li><a href="{{ path('mto_recogida_recogida_lista') }}">Recogida</a></li>
                                        <li><a href="{{ path('mto_recogida_despacho_lista') }}">Despacho</a></li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                                <li>
                                    <a href="#">Transporte <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li><a href="{{ path('mto_transporte_guia_lista') }}">Guia</a></li>
                                        <li><a href="{{ path('mto_transporte_despacho_lista') }}">Despacho</a></li>
                                        <li><a href="{{ path('mto_transporte_cumplido_lista') }}">Cumplido</a></li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                                <li>
                                    <a href="#">Monitoreo <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li><a href="{{ path('mon_monitoreo_monitoreo_lista') }}">Monitoreo</a></li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-cubes fa-fw"></i> Proceso<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Transporte <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li><a href="{{ path('mto_transporte_guia_entrega') }}">Entrega guia</a></li>
                                        <li><a href="{{ path('mto_transporte_guia_soporte') }}">Soporte guia</a></li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-file-text-o fa-fw"></i> Informe<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Transporte <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li><a href="{{ path('inf_transporte_guia_pendiente_despacho_ruta') }}">Despacho pendiente (ruta)</a></li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
    {% block body %}
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    {% set route = app.request.attributes.get('_route') %}
                    {% set parametros = app.request.attributes.get('_route_params') %}
                    <h3 class="page-header">{{ route }}</h3>
                </div>
                <!-- /.col-lg-12 -->
            </div>
        {% block content %}

        {% endblock %}
        </div>
    {% endblock %}
    </div>
{% block javascripts %}
    <script src="{{ asset('build/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('build/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('build/vendor/metisMenu/metisMenu.min.js') }}"></script>
    <script src="{{ asset('build/vendor/raphael/raphael.min.js') }}"></script>
    <script src="{{ asset('build/vendor/morrisjs/morris.min.js') }}"></script>
    <script src="{{ asset('build/data/morris-data.js') }}"></script>
    <script src="{{ asset('build/dist/js/sb-admin-2.js') }}"></script>
    <script src="{{ asset('build/js/general.js') }}"></script>
{% endblock %}
</body>
</html>
