
        {% set arrRuta = app.request.attributes.get('_route')|split('_') %}

        {% if arrRuta | length > 0 and arrRuta.0 is defined and arrRuta.0 != 'admin' %}
            <div class="row">
                <div class="col-lg-12">
                    <h3 class='page-header'>
                        {{ arrRuta.0 | capitalize }} {% if arrRuta.1 is defined %}{{ arrRuta.1 | capitalize }} {% endif %}

                        {% if arrRuta.2 is defined %}
                        <small style="font-size: 20px">{{ arrRuta.2 | capitalize }}

                            : {% if arrRuta.3 is defined %}{{ arrRuta.3 }} {% if arrRuta.4 is defined %}{{ arrRuta.4 }}{% endif %}{% endif %}</small>
                        {% endif %}
                    </h3>
                </div>
                <!-- /.col-lg-12 -->
            </div>
        {% endif %}
        {{ notificar()|raw }}
        <br>


