{% include('base_menu_inicio.html.twig') %}
<nav>
    <ul>
        <li>
            <a href="#"><i class="fa fa-book fa-fw"></i>
                <span class="menu-item-parent">Movimiento</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="#">Control <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('crm_movimiento_control_visita_lista') }}">Visita</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Comercial<span class="fa arrow"></span></a>
                    <ul>
                        <li><a href=" {{ path('crm_movimiento_comercial_negocio_lista')}}">Negocio
                            </a></li>
                    </ul>
                </li>
            </ul>

        </li>
        <li>
            <a href="#"><i class="fa fa-bars fa-fw"></i>
                <span class="menu-item-parent">Administración</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="#">Control <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('crm_administracion_control_visitatipo_lista')}}">Visita tipo
                                </a></li>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'crm','entidad':'visitaMotivo'}) }}">Visita motivo</a>
                        </li>
                        <li>
                            <a href="{{ path('crm_administracion_control_cliente_lista') }}">Cliente</a>
                        </li>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'crm','entidad':'contacto'}) }}">Contacto</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Fase<span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('crm_administracion_fase_fase_lista') }}">Fase</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</nav>