<nav>
    <ul>
        <li class="top-menu-invisible">
            <a href="#"><i class="fa fa-lg fa-fw fa-cubes txt-color-blue"></i> <span class="menu-item-parent">
                    Aplicaciones</span><b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b></a>
            <ul>
                <li class="">
                    <a href="{{ path('inicio') }}"><i class="fa fa-dashboard fa-fw"></i> Inicio</a>
                </li>
                <li>
                    <a href="{{ path('transporte_general_general_inicio_ver') }}"><i class="fa fa-road"></i> Transporte</a>
                </li>
                <li>
                    <a href="{{ path('recursohumano_general_general_inicio_ver') }}"><i class="fa fa-users"></i> Recurso
                        humano</a>
                </li>
                <li>
                    <a href="{{ path('turno_general_general_inicio_ver') }}"><i class="fa fa-calendar"></i> Turno</a>
                </li>
                <li>
                    <a href="{{ path('cartera_general_general_inicio_ver') }}"><i class="fa fa-credit-card-alt"></i>
                        Cartera</a>
                </li>
                <li>
                    <a href="{{ path('compra_general_general_inicio_ver') }}"><i class="fa fa-shopping-bag"></i> Compra</a>
                </li>
                <li>
                    <a href="{{ path('inventario_general_general_inicio_ver') }}"><i class="fa fa-cube fa-fw"></i>
                        Inventario</a>
                </li>
                <li>
                    <a href="{{ path('financiero_general_general_inicio_ver') }}"><i class="fa fa-calculator fa-fw"></i> Financiero</a>
                </li>
                <li>
                    <a href="{{ path('documental_general_general_inicio_ver') }}"><i class="fa fa-file fa-fw"></i> Documental</a>
                </li>
                <li>
                    <a href="{{ path('general_general_inicio') }}"><i class="fa fa-support fa-fw"></i> General</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>


{#<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">#}
    {#{{ include('base_cabecera_navegacion.html.twig') }}#}
    {#<!-- /.navbar-top-links -->#}

    {#<div class="navbar-default sidebar" role="navigation">#}
        {#<div class="sidebar-nav navbar-collapse">#}
            {#<ul class="nav" id="side-menu">#}
                {#<li class="sidebar-search">#}
                    {#<div class="input-group custom-search-form">#}
                        {#<input type="text" class="form-control" placeholder="Search...">#}
                        {#<span class="input-group-btn">#}
                                {#<button class="btn btn-default" type="button">#}
                                    {#<i class="fa fa-search"></i>#}
                                {#</button>#}
                            {#</span>#}
                    {#</div>#}
                    {#<!-- /input-group -->#}
                {#</li>#}
                {#<li>#}
                    {#<a href="{{ path('inicio') }}"><i class="fa fa-dashboard fa-fw"></i> Inicio</a>#}
                {#</li>#}
                {#<li>#}
                    {#<a href="{{ path('transporte_general_general_inicio_ver') }}"><i class="fa fa-road"></i> Transporte</a>#}
                {#</li>#}
                {#<li>#}
                    {#<a href="{{ path('recursohumano_general_general_inicio_ver') }}"><i class="fa fa-users"></i> Recurso humano</a>#}
                {#</li>#}
                {#<li>#}
                    {#<a href="{{ path('turno_general_general_inicio_ver') }}"><i class="fa fa-calendar"></i> Turno</a>#}
                {#</li>#}
                {#<li>#}
                    {#<a href="{{ path('cartera_general_general_inicio_ver') }}"><i class="fa fa-credit-card-alt"></i> Cartera</a>#}
                {#</li>#}
                {#<li>#}
                    {#<a href="{{ path('compra_general_general_inicio_ver') }}"><i class="fa fa-shopping-bag"></i> Compra</a>#}
                {#</li>#}
                {#<li>#}
                    {#<a href="{{ path('inventario_general_general_inicio_ver') }}"><i class="fa fa-cube fa-fw"></i> Inventario</a>#}
                {#</li>#}
                {#<li>#}
                    {#<a href="{{ path('financiero_general_general_inicio_ver') }}"><i class="fa fa-calculator fa-fw"></i>Financiero</a>#}
                {#</li>#}
                {#<li>#}
                    {#<a href="{{ path('documental_general_general_inicio_ver') }}"><i class="fa fa-file fa-fw"></i>Documental</a>#}
                {#</li>#}
                {#<li>#}
                    {#<a href="{{ path('general_general_inicio') }}"><i class="fa fa-support fa-fw"></i>General</a>#}
                {#</li>#}
            {#</ul>#}
        {#</div>#}
        {#<!-- /.sidebar-collapse -->#}
    {#</div>#}
    {#<!-- /.navbar-static-side -->#}
{#</nav>#}