    <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('vendor/metisMenu/metisMenu.min.js') }}"></script>
    <script src="{{ asset('vendor/raphael/raphael.min.js') }}"></script>
    <script src="{{ asset('vendor/morrisjs/morris.min.js') }}"></script>
    {#<script src="{{ asset('../assets/data/morris-data.js') }}"></script>#}
    <script src="{{ asset('dist/js/sb-admin-2.js') }}"></script>
    <script src="{{ asset('plugins/select2/js/i18n/es.js') }}"></script>
    <script src="{{ asset('plugins/select2/js/select2.full.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="{{ asset('vendor/moment/moment.min.js') }}"></script>
    <script src="{{ asset('js/general.js') }}"></script>
    <script>
        $(document).ready(function() {
            var selector = $('.notificacionPendiente');
            var notificaciones = $('.notificaciones');
            $.ajax({
                url: "{{ path('general_administracion_notificacion_notificacion') }}",
                type: "GET",
                dataType: "JSON",
                success: function (respuestas) {
                    if(respuestas['notificacionesPendientes'] && respuestas['notificacionesPendientes']>0){
                        selector.html("");
                        notificaciones.html("");
                        selector.append('<i class="fa fa-bell fa-fw"></i><span class="badge badge-notify" style="margin-top:-22px;margin-left:-24px">'+" "+respuestas['notificacionesPendientes']+'</span> <i class="fa fa-caret-down"></i>');
                        $.each(respuestas['notificaciones'],(key,notificacion)=>{
                            if(key<7){
                                notificaciones.append('<li><a href="#"><div><i class="fa fa-comment fa-fw"></i><span style="font-size:13px ">'+notificacion['nombre']+'</span><span class="pull-right text-muted small">'+moment(notificacion['fecha'], "YYYYMMDDhms").fromNow()+'</span></div></a></li><li class="divider"></li>');
                            }
                        });
                    notificaciones.append('<li><a class="text-center" href="{{ path('general_administracion_notificacion__todasNotificaciones') }}"><strong>Ver todas </strong><i class="fa fa-angle-right"></i></a></li>');
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });


        function verNotificacionesPendientes() {
            var selector = $('.notificacionPendiente');
            // var notificaciones=$('.notificaciones');
            $.ajax({
                url: "{{ path('general_administracion_notificacion_ver') }}",
                type: "GET",
                dataType: "JSON",
                success: function (respuestas) {
                    selector.html('');
                    selector.append('<i class="fa fa-bell fa-fw"></i><i class="fa fa-caret-down"></i>');
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
    </script>