<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Cromo!{% endblock %}</title>
    {% block stylesheets %}
        <!-- Bootstrap Core CSS -->
        {#<link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">#}
        {#<link rel="stylesheet" href="{{ asset('vendor/metisMenu/metisMenu.min.css') }}">#}
        {#<link rel="stylesheet" href="{{ asset('dist/css/sb-admin-2.css') }}">#}
        {#<link rel="stylesheet" href="{{ asset('vendor/morrisjs/morris.css') }}">#}
        {#<link rel="stylesheet" href="{{ asset('vendor/font-awesome/css/font-awesome.min.css') }}">#}
        {#<link rel="stylesheet" href="{{ asset('plugins/select2/css/select2.css') }}">#}
        <link rel="stylesheet" href="{{ asset('css/general.css') }}">
        {#<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>#}

        <!-- #CSS Links -->
        <!-- Basic Styles -->
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/font-awesome.min.css') }}">
        <link rel="stylesheet" type="text/css" media="screen"
              href="{{ asset('css/smartadmin-production-plugins.min.css') }}">
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/smartadmin-production.min.css') }}">
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/smartadmin-skins.min.css') }}">

        <!-- We recommend you use "your_style.css" to override SmartAdmin
             specific styles this will also ensure you retrain your customization with each SmartAdmin update.
        <link rel="stylesheet" type="text/css" media="screen" href="css/your_style.css"> -->

        <!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/demo.min.css') }}">

        <!-- #FAVICONS -->
        <link rel="shortcut icon" href="{{ asset('img/favicon/favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ asset('img/favicon/favicon.ico') }}" type="image/x-icon">

        <!-- #GOOGLE FONT -->
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

        <!-- #APP SCREEN / ICONS -->
        <!-- Specifying a Webpage Icon for Web Clip
             Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
        <link rel="apple-touch-icon" href="{{ asset('img/splash/sptouch-icon-iphone.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('img/splash/touch-icon-ipad.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('img/splash/touch-icon-iphone-retina.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('img/splash/touch-icon-ipad-retina.png') }}">

        <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <!-- Startup image for web apps -->
        <link rel="apple-touch-startup-image" href="{{ asset('img/splash/ipad-landscape.png') }}"
              media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
        <link rel="apple-touch-startup-image" href="{{ asset('img/splash/ipad-portrait.png') }}"
              media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
        <link rel="apple-touch-startup-image" href="{{ asset('img/splash/iphone.png') }}"
              media="screen and (max-device-width: 320px)">


        <style type="text/css">
            td.titulo {
                font-weight: bold;
                background-color: #f5f5f5;
            }
        </style>

    {% endblock %}
</head>
<body class="">

{% include ('base_cabecera_navegacion.html.twig') %}

<!-- #NAVIGATION -->
<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS/SASS variables -->
<aside id="left-panel">

    <!-- User info -->
    <div class="login-info">
				<span> <!-- User image size is adjusted inside CSS, it should stay as is -->

					<a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
						<img src="{{ asset('img/avatars/sunny.png') }}" alt="me" class="online"/>
						<span>
							{{ app.user.username }}
						</span>
						<i class="fa fa-angle-down"></i>
					</a>

				</span>
    </div>
    <!-- end user info -->

    {% set arrRuta = app.request.attributes.get('_route')|split('_') %}
    {% set modulo = '' %}
    {% set funcion = '' %}
    {% set grupo = '' %}
    {% set entidad = '' %}
    {% if arrRuta | length > 0 and arrRuta.0 is defined and arrRuta.0 != 'administracion' %}
        {% set modulo = arrRuta.0 %}
        {% if arrRuta | length > 1 and arrRuta.1 is defined %}
            {% set funcion = arrRuta.1 %}
        {% endif %}
        {% if arrRuta | length > 2 and arrRuta.2 is defined %}
            {% set grupo = arrRuta.2 %}
        {% endif %}
        {% if arrRuta | length > 3 and arrRuta.3 is defined %}
            {% set entidad = arrRuta.3 %}
        {% endif %}
    {% endif %}
    {% if arrRuta | length > 0 and arrRuta.0 is defined and arrRuta.0 != 'administracion' %}
        {#{{ dump(arrRuta) }}#}
        {% if arrRuta.0 == 'inicio' %}
            {% include('base_menu_inicio.html.twig') %}
        {% endif %}
        {% if arrRuta.0 == 'transporte' %}
            {% include('base_transporte.html.twig') %}
        {% endif %}
        {% if arrRuta.0 == 'recursohumano' %}
            {% include('base_recursoHumano.html.twig') %}
        {% endif %}
        {% if arrRuta.0 == 'turno' %}
            {% include('base_turno.html.twig') %}
        {% endif %}
        {% if arrRuta.0 == 'cartera' %}
            {% include('base_cartera.html.twig') %}
        {% endif %}
        {% if arrRuta.0 == 'compra' %}
            {% include('base_compra.html.twig') %}
        {% endif %}
        {% if arrRuta.0 == 'inventario' %}
            {% include('base_inventario.html.twig') %}
        {% endif %}
        {% if arrRuta.0 == 'financiero' %}
            {% include('base_financiero.html.twig') %}
        {% endif %}
        {% if arrRuta.0 == 'documental' %}
            {% include('base_documental.html.twig') %}
        {% endif %}
        {% if arrRuta.0 == 'general' %}
            {% include('base_general.html.twig') %}
        {% endif %}
    {% elseif arrRuta.0 == 'administracion' %}
        {% set modulo = app.request.attributes.get('modulo') %}
        {% if modulo == 'inicio' %}
            {% include('base_menu_inicio.html.twig') %}
        {% endif %}
        {% if modulo == 'transporte' %}
            {% include('base_transporte.html.twig') %}
        {% endif %}
        {% if modulo == 'recursoHumano' %}
            {% include('base_recursoHumano.html.twig') %}
        {% endif %}
        {% if modulo == 'turno' %}
            {% include('base_turno.html.twig') %}
        {% endif %}
        {% if modulo == 'cartera' %}
            {% include('base_cartera.html.twig') %}
        {% endif %}
        {% if modulo == 'compra' %}
            {% include('base_compra.html.twig') %}
        {% endif %}
        {% if modulo == 'inventario' %}
            {% include('base_inventario.html.twig') %}
        {% endif %}
        {% if modulo == 'financiero' %}
            {% include('base_financiero.html.twig') %}
        {% endif %}
        {% if modulo == 'documental' %}
            {% include('base_documental.html.twig') %}
        {% endif %}
        {% if modulo == 'general' %}
            {% include('base_general.html.twig') %}
        {% endif %}

    {% endif %}

    {#<nav>#}
    {#<ul>#}
    {#<li class="">#}
    {#<a href="index.html" title="blank_"><i class="fa fa-lg fa-fw fa-home"></i> <span#}
    {#class="menu-item-parent">Blank</span></a>#}
    {#</li>#}
    {#</ul>#}
    {#</nav>#}

    <span class="minifyme" data-action="minifyMenu"> <i class="fa fa-arrow-circle-left hit"></i> </span>

</aside>
<!-- END NAVIGATION -->

<!-- #MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->

        {% set arrRuta = app.request.attributes.get('_route')|split('_') %}

        {% if arrRuta | length > 0 and arrRuta.0 is defined and arrRuta.0 != 'admin' %}
            {#<div class="row">#}
            {#<div class="col-lg-12">#}
            {#<h3 class='page-header'>#}
            <ol class="breadcrumb">
                <li>{{ arrRuta.0 | capitalize }} {% if arrRuta.1 is defined %}{{ arrRuta.1 | capitalize }} {% endif %}</li>

                {% if arrRuta.2 is defined %}
                    <li>{{ arrRuta.2 | capitalize }}

                        : {% if arrRuta.3 is defined %}{{ arrRuta.3 }} {% if arrRuta.4 is defined %}{{ arrRuta.4 }}{% endif %}{% endif %}</li>
                {% endif %}
                {#</h3>#}
                {#</div>#}
                {#<!-- /.col-lg-12 -->#}
                {#</div>#}
            </ol>
        {% endif %}
        {{ notificar()|raw }}
        {#<ol class="breadcrumb">#}
        {#<li>Home</li>#}
        {#<li>Blank</li>#}
        {#</ol>#}
        <!-- end breadcrumb -->

        <!-- You can also add more buttons to the
        ribbon for further usability

        Example below:

        <span class="ribbon-button-alignment pull-right" style="margin-right:25px">
            <a href="#" id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa fa-grid"></i> Change Grid</a>
            <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa fa-plus"></i> Add</span>
            <button id="search" class="btn btn-ribbon" data-title="search"><i class="fa fa-search"></i> <span class="hidden-mobile">Search</span></button>
        </span> -->

    </div>
    <!-- END RIBBON -->

    <!-- #MAIN CONTENT -->
    <div style="padding: 6px 6px 6px 6px;">
        {% block content %}

        {% endblock %}
    </div>

    <!-- END #MAIN CONTENT -->

</div>
<!-- END #MAIN PANEL -->

<!-- #PAGE FOOTER -->
<div class="page-footer">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="txt-color-white">Cromo V.2 <span class="hidden-xs"> - Todos los derechos reservados</span> © 2017-2019</span>
        </div>
    </div>
    <!-- end row -->
</div>
<!-- END FOOTER -->

<!-- SHORTCUT AREA : With large tiles (activated via clicking user name tag)
Note: These tiles are completely responsive,
you can add as many as you like
-->
<div id="shortcut">
    <ul>
        <li>
            <a href="inbox.html" class="jarvismetro-tile big-cubes bg-color-blue"> <span class="iconbox"> <i class="fa fa-envelope fa-4x"></i> <span>Mail <span class="label pull-right bg-color-darken">14</span></span> </span> </a>
        </li>
        <li>
            <a href="calendar.html" class="jarvismetro-tile big-cubes bg-color-orangeDark"> <span class="iconbox"> <i class="fa fa-calendar fa-4x"></i> <span>Calendar</span> </span> </a>
        </li>
        <li>
            <a href="gmap-xml.html" class="jarvismetro-tile big-cubes bg-color-purple"> <span class="iconbox"> <i class="fa fa-map-marker fa-4x"></i> <span>Maps</span> </span> </a>
        </li>
        <li>
            <a href="invoice.html" class="jarvismetro-tile big-cubes bg-color-blueDark"> <span class="iconbox"> <i class="fa fa-book fa-4x"></i> <span>Invoice <span class="label pull-right bg-color-darken">99</span></span> </span> </a>
        </li>
        <li>
            <a href="gallery.html" class="jarvismetro-tile big-cubes bg-color-greenLight"> <span class="iconbox"> <i class="fa fa-picture-o fa-4x"></i> <span>Gallery </span> </span> </a>
        </li>
        <li>
            <a href="{{ path('social_perfil_ver') }}" class="jarvismetro-tile big-cubes selected bg-color-pinkDark"> <span class="iconbox"> <i class="fa fa-user fa-4x"></i> <span>My Profile </span> </span> </a>
        </li>
    </ul>
</div>
<!-- END SHORTCUT AREA -->
{% block javascripts %}

    {#<script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>#}
    {#<script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>#}
    {#<script src="{{ asset('vendor/metisMenu/metisMenu.min.js') }}"></script>#}
    {#<script src="{{ asset('vendor/raphael/raphael.min.js') }}"></script>#}
    {#<script src="{{ asset('vendor/morrisjs/morris.min.js') }}"></script>#}
    {#<script src="{{ asset('../assets/data/morris-data.js') }}"></script>#}
    {#<script src="{{ asset('dist/js/sb-admin-2.js') }}"></script>#}
    {#<script src="{{ asset('plugins/select2/js/i18n/es.js') }}"></script>#}
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>#}
    {#<script src="{{ asset('vendor/moment/moment.min.js') }}"></script>#}
    {#<script src="{{ asset('plugins/select2/js/select2.full.js') }}"></script>#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        if (!window.jQuery) {
            document.write('<script src="{{ asset('js/libs/jquery-3.2.1.min.js') }}"><\/script>');
        }
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script>
        if (!window.jQuery.ui) {
            document.write('<script src="{{ asset('js/libs/jquery-ui.min.js') }}"><\/script>');
        }
    </script>
    <!-- IMPORTANT: APP CONFIG -->
    <script src="{{ asset('js/app.config.js') }}"></script>
    <!-- BOOTSTRAP JS -->
    <script src="{{ asset('js/plugin/jquery-touch/jquery.ui.touch-punch.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap/bootstrap.min.js') }}"></script>
    <!-- CUSTOM NOTIFICATION -->
    <script src="{{ asset('js/notification/SmartNotification.min.js') }}"></script>
    <script src="{{ asset('js/smartwidgets/jarvis.widget.min.js') }}"></script>
    <script src="{{ asset('js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js') }}"></script>
    <script src="{{ asset('js/plugin/sparkline/jquery.sparkline.min.js') }}"></script>
    <script src="{{ asset('js/plugin/jquery-validate/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('js/plugin/masked-input/jquery.maskedinput.min.js') }}"></script>
    <script src="{{ asset('plugins/select2/js/select2.full.js') }}"></script>
    <script src="{{ asset('js/plugin/bootstrap-slider/bootstrap-slider.min.js') }}"></script>
    <script src="{{ asset('js/plugin/msie-fix/jquery.mb.browser.min.js') }}"></script>
    <script src="{{ asset('js/plugin/fastclick/fastclick.min.js') }}"></script>
    <script src="{{ asset('js/demo.min.js') }}"></script>
    <script src="{{ asset('js/app.min.js') }}"></script>
    <script src="{{ asset('js/moment.min.js') }}"></script>

    <!-- ENHANCEMENT PLUGINS : NOT A REQUIREMENT -->
    <!-- Voice command : plugin -->
    <script src="{{ asset('js/speech/voicecommand.min.js') }}"></script>

    <!-- SmartChat UI : plugin -->
    <script src="{{ asset('js/smart-chat-ui/smart.chat.ui.min.js') }}"></script>
    <script src="{{ asset('js/smart-chat-ui/smart.chat.manager.min.js') }}"></script>

    <script>
        // DO NOT REMOVE : GLOBAL FUNCTIONS!
        $(document).ready(function () {
            pageSetUp();
        });
    </script>

    <script src="{{ asset('js/general.js') }}"></script>
    <script>
        var guardarNotificacion="";
        $(document).ready(function () {
            var notificacionesGeneral = $('.notificacionesGeneral');
            var numeroNotificaciones = $('.numeroNotificaciones');
            $.ajax({
                url: "{{ path('general_administracion_notificacion_notificacion') }}",
                type: "GET",
                dataType: "JSON",
                success: function (respuestas) {
                    if (respuestas['notificacionesPendientes'] && respuestas['notificacionesPendientes'] > 0) {
                        numeroNotificaciones.html(`(${respuestas['notificacionesPendientes']})`);
                        notificacionesGeneral.append(respuestas['notificacionesPendientes']);
                    }
                    else{
                        notificacionesGeneral.html(0);
                        numeroNotificaciones.html(`(${0})`);
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });

        function verificarNotificaciones() {
            var notificaciones = $('.notificaciones');
            var numeroNotificaciones = $('.numeroNotificaciones');
            $.ajax({
                url: "{{ path('general_administracion_notificacion_notificacion') }}",
                type: "GET",
                dataType: "JSON",
                success: function (respuestas) {
                    if (respuestas['notificacionesPendientes'] && respuestas['notificacionesPendientes'] > 0) {
                        numeroNotificaciones.html(`(${respuestas['notificacionesPendientes']})`);
                        notificaciones.html("<ul class='notificaciones notification-body' id='notificaciones'></ul>");
                        $.each(respuestas['notificaciones'], (key, notificacion) => {
                            if (key < 7) {
                                notificaciones.append('<li><span class="padding-10 unread"><em class="badge padding-5 no-border-radius bg-color-blueLight pull-left margin-right-5"><i class="fa fa-bell fa-fw fa-2x"></i></em><span >'+notificacion['nombre']+'<span class="pull-right font-xs text-muted"><i>' + moment(notificacion['fecha'], "YYYYMMDDhms").fromNow() + '</i></span></span></span></li>');
                                guardarNotificacion+='<li><span class="padding-10 unread"><em class="badge padding-5 no-border-radius bg-color-blueLight pull-left margin-right-5"><i class="fa fa-bell fa-fw fa-2x"></i></em><span >'+notificacion['nombre']+'<span class="pull-right font-xs text-muted"><i>' + moment(notificacion['fecha'], "YYYYMMDDhms").fromNow() + '</i></span></span></span></li>';
                            }
                        });
                        if(guardarNotificacion!==""){
                            notificaciones.html(guardarNotificacion);
                        }
                        notificaciones.append('<li><a class="text-center" href="{{ path('general_administracion_notificacion__todasNotificaciones') }}"><strong>Ver todas </strong><i class="fa fa-angle-right"></i></a></li>');
                    }
                    else{
                        if(guardarNotificacion!==""){
                            notificaciones.html(guardarNotificacion);
                            notificaciones.append('<li><a class="text-center" href="{{ path('general_administracion_notificacion__todasNotificaciones') }}"><strong>Ver todas </strong><i class="fa fa-angle-right"></i></a></li>');
                        }
                        else{
                            notificaciones.html('<li><span class="padding-10 unread"><em class="badge padding-5 no-border-radius bg-color-blueLight pull-left margin-right-5"><i class="fa fa-bell fa-fw fa-2x"></i></em><span >Sin notificaciones</span></span></li>');
                        }
                    }

                },
                error: function (error) {
                    console.log(error);
                }
            });
        }


        function verNotificacionesPendientes() {
            var numeroNotificaciones = $('.numeroNotificaciones');
            var notificacionesGeneral = $('.notificacionesGeneral');
            $.ajax({
                url: "{{ path('general_administracion_notificacion_ver') }}",
                type: "GET",
                dataType: "JSON",
                success: function (respuestas) {
                    notificacionesGeneral.html(0);
                    numeroNotificaciones.html(`(${0})`);
                    if(guardarNotificacion!==""){
                        notificaciones.html(guardarNotificacion);
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        function fotoPerfi() {
            $.ajax({
                url: "{{ path('social_perfil_foto_ver') }}",
                type: "GET",
                dataType: "JSON",
                success: function (respuestas) {
                    console.log(respuestas,"hola");
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

    </script>

{% endblock %}
</body>
</html>
