{% include('base_menu_inicio.html.twig') %}
<nav>
    <ul>
        <li>
            <a href="#"><i class="fa fa-book fa-fw"></i>
                <span class="menu-item-parent">Movimiento</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="#">Comercial <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('turno_movimiento_comercial_cotizacion_lista') }}">Cotizacion</a>
                        </li>
                        <li>
                            <a href="{{ path('turno_movimiento_comercial_contrato_lista') }}">Contrato</a>
                        </li>
                        <li>
                            <a href="{{ path('turno_movimiento_comercial_pedido_lista') }}">Pedido</a>
                        </li>
                        <li>
                            <a href="{{ path('turno_movimiento_comercial_factura_lista') }}">Factura</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-bars fa-fw"></i>
                <span class="menu-item-parent">Administración</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="#">Cliente <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('turno_administracion_cliente_cliente_lista') }}">Cliente</a>
                        </li>
                        <li>
                            <a href="{{ path('turno_administracion_cliente_puesto_lista') }}">Puesto</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">General <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('turno_administracion_concepto_concepto_lista') }}">Concepto</a>
                        </li>
                        <li><a href="{{ path('administracion_lista',{'modulo':'turno','entidad':'contratoTipo'}) }}">Contrato
                                tipo</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Comercial<span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('turno_administracion_comercial_item_lista') }}">Item</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Operacion<span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('turno_administracion_operacion_turno_lista') }}">Turno</a>
                        </li>
                        <li>
                            <a href="{{ path('turno_administracion_operacion_secuencia_lista') }}">Secuencia</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
        <li {% if arrRuta.1 == 'proceso' %}class="open" {% endif %}>
        <li>
            <a href="#"><i class="fa fa-retweet fa-fw"></i>
                <span class="menu-item-parent">Proceso</span>
                <span class="fa arrow"></span>
            </a>
            <ul {% if arrRuta.1 == 'proceso' %}style="display: block;"{% endif %} >
                <li>
                    <a href="#">Comercial <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('turno_proceso_comercial_generarpedido') }}">Generar pedido</a></li>
                    </ul>
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
        <li {% if arrRuta.1 == 'utilidad' %}class="open" {% endif %}>
            <a href="#"><i class="fa fa-wrench"></i>
                <span class="menu-item-parent">Utilidad</span>
                <span class="fa arrow"></span>
            </a>
            <ul {% if arrRuta.1 == 'utilidad' %}style="display: block;"{% endif %}>
                <li>
                    <a href="#">Operacion <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('turno_utilidad_operacion_prototipo') }}">Prototipo</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li {% if arrRuta.1 == 'tablero' %}class="open" {% endif %}>
            <a href="#"><i class="fa fa-bar-chart"></i>
                <span class="menu-item-parent">Tablero</span>
                <span class="fa arrow"></span>
            </a>
            <ul {% if arrRuta.1 == 'tablero' %}style="display: block;"{% endif %}>
                <li>
                    <a href="#">Gerente <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('turno_tablero_gerente_comercial') }}">Comercial</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-cogs"></i>
                <span class="menu-item-parent">Configuracion</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="{{ path('recursohumano_administracion_configuracion_configuracion_lista', {'id': 1}) }}">Configuracion</a>
                <li>

            </ul>
        </li>
    </ul>
</nav>