{% include('base_menu_inicio.html.twig') %}
<nav>
    <ul>
        <li>
            <a href="#"><i class="fa fa-cubes fa-fw"></i>
                <span class="menu-item-parent">Movimiento</span>
                <b class="collapse-sign">
                    <em class="fa fa-plus-square-o"></em>
                </b>
            </a>
            <ul>
                <li>

                </li>
                <li>
                    <a href="#">Recibo <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('cartera_movimiento_recibo_recibo_lista') }}">Recibo</a></li>
                    </ul>
                    <!-- /.nav-third-level -->
                </li>
                <li>
                    <a href="#">Cuenta cobrar <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('cartera_movimiento_cartera_cuentacobrar_lista') }}">Cuenta cobrar</a>
                    </ul>
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
        <li>
            <a href="#"><i class="fa fa-bars fa-fw"></i>
                <span class="menu-item-parent">Administración</span>
                <b class="collapse-sign">
                    <em class="fa fa-plus-square-o"></em>
                </b>
            </a>
            <ul>
                <li>

                </li>
                <li>
                    <a href="#">General <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'cartera','entidad':'reciboTipo'}) }}">Tipo
                                recibo</a></li>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'cartera','entidad':'cliente'}) }}">Cliente</a>
                        </li>
                    </ul>
                    <!-- /.nav-third-level -->
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
        <li>
            <a href="#"><i class="fa fa-retweet fa-fw"></i>
                <span class="menu-item-parent">Proceso</span>
                <b class="collapse-sign">
                    <em class="fa fa-plus-square-o"></em>
                </b>
            </a>
            <ul>
                <li>
                    <a href="#">Contabilidad <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('cartera_proceso_contabilidad_recibo_lista') }}">Recibo</a></li>
                    </ul>
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
        <li>
            <a href="#"><i class="fa fa-clipboard"></i>
                <span class="menu-item-parent">Informe</span>
                <b class="collapse-sign">
                    <em class="fa fa-plus-square-o"></em>
                </b>
            </a>
            <ul>
                <li>
                    <a href="#">Cuenta cobrar <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('cartera_informe_cuentaCobrar_cuentaCobrar_lista') }}">Pendientes</a>
                        </li>
                    </ul>
                    <!-- /.nav-third-level -->
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">Recibo<span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('cartera_informe_recibo_recibo_lista') }}">Recibo</a></li>
                    </ul>
                    <!-- /.nav-third-level -->
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
    </ul>
</nav>