{% include('base_menu_inicio.html.twig') %}
<nav>
    <ul>
        <li>
            <a href="#"><i class="fa fa-book fa-fw"></i>
                <span class="menu-item-parent">Movimiento</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="#">Pagar <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('tesoreria_movimiento_cuentapagar_cuentapagar_lista') }}">Cuentas por
                                pagar</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Documento <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('tesoreria_movimiento_movimiento_movimiento_lista', {'clase':'CP'}) }}">Compra</a>
                        </li>
                        <li><a href="{{ path('tesoreria_movimiento_movimiento_movimiento_lista', {'clase':'NC'}) }}">Nota
                                credito</a></li>
                        <li><a href="{{ path('tesoreria_movimiento_movimiento_movimiento_lista', {'clase':'EG'}) }}">Egreso</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-bars fa-fw"></i>
                <span class="menu-item-parent">Administración</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="#">General <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('tesoreria_administracion_tercero_tercero_lista') }}">Tercero</a></li>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'tesoreria','entidad':'egresoTipo'}) }}">Tipo
                                egreso</a></li>
                        <li>
                    </ul>
                </li>
                <li>
                    <a href="#">Cuenta pagar<span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'tesoreria','entidad':'cuentaPagarTipo'}) }}">Tipo
                                cuenta pagar</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-retweet fa-fw"></i>
                <span class="menu-item-parent">Proceso</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="#">General <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('tesoreria_proceso_general_unificarcliente_lista') }}">Unificar cliente</a>
                        </li>
                    </ul>
                <li>
                    <a href="#">Cuenta pagar <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('tesoreria_proceso_cuentapagar_corregirsaldos_lista') }}">Regenerar saldos</a>
                        </li>
                    </ul>
                </li>
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
        <li>
            <a href="#"><i class="fa fa-wrench"></i>
                <span class="menu-item-parent">Utilidad</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="#">Movimiento <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('tesoreria_utilidad_movimiento_formatomovimientomasivo_lista') }}">Imprimir movimiento masivo</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
        <li>
            <a href="#"><i class="fa fa-clipboard"></i>
                <span class="menu-item-parent">Informe</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="#">Cuenta pagar <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('tesoreria_informe_cuentapagar_cuentapagar_pendiente') }}">Pendientes</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</nav>