<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Cromo{% endblock %}</title>
    {% block stylesheets %}
        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/metisMenu/metisMenu.min.css') }}">
        <link rel="stylesheet" href="{{ asset('dist/css/sb-admin-2.css') }}">
        {#<link rel="stylesheet" href="{{ asset('vendor/morrisjs/morris.css') }}">#}
        <link rel="stylesheet" href="{{ asset('vendor/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/general.css') }}">
    {% endblock %}
</head>
<body>
<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('inicio') }}">Cromo v2.0</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> Perfil</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Configuracion</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="{{ path('logout') }}"><i class="fa fa-sign-out fa-fw"></i> Salir</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li>
                        <a href="{{ path('inicio') }}"><i class="fa fa-dashboard fa-fw"></i> Inicio</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bars fa-fw"></i> Administracion<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">General <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="{{ path('admin_lista',{'modulo':'general','entidad':'sexo'}) }}">Sexo</a>
                                    </li>
                                    <li><a href="{{ path('admin_lista',{'modulo':'general','entidad':'religion'}) }}">Religion</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('admin_lista',{'modulo':'general','entidad':'estadoCivil'}) }}">Estado
                                            civil</a></li>
                                    <li><a href="{{ path('admin_lista',{'modulo':'general','entidad':'ciudad'}) }}">Ciudad</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('admin_lista',{'modulo':'general','entidad':'departamento'}) }}">Departamento</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('admin_lista',{'modulo':'general','entidad':'pais'}) }}">País</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('admin_lista',{'modulo':'general','entidad':'estudioTipo'}) }}">Estudio
                                            tipo</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Notificacion <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li><a href="{{ path('general_administracion_notificacion__todasNotificaciones') }}">Notificacion</a></li>
                                    <li><a href="{{ path('general_administracion_notificacion_tipo_lista') }}">Notificacion tipo</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Seguridad <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li><a href="{{ path('gen_seguridad_usuario_lista') }}">Usuario</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-clipboard"></i> Informe<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Log <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li><a href="{{ path('general_informe_log_lista') }}">General</a></li>
                                </ul>
                                <!-- /.nav-third-level -->
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-cogs"></i> Configuracion<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{{ path('general_administracion_configuracion_configuracion_lista', {'id': 1}) }}">Configuracion</a>
                            <li>

                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>
    {% block body %}
        <div id="page-wrapper">
            {% set arrRuta = app.request.attributes.get('_route')|split('_') %}
            {% if arrRuta.0 != 'admin' %}
                <div class="row">
                    <br>
                    {{ notificar()|raw }}
                    <div class="col-lg-12">
                        <h3 class='page-header'>
                            {{ arrRuta.0 | capitalize }} {{ arrRuta.1 | capitalize }}
                            <small style="font-size: 20px">{{ arrRuta.2 | capitalize }}
                                {% if arrRuta|length>3 %}
                                    :{{ arrRuta.3}} {% if arrRuta|length>4 %}
                                     {{ arrRuta.4}}
                                {% endif%}
                                {% endif%}</small>
                        </h3>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
            {% endif %}
            {% block content %}

            {% endblock %}
        </div>
    {% endblock %}
</div>
{% block javascripts %}
    <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('vendor/metisMenu/metisMenu.min.js') }}"></script>
    <script src="{{ asset('vendor/raphael/raphael.min.js') }}"></script>
    <script src="{{ asset('vendor/morrisjs/morris.min.js') }}"></script>
    {#<script src="{{ asset('data/morris-data.js') }}"></script>#}
    <script src="{{ asset('dist/js/sb-admin-2.js') }}"></script>
    <script src="{{ asset('js/general.js') }}"></script>
{% endblock %}
</body>
</html>
