{% include('base_menu_inicio.html.twig') %}
<nav>
    <ul>
        <li>
            <a href="#"><i class="fa fa-book fa-fw"></i>
                <span class="menu-item-parent">Movimiento</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="#">Cuenta<span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('cartera_movimiento_cuentacobrar_cuentacobrar_lista') }}">Cuenta cobrar</a>
                    </ul>
                </li>
                <li>
                    <a href="#">Documento <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('cartera_movimiento_documento_movimiento_lista', {'clase':'RC'}) }}">Recibo</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Cliente <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('cartera_movimiento_compromiso_compromiso_lista') }}">Compromiso</a></li>
                    </ul>
                    <!-- /.nav-third-level -->
                </li>
                <li>
                    <a href="#">Descontinuado <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="#">Anticipo <span class="fa arrow"></span></a>
                            <ul>
                                <li><a href="{{ path('cartera_movimiento_anticipo_anticipo_lista') }}">Anticipo</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Recibo <span class="fa arrow"></span></a>
                            <ul>
                                <li><a href="{{ path('cartera_movimiento_recibo_recibo_lista') }}">Recibo</a></li>
                            </ul>
                            <!-- /.nav-third-level -->
                        </li>
                        <li>
                            <a href="#">Operacion <span class="fa arrow"></span></a>
                            <ul>
                                <li><a href="{{ path('cartera_movimiento_operacion_aplicacion_lista') }}">Aplicacion</a>
                            </ul>
                        </li>
                    </ul>
                    <!-- /.nav-third-level -->
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
        <li>
            <a href="#"><i class="fa fa-bars fa-fw"></i>
                <span class="menu-item-parent">Administración</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>

                </li>
                <li>
                    <a href="#">General <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'cartera','entidad':'cliente'}) }}">Cliente</a>
                        </li>
                    </ul>
                    <!-- /.nav-third-level -->
                </li>
                <li>
                    <a href="#">Ingreso <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'cartera','entidad':'reciboTipo'}) }}">Tipo
                                recibo</a></li>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'cartera','entidad':'descuentoConcepto'}) }}">Concepto descuento</a></li>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'cartera','entidad':'ingresoConcepto'}) }}">Concepto ingreso</a></li>
                    </ul>
                    <!-- /.nav-third-level -->
                </li>
                <li>
                    <a href="#">Anticipo <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'cartera','entidad':'anticipoTipo'}) }}">Tipo
                                anticipo</a></li>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'cartera','entidad':'anticipoConcepto'}) }}">Concepto</a>
                        </li>
                    </ul>
                    <!-- /.nav-third-level -->
                </li>
                <li>
                    <a href="#">Cuenta cobrar <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'cartera','entidad':'cuentaCobrarTipo'}) }}">Tipo
                                cuenta cobrar</a></li>
                    </ul>
                    <!-- /.nav-third-level -->
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
        <li>
            <a href="#"><i class="fa fa-retweet fa-fw"></i>
                <span class="menu-item-parent">Proceso</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="#">Contabilidad <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('cartera_proceso_contabilidad_recibo_lista') }}">Recibo</a></li>
                    </ul>


                </li>
                <li>
                    <a href="#">Ingreso <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('cartera_proceso_ingreso_recibomasivo_lista') }}">Recibo masivo</a></li>
                    </ul>

                </li>
                <li>
                    <a href="#">Cuenta cobrar <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('cartera_proceso_cuentacobrar_ajustepeso_lista') }}">Ajuste peso (Correccion)</a></li>
                        <li><a href="{{ path('cartera_proceso_cuentacobrar_corregirsaldos_lista') }}">Corregir saldos</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">General <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('cartera_proceso_general_unificarcliente_lista') }}">Unificar cliente</a></li>
                    </ul>
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
        <li>
            <a href="#"><i class="fa fa-clipboard"></i>
                <span class="menu-item-parent">Informe</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="#">Cuenta cobrar <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('cartera_informe_cuentaCobrar_cuentaCobrar_pendiente') }}">Pendientes</a>
                        </li>
                    </ul>
                    <!-- /.nav-third-level -->
                </li>
                <li>
                    <a href="#">Recibo <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('cartera_informe_recibo_recaudo') }}">Recaudo (Asesor)</a>
                        </li>
                        <li>
                            <a href="{{ path('cartera_informe_recibo_recaudo_detalle') }}">Recaudo detalle (Asesor)</a>
                        </li>
                        <li>
                            <a href="{{ path('cartera_informe_recibo_detalle') }}">Detalle</a>
                        </li>
                    </ul>
                    <!-- /.nav-third-level -->
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">Recibo<span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('cartera_informe_recibo_recibo_lista') }}">Recibo</a></li>
                    </ul>
                    <!-- /.nav-third-level -->
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
        <li>
            <a href="#"><i class="fa fa-cogs"></i>
                <span class="menu-item-parent">Configuracion</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="{{ path('cartera_administracion_configuracion_configuracion_lista', {'id': 1}) }}">Configuracion</a>
                <li>
            </ul>
        </li>
    </ul>
</nav>