{% include('base_menu_inicio.html.twig') %}
<nav>
    <ul>
        <li>
            <a href="#"><i class="fa fa-book fa-fw"></i>
                <span class="menu-item-parent">Movimiento</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="#">Seleccion <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('recursohumano_movimiento_seleccion_aspirante_lista') }}">Aspirante</a>
                        </li>
                        <li>
                            <a href="{{ path('recursohumano_movimiento_seleccion_solicitud_lista') }}">Solicitud</a>
                        </li>
                        <li>
                            <a href="{{ path('recursohumano_movimiento_seleccion_seleccion_lista') }}">Seleccion</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Contratacion <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('recursohumano_movimiento_contratacion_requisito_lista') }}">Requisitos</a>
                        </li>
                        <li><a href="{{ path('recursohumano_movimiento_contratacion_examen_lista') }}">Examen</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Recurso <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('recursohumano_movimiento_recurso_visita_lista') }}">Visita</a>
                        </li>
                        <li>
                            <a href="{{ path('recursohumano_movimiento_recurso_permiso_lista') }}">Permiso</a>
                        </li>
                        <li>
                            <a href="{{ path('recursohumano_movimiento_recurso_poligrafia_lista') }}">Poligrafia</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Nomina <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('recursohumano_movimiento_nomina_programacion_lista') }}">Programacion</a>
                        </li>
                        <li><a href="{{ path('recursohumano_movimiento_nomina_pago_lista') }}">Pago</a></li>
                        <li><a href="{{ path('recursohumano_movimiento_nomina_liquidacion_lista') }}">Liquidacion</a>
                        </li>
                        <li><a href="{{ path('recursohumano_movimiento_nomina_adicional_lista') }}">Adicional</a></li>
                        <li><a href="{{ path('recursohumano_movimiento_nomina_adicionalperiodo_lista') }}">Adicional
                                periodo</a></li>
                        <li><a href="{{ path('recursohumano_movimiento_nomina_vacacion_lista') }}">Vacacion</a></li>
                        <li><a href="{{ path('recursohumano_movimiento_nomina_embargo_lista') }}">Embargo</a></li>
                        <li><a href="{{ path('recursohumano_movimiento_nomina_credito_lista') }}">Credito</a></li>
                        <li><a href="{{ path('recursohumano_movimiento_nomina_reclamo_lista') }}">Reclamo</a></li>
                        <li><a href="{{ path('recursohumano_movimiento_nomina_licencia_lista') }}">Licencia</a>
                        <li><a href="{{ path('recursohumano_movimiento_nomina_incapacidad_lista') }}">Incapacidad</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Seguridad social <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('recursohumano_movimiento_seguridadsocial_aporte_lista') }}">Aporte</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Seguridad y salud <span class="fa arrow"></span></a>
                    <ul>
                        {#<li><a href="{{ path('recursohumano_movimiento_examen_examen_lista') }}">Examen</a>#}
                        {#</li>#}
                    </ul>
                </li>
                <li>
                    <a href="{{ path('recursohumano_movimiento_dotacion_dotacion_lista') }}">Dotacion <span
                                class="fa arrow"></span></a>
                </li>
                <li>
                    <a href="#">Financiero <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('recursohumano_movimiento_financiero_cierre_lista') }}">Cierre</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-bars fa-fw"></i>
                <span class="menu-item-parent">Administración</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="#">Recurso <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('recursohumano_administracion_recurso_empleado_lista') }}">Empleado</a>
                        </li>
                        <li><a href="{{ path('recursohumano_administracion_recurso_contrato_lista') }}">Contrato</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Nomina <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'recursoHumano','entidad':'contratoTipo'}) }}">Contrato
                                tipo</a></li>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'recursoHumano','entidad':'novedadTipo'}) }}">Novedad
                                tipo</a></li>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'recursoHumano','entidad':'pagoTipo'}) }}">Pago
                                tipo</a></li>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'recursoHumano','entidad':'creditoTipo'}) }}">Credito
                                tipo</a></li>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'recursoHumano','entidad':'embargoTipo'}) }}">Embargo
                                tipo</a></li>
                        <li>
                            <a href="{{ path('recursohumano_administracion_nomina_concepto_lista') }}">Concepto</a>
                        </li>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'recursoHumano','entidad':'embargoJuzgado'}) }}">Juzgado</a>
                        </li>
                        <li><a href="{{ path('administracion_lista',{'modulo':'recursoHumano','entidad':'salud'}) }}">Salud</a>
                        </li>
                        <li><a href="{{ path('administracion_lista',{'modulo':'recursoHumano','entidad':'pension'}) }}">Pension</a>
                        </li>
                        <li><a href="{{ path('administracion_lista',{'modulo':'recursoHumano','entidad':'tiempo'}) }}">Tiempo</a>
                        </li>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'recursoHumano','entidad':'licenciaTipo'}) }}">Licencia
                                tipo</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Costo <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'recursoHumano','entidad':'costoGrupo'}) }}">Costo
                                grupo</a></li>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'recursoHumano','entidad':'costoClase'}) }}">Costo
                                clase</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">General <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('administracion_lista',{'modulo':'recursoHumano','entidad':'grupo'}) }}">Grupo</a>
                        </li>
                        <li><a href="{{ path('administracion_lista',{'modulo':'recursoHumano','entidad':'cargo'}) }}">Cargo</a>
                        </li>
                        <li><a href="{{ path('administracion_lista',{'modulo':'recursoHumano','entidad':'banco'}) }}">Banco</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Seleccion <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'recursoHumano','entidad':'solicitudMotivo'}) }}">Solicitud
                                motivo</a></li>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'recursoHumano','entidad':'solicitudExperiencia'}) }}">Solicitud
                                experiencia</a></li>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'recursoHumano','entidad':'seleccionTipo'}) }}">Seleccion
                                tipo</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Seguridad social <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'recursoHumano','entidad':'clasificacionRiesgo'}) }}">Clasificacion
                                del riesgo</a></li>
                        <li>
                            <a href="{{ path('recursohumano_administracion_seguridadsocial_sucursal_lista') }}">Sucursal</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Contratación <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('administracion_lista',{'modulo':'recursoHumano','entidad':'cargo'}) }}">Cargo</a>
                        </li>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'recursoHumano','entidad':'requisitoTipo'}) }}">Tipo
                                requisito</a>
                        </li>
                        <li>
                            <a href="{{ path('recursohumano_administracion_contratacion_requisitoconcepto_lista') }}">Concepto
                                requisito</a>
                        </li>
                        <li>
                            <a href="{{ path('recursohumano_administracion_contratacion_requisitocargo_lista') }}">Requisito
                                por cargo</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Dotación <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('recursohumano_administracion_dotacion_dotacionelemento_lista') }}">Elementos</a>
                        </li>
                    </ul>
                </li>
                <li><a href="{{ path('recursohumano_administracion_examen_entidadexamen_lista') }}">Entidad examen</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-wrench"></i>
                <span class="menu-item-parent">Utilidad</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="#">Programacion <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('recursohumano_utilidad_pago_formatopagomasivo_lista') }}">Imprimir pago
                                masivo</a>
                        <li>
                        <li><a href="{{ path('recursohumano_utilidad_intercambio_programacion') }}">Intercambio de
                                datos</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-retweet fa-fw"></i>
                <span class="menu-item-parent">Proceso</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="#">Pago <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('recursohumano_proceso_pago_regeneraribp') }}">Regenerar IBP</a></li>
                        <li><a href="{{ path('recursohumano_proceso_pago_regenerarprovision') }}">Regenerar
                                provision</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-clipboard"></i>
                <span class="menu-item-parent">Informe</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="#">Nomina <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('recursohumano_informe_nomina_pago_lista') }}">Pago</a></li>
                        <li><a href="{{ path('recursohumano_informe_nomina_pagodetalle_lista') }}">Pago detalle</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Seguridad social <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('recursohumano_informe_seguridadsocial_aporte_lista') }}">Aportes</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-cogs"></i>
                <span class="menu-item-parent">Configuracion</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="{{ path('recursohumano_administracion_configuracion_configuracion_lista', {'id': 1}) }}">Configuracion</a>
                <li>
            </ul>
        </li>
    </ul>
</nav>