<!DOCTYPE html>
<html>
{{ include('base_cabecera_enlace.html.twig') }}
<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
   {{ include('base_cabecera_navegacion.html.twig') }}

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li>
                        <a href="{{ path('inicio') }}"><i class="fa fa-dashboard fa-fw"></i> Inicio</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-cubes fa-fw"></i> Movimiento<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Contrato <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        {#<a href="{{ path('turno_administracion_cliente_cliente_lista') }}">Contrato</a>#}
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bars fa-fw"></i> Administracion<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Cliente <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li><a href="{{ path('turno_administracion_cliente_cliente_lista') }}">Cliente</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">General <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li><a href="{{ path('administracion_lista',{'modulo':'turno','entidad':'contratoTipo'}) }}">Contrato tipo</a></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-cogs"></i> Configuracion<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{{ path('recursohumano_administracion_configuracion_configuracion_lista', {'id': 1}) }}">Configuracion</a>
                            <li>

                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>
    {% block body %}

        <div id="page-wrapper">
            {{ include('base_cuerpo.html.twig') }}
            {% block content %}

            {% endblock %}
        </div>
    {% endblock %}
</div>
{% block javascripts %}
   {{ include('base_pie_script.html.twig') }}
{% endblock %}
</body>
</html>
