{% include('base_menu_inicio.html.twig') %}
<nav>
    <ul>
        <li {% if arrRuta.1 == 'movimiento' %}class="open" {% endif %}>
            <a href="#"><i class="fa fa-book"></i>
                <span class="menu-item-parent">Movimiento</span>
                <span class="fa arrow"></span>
            </a>
            <ul {% if arrRuta.1 == 'movimiento' %}style="display: block;" {% endif %}>
                <li>
                    <a href="#">Recogida <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('transporte_movimiento_recogida_recogida_lista') }}">Recogida</a>
                        </li>
                        <li>
                            <a href="{{ path('transporte_movimiento_recogida_despacho_lista') }}">Despacho</a>
                        </li>
                    </ul>
                    <!-- /.nav-third-level -->
                </li>
                <li>
                    <a href="#">Transporte <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('transporte_movimiento_transporte_guia_lista') }}">Guia</a>
                        </li>
                        <li>
                            <a href="{{ path('transporte_movimiento_transporte_despacho_lista') }}">Despacho</a>
                        </li>
                        <li>
                            <a href="{{ path('transporte_movimiento_transporte_cumplido_lista') }}">Cumplido</a>
                        </li>
                        <li>
                            <a href="{{ path('transporte_movimiento_transporte_documental_lista') }}">Documental</a>
                        </li>
                        <li>
                            <a href="{{ path('transporte_movimiento_transporte_novedad_lista') }}">Novedad</a>
                        </li>
                        <li>
                            <a href="{{ path('transporte_movimiento_transporte_recaudodevolucion_lista') }}">Recaudo
                                devolucion</a>
                        </li>
                        <li>
                            <a href="{{ path('transporte_movimiento_transporte_recaudocobro_lista') }}">Recaudo
                                cobro</a>
                        </li>
                    </ul>
                    <!-- /.nav-third-level -->
                </li>
                <li>
                    <a href="#">Control <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('transporte_movimiento_control_relacioncaja_lista') }}">Relacion
                                caja</a></li>
                    </ul>
                    <!-- /.nav-third-level -->
                </li>
                <li>
                    <a href="#">Monitoreo <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('transporte_movimiento_monitoreo_monitoreo_lista') }}">Monitoreo</a>
                        </li>
                    </ul>
                    <!-- /.nav-third-level -->
                </li>
                <li>
                    <a href="#">Ventas<span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('transporte_movimiento_comercial_factura_lista') }}">Factura</a>
                        </li>
                    </ul>
                    <!-- /.nav-third-level -->
                </li>
                <li>
                    <a href="#">Financiero<span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('transporte_movimiento_financiero_intermediacion_lista') }}">Intermediación</a>
                        </li>
                    </ul>
                    <!-- /.nav-third-level -->
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
        <li {% if arrRuta.1 == 'administracion' %}class="open" {% endif %}>
            <a href="#"><i class="fa fa-bars fa-fw"></i>
                <span class="menu-item-parent">Administración</span>
                <span class="fa arrow"></span>
            </a>
            <ul {% if arrRuta.1 == 'administracion' %}style="display: block;" {% endif %} >
                <li>
                    <a href="#">Transporte <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="#">Vehiculo <span class="fa arrow"></span></a>
                            <ul>
                                <li>
                                    <a href="{{ path('administracion_lista',{'modulo':'transporte','entidad':'aseguradora'}) }}">Aseguradora</a>
                                </li>
                                <li>
                                    <a href="{{ path('transporte_administracion_poseedor_lista') }}">Poseedor</a>
                                </li>
                                <li>
                                    <a href="{{ path('transporte_administracion_transporte_conductor_lista') }}">Conductor</a>
                                </li>
                                <li>
                                    <a href="{{ path('transporte_administracion_transporte_vehiculo_lista') }}">Vehículo</a>
                                </li>
                                <li>
                                    <a href="{{ path('administracion_lista',{'modulo':'transporte','entidad':'tipoCombustible'}) }}">Tipo
                                        combustible</a></li>
                                <li>
                                    <a href="{{ path('administracion_lista',{'modulo':'transporte','entidad':'linea'}) }}">Linea</a>
                                </li>
                                <li>
                                    <a href="{{ path('administracion_lista',{'modulo':'transporte','entidad':'marca'}) }}">Marca</a>
                                </li>
                                <li>
                                    <a href="{{ path('administracion_lista',{'modulo':'l','entidad':'color'}) }}">Color</a>
                                </li>
                                <li>
                                    <a href="{{ path('administracion_lista',{'modulo':'transporte','entidad':'tipoCarroceria'}) }}">Carrocería
                                        tipo </a></li>
                            </ul>
                            <!-- /.nav-third-level -->
                        </li>
                        <li>
                            <a href="#">Guia <span class="fa arrow"></span></a>
                            <ul>
                                <li>
                                    <a href="{{ path('administracion_lista',{'modulo':'transporte','entidad':'guiaTipo'}) }}">Guía
                                        tipo</a></li>
                                <li>
                                    <a href="{{ path('administracion_lista',{'modulo':'transporte','entidad':'producto'}) }}">Producto</a>
                                </li>
                                <li>
                                    <a href="{{ path('administracion_lista',{'modulo':'transporte','entidad':'redespachoMotivo'}) }}">Redespacho motivo</a>
                                </li>
                                <li>
                                    <a href="{{ path('transporte_administracion_guia_destinatario_lista') }}">Destinatario</a>
                                </li>
                            </ul>
                            <!-- /.nav-third-level -->
                        </li>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'transporte','entidad':'ruta'}) }}">Ruta</a>
                        </li>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'transporte','entidad':'novedadTipo'}) }}">Novedad
                                tipo</a></li>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'transporte','entidad':'auxiliar'}) }}">Auxiliar</a>
                        </li>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'transporte','entidad':'despachoTipo'}) }}">Despacho
                                tipo</a></li>
                        <li>
                            <a href="{{ path('transporte_administracion_guia_zona_lista') }}">Zona</a>
                        </li>
                    </ul>
                    <!-- /.nav-third-level -->
                </li>
                <li>
                    <a href="#">General <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('transporte_administracion_general_operacion_lista') }}">Operacion</a>
                        </li>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'transporte','entidad':'consecutivo'}) }}">Consecutivo</a>
                        </li>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'transporte','entidad':'departamento'}) }}">Departamento</a>
                        </li>
                        <li><a href="{{ path('transporte_administracion_general_ciudad_lista') }}">Ciudad</a>
                        </li>
                    </ul>
                    <!-- /.nav-third-level -->
                </li>
                <li>
                    <a href="#">Comercial <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('transporte_administracion_comercial_cliente_lista') }}">Cliente</a>
                        </li>
                        <li>
                            <a href="{{ path('transporte_administracion_comercial_precio_lista') }}">Precio</a>
                        </li>
                        <li>
                            <a href="{{ path('transporte_administracion_comercial_condicion_lista') }}">Condicion
                            </a></li>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'transporte','entidad':'facturaTipo'}) }}">Factura
                                tipo</a></li>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'transporte','entidad':'facturaConcepto'}) }}">Factura
                                concepto</a></li>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'transporte','entidad':'facturaConceptoDetalle'}) }}">Factura
                                concepto detalle</a></li>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'transporte','entidad':'guiaCliente'}) }}">Guias cliente</a></li>
                    </ul>
                    <!-- /.nav-third-level -->
                </li>
                <li>
                    <a href="#">Recogida <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'transporte','entidad':'despachoRecogidaTipo'}) }}">Despacho
                                recogida tipo</a></li>
                        <li>
                            <a href="{{ path('administracion_lista',{'modulo':'transporte','entidad':'rutaRecogida'}) }}">Ruta
                                recogida</a></li>
                    </ul>
                    <!-- /.nav-third-level -->
                </li>
            </ul>
            <!-- /.nav-second-level -->
        <li {% if arrRuta.1 == 'proceso' %}class="open" {% endif %}>
        <li>
            <a href="#"><i class="fa fa-retweet fa-fw"></i>
                <span class="menu-item-parent">Proceso</span>
                <span class="fa arrow"></span>
            </a>
            <ul {% if arrRuta.1 == 'proceso' %}style="display: block;"{% endif %} >
                <li>
                    <a href="#">Recogida <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('transporte_proceso_recogida_recogida_programada') }}">Programada</a>
                        </li>
                        <li><a href="{{ path('transporte_proceso_recogida_recogida_recoge') }}">Recoge</a>
                        </li>
                        <li>
                            <a href="{{ path('transporte_proceso_recogida_recogida_descarga') }}">Descarga</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Transporte <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="#">Guia <span class="fa arrow"></span></a>
                            <ul>
                                <li><a href="{{ path('transporte_proceso_transporte_guia_entrega') }}">Entrega guia</a></li>
                                <li><a href="{{ path('transporte_proceso_transporte_guia_soporte') }}">Soporte guia</a></li>
                                <li><a href="{{ path('transporte_proceso_transporte_guia_redespacho') }}">Re-despacho</a></li>
                                <li><a href="{{ path('transporte_proceso_transporte_guia_desembarco') }}">Desembarco</a></li>
                                <li><a href="{{ path('transporte_proceso_transporte_guia_cortesia') }}">Cortesía</a></li>
                                <li><a href="{{ path('transporte_proceso_transporte_guia_generarfactura') }}">Generar factura</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Despacho <span class="fa arrow"></span></a>
                            <ul>
                                <li>
                                    <a href="{{ path('transporte_proceso_transporte_despacho_cumplirrndc') }}">Cumplir
                                        rndc</a></li>
                                <li><a href="{{ path('transporte_proceso_transporte_despacho_soporte') }}">Soporte
                                        despacho</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- /.nav-third-level -->
                </li>
                <li>
                    <a href="#">General <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('transporte_proceso_transporte_general_cierre') }}">Cierre</a>
                            <a href="{{ path('transporte_proceso_general_cliente_unificar') }}">Unificar cliente</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Contabilidad <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('transporte_proceso_contabilidad_factura_lista') }}">Factura</a>
                        </li>

                        <li>
                            <a href="{{ path('transporte_proceso_contabilidad_despacho_lista') }}">Despacho</a>
                        </li>
                        <li>
                            <a href="{{ path('transporte_proceso_contabilidad_despachorecogida_lista') }}">Despacho
                                recogida</a>
                        </li>
                        <li>
                            <a href="{{ path('transporte_proceso_contabilidad_recaudo_lista') }}">Recaudo</a>
                        </li>

                    </ul>
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
        <li {% if arrRuta.1 == 'utilidad' %}class="open" {% endif %}>
            <a href="#"><i class="fa fa-wrench"></i>
                <span class="menu-item-parent">Utilidad</span>
                <span class="fa arrow"></span>
            </a>
            <ul {% if arrRuta.1 == 'utilidad' %}style="display: block;"{% endif %}>
                <li>
                    <a href="#">Servicio <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('transporte_uti_servicio_novedad_notificar') }}">Notificar
                                novedad</a></li>
                        <li><a href="{{ path('transporte_utilidad_servicio_guia_entrega') }}">Notificar
                                entrega</a></li>
                        <li><a href="{{ path('transporte_uti_servicio_novedad_notificar_estado') }}">Notificar
                                estado</a></li>
                    </ul>
                    <!-- /.nav-third-level -->
                </li>
                <li>
                    <a href="#">Transporte <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="#">Guia <span class="fa arrow"></span></a>
                            <ul>
                                <li><a href="{{ path('transporte_utilidad_transporte_correccion_guia_lista') }}">Correcion guia</a></li>
                                <li><a href="{{ path('transporte_utilidad_transporte_correccion_guia_valores_lista') }}">Correcion guia valores</a></li>
                                <li><a href="{{ path('transporte_utilidad_transporte_cargarinformacionguias_lista') }}">Cargar info. guias</a></li>
                                <li><a href="{{ path('transporte_proceso_transporte_precio_reexpedicion') }}">Precio reexpedicion</a></li>
                                <li><a href="{{ path('transporte_utilidad_transporte_imprimirGuiaMasivo_lista') }}">Imprimir guia masivo</a></li>
                                <li><a href="{{ path('transporte_utilidad_transporte_importar_guia') }}">Importar guía bufalo</a></li>
                                <li><a href="{{ path('transporte_utilidad_transporte_guia_generar_excel') }}">Importar guia (Excel)</a></li>
                                <li><a href="{{ path('transporte_utilidad_transporte_vehiculoDisponible_lista') }}">Vehículo disponible</a></li>
                            </ul>
                            <!-- /.nav-third-level -->
                        </li>
                        <li>
                            <a href="#">Recogida <span class="fa arrow"></span></a>
                            <ul>
                                <li><a href="{{ path('transporte_utilidad_transporte_recogida_correccion_lista') }}">Correcion</a></li>
                            </ul>
                            <!-- /.nav-third-level -->
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
        <li {% if arrRuta.1 == 'informe' %}class="open" {% endif %}>
            <a href="#"><i class="fa fa-clipboard"></i>
                <span class="menu-item-parent">Informe</span>
                <span class="fa arrow"></span>
            </a>
            <ul {% if arrRuta.1 == 'informe' %}style="display: block;"{% endif %}>
                <li>
                    <a href="#">Servicio <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('transporte_inf_servicio_novedad_pendiente_atender') }}">Pendiente
                                atender</a></li>
                        <li><a href="{{ path('transporte_inf_servicio_novedad_pendiente_solucionar') }}">Pendiente
                                solucionar</a></li>
                        <li><a href="{{ path('transporte_informe_servicio_novedad_reporte_novedad') }}">Reporte de
                                novedades</a></li>
                    </ul>
                    <!-- /.nav-third-level -->
                </li>
                <li>
                    <a href="#">Transporte <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="#">Despacho <span class="fa arrow"></span></a>
                            <ul>
                                <li>
                                    <a href="{{ path('transporte_informe_transporte_despacho_detalle') }}">Detalle</a>
                                </li>
                                <li>
                                    <a href="{{ path('transporte_informe_transporte_despacho_siplatf') }}">Siplatf</a>
                                </li>
                            </ul>
                            <!-- /.nav-third-level -->
                        </li>
                        <li>
                            <a href="#">Redespacho <span class="fa arrow"></span></a>
                            <ul>
                                <li>
                                    <a href="{{ path('transporte_informe_transporte_redespacho_redespacho') }}">Lista</a>
                                </li>
                            </ul>
                            <!-- /.nav-third-level -->
                        </li>
                        <li>
                            <a href="#">Guia <span class="fa arrow"></span></a>
                            <ul>
                                <li><a href="{{ path('transporte_inf_transporte_guia_pendiente_despacho_ruta') }}">Despacho pendiente ruta</a></li>
                                <li><a href="{{ path('transporte_informe_transporte_guia_pendiente_conductor') }}">Pendiente conductor</a></li>
                                <li><a href="{{ path('transporte_informe_transporte_guia_pendiente_soporte') }}">Pendiente soporte</a></li>
                                <li><a href="{{ path('transporte_informe_transporte_guia_pendiente_entrega') }}">Pendiente entrega</a></li>
                                <li><a href="{{ path('transporte_informe_transporte_guia_guias_cliente') }}">Guias cliente</a></li>
                                <li><a href="{{ path('transporte_informe_transporte_guia_guias_estado') }}">Estado guias</a></li>
                                <li><a href="{{ path('transporte_informe_transporte_guia_desembarco') }}">Desembarco</a></li>
                                <li><a href="{{ path('transporte_informe_transporte_guia_pendiente_recaudo_devolucion') }}">Pendiente recaudo devolución</a></li>
                                <li><a href="{{ path('transporte_informe_transporte_guia_pendiente_recaudo_cobro') }}">Pendiente recaudo cobro</a></li>
                                <li><a href="{{ path('transporte_informe_transporte_guia_entrega_fecha') }}">Entrega por fecha</a></li>
                                <li><a href="{{ path('transporte_informe_transporte_guia_soporte_fecha') }}">Soporte por fecha</a></li>
                                <li><a href="{{ path('transporte_informe_transporte_guia_tiempo') }}">Tiempo</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Costo <span class="fa arrow"></span></a>
                            <ul>
                                <li>
                                    <a href="{{ path('transporte_inf_transporte_costo_general') }}">Costos</a>
                                </li>
                            </ul>
                            <!-- /.nav-third-level -->
                        </li>
                    </ul>
                    <!-- /.nav-third-level -->
                </li>
                <li>
                    <a href="#">Recogida <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('transporte_informe_recogida_recogida_pendiente_programar') }}">Pendiente programar</a></li>
                        <li><a href="{{ path('transporte_informe_recogida_recogida_fecha') }}">Fecha</a></li>
                    </ul>
                    <!-- /.nav-third-level -->
                </li>
                <li>
                    <a href="#">Comercial <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('transporte_informe_comercial_guia_produccion') }}">Produccion(cliente)</a></li>
                        <li><a href="{{ path('transporte_informe_comercial_guia_produccion_asesor') }}">Produccion(asesor)</a></li>
                        <li><a href="{{ path('transporte_informe_comercial_facturacion_factura') }}">Factura</a></li>
                        <li><a href="{{ path('transporte_informe_comercial_facturacion_detalle') }}">Factura detalle</a></li>
                        <li><a href="{{ path('transporte_informe_comercial_facturacion_pendienteFactura') }}">Pendiente facturar</a></li>
                        <li><a href="{{ path('transporte_informe_comercial_facturacion_pendienteFacturaCliente') }}">Pendiente facturar(cliente)</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Control <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('transporte_informe_control_comercial_factura') }}">Factura</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Financiero <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('transporte_informe_financiero_despacho_rentabilidad') }}">Rentabilidad
                                (despacho)</a></li>
                        <li><a href="{{ path('transporte_informe_financiero_general_costos') }}">Costos</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li {% if arrRuta.1 == 'tablero' %}class="open" {% endif %}>
            <a href="#"><i class="fa fa-bar-chart"></i>
                <span class="menu-item-parent">Tablero</span>
                <span class="fa arrow"></span>
            </a>
            <ul {% if arrRuta.1 == 'tablero' %}style="display: block;"{% endif %}>
                <li>
                    <a href="#">Recogida <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="{{ path('transporte_tablero_recogida_recogida_resumen') }}">Recogida</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Transporte <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            <a href="#">Guia <span class="fa arrow"></span></a>
                            <ul>
                                <li><a href="{{ path('transporte_tablero_transporte_guia_pendiente') }}">Pendiente</a>
                                </li>
                                <li><a href="{{ path('transporte_tablero_transporte_guia_produccion') }}">Produccion</a>
                                </li>
                                <li><a href="{{ path('transporte_tablero_transporte_guia_costo') }}">Costos</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Novedad <span class="fa arrow"></span></a>
                            <ul>
                                <li><a href="{{ path('transporte_tablero_transporte_novedad_mes') }}">Novedad
                                        por mes</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Despacho <span class="fa arrow"></span></a>
                            <ul>
                                <li><a href="{{ path('transporte_tablero_transporte_despacho_mes') }}">Despacho
                                        por mes</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-cogs"></i>
                <span class="menu-item-parent">Configuracion</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="{{ path('transporte_administracion_configuracion_configuracion_lista', {'id': 1}) }}">Configuracion</a>
                <li>
            </ul>
        </li>
    </ul>
</nav>
