{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    {{ notificar()|raw }}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-default btn-sm"
               href="{{ path('cartera_movimiento_ingreso_ingreso_lista') }}">Volver</a>&nbsp;&nbsp;
        </div>
    </div>
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            {% include 'estructura/botonera.html.twig' %}
        </div>
    </div>
    <div style="float:right">
        {% if arIngreso.estadoAutorizado == true %}<span class="label label-default">Autorizado</span>{% endif %}
        {% if arIngreso.estadoAprobado == true %}<span class="label label-success">Aprobado</span>{% endif %}
        {% if arIngreso.estadoAnulado == true %}<span class="label label-danger">Anulado</span>{% endif %}
        {% if arIngreso.estadoImpreso == true %}<span class="label label-success">Impreso</span>{% endif %}
    </div>
    <br/><br/>
    <table width="100%" class="table table-condensed table-bordered tabla-informacion">
        <tr>
            <td class="titulo">CODIGO:</td>
            <td class="td-in-well">{{ arIngreso.codigoIngresoPk }}</td>
            <td class="titulo">CLIENTE:</td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arIngreso.clienteRel.nombreCorto }}</td>
            <td class="titulo">BRUTO:</td>
            <td class="td-in-well" style="text-align: right;">{{ arIngreso.vrTotalBruto |number_format(2, '.', ',') }}</td>
        </tr>
        <tr>
            <td class="titulo">NUMERO:</td>
            <td class="td-in-well">{{ arIngreso.numero }}</td>
            <td class="titulo">USUARIO:</td>
            <td class="td-in-well" style="text-transform: uppercase;"></td>
            <td class="titulo">RETENCION:</td>
            <td class="td-in-well" style="text-align: right;">{{ arIngreso.vrRetencion |number_format(2, '.', ',') }}</td>

        </tr>
        <tr>
            <td class="titulo">FECHA:</td>
            <td class="td-in-well">{{ arIngreso.fecha | date('Y-m-d') }}</td>
            <td class="titulo">FECHA PAGO:</td>
            <td class="td-in-well">{{ arIngreso.fechaPago | date('Y-m-d') }}</td>
            <td class="titulo">NETO:</td>
            <td class="td-in-well" style="text-align: right;">{{ arIngreso.vrTotalNeto |number_format(2, '.', ',') }}</td>
        </tr>
        <tr>
            <td class="titulo">COMENTARIO:</td>
            <td class="td-in-well" colspan="6">{{ arIngreso.comentarios }}</td>
        </tr>
    </table>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#detalles" data-toggle="tab">Detalles</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="detalles">
            <div id="detalles" style="width: 100%"><br>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover tabla-datos">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>COD</th>
                            <th>TIPO</th>
                            <th>DOC</th>
                            <th>COD</th>
                            <th>TERCERO</th>
                            <th>CTA</th>
                            <th title="Naturaleza">N</th>
                            <th>RET</th>
                            <th>RET</th>
                            <th>PAGO</th>
                            <th>DET</th>
                            <th><input type="checkbox" name="ChkSeleccionarTodosDetalle"
                                       OnClick="ChequearTodosTabla(this, 'ChkSeleccionar[]');"/></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for arIngresoDetalle in arIngresoDetalles %}
                            <tr>
                                <td>{{ arIngresoDetalle.codigoIngresoDetallePk }}</td>
                                <td>{{ arIngresoDetalle.codigoCuentaCobrarFk }}</td>
                                <td>{{ arIngresoDetalle.codigoCuentaCobrarTipoFk }}</td>
                                <td>{{ arIngresoDetalle.numero }}</td>
                                {% if arIngreso.estadoAutorizado == false %}
                                    <td>
                                        <input type="text"
                                               name="arrCliente[{{ arIngresoDetalle.codigoIngresoDetallePk }}]"
                                               id="arrCliente[{{ arIngresoDetalle.codigoIngresoDetallePk }}]"
                                               value="{{ arIngresoDetalle.codigoClienteFk }}"
                                               style="text-align: left; width:60px" size="20">
                                        <a href="javascript:abrirVentana3('{{ path('cartera_buscar_movimiento_cliente',{'campoCodigo' : 'arrCliente['~ arIngresoDetalle.codigoIngresoDetallePk ~']' }) }}','BuscarTercero',600,900)"
                                           class="btn-xs btn btn-default" style="height: 20px;">..</a>
                                    </td>
                                    <td>{{ arIngresoDetalle.clienteNombreCorto }}</td>
                                    <td>
                                        <input type="text"
                                               name="arrCuenta[{{ arIngresoDetalle.codigoIngresoDetallePk }}]"
                                               id="arrCuenta[{{ arIngresoDetalle.codigoIngresoDetallePk }}]"
                                               value="{{ arIngresoDetalle.codigoCuentaFk }}"
                                               style="text-align: left; width:120px" size="20">
                                        <a href="javascript:abrirVentana3('{{ path('financiero_buscar_cuenta_asiento',{'campoCodigo' : 'arrCuenta['~ arIngresoDetalle.codigoIngresoDetallePk ~']' }) }}','BuscarCuenta',600,900)"
                                           class="btn-xs btn btn-default" style="height: 20px;">..</a>
                                    </td>
                                    <td style="text-align: left">
                                        <select name="cboNaturaleza{{ arIngresoDetalle.codigoIngresoDetallePk }}">
                                            <option value="D" {% if arIngresoDetalle.naturaleza == "D" %} selected {% endif %}>D</option>
                                            <option value="C" {% if arIngresoDetalle.naturaleza == "C" %} selected {% endif %}>C</option>
                                        </select></td>
                                    <td style="text-align: left">
                                        <select name="cboImpuestoRetencion[{{ arIngresoDetalle.codigoIngresoDetallePk }}]">
                                            {% for arImpuestoRetencion in arImpuestosRetencion %}
                                                <option value="{{ arImpuestoRetencion.codigoImpuestoPk }}" {% if arIngresoDetalle.codigoImpuestoRetencionFk == arImpuestoRetencion.codigoImpuestoPk %} selected {% endif %}>{{ arImpuestoRetencion.nombre }}</option>
                                            {% endfor %}
                                        </select></td>
                                    <td style="text-align: right">{{ arIngresoDetalle.vrRetencion | number_format(0, '.', ',') }}</td>
                                    <td style="text-align: center">
                                        <input class="input-valor" type="text"
                                               name="TxtVrPago{{ arIngresoDetalle.codigoIngresoDetallePk }}"
                                               value="{{ arIngresoDetalle.vrPago }}"
                                               style="text-align: right; width:90px" size="10"/>
                                    </td>
                                    <td style="text-align: center">
                                        <input type="text"
                                               name="arrDetalle[{{ arIngresoDetalle.codigoIngresoDetallePk }}]"
                                               id="arrDetalle[{{ arIngresoDetalle.codigoIngresoDetallePk }}]"
                                               value="{{ arIngresoDetalle.detalle }}"
                                               style="text-align: left; width:120px" size="10">
                                    </td>
                                {% else %}
                                    <td>{{ arIngresoDetalle.codigoClienteFk }}</td>
                                    <td>{{ arIngresoDetalle.clienteNombreCorto }}</td>
                                    <td>{{ arIngresoDetalle.codigoCuentaFk }}</td>
                                    <td>{{ arIngresoDetalle.naturaleza }}</td>
                                    <td>{{ arIngresoDetalle.codigoImpuestoRetencionFk }}</td>
                                    <td style="text-align: right">{{ arIngresoDetalle.vrRetencion | number_format(0, '.', ',') }}</td>
                                    <td style="text-align: right">{{ arIngresoDetalle.vrPago | number_format(0, '.', ',') }}</td>
                                    <td>{{ arIngresoDetalle.detalle }}</td>
                                {% endif %}
                                <td style="text-align: center;"><input type="checkbox" name="ChkSeleccionar[]"
                                                                       value="{{ arIngresoDetalle.codigoIngresoDetallePk }}"/>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {#<div class="separador-1"></div>#}
                <div class="btn-toolbar" style="float: right">
                    <div class="btn-group">
                        {% if arIngreso.estadoAutorizado == true %}
                            <input type="button" class="btn btn-default btn-sm" href="#" disabled="disabled"
                                   value="Nuevo"/>
                        {% else %}
                            <a class="btn btn-default btn-sm"
                               href="javascript:abrirVentana3('{{ path('cartera_movimiento_ingreso_ingreso_detalle_nuevo', {'id' : arIngreso.codigoIngresoPk }) }}', 'ingreso detalle', 600, 1200)">Nuevo</a>
                        {% endif %}
                    </div>
                    <div class="btn-group">
                        {{ form_widget(form.btnAdicionar) }}
                    </div>
                    <div class="btn-group">
                        {{ form_widget(form.btnActualizar) }}
                    </div>
                    <div class="btn-group">
                        {{ form_widget(form.btnDuplicar) }}
                        {{ form_widget(form.btnEliminar) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-group" style="float: left">
        <div class="btn-group" style="float: left">
            <div class="btn btn-default btn-sm">Registros <span
                        class="badge">{{ arIngresoDetalles.getTotalItemCount }}</span>
            </div>
        </div>
    </div>
    <div class="btn-group btn-xs">
        {{ knp_pagination_render(arIngresoDetalles) }}
    </div>
    <br /> <br />
    {{ form_end(form) }}
{% endblock %}

