{% extends 'base.html.twig' %}
{% block content %}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-default btn-sm"
               href="{{ path('inventario_administracion_general_contacto_lista') }}">Volver</a> &nbsp;&nbsp;
        </div>
    </div>
    <br><br>
    <table width="100%" class="table table-condensed table-bordered tabla-datos">
        <tr>
            <td class="titulo">ID:</td>
            <td class="td-in-well">{{ arContacto.codigoContactoPk }}</td>
            <td class="titulo">IDENTIFICACION:</td>
            <td class="td-in-well">{{ arContacto.terceroRel.numeroIdentificacion | default ('') }}</td>
            <td class="titulo">TERCERO:</td>
            <td class="td-in-well">{{ arContacto.terceroRel.nombreCorto | default ('') }}</td>
        </tr>
        <tr>
            <td class="titulo">NOMBRE:</td>
            <td class="td-in-well">{{ arContacto.nombreCorto }}</td>
            <td class="titulo">CARGO:</td>
            <td class="td-in-well">{{ arContacto.cargo }}</td>
            <td class="titulo">TELEFONO:</td>
            <td class="td-in-well">{{ arContacto.telefono }}</td>
        </tr>
        <tr>
            <td class="titulo">CELULAR:</td>
            <td class="td-in-well">{{ arContacto.celular }}</td>
            <td class="titulo">AREA:</td>
            <td class="td-in-well">{{ arContacto.area }}</td>
            <td></td>
            <td></td>
        </tr>
    </table>
{% endblock %}
