{% extends 'base_'~ modulo ~'.html.twig' %}
{% block content %}
    <div class="btn-toolbar">
        <div class="btn-group" style="float: left;">
            <a class="btn btn-sm btn-default"
               href="{{ path('administracion_lista',{'modulo' : modulo,'entidad' : entidad }) }}">Volver</a>
        </div>
    </div>
    <br>
    <table width="100%" class="table table-condensed table-bordered">
        {% set contador = 0 %}
        <tr>
        {% for key, value in arRegistro|objectToArray %}
            {% if value.timestamp is defined %}
                {% set value = value|date('Y-m-d') %}
            {% endif %}
            {% if contador is divisible by(2) and contador != 0 %}
                </tr>
                <tr>
                    <td class="titulo">{{ key }}</td>
                    <td class="td-in-well">{{ value }}</td>
            {% else %}
                <td class="titulo">{{ key }}</td>
                <td class="td-in-well">{{ value }}</td>
            {% endif %}
            {% set contador = contador + 1 %}
        {% endfor %}
        {% if contador is not divisible by(2) %}
            <td class="titulo"></td>
            <td class="td-in-well"></td>
                </tr>
        {% endif %}
    </table>
{% endblock %}