{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
    {{ form_errors(form) }}
    <div class="panel panel-default">
        <div class="panel-heading">Filtros</div>
        <div class="panel-body">

            <div class="form-group form-group-sm">
                <label class="col-sm-1 control-label">Desde:</label>
                <div class="col-sm-5">
                    {{ form_widget(form.fechaDesde) }}
                </div>

                <label class="col-sm-1 control-label"></label>
                <div class="col-sm-2">

                </div>
                <label class="col-sm-1 control-label"></label>
                <div class="col-sm-1">

                </div>
                <div class="col-sm-1">

                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-1 control-label">Hasta:</label>
                <div class="col-sm-5">
                    {{ form_widget(form.fechaHasta) }}
                </div>
                <label class="col-sm-1 control-label">Cuenta:</label>
                <div class="col-sm-2">
                    {{ form_widget(form.txtCuenta) }}
                </div>
                <label class="col-sm-1 control-label"></label>
                <div class="col-sm-1">

                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-1 control-label"></label>
                <div class="col-sm-5">
                    {{ form_widget(form.filtrarFecha) }}
                </div>
                <label class="col-sm-1 control-label"></label>
                <div class="col-sm-2">

                </div>
                <label class="col-sm-1 control-label"></label>
                <div class="col-sm-1">

                </div>
                <div class="col-sm-1">

                </div>
            </div>
        <div class="modal-footer">
            {{ form_widget(form.btnFiltrar) }}
        </div>
    </div>
    </div>
    <table class="table table-striped table-bordered table-hover tabla-datos">
        <thead>
        <tr>
            <th>CUENTA</th>
            <th>NOMBRE</th>
            <th>SALDO(ANT)</th>
            <th>DEBITO</th>
            <th>CREDITO</th>
            <th>SALDO(FIN)</th>
        </tr>
        </thead>
        <tbody>
        {% for arSaldo in arSaldos %}
            <tr>
                <td>{{ arSaldo.codigoCuentaFk }}</td>
                <td>{{ arSaldo.nombre }}</td>
                <td class="numero">{{ arSaldo.vrSaldoAnterior | number_format(0, '.', ',')}}</td>
                <td class="numero">{{ arSaldo.vrDebito | number_format(0, '.', ',')}}</td>
                <td class="numero">{{ arSaldo.vrCredito | number_format(0, '.', ',')}}</td>
                <td class="numero">{{ arSaldo.vrSaldoFinal | number_format(0, '.', ',')}}</td>
            </tr>
        {% endfor %}
    </table>
    <div class="btn-group" style="float: left">
        <div class="btn-group" style="float: left">
            <div class="btn btn-default btn-sm">Registros <span class="badge">{{ arSaldos.getTotalItemCount }}</span></div>
        </div>
    </div>
    <div class="btn-group btn-xs" style="float: left;margin-left: 0px;padding-top: 0px;">
        {{ knp_pagination_render(arSaldos) }}
    </div>
    <div class="btn-toolbar" style="float: right">
        <div class="btn-group" style="float: right">
            {{ form_widget(form.btnExcel, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
    <br /><br /><br />
{% endblock %}
