{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form) }}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-default btn-sm" href="{{ path('recursohumano_movimiento_nomina_programacion_lista') }}">Volver</a>&nbsp;&nbsp;
        </div>
        <div class="btn-group">
            {% include 'estructura/botonera.html.twig' %}
            {{ form_widget(form.btnLiberarSoporte) }}
            {{ form_widget(form.btnImprimirResumen) }}
        </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Utilidades <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    {% if arProgramacion.estadoAutorizado == false %}
                        <li>  <a href="javascript:abrirVentana3('{{ path('recursohumano_movimiento_nomina_programacion_extra', { 'id': arProgramacion.codigoProgramacionPk }) }}', 'Extas', 800, 1200)">Extras</a></li>
                        <li>  <a href="javascript:abrirVentana3('{{ path('recursohumano_movimiento_nomina_programacion_anticipo', { 'id': arProgramacion.codigoProgramacionPk }) }}', 'Anticipo', 800, 1200)">Anticipo</a></li>
                    {% endif %}
                </ul>
            </div>
    </div>
    <div style="float:right">
        {% if arProgramacion.estadoAutorizado == true %}<span class="label label-default">Autorizado</span>{% endif %}
        {% if arProgramacion.estadoAprobado == true %}<span class="label label-success">Aprobado</span>{% endif %}
        {% if arProgramacion.estadoAnulado == true %}<span class="label label-danger">Anulado</span>{% endif %}
        {% if arProgramacion.estadoContabilizado == true %}<span class="label label-success">Contabilizado</span>{% endif %}
    </div>
    <br/><br/>
    <table width="100%" class="table table-condensed table-bordered tabla-informacion">
        <tr>
            <td class="titulo">CODIGO:</td>
            <td class="td-in-well">{{ arProgramacion.codigoProgramacionPk }}</td>
            <td class="titulo">TIPO:</td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arProgramacion.pagoTipoRel.nombre }}</td>
            <td class="titulo">CANTIDAD:</td>
            <td class="td-in-well numero" style="text-transform: uppercase;">{{ arProgramacion.cantidad }}</td>
        </tr>
        <tr>
            <td class="titulo">NOMBRE:</td>
            <td class="td-in-well">{{ arProgramacion.nombre }}</td>
            <td class="titulo">DESDE:</td>
            <td class="td-in-well">{{ arProgramacion.fechaDesde | date('Y-m-d') }}</td>
            <td class="titulo"></td>
            <td class="td-in-well" style="text-transform: uppercase;"></td>
        </tr>
        <tr>
            <td class="titulo">GRUPO:</td>
            <td class="td-in-well">{{ arProgramacion.grupoRel.nombre | default('') }}</td>
            <td class="titulo">HASTA:</td>
            <td class="td-in-well">{{ arProgramacion.fechaHasta | date('Y-m-d') }}</td>
            <td class="titulo"></td>
            <td class="td-in-well" style="text-transform: uppercase;"></td>
        </tr>
        <tr>
            <td class="titulo">DIAS:</td>
            <td class="td-in-well">{{ arProgramacion.dias }}</td>
            <td class="titulo">HASTA PERIODO:</td>
            <td class="td-in-well">{{ arProgramacion.fechaHastaPeriodo | date('Y-m-d') }}</td>
            <td class="titulo"></td>
            <td class="td-in-well numero"></td>
        </tr>
        <tr>
            <td class="titulo">SOPORTE:</td>
            <td class="td-in-well">{{ arProgramacion.codigoSoporteFk }}</td>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
            <td class="titulo">NETO:</td>
            <td class="td-in-well numero">{{ arProgramacion.vrNeto | number_format(0, '.', ',') }}</td>
        </tr>
    </table>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#detalles" data-toggle="tab">Detalles</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="detalles">
            <div id="detalles" style="width: 100%"><br>
                <div class="row">
                    <div class="form-group form-group-sm">
                        <label for="form_TxtIdentificacion" class="col-sm-1 control-label">Identificación:</label>
                        <div class="col-sm-4 input-group-xs">
                            {{ form_widget(form.identificacion, { 'attr': {'class': 'form-control input-xs', 'style':'height:25px'} }) }}
                        </div>
                        <label for="form_estadoMarcado" class="col-sm-1 control-label">Marcado:</label>
                        <div class="col-sm-1 input-group-xs">
                            {{ form_widget(form.estadoMarcado, { 'attr': {'class': 'input-xs', 'style':'height:25px'} }) }}
                        </div>
                        <label for="form_estadoMarcado" class="col-sm-1 control-label">Negativos:</label>
                        <div class="col-sm-1 input-group-xs">
                            {{ form_widget(form.pagosNegativos, { 'attr': {'class': 'input-xs', 'style':'height:25px'} }) }}
                        </div>
                        <div class="col-sm-1">
                            {{ form_widget(form.btnFiltrar, { 'attr': {'class': 'btn btn-default btn-xs', 'style':'float:right'} }) }}
                        </div>
                    </div>
                </div>
                <br>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover tabla-datos">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>COD</th>
                            <th>DOC</th>
                            <th>NOMBRE</th>
                            <th>CONT</th>
                            <th>DESDE</th>
                            <th>HASTA</th>
                            <th>SALARIO</th>
                            {% if arProgramacion.codigoPagoTipoFk == 'PRI' %}
                                <th>SAL_PRI</th>
                                <th title="Ausentismos">AU</th>
                            {% endif %}
                            {% if arProgramacion.codigoPagoTipoFk == 'PRI' %}
                                <th title="Valor anticipo">ANT</th>
                            {% endif %}
                            <th>DIAS</th>
                            <th title="Horas diurnas">D</th>
                            <th title="Horas descanso">DS</th>
                            <th title="Horas nocturnas">N</th>
                            <th title="Horas festivas diurnas">FD</th>
                            <th title="Horas festivas nocturnas">FN</th>
                            <th title="Horas extras diurnas">ED</th>
                            <th title="Horas extras nocturnas">EN</th>
                            <th title="Horas extras festivas diurnas">EFD</th>
                            <th title="Horas extras festivas nocturnas">EFN</th>
                            <th title="Recargos">R</th>
                            <th title="Recargos nocturnos">RN</th>
                            <th title="Recargo festivo diurno">RFD</th>
                            <th title="Recargo festivo nocturno">RFN</th>
                            <th>NETO</th>
                            <th></th>
                            <th><input type="checkbox" name="ChkSeleccionarTodos"
                                       OnClick="ChequearTodosTabla(this, 'ChkSeleccionar[]');"/></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for arProgramacionDetalle in arProgramacionDetalles %}
                            <tr {% if arProgramacionDetalle.marca == 1 %} class="success" {% endif %}>
                                <td>{{ arProgramacionDetalle.codigoProgramacionDetallePk }}</td>
                                <td>{{ arProgramacionDetalle.codigoEmpleadoFk }}</td>
                                <td>{{ arProgramacionDetalle.numeroIdentificacion }}</td>
                                <td>{{ arProgramacionDetalle.nombreCorto }}</td>
                                <td>
                                    <a href="javascript:abrirVentana3('{{ path('recursohumano_administracion_recurso_contrato_informacion',
                                           { 'codigoContrato':arProgramacionDetalle.codigoContratoFk  }) }}', 'Información contrato', 600, 900)" title="información contrato">{{ arProgramacionDetalle.codigoContratoFk }}</a>
                                </td>
                                <td>{{ arProgramacionDetalle.fechaDesdeContrato | date('Y-m-d') }}</td>
                                <td>{{ arProgramacionDetalle.fechaHastaContrato | date('Y-m-d') }}</td>
                                <td style="text-align: right">{{ arProgramacionDetalle.vrSalario | number_format(0, '.', ',') }}</td>
                                {% if arProgramacion.codigoPagoTipoFk == 'PRI' %}
                                    <td style="text-align: right">{{ arProgramacionDetalle.vrSalarioPrima | number_format(0, '.', ',') }}</td>
                                    <td style="text-align: right">{{ arProgramacionDetalle.diasAusentismo | number_format(0, '.', ',') }}</td>
                                {% endif %}
                                {% if arProgramacion.codigoPagoTipoFk == 'PRI' %}
                                    <td style="text-align: right">{{ arProgramacionDetalle.vrAnticipo | number_format(0, '.', ',') }}</td>
                                {% endif %}
                                <td style="text-align: right">{{ arProgramacionDetalle.dias | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arProgramacionDetalle.horasDiurnas | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arProgramacionDetalle.horasDescanso | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arProgramacionDetalle.horasNocturnas | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arProgramacionDetalle.horasFestivasDiurnas | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arProgramacionDetalle.horasFestivasNocturnas | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arProgramacionDetalle.horasExtrasOrdinariasDiurnas | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arProgramacionDetalle.horasExtrasOrdinariasNocturnas | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arProgramacionDetalle.horasExtrasFestivasDiurnas | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arProgramacionDetalle.horasExtrasFestivasNocturnas | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arProgramacionDetalle.horasRecargo | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arProgramacionDetalle.horasRecargoNocturno | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arProgramacionDetalle.horasRecargoFestivoDiurno | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arProgramacionDetalle.horasRecargoFestivoNocturno | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arProgramacionDetalle.vrNeto | number_format(0, '.', ',') }}</td>
                                <td style="text-align: center;"><a
                                            href="javascript:abrirVentana3('{{ path('recursohumano_movimiento_nomina_programacion_detalle_resumen',{ 'id': arProgramacionDetalle.codigoProgramacionDetallePk }) }}','resumen',600,1250)"><i
                                                class="fa fa-table" style="color: black;font-size: large;"></i></a></td>
                                <td style="text-align: center;"><input type="checkbox" name="ChkSeleccionar[]"
                                                                       value="{{ arProgramacionDetalle.codigoProgramacionDetallePk }}">
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="btn-group" style="float: left">
                        <div class="btn-group" style="float: left">
                            <div class="btn btn-default btn-sm">Registros <span class="badge">{{ arProgramacionDetalles.getTotalItemCount }}</span></div>
                            {{ knp_pagination_render(arProgramacionDetalles) }}
                        </div>
                    </div>
                    <div class="btn-toolbar" style="float: right">
                        <div class="btn-group">
                            {{ form_widget(form.btnExcelDetalle) }}
                        </div>
                        <div class="btn-group">
                            {{ form_widget(form.btnExcelPagoDetalles) }}
                        </div>
                        <div class="btn-group">
                            {{ form_widget(form.btnCargarContratos) }}
                            {% if arProgramacion.estadoAutorizado == 0 %}
                                {% if arProgramacion.grupoRel.cargarSoporte == 1 %}
                                    <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('recursohumano_movimiento_nomina_programacion_cargar_soporte', {'id': arProgramacion.codigoProgramacionPk}) }}', 'CargarSoporte', 600, 900)">Cargar de turnos</a>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="btn-group">
                            {{ form_widget(form.btnEliminarTodos) }}
                            {{ form_widget(form.btnEliminar) }}
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    {{ form_end(form) }}
{% endblock %}