{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form) }}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-default btn-sm" href="{{ path('recursohumano_movimiento_nomina_programacion_lista') }}">Volver</a>&nbsp;&nbsp;
        </div>
        <div class="btn-group">
            {% include 'estructura/botonera.html.twig' %}
            {{ form_widget(form.btnImprimirResumen) }}
        </div>
    </div>
    <br/><br/>
    <table width="100%" class="table table-condensed table-bordered">
        <tr>
            <td class="titulo">CODIGO:</td>
            <td class="td-in-well">{{ arProgramacion.codigoProgramacionPk }}</td>
            <td class="titulo">TIPO:</td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arProgramacion.pagoTipoRel.nombre }}</td>
            <td class="titulo"></td>
            <td class="td-in-well" style="text-transform: uppercase;"></td>
        </tr>
        <tr>
            <td class="titulo">NOMBRE:</td>
            <td class="td-in-well">{{ arProgramacion.nombre }}</td>
            <td class="titulo">DESDE:</td>
            <td class="td-in-well">{{ arProgramacion.fechaDesde | date('Y-m-d') }}</td>
            <td class="titulo"></td>
            <td class="td-in-well" style="text-transform: uppercase;"></td>
        </tr>
        <tr>
            <td class="titulo">GRUPO:</td>
            <td class="td-in-well">{{ arProgramacion.grupoRel.nombre | default('') }}</td>
            <td class="titulo">HASTA:</td>
            <td class="td-in-well">{{ arProgramacion.fechaHasta | date('Y-m-d') }}</td>
            <td class="titulo"></td>
            <td class="td-in-well" style="text-transform: uppercase;"></td>
        </tr>
        <tr>
            <td class="titulo">DIAS:</td>
            <td class="td-in-well">{{ arProgramacion.dias }}</td>
            <td class="titulo">HASTA PERIODO:</td>
            <td class="td-in-well">{{ arProgramacion.fechaHastaPeriodo | date('Y-m-d') }}</td>
            <td class="titulo">VR.NETO</td>
            <td class="td-in-well numero"
                style="text-transform: uppercase;">{{ arProgramacion.vrNeto | number_format(0, '.', ',') }}</td>
        </tr>
    </table>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#detalles" data-toggle="tab">Detalles</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="detalles">
            <div id="detalles" style="width: 100%"><br>
                <div class="table-responsive">
                    {% include 'recursoHumano/movimiento/nomina/programacion/informacion.html.twig'%}
                </div>
            </div>
        </div>
        <div class="btn-toolbar" style="float: right;">
            {{ form_widget(form.btnCargarContratos) }}
            {{ form_widget(form.btnEliminar) }}
            {{ form_widget(form.btnEliminarTodos) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}