{% extends 'base_recursoHumano.html.twig' %}
{% block content %}
    {{ form_start(form) }}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-default btn-sm" href="{{ path('recursohumano_movimiento_nomina_programacion_lista') }}">Volver</a>&nbsp;&nbsp;
        </div>
        <div class="btn-group">
            {% include 'estructura/botonera.html.twig' %}
        </div>
    </div>
    <br/><br/>
    <table width="100%" class="table table-condensed table-bordered">
        <tr>
            <td class="titulo">CODIGO:</td>
            <td class="td-in-well">{{ arProgramacion.codigoProgramacionPk }}</td>
            <td class="titulo">TIPO:</td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arProgramacion.pagoTipoRel.nombre }}</td>
            <td class="titulo"></td>
            <td class="td-in-well" style="text-transform: uppercase;"></td>
        </tr>
        <tr>
            <td class="titulo">NOMBRE:</td>
            <td class="td-in-well">{{ arProgramacion.nombre }}</td>
            <td class="titulo">DESDE:</td>
            <td class="td-in-well">{{ arProgramacion.fechaDesde | date('Y-m-d') }}</td>
            <td class="titulo"></td>
            <td class="td-in-well" style="text-transform: uppercase;"></td>
        </tr>
        <tr>
            <td class="titulo">GRUPO:</td>
            <td class="td-in-well">{{ arProgramacion.grupoRel.nombre }}</td>
            <td class="titulo">HASTA:</td>
            <td class="td-in-well">{{ arProgramacion.fechaHasta | date('Y-m-d') }}</td>
            <td class="titulo"></td>
            <td class="td-in-well" style="text-transform: uppercase;"></td>
        </tr>
        <tr>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
            <td class="titulo">HASTA PERIODO:</td>
            <td class="td-in-well">{{ arProgramacion.fechaHastaPeriodo | date('Y-m-d') }}</td>
            <td class="titulo"></td>
            <td class="td-in-well" style="text-transform: uppercase;"></td>
        </tr>
    </table>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#detalles" data-toggle="tab">Detalles</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="detalles">
            <div id="detalles" style="width: 100%"><br>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>DOC</th>
                            <th>NOMBRE</th>
                            <th>DESDE</th>
                            <th>HASTA</th>
                            <th>SALARIO</th>
                            <th title="Horas diurnas">D</th>
                            <th title="Horas nocturnas">N</th>
                            <th title="Horas festivas diurnas">FD</th>
                            <th title="Horas festivas nocturnas">FN</th>
                            <th title="Horas extras diurnas">ED</th>
                            <th title="Horas extras nocturnas">EN</th>
                            <th title="Horas extras festivas diurnas">EFD</th>
                            <th title="Horas extras festivas nocturnas">EFN</th>
                            <th title="Recargos nocturnos">RN</th>
                            <th title="Recargo festivo diurno">RFD</th>
                            <th title="Recargo festivo nocturno">RFN</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for arProgramacionDetalle in arProgramacionDetalles %}
                            <tr>
                                <td>{{ arProgramacionDetalle.codigoProgramacionDetallePk }}</td>
                                <td>{{ arProgramacionDetalle.empleadoRel.numeroIdentificacion }}</td>
                                <td>{{ arProgramacionDetalle.empleadoRel.nombreCorto }}</td>
                                <td>{{ arProgramacionDetalle.fechaDesde | date('Y-m-d') }}</td>
                                <td>{{ arProgramacionDetalle.fechaHasta | date('Y-m-d') }}</td>
                                <td style="text-align: right">{{ arProgramacionDetalle.vrSalario | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arProgramacionDetalle.horasDiurnas | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arProgramacionDetalle.horasNocturnas | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arProgramacionDetalle.horasFestivasDiurnas | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arProgramacionDetalle.horasFestivasNocturnas | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arProgramacionDetalle.horasExtrasOrdinariasDiurnas | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arProgramacionDetalle.horasExtrasOrdinariasNocturnas | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arProgramacionDetalle.horasExtrasFestivasDiurnas | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arProgramacionDetalle.horasExtrasFestivasNocturnas | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arProgramacionDetalle.horasRecargoNocturno | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arProgramacionDetalle.horasRecargoFestivoDiurno | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arProgramacionDetalle.horasRecargoFestivoNocturno | number_format(0, '.', ',') }}</td>
                                <td style="text-align: center;"><input type="checkbox" name="ChkSeleccionar[]"
                                                                       value="{{ arProgramacionDetalle.codigoProgramacionDetallePk }}">
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="btn-toolbar" style="float: right;">
            {{ form_widget(form.btnCargarContratos) }}
            {{ form_widget(form.btnEliminar) }}
            {{ form_widget(form.btnEliminarTodos) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}