{% extends 'base_recursoHumano.html.twig' %}
{% block content %}
    {{ form_start(formConfiguracion, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="panel panel-default">
        <div class="panel-heading">Configuracion</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="" class="col-sm-2 control-label">Salario mínimo:</label>
                <div class="col-sm-4">
                    {{ form_widget(formConfiguracion.vrSalario ) }}
                    {{ form_errors(formConfiguracion.vrSalario ) }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        {{ form_widget(formConfiguracion.guardar ) }}
    </div>
    {{ form_end(formConfiguracion) }}
    {{ form_start(formConceptoHora, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="panel panel-default">
        <div class="panel-heading">Conceptos horas</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="" class="col-sm-2 control-label">Horas diurnas:</label>
                <div class="col-sm-4">
                    {{ form_widget(formConceptoHora.DConceptoRel) }}
                </div>
                <label for="" class="col-sm-2 control-label">Horas nocturnas:</label>
                <div class="col-sm-4">
                    {{ form_widget(formConceptoHora.NConceptoRel) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="" class="col-sm-2 control-label">Horas festivas diurnas:</label>
                <div class="col-sm-4">
                    {{ form_widget(formConceptoHora.FDConceptoRel) }}
                </div>
                <label for="" class="col-sm-2 control-label">Horas festvias nocturnas:</label>
                <div class="col-sm-4">
                    {{ form_widget(formConceptoHora.FNConceptoRel) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="" class="col-sm-2 control-label">Horas extras ordinarias diurnas:</label>
                <div class="col-sm-4">
                    {{ form_widget(formConceptoHora.EODConceptoRel) }}
                </div>
                <label for="" class="col-sm-2 control-label">Horas extras ordinarias nocturnas:</label>
                <div class="col-sm-4">
                    {{ form_widget(formConceptoHora.EONConceptoRel) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="" class="col-sm-2 control-label">Horas extras festivas diurnas:</label>
                <div class="col-sm-4">
                    {{ form_widget(formConceptoHora.EFDConceptoRel) }}
                </div>
                <label for="" class="col-sm-2 control-label">Horas extras festivas nocturnas:</label>
                <div class="col-sm-4">
                    {{ form_widget(formConceptoHora.EFNConceptoRel) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="" class="col-sm-2 control-label">Horas recargo festivo diurno:</label>
                <div class="col-sm-4">
                    {{ form_widget(formConceptoHora.RFDConceptoRel) }}
                </div>
                <label for="" class="col-sm-2 control-label">Horas recargo festivo nocturna:</label>
                <div class="col-sm-4">
                    {{ form_widget(formConceptoHora.RFNConceptoRel) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="" class="col-sm-2 control-label">Horas recargo nocturno:</label>
                <div class="col-sm-4">
                    {{ form_widget(formConceptoHora.RNConceptoRel) }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        {{ form_widget(formConceptoHora.btnGuardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>
    {{ form_end(formConceptoHora) }}
{% endblock %}
