{% extends 'base_transporte.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="panel panel-default">
        <div class="panel-heading">Filtros</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="txtCodigoConductor" class="col-sm-1 control-label">Cliente:</label>
                <div class="col-sm-11">
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="input-group">
                                {{ form_widget(form.txtCodigoCliente) }}
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="input-group">
                                {{ form_widget(form.txtNombreCorto) }}
                                <span class="input-group-btn">
                                        <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('cartera_buscar_cliente', { 'campoCodigo': 'form_txtCodigoCliente', 'campoNombre': 'form_txtNombreCorto' }) }}', 'buscarCliente', 600, 900)">Buscar</a>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-1 control-label">Desde:</label>
                <div class="col-sm-5">
                    {{ form_widget(form.fechaDesde) }}
                </div>
                <label class="col-sm-1 control-label">Tipo:</label>
                <div class="col-sm-5">
                    {{ form_widget(form.cboReciboTipoRel, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-1 control-label">Hasta:</label>
                <div class="col-sm-5">
                    {{ form_widget(form.fechaHasta) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-1 control-label"></label>
                <div class="col-sm-5">
                    {{ form_widget(form.filtrarFecha) }}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            {{ form_widget(form.btnFiltrar) }}
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>NUMERO</th>
            <th>FECHA</th>
            <th>FECHA PAGO</th>
            <th>NIT</th>
            <th>CLIENTE</th>
            <th>CUENTA</th>
            <th>TOTAL</th>
            <th>USUARIO</th>
            <th>ANU</th>
            <th>AUT</th>
            <th>APR</th>
            <th><input type="checkbox" name="ChkSeleccionarTodosDetalle" OnClick="ChequearTodosTabla(this, 'ChkSeleccionar[]');"/></th>
        </tr>
        </thead>
        <tbody>
        {% for arRecibo in arRecibos %}
            <tr>
                <td>{{ arRecibo.codigoReciboPk }}</td>
                <td>{{ arRecibo.numero }}</td>
                <td>{{ arRecibo.fecha | date('Y-m-d') }}</td>
                <td>{{ arRecibo.fechaPago | date('Y-m-d') }}</td>
                <td>{{ arRecibo.numeroIdentificacion }}</td>
                <td>{{ arRecibo.nombreCorto }}</td>
                <td>{{ arRecibo.nombre }}</td>
                <td class="numero">{{ arRecibo.vrPagoTotal | number_format(0, '.', ',') }}</td>
                <td>{{ arRecibo.usuario }}</td>
                {{ validarTipo(arRecibo.estadoAnulado) }}
                {{ validarTipo(arRecibo.estadoAutorizado) }}
                {{ validarTipo(arRecibo.estadoAprobado) }}
                <td style="text-align: center;"><input type="checkbox" name="ChkSeleccionar[]" value="{{ arRecibo.codigoReciboPk }}" /></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        <div class="btn-group" style="float: left">
            <div class="btn btn-default btn-sm">Registros <span class="badge">{{ arRecibos.getTotalItemCount }}</span></div>
        </div>

        <div class="btn-group btn-xs" style="float: left;margin-left: 0px;padding-top: 0px;">
            {{ knp_pagination_render(arRecibos) }}
        </div>
        <div class="btn-toolbar" style="float: right">
            <div class="btn-group">
                {{ form_widget(form.btnContabilizar, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
            </div>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}

