{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="btn-toolbar" style="float:left">
        <a class="btn btn-default btn-sm" href="{{ path('transporte_movimiento_transporte_guia_lista') }}">Volver</a>
        <div class="btn-group">
            {% include 'estructura/botonera.html.twig' %}
        </div>
    </div>
    <div style="float:right">
        {% if arMonitoreo.estadoAutorizado == 1 %}<span
                class="label label-default">Autorizado</span>{% endif %}
        {% if arMonitoreo.estadoAprobado == 1 %}<span
                class="label label-success">Aprobado</span>{% endif %}
    </div>
    <br /><br />
    <table width="100%" class="table table-condensed table-bordered tabla-informacion">
        <tr>
            <td class="titulo">ID:</td>
            <td class="td-in-well">{{ arMonitoreo.codigoMonitoreoPk }}</td>
            <td class="titulo">INICIO:</td>
            <td class="td-in-well">{{ arMonitoreo.fechaInicio |date("Y/m/d H:i") }}</td>
        </tr>
        <tr>
            <td class="titulo">VEHICULO:</td>
            <td class="td-in-well">{{ arMonitoreo.codigoVehiculoFk }}</td>
            <td class="titulo">FIN:</td>
            <td class="td-in-well">{{ arMonitoreo.fechaFin |date("Y/m/d H:i") }}</td>
        </tr>
        <tr>
            <td class="titulo">CONDUCTOR</td>
            <td class="td-in-well">{{ arMonitoreo.despachoRel.conductorRel.nombreCorto }}</td>
            <td class="titulo">DESTINO</td>
            <td class="td-in-well">{{ arMonitoreo.despachoRel.ciudadDestinoRel.nombre }}</td>
        </tr>
    </table>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#detalles" data-toggle="tab">Reportes</a></li>
        <li><a href="#registros" data-toggle="tab">Registros</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="detalles">
            <div id="detalles" style="width: 100%"><br>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover tabla-datos">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>REGISTRO</th>
                            <th>REPORTE</th>
                            <th>COMENTARIO</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for arMonitoreoDetalle in arMonitoreoDetalles %}
                            <tr>
                                <td>{{ arMonitoreoDetalle.codigoMonitoreoDetallePk }}</td>
                                <td>{{ arMonitoreoDetalle.fechaRegistro |date('Y-m-d H:i') }}</td>
                                <td>{{ arMonitoreoDetalle.fechaReporte |date('Y-m-d H:i') }}</td>
                                <td>{{ arMonitoreoDetalle.comentario }}</td>
                                <td><input type="checkbox" name="ChkSeleccionar[]" value="{{ arMonitoreoDetalle.codigoMonitoreoDetallePk }}" /></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="separador-1"></div>
                <div class="btn-toolbar" style="float: right">
                    <div class="btn-group">
                        {% if arMonitoreo.estadoAutorizado == 0 %}
                            <a class="btn btn-default btn-sm"
                               href="javascript:abrirVentana3('{{ path('transporte_movimiento_monitoreo_monitoreo_detalle_adicionar_reporte', {'codigoMonitoreo': arMonitoreo.codigoMonitoreoPk, 'codigoMonitoreoDetalle': 0 }) }} ', 'DespachoAdicionarGuia', 600, 1200)">Adicionar</a>
                            <div class="btn-group">
                                {{ form_widget(form.btnRetirarDetalle, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="registros">
            <div id="registros" style="width: 100%"><br>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover tabla-datos">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>FECHA</th>
                            <th>LATITUD</th>
                            <th>LONGITUD</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for arMonitoreoRegistro in arMonitoreoRegistros %}
                            <tr>
                                <td>{{ arMonitoreoRegistro.codigoMonitoreoRegistroPk }}</td>
                                <td>{{ arMonitoreoRegistro.fecha |date('Y-m-d H:i') }}</td>
                                <td>{{ arMonitoreoRegistro.latitud }}</td>
                                <td>{{ arMonitoreoRegistro.longitud }}</td>
                                <td><input type="checkbox" name="ChkSeleccionar[]" value="{{ arMonitoreoRegistro.codigoMonitoreoRegistroPk }}" /></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="separador-1"></div>
                <div class="btn-toolbar" style="float: right">
                    <div class="btn-group">
                        {% if arMonitoreo.estadoAutorizado == 0 %}
                            <a class="btn btn-default btn-sm"
                               href="javascript:abrirVentana3('{{ path('transporte_movimiento_monitoreo_monitoreo_detalle_adicionar_reporte', {'codigoMonitoreo': arMonitoreo.codigoMonitoreoPk, 'codigoMonitoreoDetalle': 0 }) }} ', 'DespachoAdicionarGuia', 600, 1200)">Adicionar</a>
                        {% endif %}
                    </div>
                    <div class="btn-group">
                        {{ form_widget(form.btnRetirarDetalle, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}
                    </div>
                </div>
                {#<div class="btn-toolbar" style="float: right">#}
                    {#<div class="btn-group">#}
                        {#<a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('transporte_movimiento_monitoreo_monitoreo_detalle_adicionar_reporte', {'codigoMonitoreo': arMonitoreo.codigoMonitoreoPk, 'codigoMonitoreoDetalle': 0 }) }}', 'MonitoreoAdicionarReporte', 600, 900)">Adicionar</a>#}
                    {#</div>#}
                    {#<div class="btn-group">#}
                        {#{{ form_widget(form.btnRetirarDetalle, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}#}
                    {#</div>#}
                {#</div>#}
            </div>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
