{% extends 'base_cartera.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    {{ form_errors(form) }}
    <div class="panel panel-default">
        <div class="panel-heading">Informacion general</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Nombre:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.nombre, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.nombre) }}
                </div>
                <label class="col-sm-2 control-label">Tipo cuenta cliente:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.tipoCuentaCliente, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Cuenta cliente:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.codigoCuentaClienteFk, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.codigoCuentaClienteFk) }}
                </div>
                <label class="col-sm-2 control-label">Cuenta retencion fuente:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.codigoCuentaRetencionFuenteFk, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Cuenta retencion iva:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.codigoCuentaRetencionIvaFk, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.codigoCuentaRetencionIvaFk) }}
                </div>
                <label class="col-sm-2 control-label">Cuenta retencion ica:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.codigoCuentaRetencionIcaFk, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default btn-sm" href="{{ path('car_adm_general_cuenta_cobrar_tipo_lista') }}">Cancelar</a>
        {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
        {{ form_widget(form.guardarnuevo, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>
    {{ form_end(form) }}
{% endblock %}