{% extends 'base_compra.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="panel panel-default">
        <div class="panel-heading">Información general</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="txtNit" class="col-sm-2 control-label">Proveedor:</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="input-group">
                                <input id="txtCodigoProveedor" name="txtCodigoProveedor" type="text"
                                       class="form-control"
                                       value="{{ arCompra.codigoProveedorFk|default('') }}"/>
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="input-group">
                                <input id="txtNombreCorto" name="txtNombreCorto" type="text" class="form-control"
                                       value="{{ arCompra.proveedorRel.nombreCorto |default('') }}"
                                       readOnly="ReadOnly"/>
                                <span class="input-group-btn">
                                        <a class="btn btn-default btn-sm"
                                           href="javascript:abrirVentana3('{{ path('compra_bus_proveedor', { 'campoCodigo': 'txtCodigoProveedor', 'campoNombre': 'txtNombreCorto', 'tipo' : 'C' }) }}', 'buscarTercero', 600, 900)">Buscar</a>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_recogidaTipoRel" class="col-sm-2 control-label">Tipo de comprobante:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.compraTipoRel, { 'attr': {'class': 'form-control'} }) }}
                    <div style="color:red;">{{ form_errors(form.compraTipoRel) }}</div>
                </div>
            </div>
            <div class="form-group form-group-sm">
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Comentario:</label>
                <div class="col-sm-10">
                    {{ form_widget(form.comentarios, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                    {{ form_errors(form.comentarios) }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default btn-sm"
           href="{{ path('compra_movimiento_compra_compra_lista') }}">Cancelar</a>
        {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
