{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div id="content sortable-grid ui-sortable">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-collapsed="true">
            <header role="heading" class="ui-sortable-handle">
                <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
                <h2>Filtro</h2>
            </header>
            <div>
                <div class="form-group form-group-sm">
                    <label for="form_txtCodigoEmpleado"
                           class="col-sm-1 control-label">Empleado:</label>
                    <div class="col-sm-11">
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="input-group">
                                    {{ form_widget(form.txtEmpleado) }}
                                </div>
                            </div>
                            <div class="col-lg-10">
                                <div class="input-group">
                                    <input id="form_txtNombreCorto" class="form-control" readonly>
                                    <span class="input-group-btn">
                                            <a class="btn btn-default btn-sm"
                                               href="javascript:abrirVentana3('{{ path('recursohumano_buscar_empleado', { 'campoCodigo': 'form_txtEmpleado', 'campoNombre': 'form_txtNombreCorto' }) }}', 'buscarEMpleado', 600, 900)">Buscar</a>
                                        </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                        <label for="txtCodigoConductor" class="col-sm-1 control-label">Cliente:</label>
                        <div class="col-sm-11">
                            <div class="row">
                                <div class="col-lg-2">
                                    <div class="input-group">
                                        {{ form_widget(form.codigoClienteFk) }}
                                    </div>
                                </div>
                                <div class="col-lg-10">
                                    <div class="input-group">
                                        <input id="form_txtNombreCliente" class="form-control" readonly>
                                        <span class="input-group-btn">
                                            <a class="btn btn-default btn-sm"
                                               href="javascript:abrirVentana3('{{ path('turno_buscar_cliente',
                                                   { 'campoCodigo': 'form_codigoClienteFk', 'campoNombre': 'form_txtNombreCliente' }) }}', 'buscarCliente', 600, 900)">Buscar</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="form-group form-group-sm">
                        <label for="txtCodigoConductor" class="col-sm-1 control-label">Puesto:</label>
                        <div class="col-sm-11">
                            <div class="row">
                                <div class="col-lg-2">
                                    <div class="input-group">
                                        {{ form_widget(form.codigoPuesto) }}
                                    </div>
                                </div>
                                <div class="col-lg-10">
                                    <div class="input-group">
                                        <input id="form_txtNombrePuesto" class="form-control" readonly>
                                        <span class="input-group-btn">
                                            <a class="btn btn-default btn-sm"
                                               href="javascript:abrirVentana3('{{ path('turno_buscar_puesto',
                                                   { 'campoCodigo': 'form_codigoPuesto', 'campoNombre': 'form_txtNombrePuesto' }) }}', 'buscarCliente', 600, 900)">Buscar</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="form-group form-group-sm">
                    <label for="form_TxtCodigo" class="col-sm-1 control-label">Número pedido:</label>
                    <div class="col-sm-1">
                        {{ form_widget(form.nuemeroPedido) }}
                    </div>
                    <label for="form_TxtCodigo" class="col-sm-1 control-label">Año:</label>
                    <div class="col-sm-1">
                        {{ form_widget(form.txtAnio) }}
                    </div>
                    <label for="form_TxtCodigo" class="col-sm-1 control-label">Mes:</label>
                    <div class="col-sm-1">
                        {{ form_widget(form.txtMes) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <div class="col-sm-offset-2 col-sm-10">
                        {{ form_widget(form.btnFiltrar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-condensed tabla-datos">
            <thead>
            <tr>
                <th colspan="3">RECURSO</th>
                {% if arrDiaSemana != "" %}
                    {% for arrDiaSemana in arrDiaSemana %}
                        <th {{ arrDiaSemana.festivo? 'class="dia-festivo"' : '' }}>{{ arrDiaSemana.dia }}{{ arrDiaSemana.diaSemana|upper }}</th>
                    {% endfor %}
                {% else %}
                    {% for i in range(1,31) %}
                        <th>{{ i }}</th>
                    {% endfor %}
                {% endif %}
                <th>H</th>
                <th>P.D</th>
                <th title="Complementario">C</th>
            </tr>
            </thead>
            <tbody>
            {% set intCodigoCliente = '' %}
            {% set intCodigoPuesto = '' %}
            {% for arProgramacion in arProgramaciones %}
                {% if intCodigoCliente != arProgramacion.codigoClienteFk %}
                    <tr>
                        <td colspan="36"> {{ arProgramacion.cliente }}</td>
                    </tr>
                    {% set intCodigoCliente =  arProgramacion.codigoClienteFk %}
                {% endif %}
                {% if intCodigoPuesto != arProgramacion.codigoPuestoFk %}
                    <td colspan="3">
                        COD.PUESTO:
                        {{ arProgramacion.codigoPuestoFk }}
                    </td>
                    <td id="suptipo" colspan="34">
                        {{ arProgramacion.puestoNombre | default('')}}
                    </td>
                    {% set intCodigoPuesto = arProgramacion.codigoPuestoFk  %}
                {% endif %}
                <tr>
                    <td>{{ arProgramacion.codigoProgramacionPk }}</td>
                    <td>{{ arProgramacion.numeroIdentificacion | default('') }}</td>
                    <td>
                        <a href="javascript:abrirVentana3('{{ path('turno_movimiento_operacion_programacion_recurso',
                            { 'codigoPedidoDetalle': arProgramacion.codigoPedidoDetalleFk , 'codigoEmpleado': arProgramacion.codigoEmpleadoFk }) }}', 'VerProgramaciones', 600, 1300)">
                            {{ arProgramacion.empleadoNombreCorto | default('') }}
                        </a>
                    </td>
                    <td>{{ arProgramacion.dia1 }}</td>
                    <td>{{ arProgramacion.dia2 }}</td>
                    <td>{{ arProgramacion.dia3 }}</td>
                    <td>{{ arProgramacion.dia4 }}</td>
                    <td>{{ arProgramacion.dia5 }}</td>
                    <td>{{ arProgramacion.dia6 }}</td>
                    <td>{{ arProgramacion.dia7 }}</td>
                    <td>{{ arProgramacion.dia8 }}</td>
                    <td>{{ arProgramacion.dia9 }}</td>
                    <td>{{ arProgramacion.dia10 }}</td>
                    <td>{{ arProgramacion.dia11 }}</td>
                    <td>{{ arProgramacion.dia12 }}</td>
                    <td>{{ arProgramacion.dia13 }}</td>
                    <td>{{ arProgramacion.dia14 }}</td>
                    <td>{{ arProgramacion.dia15 }}</td>
                    <td>{{ arProgramacion.dia16 }}</td>
                    <td>{{ arProgramacion.dia17 }}</td>
                    <td>{{ arProgramacion.dia18 }}</td>
                    <td>{{ arProgramacion.dia19 }}</td>
                    <td>{{ arProgramacion.dia20 }}</td>
                    <td>{{ arProgramacion.dia21 }}</td>
                    <td>{{ arProgramacion.dia22 }}</td>
                    <td>{{ arProgramacion.dia23 }}</td>
                    <td>{{ arProgramacion.dia24 }}</td>
                    <td>{{ arProgramacion.dia25 }}</td>
                    <td>{{ arProgramacion.dia26 }}</td>
                    <td>{{ arProgramacion.dia27 }}</td>
                    <td>{{ arProgramacion.dia28 }}</td>
                    <td>{{ arProgramacion.dia29 }}</td>
                    <td>{{ arProgramacion.dia30 }}</td>
                    <td>{{ arProgramacion.dia31 }}</td>
                    <td>{{ arProgramacion.horasDiurnas }}</td>
                    <td>{{ arProgramacion.horasNocturnas }}</td>
                    <td>{% if arProgramacion.complementario == 1 %} SI {% else %} NO {% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="btn-group" style="float: left">
        <div class="btn btn-default btn-sm">Registros
            <span class="badge">{{ arProgramaciones.getTotalItemCount }}
            </span>
        </div>
    </div>
    <div class="btn-group btn-xs" style="float: left;margin-top: -18px;">
        {{ knp_pagination_render(arProgramaciones) }}
    </div>
    <div class="btn-toolbar" style="float: right">
        <div class="btn-group" style="float: right">
            {{ form_widget(form.btnExcel, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
        </div>
        <div class="btn-group" style="float: right">
            {{ form_widget(form.btnImprimir, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
        </div>
    </div>
    <br/><br/>
    {{ form_end(form) }}
{% endblock %}