{% extends 'base.html.twig' %}
{% block content %}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-default btn-sm"
               href="{{ path('recursohumano_movimiento_seguridadsocial_aporte_lista') }}">Volver</a> &nbsp;&nbsp;
        </div>
    </div>
    <br><br>
    <table width="100%" class="table table-condensed table-bordered tabla-informacion">
        <tbody>
        <tr>
            <td class="titulo">ID:</td>
            <td class="td-in-well">{{ arAporte.codigoAportePk }}</td>
            <td class="titulo">AÑO:</td>
            <td class="td-in-well">{{ arAporte.anio }}</td>
            <td class="titulo">MES:</td>
            <td class="numero">{{ arAporte.mes}}</td>
    </table>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#recogidas" data-toggle="tab">Planilla</a></li>
        <li><a href="#auxiliares" data-toggle="tab">Contrato</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="recogidas">
            <div id="detalles" style="width: 100%"><br>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover tabla-datos">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>AÑO</th>
                            <th>MES</th>
                            <th>SUCURSAL</th>
                            <th title="NUMEROS CONTRATOS">CONTRATOS</th>
                            <th title="NUMEROS EMPLEADO">EMPLEADOS</th>
                            <th>TOTAL</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for arAportePlanilla in arAportePlanillas %}
                            <tr>
                                <td>{{ arAportePlanilla.codigoAportePlanillaPk }}</td>
                                <td>{{ arAportePlanilla.anio}}</td>
                                <td>{{ arAportePlanilla.mes}}</td>
                                <td>{{ arAportePlanilla.sucursalRel.nombre}}</td>
                                <td>{{ arAportePlanilla.numeroContratos}}</td>
                                <td>{{ arAportePlanilla.numeroEmpleados}}</td>
                                <td>{{ arAportePlanilla.total}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="separador-1"></div>
                <div class="btn-toolbar" style="float: right">
                    <div class="btn-group">
{#                        {% if arDespachoRecogida.estadoAutorizado %}#}
{#                            <input type="button" class="btn btn-sm btn-default" value="Nuevo" disabled>#}
{#                        {% else %}#}
{#                            <a class="btn btn-default btn-sm"#}
{#                               href="javascript:abrirVentana3('{{ path('transporte_movimiento_recogida_despacho_detalle_adicionar_recogida', {'codigoDespachoRecogida': arDespachoRecogida.codigoDespachoRecogidaPk }) }}', 'DespachoRecogidaAdicionarRecogida', 600, 900)">Nuevo</a>#}
{#                        {% endif %}#}
                    </div>
                    <div class="btn-group">
{#                        {{ form_widget(form.btnEliminarRecogida, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}#}
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="auxiliares">
            <div id="auxiliares" style="width: 100%"><br>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover tabla-datos">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>DOC</th>
                            <th>NOMBRE</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for arAporteContrato in arAporteContratos %}
                            <tr>
                                <td>{{ arAporteContrato.codigoAporteContratoPk }}</td>
                                <td>{{ arAporteContrato.codigoAporteFk }}</td>
                                <td>{{ arAporteContrato.codigoContratoFk }}</td>
                                <td>{{ arAporteContrato.empleadoRel.nombreCorto |default('')}}</td>
                                <td>{{ arAporteContrato.anio }}</td>
                                <td>{{ arAporteContrato.mes }}</td>
                                <td>{{ arAporteContrato.codigoSucursalFk }}</td>
                                <td>{{ arAporteContrato.dias }}</td>
                                <td>{{ arAporteContrato.horas }}</td>
                                <td class="numero">{{ arAporteContrato.vrSalario  | number_format(0, '.', ',')}}</td>
                                <td>{{ arAporteContrato.Ibc }}</td>
                                <td>{{ arAporteContrato.IbcCajaVacaciones }}</td>
                                <td>{{ arAporteContrato.vrVacaciones }}</td>
                                <td>{{ arAporteContrato.ingreso }}</td>
                                <td>{{ arAporteContrato.retiro }}</td>
                                <td>{{ arAporteContrato.salarioIntegral }}</td>
                                <td>{{ arAporteContrato.diasLicencia }}</td>
                                <td>{{ arAporteContrato.diasIncapacidadGeneral }}</td>
                                <td>{{ arAporteContrato.diasLicenciaMaternidad }}</td>
                                <td>{{ arAporteContrato.diasIncapacidadLaboral }}</td>
                                <td>{{ arAporteContrato.diasVacaciones }}</td>
                                <td>{{ arAporteContrato.tarifaPension }}</td>
                                <td>{{ arAporteContrato.tarifaSalud }}</td>
                                <td>{{ arAporteContrato.tarifaRiesgos }}</td>
                                <td>{{ arAporteContrato.tarifaCaja }}</td>
                                <td>{{ arAporteContrato.codigoEntidadPensionPertenece }}</td>
                                <td>{{ arAporteContrato.codigoEntidadSaludPertenece }}</td>
                                <td>{{ arAporteContrato.codigoEntidadCajaPertenece }}</td>
                                <td>{{ arAporteContrato.incapacidadGeneral?"SI":"NO" }}</td>
                                <td>{{ arAporteContrato.incapacidadLaboral?"SI":"NO"  }}</td>
                                <td>{{ arAporteContrato.licencia?"SI":"NO"  }}</td>
                                <td>{{ arAporteContrato.licenciaMaternidad?"SI":"NO"  }}</td>
                                <td>{{ arAporteContrato.licenciaRemunerada?"SI":"NO"  }}</td>
                                <td>{{ arAporteContrato.vacaciones?"SI":"NO"  }}</td>
                                <td>{{ arAporteContrato.fechaDesde | date('Y-m-d') }}</td>
                                <td>{{ arAporteContrato.fechaHasta | date('Y-m-d') }}</td>
                                <td>{{ arAporteContrato.fechaRetiro | date('Y-m-d') }}</td>
                                <td>{{ arAporteContrato.fechaIngreso | date('Y-m-d') }}</td>
                                <td>{{ arAporteContrato.variacionTransitoriaSalario }}</td>
                                <td>{{ arAporteContrato.codigoEntidadSaludTraslada }}</td>
                                <td>{{ arAporteContrato.trasladoAOtraEps?"SI":"NO" }}</td>
                                <td>{{ arAporteContrato.trasladoAOtraPension?"SI":"NO" }}</td>
                                <td>{{ arAporteContrato.trasladoDesdeOtraEps?"SI":"NO" }}</td>
                                <td>{{ arAporteContrato.trasladoDesdeOtraPension?"SI":"NO" }}</td>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="separador-1"></div>
                <div class="btn-toolbar" style="float: right">
                    <div class="btn-group">
{#                        {% if arDespachoRecogida.estadoAutorizado %}#}
{#                            <input type="button" class="btn btn-sm btn-default" value="Nuevo" disabled>#}
{#                        {% else %}#}
{#                            <a class="btn btn-default btn-sm"#}
{#                               href="javascript:abrirVentana3('{{ path('transporte_movimiento_recogida_despacho_detalle_adicionar_auxiliar', {'codigoDespachoRecogida': arDespachoRecogida.codigoDespachoRecogidaPk }) }}', 'DespachoRecogidaAdicionarAuxiliar', 600, 900)">Nuevo</a>#}
{#                        {% endif %}#}
                    </div>
                    <div class="btn-group">
{#                        {{ form_widget(form.btnEliminarAuxiliar, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}#}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
