{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">Información general</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="identificacionRel" class="col-sm-2 control-label">Sucursal:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.sucursalRel) }}
                </div>
                <label for="form_numeroIdentificacion" class="col-sm-2 control-label">Presentacion:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.formaPresentacion) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="identificacionRel" class="col-sm-2 control-label">Año:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.anio, { 'attr': {'class': 'form-control'} }) }}
                    <p style="font-size: 0.8em;"> * Año del periodo real que se esta pagando (ej: 2019)</p>
                </div>
                <label for="form_numeroIdentificacion" class="col-sm-2 control-label">Mes:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.mes, { 'attr': {'class': 'form-control'} }) }}
                    <p style="font-size: 0.8em;">  Mes del periodo real que se esta pagando (Ej: cuando se va pagar junio)</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default btn-sm" href="{{ path('recursohumano_movimiento_seguridadsocial_aporte_lista') }}">Cancelar</a>
        {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
