{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-default btn-sm" href="{{ path('cartera_movimiento_cartera_cuentacobrar_lista') }}">Volver</a>&nbsp;&nbsp;
        </div>
        <div class="btn-group">
            {% include 'estructura/botonera.html.twig' %}
        </div>
    </div>
    <br/><br/>
    <table width="100%" class="table table-condensed table-bordered">
        <tr>
            <td class="titulo">CODIGO:</td>
            <td class="td-in-well">{{ arCuentaCobrar.codigoCuentaCobrarPk }}</td>
            <td class="titulo">NUMERO DOCUMENTO:</td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arCuentaCobrar.numeroDocumento }}</td>
            <td class="titulo">ABONO:</td>
            <td align="right">{{ arCuentaCobrar.vrAbono | number_format(0, '.', ',') }}</td>
        </tr>
        <tr>
            <td class="titulo">TIPO:</td>
            <td class="td-in-well">{{ arCuentaCobrar.codigoCuentaCobrarTipoFk }}</td>
            <td class="titulo">FECHA:</td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arCuentaCobrar.fecha | date('Y-m-d') }}</td>
            <td class="titulo">SALDO:</td>
            <td align="right">{{ arCuentaCobrar.vrSaldo | number_format(0, '.', ',') }}</td>
        </tr><tr>
            <td class="titulo">NUMERO REFERENCIA:</td>
            <td class="td-in-well">{{ arCuentaCobrar.numeroReferencia }}</td>
            <td class="titulo">VENCE:</td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arCuentaCobrar.fechaVence | date('Y-m-d') }}</td>
            <td class="titulo">TOTAL:</td>
            <td align="right">{{ arCuentaCobrar.vrTotal | number_format(0, '.', ',') }}</td>
        </tr>
    </table>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#detalles" data-toggle="tab">Detalles</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="detalles">
            <div id="detalles" style="width: 100%"><br>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}