<table width="100%" class="table table-condensed table-bordered tabla-informacion">
    <tr>
        <td class="titulo">ENTIDAD:</td>
        <td class="td-in-well" style="text-transform: uppercase;">{{ arExamen.examenEntidadRel.nombre }}</td>
        <td class="titulo">CLIENTE:</td>
        <td class="td-in-well" style="text-transform: uppercase;"></td>
        <td class="titulo"></td>
        <td class="td-in-well"></td>
{#        <td class="td-in-well">{% if arExamen.clienteRel == null %} SIN CONTRATO {% else %} {{ arExamen.clienteRel.nombreCorto}} {%endif %}</td>#}
    </tr>
    <tr>
        <td class="titulo">GRUPO PAGO:</td>
{#        <td class="td-in-well">{% if arExamen.centroCostoRel == null %} SIN CONTRATO {% else %} {{ arExamen.centroCostoRel.nombre }}{% endif %}</td>#}
        <td class="td-in-well"></td>
        <td class="titulo">CONTROL PAGO:</td>
        <td class="td-in-well"></td>
        <td class="titulo"></td>
        <td class="right"></td>
    </tr>
    <tr>
        <td class="titulo">IDENTIFICACION:</td>
        <td class="td-in-well">{{ arExamen.numeroIdentificacion }}</td>
        <td class="titulo">NOMBRE:</td>
        <td class="td-in-well">{{ arExamen.nombreCorto }}</td>
        <td class="titulo"></td>
        <td class="right"></td>
    </tr>
    <tr>
        <td class="titulo">CARGO:</td>
        <td class="td-in-well">{{ arExamen.cargoRel.nombre }}</td>
        <td class="titulo">COBRO:</td>
        <td class="td-in-well">{%if arExamen.cobro == 'E' %} EMPLEADO {%endif%} {% if arExamen.cobro == 'C' %}CLIENTE {%endif%} {% if arExamen.cobro == 'N' %} NO COBRAR {%endif%}</td>
        <td class="titulo"></td>
        <td class="right"></td>
    </tr>
    <tr>
        <td class="titulo">FECHA Y HORA:</td>
        <td class="td-in-well">{{ arExamen.fecha | date('Y/m/d H:i:s') }}</td>
        <td class="titulo">CONTROL:</td>
        <td class="td-in-well"></td>
        {#        <td> {% if arExamen.control == 1 %}SI{% else %}NO{% endif %}</td>#}
        <td class="titulo"></td>
        <td class="right"></td>
    </tr>
    <tr>

        <td class="titulo">CLASE:</td>
        <td class="td-in-well">{{ arExamen.examenTipoRel.nombre }}</td>
        <td class="titulo"></td>
        <td class="right"></td>
        <td class="titulo">TOTAL:</td>
        <td class="right">{{ arExamen.vrTotal | number_format(0, '.', ',') }}</td>
    </tr>
    <tr>
        <td class="titulo">COMENTARIO:</td>
        <td class="td-in-well" colspan="5">{{ arExamen.comentario }}</td>
    </tr>
</table>