{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="panel panel-default">
        <div class="panel-heading">Filtros</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label class="col-sm-1 control-label">Identificador:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.txtIdentificador, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-4">
                    
                </div>
            </div>
        </div>
        <div class="modal-footer">
            {{ form_widget(form.btnFiltrar) }}
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover tabla-datos">
            <thead>
            <tr>
                <th>ID</th>
                <th>IDENTIFICADOR</th>
                <th>ARCHIVO</th>
                <th><input type="checkbox" name="ChkSeleccionar" OnClick="ChequearTodosTabla(this, 'ChkSeleccionar[]');"/></th>
            </tr>
            </thead>
            <tbody>
            {% for arMasivoCarga in arMasivosCargas %}
                <tr>
                    <td>{{ arMasivoCarga.codigoMasivoCargaPk }}</td>
                    <td>{{ arMasivoCarga.identificador }}</td>
                    <td>{{ arMasivoCarga.archivo }}</td>
                    <td style="text-align: center;"><input type="checkbox" name="ChkSeleccionar[]" value="{{  arMasivoCarga.codigoMasivoCargaPk }}" /></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="btn-group" style="float: left">
        <div class="btn-group" style="float: left">
            <div class="btn btn-default btn-sm">Masivos <span
                        class="badge">{{ arMasivosCargas.getTotalItemCount }}</span>
            </div>
        </div>
    </div>
    <div class="btn-toolbar">
        <div class="btn-group" style="float: right;">
            {{ form_widget(form.btnEliminarDetalle) }}
        </div>
        <div class="btn-group" style="float: right;">
            {{ form_widget(form.btnAnalizarBandeja) }}
        </div>
        <div class="btn-group" style="float: right;">
            <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('documental_movimiento_masivo_masivo_paquete') }}','paqueteNuevo',600,900)">Paquete</a>
        </div>
        <div class="btn-group" style="float: right;">
            {{ form_widget(form.btnCargar) }}
        </div>
    </div>
    <div class="btn-group btn-xs">
        {{ knp_pagination_render(arMasivosCargas) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
