{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="panel panel-default">
        <div class="panel-heading">Información general</div>
        <div class="panel-body">

            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Codigo</label>
                <div class="col-sm-4">
                    {{ form_widget(form.codigoSaludPk,{ 'attr' : {'class' : 'form-control'}}) }}
                    <div style="color:red;">{{ form_errors(form.codigoSaludPk) }}</div>
                </div>
                <label class="col-sm-2 control-label">Nombre</label>
                <div class="col-sm-4">
                    {{ form_widget(form.nombre,{ 'attr' : {'class' : 'form-control'}}) }}
                    <div style="color:red;">{{ form_errors(form.nombre) }}</div>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Porcentaje empleado</label>
                <div class="col-sm-4">
                    {{ form_widget(form.porcentajeEmpleado, { 'attr': {'class' : 'form-control','onblur': 'javascript:calcularDigitoVerificacion(this.value)'} }) }}
                    <div style="color:red;">{{ form_errors(form.porcentajeEmpleado) }}</div>
                </div>
                <label class="col-sm-2 control-label">Porcentaje empleador</label>
                <div class="col-sm-4">
                    {{ form_widget(form.porcentajeEmpleador,{ 'attr' : {'class' : 'form-control'}}) }}
                    <div style="color:red;">{{ form_errors(form.porcentajeEmpleador) }}</div>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Concepto</label>
                <div class="col-sm-4">
                    {{ form_widget(form.conceptoRel,{ 'attr' : {'class' : 'form-control'}}) }}
                    <div style="color:red;">{{ form_errors(form.conceptoRel) }}</div>
                </div>
                <label class="col-sm-2 control-label">Orden</label>
                <div class="col-sm-4">
                    {{ form_widget(form.orden,{ 'attr' : {'class' : 'form-control'}}) }}
                    <div style="color:red;">{{ form_errors(form.orden) }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default btn-sm"
           href="{{ path('recursohumano_administracion_nomina_salud_lista') }}">Cancelar</a>
        {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
