<table width="100%" class="table table-condensed table-bordered">
    <tr>
        <td class="titulo">NUMERO:</td>
        <td class="td-in-well">{{ arRecogida.codigoRecogidaPk }}</td>
        <td class="titulo">FECHA:</td>
        <td class="td-in-well">{{ arRecogida.fecha |date("Y/m/d") }}</td>
        <td class="titulo">UNIDADES:</td>
        <td align="right">{{ arRecogida.unidades }}</td>
    </tr>
    <tr>
        <td class="titulo">CLIENTE:</td>
        <td class="td-in-well">{{ arRecogida.clienteRel.nombreCorto }}</td>
        <td class="titulo">HORA:</td>
        <td class="td-in-well">{{ arRecogida.fecha |date("H:i") }}</td>
        <td class="titulo">PESO:</td>
        <td align="right">{{ arRecogida.pesoReal }}</td>
    </tr>
    <tr>
        <td class="titulo">DIRECCION:</td>
        <td class="td-in-well">{{ arRecogida.clienteRel.direccion }}</td>
        <td class="titulo">CIUDAD:</td>
        <td class="td-in-well">{{ arRecogida.ciudadRel.nombre }}</td>
        <td class="titulo">VOLUMEN:</td>
        <td align="right">{{ arRecogida.pesoVolumen }}</td>
    </tr>
    <tr>
        <td class="titulo">TELEFONO:</td>
        <td class="td-in-well">{{ arRecogida.telefono }}</td>
        <td class="titulo"></td>
        <td class="td-in-well"></td>
        <td class="titulo"></td>
        <td align="right"></td>
    </tr>
    <tr>
        <td class="titulo">COMENTARIO:</td>
        <td class="td-in-well" colspan="5">{{ arRecogida.comentario }}</td>
    </tr>
</table>