{% extends 'base_transporte.html.twig' %}
{% block content %}
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>OP</th>
            <th>REG</th>
            <th>FECHA</th>
            <th>HORA</th>
            <th>CLIENTE</th>
            <th>ANUNCIANTE</th>
            <th>DIRECCION</th>
            <th>CIUDAD</th>
            <th>TELEFONO</th>
            <th>UND</th>
            <th>PES</th>
            <th>VOL</th>
            <th>P</th>
            <th>R</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for arRecogida in arRecogidas %}
            <tr>
                <td>{{ arRecogida.codigoRecogidaPk }}</td>
                <td>{{ arRecogida.codigoOperacionFk }}</td>
                <td>{{ arRecogida.fechaRegistro | date('Y-m-d') }}</td>
                <td>{{ arRecogida.fecha | date('Y-m-d') }}</td>
                <td>{{ arRecogida.fecha | date('H:i') }}</td>
                <td>{{ arRecogida.clienteNombreCorto }}</td>
                <td>{{ arRecogida.anunciante }}</td>
                <td>{{ arRecogida.direccion }}</td>
                <td>{{ arRecogida.ciudad }}</td>
                <td>{{ arRecogida.telefono }}</td>
                <td style="text-align: right">{{ arRecogida.unidades }}</td>
                <td style="text-align: right">{{ arRecogida.pesoReal }}</td>
                <td style="text-align: right">{{ arRecogida.pesoVolumen }}</td>
                <td style="text-align: center">{{ arRecogida.estadoProgramado?'SI':'NO' }}</td>
                <td style="text-align: center">{{ arRecogida.estadoRecogido?'SI':'NO' }}</td>
                <td style="text-align: center"><a href="{{ path('tte_mto_recogida_recogida_detalle', { 'codigoRecogida': arRecogida.codigoRecogidaPk }) }}"><img src="{{ asset('../assets/img/bootstrap/glyphicons_152_new_window.png') }}"></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="btn-group" style="float: left">
        <div class="btn-group" style="float: left">
            <div class="btn btn-default btn-sm">Registros <span class="badge">{{ arRecogidas.getTotalItemCount }}</span></div>
        </div>
    </div>
    <div class="btn-group btn-xs" style="float: left;margin-left: 0px;padding-top: 0px;">
        {{ knp_pagination_render(arRecogidas) }}
    </div>

    <div class="btn-toolbar" style="float: right">
        <div class="btn-group">
            <a class="btn btn-default btn-sm" href="{{ path('tte_mto_recogida_recogida_nuevo', {'codigoRecogida': 0}) }}">Nuevo</a>
        </div>
    </div>
{% endblock %}
