{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form) }}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-default btn-sm" href="{{ path('recursohumano_movimiento_financiero_cierreanio_lista') }}">Volver</a>&nbsp;&nbsp;
        </div>
        <div class="btn-group">
            {% include 'estructura/botonera.html.twig' %}
        </div>
    </div>
    <br/><br/>
    <table width="100%" class="table table-condensed table-bordered tabla-informacion">
        <tr>
            <td class="titulo">CODIGO:</td>
            <td class="td-in-well">{{ arCierreAnio.codigoCierreAnioPk }}</td>
            <td class="titulo">AÑO:</td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arCierreAnio.anio }}</td>
            <td class="titulo">SALARIO MINIMO:</td>
            <td class="td-in-well numero" style="text-transform: uppercase;">{{ arCierreAnio.vrSalarioMinimo | number_format}}</td>
        </tr>
        <tr>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
            <td class="titulo"></td>
            <td class="td-in-well" style="text-transform: uppercase;"></td>
            <td class="titulo">AUXILIO TRANSPORTE:</td>
            <td class="td-in-well numero" style="text-transform: uppercase;">{{ arCierreAnio.vrAuxilioTransporte | number_format }}</td>
        </tr>
    </table>
    {{ form_end(form) }}
{% endblock %}