{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div id="content sortable-grid ui-sortable">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-collapsed="true">
            <header>
                <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
                <h2>Filtro</h2>
            </header>
            <div>
                <div class="form-group form-group-sm">
                    <label for="form_cboGuiaTipoRel" class="col-sm-2 control-label">Codigo:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.codigoMovimientoPk, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <label for="form_cboOperacionRel" class="col-sm-2 control-label">Numero:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.numero, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">Desde:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.fechaDesde) }}
                    </div>
                    <label class="col-sm-2 control-label">Tipo:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.cuentaTipo) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">Hasta:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.fechaHasta  ) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <div class="col-sm-offset-2 col-sm-10">
                        {{ form_widget(form.btnFiltro, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover tabla-datos">
        <thead>
            <tr>
                <td>ID</td>
                <td>NOMBRE</td>
                <td>NUMERO</td>
                <td>FECHA</td>
                <th></th>
                <th></th>
                <th class="text-center" title="seleccionar todas los grupos"><input type="checkbox" name="ChkSeleccionarTodos" onclick="ChequearTodosTabla(this, 'ChkSeleccionar[]')"> </th>
            </tr>
        </thead>
        <tbody>
            {% for arMovimiento in arMovimientos %}
                <tr>
                    <td>{{ arMovimiento.codigoMovimientoPk }}</td>
                    <td>{{ arMovimiento.nombre }}</td>
                    <td>{{ arMovimiento.numero }}</td>
                    <td>{{ arMovimiento.fecha | date('Y-m-d') }}</td>
                    <td style="text-align: center;">
                        <a href="{{ path('tesoreria_movimiento_movimiento_nuevo',{'id': arMovimiento.codigoMovimientoPk }) }}"><i
                                    class="fa fa-edit" style="color: black;font-size: large;"></i></a>
                    </td>
                    <td style="text-align: center;">
                        <a href="{{ path('tesoreria_movimiento_movimiento_detalle',{'id' : arMovimiento.codigoMovimientoPk}) }}">
                            <i class="fa fa-share-square-o" style="font-size: large;color: black;">
                            </i>
                        </a>
                    </td>
                    <td class="text-center">
                        <input type="checkbox" name="ChkSeleccionar[]" value="{{ arMovimiento.codigoMovimientoPk  }}"/>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="btn-group" style="float: left">
        <div class="btn btn-default btn-sm">Registros
            <span class="badge">{{ arMovimientos.getTotalItemCount }}
            </span>
        </div>
    </div>
    <div class="btn-group btn-xs" style="float: left;margin-top: -18px;">
        {{ knp_pagination_render(arMovimientos) }}
    </div>
    <div class="btn-toolbar" style="float: right">
        <div class="btn-group" style="float: right">
            <a class="btn btn-default btn-sm"
               href="{{ path('tesoreria_movimiento_movimiento_nuevo', {'id': 0}) }}">Nuevo</a>
            {{ form_widget(form.btnEliminar, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
        </div>
    </div>
    <br /><br /><br />
    {{ form_end(form) }}
{% endblock %}