{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="panel panel-default">
        <div class="panel-heading">Información general</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="form_examenClaseRel" class="col-sm-2 control-label">Tipo:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.codigoSucursalPk) }}
                    {{ form_errors(form.codigoSucursalPk) }}
                </div>
                <label for="form_entidadExamenRel" class="col-sm-2 control-label">Cargo:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.nombre) }}
                    {{ form_errors(form.nombre) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-4">
                    {{ form_widget(form.estadoActivo) }}
                    {{ form_errors(form.estadoActivo) }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default btn-sm" href="{{ path('recursohumano_administracion_seguridadsocial_sucursal_lista') }}">Cancelar</a>
        {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>
    {{ form_end(form) }}

{% endblock %}
