<div id="content sortable-grid ui-sortable">
    <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-collapsed="true">
        <header role="heading" class="ui-sortable-handle">
            <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
            <h2>Filtro</h2>
        </header>
        <div>
            <div class="widget-body">
                {{ form_start(formFiltro, {'attr': {'class': 'form-horizontal'} }) }}
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-4">
                    </div>
                    <label class="col-sm-2 control-label">Autorizado:</label>
                    <div class="col-sm-4">
                        {{ form_widget(formFiltro.estadoAutorizado, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-4">
                    </div>
                    <label class="col-sm-2 control-label">Aprobado:</label>
                    <div class="col-sm-4">
                        {{ form_widget(formFiltro.estadoAprobado, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-4">
                    </div>
                    <label class="col-sm-2 control-label">Anulado:</label>
                    <div class="col-sm-4">
                        {{ form_widget(formFiltro.estadoAnulado, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                {{ form_end(formFiltro) }}
            </div>
        </div>
    </div>
</div>