{% extends 'base_transporte.html.twig' %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">Filtros</div>
        <div class="panel-body">
            {{ form_start(formFiltro, {'attr': {'class': 'form-horizontal'} }) }}
            {% include ('estructura/buscarClienteTransporte.html.twig') %}
            <div class="form-group form-group-sm">
                <label class="col-sm-1 control-label">Numero:</label>
                <div class="col-sm-2">
                    {{ form_widget(formFiltro.numero, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <label class="col-sm-1 control-label">Codigo:</label>
                <div class="col-sm-2">
                    {{ form_widget(formFiltro.codigoFacturaPk, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <label class="col-sm-1 control-label">Tipo:</label>
                <div class="col-sm-5">
                    {{ form_widget(formFiltro.codigoFacturaTipoFk, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-1 control-label">Desde:</label>
                <div class="col-sm-5">
                    {{ form_widget(formFiltro.fechaDesde) }}
                </div>
                <label class="col-sm-1 control-label">Autorizado:</label>
                <div class="col-sm-5">
                    {{ form_widget(formFiltro.estadoAutorizado, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-1 control-label">Hasta:</label>
                <div class="col-sm-5">
                    {{ form_widget(formFiltro.fechaHasta) }}
                </div>
                <label class="col-sm-1 control-label">Aprobado:</label>
                <div class="col-sm-5">
                    {{ form_widget(formFiltro.estadoAprobado, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-1 control-label"></label>
                <div class="col-sm-5">
                </div>
                <label class="col-sm-1 control-label">Anulado:</label>
                <div class="col-sm-5">
                    {{ form_widget(formFiltro.estadoAnulado, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            {{ form_end(formFiltro) }}
        </div>
    </div>
    {% include 'estructura/movimiento/tablaGeneral.html.twig' %}
    {{ form_start(formBotonera) }}
    {% include ('estructura/movimiento/botoneraGeneral.html.twig') %}
    {{ form_end(formBotonera) }}
{% endblock %}

