{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
    {{ form_errors(form) }}
    <div class="panel panel-default">
        <div class="panel-heading">Filtros</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label class="col-sm-1 control-label">Desde:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.fechaDesde) }}
                </div>
                <label class="col-sm-1 control-label"></label>
                <div class="col-sm-4">
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-1 control-label">Hasta:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.fechaHasta) }}
                </div>
                <label class="col-sm-1 control-label"></label>
                <div class="col-sm-4">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            {{ form_widget(form.btnFiltrar) }}
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover tabla-datos">
        <thead>
        <tr>
            <th>ID</th>
            <th>FECHA</th>
            <th>CIUDAD ORIGEN</th>
            <th>CIUDAD DESTINO</th>
            <th>PLACA</th>
            <th>TIPO IDENTIFICACION</th>
            <th>IDENTIFICACION</th>
            <th>PROPIETARIO</th>
            {#<th>PESO VOLUMEN</th>#}
            {#<th>DECLARA</th>#}
            {#<th>FLETE</th>#}
        </tr>
        </thead>
        <tbody>
        {#{% for arGuia in arGuias %}#}
            {#<tr>#}
                {#<td>{{ arGuia.codigoGuiaPk }}</td>#}
                {#<td>{{ arGuia.fechaIngreso | date('Y-m-d') }}</td>#}
                {#<td>{{ arGuia.ciudadOrigen }}</td>#}
                {#<td>{{ arGuia.ciudadDestino }}</td>#}
                {#<td>{{ arGuia.codigoVehiculoFk }}</td>#}
                {#<td>{{ arGuia.codigoIdentificacionPropietario }}</td>#}
                {#<td>{{ arGuia.identificacionPropietario }}</td>#}
                {#<td>{{ arGuia.propietario }}</td>#}
            {#</tr>#}
        {#{% endfor %}#}
        </tbody>
    </table>
    <div class="btn-toolbar" style="float: right">
        <div class="btn-group" style="float: right">
            {{ form_widget(form.btnExcel, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
        </div>
    </div>
    <br /><br /><br />
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}

