{% extends 'base_inventario.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    {{ notificar()|raw }}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-default btn-sm" href="{{ path('inventario_movimiento_compra_orden_lista') }}">Volver</a>&nbsp;&nbsp;
        </div>
    </div>
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            {% include 'estructura/botonera.html.twig' %}
        </div>
    </div>
    <div style="float:right">
        {% if arOrden.estadoAutorizado == true %}<span class="label label-default">Autorizado</span>{% endif %}
        {% if arOrden.estadoAprobado == true %}<span class="label label-success">Aprobado</span>{% endif %}
        {% if arOrden.estadoAnulado == true %}<span class="label label-danger">Anulado</span>{% endif %}
    </div>
    <br/><br/>
    <table width="100%" class="table table-condensed table-bordered">
        <tr>
            <td class="titulo">ORDEN COMPRA:</td>
            <td class="td-in-well">{{ arOrden.codigoOrdenPk }}</td>
            <td class="titulo">USUARIO:</td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arOrden.usuario }}</td>
            <td class="titulo">SUBTOTAL:</td>
            <td class="td-in-well" style="text-align: right;">{{ arOrden.vrSubtotal |number_format(0, '.', ',') }}</td>
        </tr>
        <tr>
            <td class="titulo">NUMERO:</td>
            <td class="td-in-well">{{ arOrden.numero }}</td>
            <td class="titulo">FECHA:</td>
            <td class="td-in-well">{{ arOrden.fecha | date('Y-m-d') }}</td>
            <td class="titulo">IVA:</td>
            <td class="td-in-well" style="text-align: right;">{{ arOrden.vrIva |number_format(0, '.', ',') }}</td>
        </tr>
        <tr>
            <td class="titulo">TERCERO:</td>
            <td class="td-in-well">{{ arOrden.terceroRel.nombreCorto }}</td>
            <td class="titulo">SOPORTE:</td>
            <td class="td-in-well">{{ arOrden.soporte }}</td>
            <td class="titulo">DESCUENTO:</td>
            <td class="td-in-well" style="text-align: right;">{{ arOrden.vrDescuento |number_format(0, '.', ',') }}</td>
        </tr>
        <tr>
            <td class="titulo">COMENTARIO:</td>
            <td class="td-in-well" colspan="3">{{ arOrden.comentarios }}</td>
            <td class="titulo">TOTAL:</td>
            <td class="td-in-well" style="text-align: right;">{{ arOrden.vrTotal |number_format(0, '.', ',') }}</td>
        </tr>
    </table>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#detalles" data-toggle="tab">Detalles</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="detalles">
            <div id="detalles" style="width: 100%"><br>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>ITEM</th>
                            <th>NOMBRE</th>
                            <th>CAN</th>
                            <th title="Valor unitario" style="width: 12%;">PRECIO</th>
                            <th style="width: 12%;">SUBTOTAL</th>
                            <th title="Porcentaje IVA" style="width: 12%;">%D</th>
                            <th title="Valor IVA" style="width: 10%;">DESCUENTO</th>
                            <th title="Porcentaje IVA" style="width: 12%;">%IVA</th>
                            <th title="Valor IVA" style="width: 10%;">IVA</th>
                            <th style="width: 15%;">TOTAL</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for arOrdenDetalle in arOrdenDetalles %}
                            <tr>
                                <td>{{ arOrdenDetalle.codigoOrdenDetallePk }}<input type="hidden" name="arrCodigo[]" value="{{ arOrdenDetalle.codigoOrdenDetallePk }}"></td>
                                <td>{{ arOrdenDetalle.codigoItemFk }}</td>
                                <td>{{ arOrdenDetalle.nombre }}</td>
                                {% if arOrden.estadoAutorizado == false %}
                                    <td style="text-align: center"><input class="input-valor" type="number" placeholder="Cantidad" name="arrCantidad[{{ arOrdenDetalle.codigoOrdenDetallePk }}]" value="{{ arOrdenDetalle.cantidad }}" style="text-align: right; width:60px" size="10"/></td>
                                    <td style="text-align: center"><input class="input-valor" type="number" placeholder="Valor unitario" name="arrValor[{{ arOrdenDetalle.codigoOrdenDetallePk }}]" value="{{ arOrdenDetalle.vrPrecio }}" style="text-align: right; width:90px" size="10"/></td>
                                    <td style="text-align: right">{{ arOrdenDetalle.vrSubtotal | number_format(0, '.', ',') }}</td>
                                    <td style="text-align: center"><input class="input-valor" type="number" placeholder="% DESCUENTO" name="arrDescuento[{{ arOrdenDetalle.codigoOrdenDetallePk }}]" value="{{ arOrdenDetalle.porcentajeDescuento }}" style="text-align: right; width:40px" size="10"/></td>
                                    <td style="text-align: right">{{ arOrdenDetalle.vrDescuento | number_format(0, '.', ',') }}</td>
                                    <td style="text-align: center"><input class="input-valor" type="number" placeholder="% IVA" name="arrIva[{{ arOrdenDetalle.codigoOrdenDetallePk }}]" value="{{ arOrdenDetalle.porcentajeIva }}" style="text-align: right; width:40px" size="10"/></td>
                                    <td style="text-align: right">{{ arOrdenDetalle.vrIva | number_format(0, '.', ',') }}</td>
                                {% else %}
                                    <td style="text-align: right;">{{ arOrdenDetalle.cantidad }}</td>
                                    <td style="text-align: right">{{ arOrdenDetalle.vrPrecio |number_format(0, '.', ',') }}</td>
                                    <td style="text-align: right">{{ arOrdenDetalle.vrSubtotal | number_format(0, '.', ',') }}</td>
                                    <td style="text-align: right">{{ arOrdenDetalle.porcentajeDescuento }}</td>
                                    <td style="text-align: right">{{ arOrdenDetalle.vrDescuento | number_format(0, '.', ',') }}</td>
                                    <td style="text-align: right">{{ arOrdenDetalle.porcentajeIva }}</td>
                                    <td style="text-align: right">{{ arOrdenDetalle.vrIva }}</td>
                                {% endif %}
                                <td style="text-align: right">
                                    {{ arOrdenDetalle.vrTotal | number_format(0, '.', ',') }}
                                </td>
                                <td style="text-align: center;"><input type="checkbox" name="ChkSeleccionar[]"
                                                                       value="{{ arOrdenDetalle.codigoOrdenDetallePk }}"/>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {#<div class="separador-1"></div>#}
    <div class="btn-toolbar" style="float: right">
        {% if arOrden.estadoAutorizado == true %}
            <div class="btn-group">
                <input type="button" class="btn btn-default btn-sm" href="#" disabled="disabled"
                       value="Nuevo"/>
            </div>
            <div class="btn-group">
                <input type="button" class="btn btn-default btn-sm" href="#" disabled="disabled"
                       value="Nuevo desde solicitud"/>

            </div>
        {% else %}
            <div class="btn-group">
                <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('inventario_movimiento_compra_orden_solicitud_detalle_nuevo', {'id':arOrden.codigoOrdenPk }) }}', 'OrdenNuevoDetalle', 600, 900)">Nuevo desde solicitud</a>
            </div>
            <div class="btn-group">
                <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('inventario_movimiento_compra_orden_detalle_nuevo', {'id':arOrden.codigoOrdenPk }) }}', 'OrdenNuevoDetalle', 600, 900)">Nuevo</a>
            </div>
        {% endif %}
        <div class="btn-group">
            {{ form_widget(form.btnActualizar) }}
        </div>
        <div class="btn-group">
            {{ form_widget(form.btnEliminar) }}
        </div>
    </div>

    <div class="btn-group" style="float: left">
        <div class="btn-group" style="float: left">
            <div class="btn btn-default btn-sm">Registros <span
                        class="badge">{{ arOrdenDetalles.getTotalItemCount }}</span>
            </div>
        </div>
    </div>
    <div class="btn-group btn-xs">
        {{ knp_pagination_render(arOrdenDetalles) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
