<div id="content sortable-grid ui-sortable">
    <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-collapsed="true">
        <header role="heading" class="ui-sortable-handle">
            <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
            <h2>Filtro</h2>
        </header>
        <div>
            <div class="widget-body">
                {{ form_start(formFiltro, {'attr': {'class': 'form-horizontal'} }) }}
                {% include 'estructura/buscarTerceroInventario.html.twig' %}
                <div class="form-group form-group-sm">
                    <label for="" class="control-label col-sm-1">Numero:</label>
                    <div class="col-sm-2">
                        {{ form_widget(formFiltro.numero) }}
                    </div>
                    <label for="" class="control-label col-sm-1">Codigo:</label>
                    <div class="col-sm-2">
                        {{ form_widget(formFiltro.codigoOrdenPk) }}
                    </div>
                    <label for="" class="control-label col-sm-1">Tipo:</label>
                    <div class="col-sm-5">
                        {{ form_widget(formFiltro.codigoOrdenTipoFk) }}
                    </div>
                </div>
            </div>
            {{ form_end(formFiltro) }}
        </div>
    </div>
</div>
