{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div id="content sortable-grid ui-sortable">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-collapsed="true">
            <header role="heading" class="ui-sortable-handle">
                <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
                <h2>Filtro</h2>
            </header>
            <div>
                <div class="widget-body">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'} }) }}
                    <div class="form-group form-group-sm">
                        <label for="txtCodigoCliente" class="col-sm-1 control-label">Cliente:</label>
                        <div class="col-sm-11">
                            <div class="row">
                                <div class="col-lg-2">
                                    <div class="input-group">
                                        {{ form_widget(form.codigoTerceroFk) }}
                                    </div>
                                </div>
                                <div class="col-lg-10">
                                    <div class="input-group">
                                        <input id="form_txtNombreCorto" class="form-control" readonly>
                                        <span class="input-group-btn">
                                        <a class="btn btn-default btn-sm"
                                           href="javascript:abrirVentana3('{{ path('inventario_buscar_tercero', { 'campoCodigo': 'form_codigoTerceroFk', 'campoNombre': 'form_txtNombreCorto' }) }}', 'buscarCliente', 600, 900)">Buscar</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="" class="control-label col-sm-1">Numero:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.numero) }}
                        </div>
                        <label for="" class="control-label col-sm-1">Codigo:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.codigoOrdenPk) }}
                        </div>
                        <label for="" class="control-label col-sm-2">Tipo:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.codigoOrdenTipoFk) }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="" class="control-label col-sm-offset-6 col-sm-2">Autorizado:</label>
                        <div class="col-sm-4">
                            {{ form_widget((form.estadoAutorizado)) }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="" class="control-label col-sm-offset-6 col-sm-2">Aprobado:</label>
                        <div class="col-sm-4">
                            {{ form_widget((form.estadoAprobado)) }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="" class="control-label col-sm-offset-6 col-sm-2">Anulado:</label>
                        <div class="col-sm-4">
                            {{ form_widget((form.estadoAnulado)) }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <div class="col-sm-offset-2 col-sm-10">
                            {{ form_widget(form.btnFiltrar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover tabla-datos tabla-informacion">
        <thead>
            <tr>
                <th title="Codigo del registro">ID</th>
                <th title="Tipo de orden">ORDEN TIPO</th>
                <th title="Numero del registro">NUMERO</th>
                <th title="Fecha del registro">FECHA</th>
                <th title="Fecha de entrega del registro">FECHA ENTREGA</th>
                <th title="Subtotal">SUBTOTAL</th>
                <th title="vrDescuento">DESCUENTO</th>
                <th title="vrIva">IVA</th>
                <th title="vrNeto">NETO</th>
                <th title="Total">TOTAL</th>
                <th title="Autorizado">AUT</th>
                <th title="Aprobado">APR</th>
                <th title="Anulado">ANU</th>
                <th></th>
                <th></th>
                <th><input type="checkbox" name="ChkSeleccionar" onclick="ChequearTodosTabla(this, 'ChkSeleccionar[]');"></th>
            </tr>
        </thead>
        <tbody>
            {% for arOrden in arOrdenes %}
                <tr>
                    <td>{{ arOrden.codigoOrdenPk  }}</td>
                    <td>{{ arOrden.nombreTipo  }}</td>
                    <td>{{ arOrden.numero  }}</td>
                    <td>{{ arOrden.fecha | date('Y-m-d') }}</td>
                    <td>{{ arOrden.fechaEntrega | date('Y-m-d') }}</td>
                    <td class="numero">{{ arOrden.vrSubtotal | number_format(0, '.', ',') }}</td>
                    <td class="numero">{{ arOrden.vrDescuento | number_format(0, '.', ',') }}</td>
                    <td class="numero">{{ arOrden.vrIva | number_format(0, '.', ',') }}</td>
                    <td class="numero">{{ arOrden.vrNeto | number_format(0, '.', ',') }}</td>
                    <td class="numero">{{ arOrden.vrTotal | number_format(0, '.', ',') }}</td>
                    <td>{{ arOrden.estadoAutorizado ? "SI":"NO" }}</td>
                    <td>{{ arOrden.estadoAprobado ? "SI":"NO"}}</td>
                    <td>{{ arOrden.estadoAnulado ? "SI":"NO"}}</td>
                    {% if arOrden.estadoAutorizado %}
                        <td></td>
                    {% else %}
                        <td class="text-center">
                            <a href="{{ path('inventario_movimiento_compra_orden_nuevo',{'id': arOrden.codigoOrdenPk }) }}"><i
                                        class="fa fa-edit" style="color: black;font-size: large;"></i></a>
                        </td>
                    {% endif %}

                    <td class="text-center">
                        <a href="{{ path('inventario_movimiento_compra_orden_detalle',{'id' : arOrden.codigoOrdenPk }) }}">
                            <i class="fa fa-share-square-o" style="font-size: large;color: black;">
                            </i>
                        </a>
                    </td>
                    <td class="text-center">
                        <input type="checkbox" name="ChkSeleccionar[]" value="{{ arOrden.codigoOrdenPk }}" />
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="btn-group" style="float: left">
        <div class="btn btn-default btn-sm">Registros
            <span class="badge">{{ arOrdenes.getTotalItemCount }}
                </span>
        </div>
    </div>
    <div class="btn-group btn-xs" style="float: left;margin-top: -18px;">
        {{ knp_pagination_render(arOrdenes) }}
    </div>
    <div class="btn-group btn-xs" style="float: left; width: 60px">
        {{ form_widget(form.limiteRegistros) }}
    </div>
    <div class="btn-group" style="float: right; margin-right: 5px !important;">
        {{ form_widget(form.btnEliminar, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}
    </div>
    <div class="btn-group" style="float: right; margin-right: 5px !important;">
        {{ form_widget(form.btnExcel, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
    </div>
    <div class="btn-group" style="float: right; margin-right: 5px !important;">
        <a class="btn btn-default btn-sm"
           href="{{ path('inventario_movimiento_compra_orden_nuevo', {'id': 0}) }}">Nuevo</a>
    </div>
    {{ form_end(form) }}
    <br/><br/><br/>
{% endblock %}