{% extends 'base_sin_menu.html.twig' %}
{% block content %}
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Configuración de la entidad</h4>
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li class="active"><a href="#lista" data-toggle="tab">Lista</a></li>
        <li><a href="#excel" data-toggle="tab">Excel</a></li>
        <li><a href="#filtros" data-toggle="tab">Filtros</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="lista">
            <!-- Menu Encabezado Movimiento -->
            <div id="lista" style="width: 100%"><br>
                <div>
                    {{ form_start(form) }}
                    Utilizar configuración personalizada:
                    <input type="checkbox" name="personalizada" {{ validarSeleccionado(arEntidad.personalizado) }}>
                    <br>
                    <span style="color: red;font-size: 15px;text-align: center;">* <cite  style="font-size: 10px;color: black !important;">-- Campos obligatorios --</cite></span>
                </div>
                <h3>Campos a listar</h3>
                <table class="table table-striped table-bordered table-hover tabla-datos">
                    <thead>
                    <tr>
                        <th>CAMPO</th>
                        <th>ALIAS</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for arColumna in arrColumnasLista %}
                        <tr>
                            {% if esId(arColumna.campo) %}
                                <td style="text-align: center">{{ separarPorGuionbajo(arColumna.campo) }}</td>
                                <td style="text-align: center"><input type="text"
                                                                      name="aliasLista[{{ arColumna.campo }}]"
                                                                      value="ID" readonly></td>
                                <td style="color: red;font-size: 15px;text-align: center;">*</td>
                            {% else %}
                                <td style="text-align: center">{{ separarPorGuionbajo(arColumna.campo) }}</td>
                                <td style="text-align: center"><input type="text"
                                                                      name="aliasLista[{{ arColumna.campo }}]"
                                                                      onkeypress="return validarCaracteres(event)"
                                                                      value="{{ arColumna.alias }}"></td>
                                {% if esEstado(arColumna.campo) %}
                                    <td style="color: red;font-size: 15px;text-align: center;">*</td>
                                {% else %}
                                    <td style="text-align: center"><input type="checkbox"
                                                                          name="mostrarLista[{{ arColumna.campo }}]" {{ validarSeleccionado(arColumna.mostrar) }}>
                                    </td>
                                {% endif %}
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane" id="filtros">
            <div id="filtros" style="width: 100%"><br>
                <h3>Campos a filtrar</h3>
                <table class="table table-striped table-bordered table-hover tabla-datos">
                    <thead>
                    <tr>
                        <th>CAMPO</th>
                        <th>ALIAS</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for arColumna in arrColumnasFiltro %}
                        <tr>
                            <td style="text-align: center">{{ separarPorGuionbajo(arColumna.campo) }}</td>
                            <td style="text-align: center"><input type="text" name="aliasFiltro[{{ arColumna.campo }}]"
                                                                  onkeypress="return validarCaracteres(event)"
                                                                  value="{{ arColumna.alias }}"></td>
                            <td style="text-align: center"><input type="checkbox"
                                                                  name="mostrarFiltro[{{ arColumna.campo }}]" {{ validarSeleccionado(arColumna.mostrar) }}>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane" id="excel">
            <div id="filtros" style="width: 100%"><br>
                <h3>Campos a exportar</h3>
                <table class="table table-striped table-bordered table-hover tabla-datos">
                    <thead>
                    <tr>
                        <th>CAMPO</th>
                        <th>ALIAS</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for arColumna in arrColumnasExcel %}
                        <tr>
                            {% if esId(arColumna.campo) %}
                                <td style="text-align: center">{{ separarPorGuionbajo(arColumna.campo) }}</td>
                                <td style="text-align: center"><input type="text"
                                                                      name="aliasExcel[{{ arColumna.campo }}]"
                                                                      value="ID" readonly></td>
                                <td style="text-align: center"><input type="checkbox"
                                                                      name="mostrarExcel[{{ arColumna.campo }}]"
                                                                      checked>
                                </td>
                            {% else %}
                                <td style="text-align: center">{{ separarPorGuionbajo(arColumna.campo) }}</td>
                                <td style="text-align: center"><input type="text"
                                                                      name="aliasExcel[{{ arColumna.campo }}]"
                                                                      onkeypress="return validarCaracteres(event)"
                                                                      value="{{ arColumna.alias }}"></td>
                                <td style="text-align: center"><input type="checkbox"
                                                                      name="mostrarExcel[{{ arColumna.campo }}]" {{ validarSeleccionado(arColumna.mostrar) }}>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div style="float: right">
        {{ form_widget(form.btnGuardar) }}
        {{ form_end(form) }}
    </div>
    <style type="text/css">
        html {
            overflow-x: hidden;
        }
    </style>
{% endblock %}

