{% extends arConfiguracionEntidad.base %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            {{ crearTitulo(arConfiguracionEntidad,2) }}
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <table width="100%" class="table table-condensed table-bordered">
        <tr>
            {% set ar = [] %}
            {% for arrCampo in arrCampos %}
        <tr>
            <td class="titulo">{{ arrCampo.alias }}</td>
            {{ validarTipoDetalle(arRegistros[0][arrCampo.alias]) }}
        </tr>
        </td>
        </tr>
        <tr>
            {% endfor %}
            {% for llave,dato in ar %}
        <tr>
            <td class="titulo">{{ llave }}</td>
            <td colspan="5">{{ dato }}</td>
        </tr>
        {% endfor %}
        </tr>
    </table>
    <hr>
    <div style="float: left">
        <a href="{{ path('lista',{'entidad':arConfiguracionEntidad.codigoConfiguracionEntidadPk,'entidadCubo':entidadCubo }) }}"
           class="btn btn-sm btn-default">Volver</a>
    </div>
{% endblock %}