{% extends 'base_'~arEntidad.modulo~'.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h3 class='page-header'>
                <a href="{{ path('admin_navigator',{'modulo':arEntidad.modulo}) }}" class="link-black">
                    {{ arEntidad.modulo | capitalize }}
                </a>
                <a href="{{ path('admin_navigator',{'modulo':arEntidad.modulo,'funcion':arEntidad.funcion}) }}"
                   class="link-black">
                    {{ arEntidad.funcion }}
                </a>
                <small style='font-size: 20px'>
                    <a href="{{ path('admin_navigator',{'modulo':arEntidad.modulo,'funcion':arEntidad.funcion,'grupo': arEntidad.grupo}) }}"
                       class="link-grey">
                        {{ arEntidad.grupo|capitalize }}:
                    </a>
                    <a href="{{ path('admin_navigator',{'modulo':arEntidad.modulo,'funcion':arEntidad.funcion,'grupo': arEntidad.grupo, 'entidad': arEntidad.entidad}) }}"
                       class="link-grey">
                        {{ arEntidad.entidad }} lista
                    </a>
                </small>
            </h3>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    {% if filtrar %}
        <div class="panel panel-default">
            <div class="panel-heading">
                Filtros de búsqueda
            </div>
            <div class="panel-body">
                {{ form_start(formFiltro) }}
                {{ form_widget(formFiltro) }}
                {{ form_rest(formFiltro) }}
            </div>
            <div class="panel-footer" style="padding-bottom: 35px;">
                <div style="float: right;">
                    {{ form_widget(formFiltro.btnFiltrar) }}
                    {{ form_end(formFiltro) }}
                </div>
            </div>
        </div>
    {% endif %}
    <div style="float: right;padding-right: 5px;">
        <a href="javascript:abrirVentana3('{{ path('configuracion_entidad',{'entidad':arEntidad.codigoEntidadPk}) }}', 'ConfiguracionEntidad', 700, 900)"><i
                    class="fa fa-gear"></i></a>
    </div>
    {{ form_start(form) }}
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            {% if arRegistros.getTotalItemCount > 0 %}
                {% for llave,dato in arRegistros[0] %}
                    <th>{{ llave }}</th>
                {% endfor %}
                {% if entidadCubo != "" %}
                    <th></th>
                {% endif %}
                <th></th>
                <th></th>
                <th></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for llave,datos in arRegistros %}
            <tr>
                {% for key,dato in datos %}
                    {{ validarTipo(dato) }}
                {% endfor %}
                {% if arEntidad.nuevoInterno == true %}
                <a href="{{ path(arEntidad.prefijo ~ '_' ~ arEntidad.funcion|slice(0,3) ~ '_' ~ arEntidad.grupo ~ '_' ~ arEntidad.entidad ~ '_nuevo' , { 'modulo':arEntidad.modulo,'entidad': arEntidad.entidad,'id': datos.ID}) }}">
                    <i class="fa fa-share-square-o" style="font-size: large">
                    </i>
                </a>
                {% else %}
                <td style="text-align: center">
                    <a href="{{ path('admin_nuevo', {'entidad': arEntidad.entidad,'modulo':arEntidad.modulo,'id': datos.ID }) }}"><i
                                class="fa fa-edit" style="font-size: large"></i>
                    </a>
                <td style="text-align: center">
                    {% endif %}
                    {% if arEntidad.detalleInterno == true %}
                        <a href="{{ path(arEntidad.prefijo ~ '_' ~ arEntidad.funcion|slice(0,3) ~ '_' ~ arEntidad.grupo ~ '_' ~ arEntidad.entidad ~ '_detalle' , { 'modulo':arEntidad.modulo,'entidad': arEntidad.entidad,'id': datos.ID}) }}">
                            <i class="fa fa-share-square-o" style="font-size: large">
                            </i>
                        </a>
                    {% else %}
                        <a href="{{ path('admin_detalle', { 'modulo':arEntidad.modulo,'entidad': arEntidad.entidad,'id': datos.ID}) }}">
                            <i class="fa fa-share-square-o" style="font-size: large">
                            </i>
                        </a>
                    {% endif %}
                </td>
                <td style="text-align: center"><input type="checkbox" name="ChkSeleccionar[]"
                                                      value="{{ datos.ID }}"/></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="btn-group" style="float: left">
        <div class="btn-group" style="float: left">
            <div class="btn btn-default btn-sm">Registros <span class="badge">{{ arRegistros.getTotalItemCount }}</span>
            </div>
        </div>
    </div>
    <div class="btn-group btn-xs" style="float: left;margin-left: 0px;padding-top: 0px;">
        {{ knp_pagination_render(arRegistros) }}
    </div>
    <div class="btn-toolbar" style="float: left">
        {% if(arEntidad.codigoEntidadPk != "GenCubo") %}
            <div class="btn-group">
                <a class="btn btn-default btn-sm"
                   href="{{ path('lista',{'entidad': 'GenCubo','entidadCubo':arEntidad.codigoEntidadPk}) }}"><i
                            class="fa fa-cube"></i>
                </a>
            </div>
        {% else %}
            <a href="{{ path('lista',{'entidad': entidadCubo }) }}"
               class="btn btn-sm btn-default">Volver</a>
        {% endif %}
    </div>
    <div class="btn-toolbar" style="float: right">
        <div class="btn-group">
            {{ form_widget(form.btnExcel) }}
        </div>
        <div class="btn-group">
            {% if arEntidad.nuevoInterno == true %}
            <a class="btn btn-default btn-sm"
               href="{{ path(arEntidad.prefijo ~ '_' ~ arEntidad.funcion|slice(0,3) ~ '_' ~ arEntidad.grupo ~ '_' ~ arEntidad.entidad ~ '_nuevo' , { 'modulo':arEntidad.modulo,'entidad': arEntidad.entidad,'id': datos.ID}) }}">Nuevo
            </a>
            {% else %}
                <a class="btn btn-default btn-sm"
                   href="{{ path('admin_nuevo',{'entidad': arEntidad.entidad,'modulo':arEntidad.modulo,'id': 0}) }}">Nuevo
                </a>
            {% endif %}
        </div>
        <div class="btn-group">
            {{ form_widget(form.btnEliminar) }}
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}

