{% extends 'base_'~arEntidad.modulo~'.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h3 class='page-header'>
                <a href="{{ path('admin_navigator',{'modulo':arEntidad.modulo}) }}" class="link-black">
                    {{ arEntidad.modulo | capitalize }}
                </a>
                <a href="{{ path('admin_navigator',{'modulo':arEntidad.modulo,'funcion':arEntidad.funcion}) }}"
                   class="link-black">
                    {{ arEntidad.funcion }}
                </a>
                <small style='font-size: 20px'>
                    <a href="{{ path('admin_navigator',{'modulo':arEntidad.modulo,'funcion':arEntidad.funcion,'grupo': arEntidad.grupo}) }}"
                       class="link-grey">
                        {{ arEntidad.grupo|capitalize }}:
                    </a>
                    <a href="{{ path('admin_navigator',{'modulo':arEntidad.modulo,'funcion':arEntidad.funcion,'grupo': arEntidad.grupo, 'entidad': arEntidad.entidad}) }}"
                       class="link-grey">
                        {{ arEntidad.entidad }} nuevo
                    </a>
                </small>
            </h3>
        </div>
    </div>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            Información general
        </div>
        <div class="panel-body">
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
    </div>
    <div style="float: left">
        <a href="{{ path('administracion_lista',{'modulo':arEntidad.modulo,'entidad':arEntidad.entidad }) }}"
           class="btn btn-sm btn-default">Volver</a>
    </div>
{% endblock %}