{% extends 'base.html.twig' %}
{% block content %}
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>NUMERO</th>
            <th>CLIENTE</th>
            <th>ORIGEN</th>
            <th>DESTINO</th>
        </tr>
        </thead>
        <tbody>
        {% for arGuia in arGuias %}
            <tr>
                <td>{{ arGuia.codigoGuiaPk }}</td>
                <td>{{ arGuia.numero }}</td>
                <td>{{ arGuia.clienteNombreCorto }}</td>
                <td>{{ arGuia.ciudadOrigen }}</td>
                <td>{{ arGuia.ciudadDestino }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
