{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="panel panel-default">
        <div class="panel-heading">Información general</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="txtNit" class="col-sm-2 control-label">Tercero:</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="input-group">
                                <input id="txtCodigoTercero" name="txtCodigoTercero" type="text"
                                       class="form-control"
                                       value="{{ arEgreso.codigoTerceroFk|default('') }}"/>
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="input-group">
                                <input id="txtNombreCorto" name="txtNombreCorto" type="text" class="form-control"
                                       value="{{ arEgreso.terceroRel.nombreCorto |default('') }}"
                                       readOnly="ReadOnly"/>
                                <span class="input-group-btn">
                                        <a class="btn btn-default btn-sm"
                                           href="javascript:abrirVentana3('{{ path('tesoreria_buscar_tercero', { 'campoCodigo': 'txtCodigoTercero', 'campoNombre': 'txtNombreCorto', 'tipo' : 'C' }) }}', 'buscarTercero', 600, 900)">Buscar</a>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_recogidaTipoRel" class="col-sm-2 control-label">Tipo de egreso:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.egresoTipoRel, { 'attr': {'class': 'form-control'} }) }}
                    <div style="color:red;">{{ form_errors(form.egresoTipoRel) }}</div>
                </div>
                <label class="col-sm-2 control-label">Cuenta:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.cuentaRel, {'attr' : {'class' : 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_recogidaTipoRel" class="col-sm-2 control-label">Fecha pago:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.fechaPago) }}
                    <div style="color:red;">{{ form_errors(form.egresoTipoRel) }}</div>
                </div>
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-4">

                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Comentario:</label>
                <div class="col-sm-10">
                    {{ form_widget(form.comentarios, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                    {{ form_errors(form.comentarios) }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default btn-sm"
           href="{{ path('tesoreria_movimiento_egreso_egreso_lista') }}">Cancelar</a>
        {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
