{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    {{ notificar()|raw }}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-default btn-sm"
               href="{{ path('tesoreria_movimiento_compra_compra_lista') }}">Volver</a>&nbsp;&nbsp;
        </div>
    </div>
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            {% include 'estructura/botonera.html.twig' %}
        </div>
    </div>
    <div style="float:right">
        {% if arCompra.estadoAutorizado == true %}<span class="label label-default">Autorizado</span>{% endif %}
        {% if arCompra.estadoAprobado == true %}<span class="label label-success">Aprobado</span>{% endif %}
        {% if arCompra.estadoAnulado == true %}<span class="label label-danger">Anulado</span>{% endif %}
        {% if arCompra.estadoImpreso == true %}<span class="label label-success">Impreso</span>{% endif %}
    </div>
    <br/><br/>
    <table width="100%" class="table table-condensed table-bordered tabla-informacion">
        <tr>
            <td class="titulo">CODIGO:</td>
            <td class="td-in-well">{{ arCompra.codigoCompraPk }}</td>
            <td class="titulo">TERCERO:</td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arCompra.terceroRel.nombreCorto }}</td>
            <td class="titulo"></td>
            <td class="td-in-well"
                style="text-align: right;"></td>

        </tr>
        <tr>
            <td class="titulo">NUMERO:</td>
            <td class="td-in-well">{{ arCompra.numero }}</td>
            <td class="titulo">USUARIO:</td>
            <td class="td-in-well" style="text-transform: uppercase;"></td>
            <td class="titulo"></td>
            <td class="td-in-well" style="text-align: right;"></td>

        </tr>
        <tr>
            <td class="titulo">FECHA:</td>
            <td class="td-in-well">{{ arCompra.fecha | date('Y-m-d') }}</td>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
            <td class="titulo">NETO:</td>
            <td class="td-in-well" style="text-align: right;">{{ arCompra.vrTotalNeto |number_format(2, '.', ',') }}</td>
        </tr>
        <tr>
            <td class="titulo">NUMERO DOCUMENTO:</td>
            <td class="td-in-well">{{ arCompra.numeroDocumento }}</td>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
            <td class="titulo"></td>
            <td class="td-in-well" style="text-align: right;"></td>
        </tr>
        <tr>
            <td class="titulo">COMENTARIO:</td>
            <td class="td-in-well" colspan="6">{{ arCompra.comentarios }}</td>
        </tr>
    </table>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#detalles" data-toggle="tab">Detalles</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="detalles">
            <div id="detalles" style="width: 100%"><br>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover tabla-datos">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>DOC</th>
                            <th>COD</th>
                            <th>TERCERO</th>
                            <th>CTA_C</th>
                            <th title="Naturaleza">N</th>
                            <th style="width: 12%;">PRECIO</th>
                            <th>C_COSTO</th>
                            <th><input type="checkbox" name="ChkSeleccionarTodosDetalle"
                                       OnClick="ChequearTodosTabla(this, 'ChkSeleccionar[]');"/></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for arCompraDetalle in arCompraDetalles %}
                            <tr>
                                <td>{{ arCompraDetalle.codigoCompraDetallePk }}</td>
                                {% if arCompra.estadoAutorizado == false %}
                                    <td>
                                        <input type="text"
                                               name="arrNumero[{{ arCompraDetalle.codigoCompraDetallePk }}]"
                                               id="arrNumero[{{ arCompraDetalle.codigoCompraDetallePk }}]"
                                               value="{{ arCompraDetalle.numero }}"
                                               style="text-align: left; width:60px" size="20">
                                    </td>
                                    <td>
                                        <input type="text"
                                               name="arrTercero[{{ arCompraDetalle.codigoCompraDetallePk }}]"
                                               id="arrTercero[{{ arCompraDetalle.codigoCompraDetallePk }}]"
                                               value="{{ arCompraDetalle.codigoTerceroFk }}"
                                               style="text-align: left; width:60px" size="20">
                                        <a href="javascript:abrirVentana3('{{ path('tesoreria_buscar_tercero_movimiento',{'campoCodigo' : 'arrTercero['~ arCompraDetalle.codigoCompraDetallePk ~']' }) }}','BuscarTercero',600,900)"
                                           class="btn-xs btn btn-default" style="height: 20px;">..</a>
                                    </td>
                                    <td>{{ arCompraDetalle.terceroNombreCorto }}</td>
                                    <td>
                                        <input type="text"
                                               name="arrCuenta[{{ arCompraDetalle.codigoCompraDetallePk }}]"
                                               id="arrCuenta[{{ arCompraDetalle.codigoCompraDetallePk }}]"
                                               value="{{ arCompraDetalle.codigoCuentaFk }}"
                                               style="text-align: left; width:120px" size="20">
                                        <a href="javascript:abrirVentana3('{{ path('financiero_buscar_cuenta_asiento',{'campoCodigo' : 'arrCuenta['~ arCompraDetalle.codigoCompraDetallePk ~']' }) }}','BuscarCuenta',600,900)"
                                           class="btn-xs btn btn-default" style="height: 20px;">..</a>
                                    </td>
                                    <td style="text-align: left">
                                        <select name="cboNaturaleza{{ arCompraDetalle.codigoCompraDetallePk }}">
                                            <option value="D" {% if arCompraDetalle.naturaleza == "D" %} selected {% endif %}>D</option>
                                            <option value="C" {% if arCompraDetalle.naturaleza == "C" %} selected {% endif %}>C</option>
                                        </select></td>
                                    <td style="text-align: center">
                                        <input type="text"
                                               name="TxtVrPrecio{{ arCompraDetalle.codigoCompraDetallePk }}"
                                               value="{{ arCompraDetalle.vrPrecio }}"
                                               style="text-align: right; width:90px" size="10"/>
                                    </td>
                                    <td>
                                        <input type="text"
                                               name="arrCentroCosto[{{ arCompraDetalle.codigoCompraDetallePk }}]"
                                               id="arrCentroCosto[{{ arCompraDetalle.codigoCompraDetallePk }}]"
                                               value="{{ arCompraDetalle.codigoCentroCostoFk }}"
                                               style="text-align: left; width:120px" size="20">
                                        <a href="javascript:abrirVentana3('{{ path('financiero_buscar_centrocosto_asiento',{'campoCodigo' : 'arrCentroCosto['~ arCompraDetalle.codigoCompraDetallePk ~']' }) }}','BuscarCentroCosto',600,900)"
                                           class="btn-xs btn btn-default" style="height: 20px;">..</a>
                                    </td>
                                {% else %}
                                    <td>{{ arCompraDetalle.numero }}</td>
                                    <td>{{ arCompraDetalle.codigoTerceroFk }}</td>
                                    <td>{{ arCompraDetalle.terceroNombreCorto }}</td>
                                    <td>{{ arCompraDetalle.codigoCuentaFk }}</td>
                                    <td>{{ arCompraDetalle.naturaleza }}</td>
                                    <td style="text-align: right">{{ arCompraDetalle.vrPrecio | number_format(0, '.', ',') }}</td>
                                    <td>{{ arCompraDetalle.codigoCentroCostoFk }}</td>
                                {% endif %}
                                <td style="text-align: center;"><input type="checkbox" name="ChkSeleccionar[]"
                                                                       value="{{ arCompraDetalle.codigoCompraDetallePk }}"/>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {#<div class="separador-1"></div>#}
                <div class="btn-toolbar" style="float: right">
                    <div class="btn-group">
                        {% if arCompra.estadoAutorizado == true %}
                            <input type="button" class="btn btn-default btn-sm" href="#" disabled="disabled"
                                   value="Nuevo"/>
                        {% else %}
                            <a class="btn btn-default btn-sm"
                               href="javascript:abrirVentana3('{{ path('tesoreria_movimiento_compra_compra_detalle_nuevo', {'id' : arCompra.codigoCompraPk }) }}', 'compra detalle', 600, 1200)">Nuevo</a>
                        {% endif %}
                    </div>
                    <div class="btn-group">
                        {{ form_widget(form.btnAdicionar) }}
                    </div>
                    <div class="btn-group">
                        {{ form_widget(form.btnActualizar) }}
                    </div>
                    <div class="btn-group">
                        {{ form_widget(form.btnEliminar) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-group" style="float: left">
        <div class="btn-group" style="float: left">
            <div class="btn btn-default btn-sm">Registros <span
                        class="badge">{{ arCompraDetalles.getTotalItemCount }}</span>
            </div>
        </div>
    </div>
    <div class="btn-group btn-xs">
        {{ knp_pagination_render(arCompraDetalles) }}
    </div>
    <br /> <br />
    {{ form_end(form) }}
{% endblock %}

