{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="panel panel-default">
        <div class="panel-heading">Filtros</div>
        <div class="panel-body">
        <div class="form-group form-group-sm">
            <label for="txtNit" class="col-sm-2 control-label">Item:</label>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="input-group">
                            {{ form_widget(form.txtCodigoItem,{'attr':{'class':'form-control'}}) }}
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="input-group">
                            {{ form_widget(form.txtNombreItem,{'attr':{'class':'form-control'}}) }}
                            <span class="input-group-btn">
                                        <a class="btn btn-default btn-sm"
                                           href="javascript:abrirVentana3('{{ path('inventario_buscar_item', { 'campoCodigo': 'form_txtCodigoItem', 'campoNombre': 'form_txtNombreItem'}) }}', 'buscarItem', 600, 900)">Buscar</a>
                                    </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Lote:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.txtLote, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <label class="col-sm-2 control-label">Bodega:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.cboBodega, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            {{ form_widget(form.btnFiltrar) }}
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover tabla-informacion">
            <thead>
            <tr>
                <th>ITEM</th>
                <th>NOMBRE</th>
                <th>REF</th>
                <th>MARCA</th>
                <th>BOD</th>
                <th>LOTE</th>
                <th>VENCE</th>
                <th>EXI</th>
                <th>REM</th>
                <th>DIS</th>
            </tr>
            </thead>
            <tbody>
            {% for arLote in arLotes %}
                <tr>
                    <td>{{ arLote.codigoItemFk }}</td>
                    <td>{{ arLote.itemNombre }}</td>
                    <td>{{ arLote.itemReferencia }}</td>
                    <td>{{ arLote.marca }}</td>
                    <td>{{ arLote.codigoBodegaFk }}</td>
                    <td>{{ arLote.loteFk }}</td>
                    <td>{{ arLote.fechaVencimiento | date('Y-m-d') }}</td>
                    <td class="numero">{{ arLote.cantidadExistencia | number_format(0, '.', ',') }}</td>
                    <td class="numero">{{ arLote.cantidadRemisionada | number_format(0, '.', ',') }}</td>
                    <td class="numero">{{ arLote.cantidadDisponible | number_format(0, '.', ',') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="btn-group" style="float: left">
        <div class="btn-group" style="float: left">
            <div class="btn btn-default btn-sm">Registros <span
                        class="badge">{{ arLotes.getTotalItemCount }}</span>
            </div>
        </div>
    </div>
    <div class="btn-group" style="float: right">
        {{ form_widget(form.btnExcel, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
    </div>
    <div class="btn-group" style="float: right">
        {{ form_widget(form.btnPdf, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
    </div>
    <div class="btn-group btn-xs">
        {{ knp_pagination_render(arLotes) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
